// styles

@media screen and (min-width: grid-mobile-width) and (max-width: (grid-tablet-width - 1))
	grid(mobile, grid-mobile-spread, grid-column, grid-gutter)

	.hide-mobile
		hide()

	.show-tablet
		hide()

	.show-laptop
		hide()

	.show-desktop
		hide()

@media screen and (min-width: grid-tablet-width) and (max-width: (grid-laptop-width - 1))
	grid(tablet, grid-tablet-spread, grid-column, grid-gutter)

	.show-mobile
		hide()

	.hide-tablet
		hide()

	.show-laptop
		hide()

	.show-desktop
		hide()

@media screen and (min-width: grid-laptop-width) and (max-width: (grid-desktop-width - 1))
	grid(laptop, grid-laptop-spread, grid-column, grid-gutter)

	.show-mobile
		hide()

	.show-tablet
		hide()

	.hide-laptop
		hide()

	.show-desktop
		hide()

@media screen and (min-width: grid-desktop-width)
	grid(desktop, grid-desktop-spread, grid-column, grid-gutter)

	.show-mobile
		hide()

	.show-tablet
		hide()

	.show-laptop
		hide()

	.hide-desktop
		hide()