// STYLES

.icon
  display inline-block
  position relative
  background-color transparent
  background-repeat no-repeat
  background-position center
  width b23+1px
  height b23
  &.volume
    size b1
  &.record,
  &.session
    height b23
    width b23+b8
  &.release
    min-width 28px

  &.activity
    background-image url('/public/images/icon/activity.svg')

  &.bullet
    background-image url('/public/images/icon/bullet.png')

  &.contact
    background-image url('/public/images/icon/contact.png')

  &.edit
    background-image url('/public/images/icon/contribute.png')

  &.close
    background-image url('/public/images/icon/close.png')

  &.release.PRIVATE
    background-image url('/public/icons/release/private.svg')

  &.release.SHARED
    background-image url('/public/icons/release/shared.svg')

  &.release.EXCERPTS
    background-image url('/public/icons/release/excerpts.svg')

  &.release.PUBLIC
    background-image url('/public/icons/release/public.svg')

  &.record
    background-image url('/public/images/icon/record.png')

  &.session
    background-image url('/public/images/icon/session.png')
    &:hover
      opacity 0.4

  &.volume
    background-image url('/public/images/icon/study.png')

  &.download
    background-image url('/public/images/icon/download.png')
    &:not(.button)
      margin-right b3
    &:hover:not(.button)
      opacity 0.4

  &.edit
  &.edit:hover
    background-image url('/public/images/icon/edit.svg')
    background-size contain

  &.view-icon
  &.view-icon:hover
    background-image url('/public/images/icon/view.svg')
    background-size contain

  &.info
    background-image url('/public/images/icon/info.svg')
    background-size contain

  &.jump
    background-image url('/public/images/icon/jump.png')

  &.play
    background-image url('/public/images/icon/play.png')

  &.pause
    background-image url('/public/images/icon/pause.png')

  &.add
    background-image url('/public/images/icon/add.png')

  &.tag
    background-image url('/public/images/icon/tag.svg')

  &.trash
    background-image url('/public/images/icon/close_c.png')
    cursor pointer
  &.trash2
    background-image url('/public/images/icon/trash.png')
    cursor pointer
    &:hover:not(.button)
      opacity 0.4

  &.paste
    background-image url('/public/images/icon/paste.png')
    cursor pointer

  &.resize
    background-image url('/public/images/icon/resize.svg')
    background-size contain
    &:hover
      opacity 0.4

  &.go
    background-image url('/public/images/icon/go.png')
    cursor pointer

  &.zoomin
    background-image url('/public/images/icon/zoomin.svg')
    cursor pointer
    background-size 16px
  &.zoomout
    background-image url('/public/images/icon/zoomout.svg')
    cursor pointer
    background-size 16px

  &.unlocked
    background-image url('/public/images/icon/public.svg')
  &.locked
    background-image url('/public/images/icon/private.svg')

  &.line
    height b1
    background-position 0px 4px
    &.add
      width b1
    &.session
      width b1+b8

.sort
  background-position right
  background-repeat no-repeat

  &.sortable
    background-image url('/public/images/icon/sortable.png')

  &.sort-asc
    background-image url('/public/images/icon/sort-asc.png')

  &.sort-desc
    background-image url('/public/images/icon/sort-desc.png')

th
  &.add
    background-repeat no-repeat
    background-image url('/public/images/icon/add.png')

    &:hover
      opacity 0.7

