// STYLES

.icon
  display inline-block
  position relative
  background transparent no-repeat 0 0
  width b23+1px
  height b23
  &.public,
  &.excerpt
    padding-left b1 - b6
  &.excerpts
    padding-left b1
  &.classification.RESTRICTED,
  &.classification.SHARED
    padding-left b1 - b12
  &.dataset,
  &.study
    size b1
  &.record,
  &.session
    height b23
    width b23+b8

  &.contact
    background-image url('/public/images/icon/contact.png')

  &.edit
    background-image url('/public/images/icon/contribute.png')

  &.close
    background-image url('/public/images/icon/close.png')

  &.access.ADMIN
    background-image url('/public/images/icon/admin.png')

  &.access.EDIT
    background-image url('/public/images/icon/contribute.png')

  &.access.READ
    background-image url('/public/images/icon/download.png')

  &.access.SHARED
    background-image url('/public/images/icon/download.png')

  &.access.PUBLIC
    background-image url('/public/images/icon/view.png')

  &.consent.PUBLIC
    background-image url('/public/images/icon/public.png')

  &.consent.EXCERPTS
    background-image url('/public/images/icon/excerpts.png')

  &.consent.SHARED
    background-image url('/public/images/icon/shared.png')

  &.consent.PRIVATE
    background-image url('/public/images/icon/private.png')


  &.classification.PRIVATE
    background-image url('/public/images/icon/private.png')

  &.classification.RESTRICTED
    background-image url('/public/images/icon/identified.png')

  &.classification.SHARED
    background-image url('/public/images/icon/deidentified.png')

  &.classification.PUBLIC
    background-image url('/public/images/icon/material.png')


  &.dataset
    background-image url('/public/images/icon/dataset.svg')

  &.record
    background-image url('/public/images/icon/record.png')

  &.session
    background-image url('/public/images/icon/session2.png')
    &:hover
      opacity 0.4

  &.study
    background-image url('/public/images/icon/study.png')

  &.download
    background-image url('/public/images/icon/download2.png')
    &:hover
      opacity 0.4
    &.line
      width b1

  &.jump
    background-image url('/public/images/icon/jump.png')

  &.play
    background-image url('/public/images/icon/play.png')

  &.pause
    background-image url('/public/images/icon/pause.png')

  &.add
    background-image url('/public/images/icon/add.png')

  &.trash
    background-image url('/public/images/icon/close_c.png')
    cursor pointer
  &.trash2
    background-image url('/public/images/icon/trash.png')
    cursor pointer
    &:hover
      opacity 0.4

  &.paste
    background-image url('/public/images/icon/paste.png')
    cursor pointer

  &.bullet
    background-image url('/public/images/icon/bullet.png')

  &.go
    background-image url('/public/images/icon/go.png')
    cursor pointer

  &.locked
    background-image url('/public/images/icon/private.png')
    cursor pointed
  &.unlocked
    background-image url('/public/images/icon/public.png')
    cursor pointer

  &.line
    height b1
    background-position 4px 4px
    &.add
      width b1
    &.session
      width b1+b8    
    &.public,
    &.excerpt
      background-position 2px 4px
    &.consent.EXCERPTS
      padding-left b1 + 2px
      background-position 1px 4px
    &.classification.RESTRICTED,
    &.classification.SHARED
      background-position 1px 4px

.sort
  background-position right
  background-repeat no-repeat

  &.sortable
    background-image url('/public/images/icon/sortable.png')

  &.sort-asc
    background-image url('/public/images/icon/sort-asc.png')

  &.sort-desc
    background-image url('/public/images/icon/sort-desc.png')


th
  &.add
    background-repeat no-repeat
    background-image url('/public/images/icon/add.png')

    &:hover
      opacity 0.7

