// styles

table
  width 100%
  z-index 1
  margin-bottom 1

th
td
caption
  line-height (2/3)
  border-padding-height f4 2px
  padding-width f4

caption
  caption-side bottom
  font-style italic
  font-size .75
  border-top 1px solid gray
  border-padding-top f4 3px
  color gray

th
td
  text-align left

  > a:only-child
    display inline-block

thead
  th
  td
    border-padding-bottom f4 4px
    border-bottom 2px solid white

tfoot
  tr
    // &:hover
    //   background mix(pale, white, 50%)

  th, td
    border-padding-top f4 4px
    border-top 2px solid white

tbody
  tr
    &:nth-child(even)
      background mix(pale, white, 25%)

    &:hover
      background mix(pale, white, 50%)

    &.hr
      background white

      &:hover
        background white

    &.hr-big
      th
        padding-top(f1)
        font-line(1.5)

  .th-right
    min-width 33%
    text-align right
