// styles

.permission-auth
  margin-bottom f1

.permission-auth-username
  font-line 1.5

  &:link,
  &:visited
    color inherit

  &:hover
    color gray

.permission-auth-email
  color pale
  margin-left f4

.permission-auth-heading
  font-weight bold
  color green
  padding-top f2
  .icon
    float right
    margin-top f2

.permission-auth-pending
  border-radius b8
  background-color yellow51
  padding-left b8
  padding-right b8
  display inline
  vertical-align top
  font-size 0.8em
