// styles

.view
  margin-bottom 2

.view-context
  margin-top 1
  font-line 1.5 1
  color green32

.view-title
  font-line 2 1.75
  span.icon.button
  	margin-left b3

h2.view-title
  margin-top 0
  margin-bottom 1

.view-link
  display inline-block
  margin-top 0.5

  &:before
    content '< '
