<form name="accessGrantForm" bindonce novalidate>
  <messages form="accessGrantForm"></messages>

  <fieldset class="clean cut_f" ng-if="accessGrantForm.funding">
    <validator form="accessGrantForm" name="funding" label="'access.grant.funding' | message">
      <input name="funding" type="text" ng-model="accessGrantForm.data.funding">
    </validator>
  </fieldset>

	<fieldset class="clean radio-set" ng-if="!accessGrantForm.funding">
    <div ng-repeat="(val, name) in page.constants.data.accessPresets">
      <input type="radio" ng-model="accessGrantForm.data.access" name="accessOption" ng-value="val" ng-selected="val == accessGrantForm.data.individual">
      <label bo-html="'access.'+name | message:access.party.name" class="option"></label>
    </div>

		<div ng-if="!access.party.institution">
			<input type="checkbox" ng-model="accessGrantForm.data.extend">
			<label class="option" bo-html="'access.grant.inherit' | message:access.party.name"></label>
		</div>
	</fieldset>

  <fieldset class="clean">
    <button ng-click="accessGrantForm.save()" class="green" bo-html="'save' | message" ng-disabled="!accessGrantForm.$dirty"></button>
    <button ng-click="accessGrantForm.reset()" class="yellow" bo-html="'revert' | message" ng-disabled="!accessGrantForm.$dirty"></button>
    <button ng-click="accessGrantForm.remove()" class="red" bo-html="'remove' | message"></button>
  </fieldset>
</form>
