<form name="authSearchForm" novalidate class="auth-search">
  <messages form="authSearchForm"></messages>

  <validator form="authSearchForm" name="name">
    <input type="search" name="name" placeholder="{{'auth.search.'+(authSearchForm.principal?'principal':'affiliate') | message}}" ng-model="authSearchForm.name" ng-change="authSearchForm.search()" ng-minlength="3">
  </validator>

  <ul ng-if="authSearchForm.found" class="flat auth-found-list">
    <li ng-repeat="found in authSearchForm.found">
      <a href="" class="auth-found" ng-click="authSearchForm.select(found)">{{found.name}}</a>
    </li>

    <li>
      <a href="" class="auth-found" ng-click="authSearchForm.notFound()">{{"auth.notfound" | message}}</a>
    </li>
  </ul>
</form>



