<form name="authApplyForm" novalidate>
  <messages form="authApplyForm"></messages>

  <fieldset class="clean" ng-if="!authApplyForm.notFound.query">
    <legend class="auth_request">{{"auth.request.title" | message:authApplyForm.other.party.name}}</legend>

    <div ng-if="authApplyForm.other.party.institution">
      <div class="cut_f" ng-bind-html="'auth.info.prompt' | message | format"></div>

      <textarea id="field_guess" ng-model="authApplyForm.notFound.info"></textarea>
    </div>
  </fieldset>

  <fieldset class="clean" ng-if="authApplyForm.notFound.query">
    <legend>{{"auth.request.notfound.title" | message}}</legend>

    <div class="cut_f" ng-bind-html="'auth.request.notfound.instructions' | message | format"></div>

    <textarea id="field_info" ng-model="authApplyForm.notFound.info"></textarea>
  </fieldset>

  <fieldset class="clean">
    <input type="hidden" name="id" ng-value="authApplyForm.other.id">

    <button ng-click="authApplyForm.save()" class="green">{{"auth.request" | message}}</button>
    <button ng-click="authApplyForm.cancel()" class="red">{{"cancel" | message}}</button>
  </fieldset>
</form>

