<form name="fundingGrantForm" bindonce novalidate>
  <messages form="fundingGrantForm"></messages>

  <fieldset class="clean">
    <label bo-html="'funding.awards' | message"></label>

    <div ng-repeat="award in fundingGrantForm.awards">
      <validator form="fundingGrantForm" name="funding.awards[{{$index}}]">
        <input type="text" name="funding.awards[{{$index}}]" ng-model="award.val">
        <button ng-click="fundingGrantForm.removeAward(award)" bo-html="'remove' | message" class="red mini pull"></button>
      </validator>
    </div>
    <button ng-click="fundingGrantForm.addAward()" bo-html="'add' | message" class="orange add_f2"></button>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="fundingGrantForm.save()" class="green" bo-html="'save' | message" ng-disabled="!fundingGrantForm.$dirty"></button>
    <button ng-click="fundingGrantForm.reset()" class="yellow" bo-html="'revert' | message" ng-disabled="!fundingGrantForm.$dirty"></button>
    <button ng-click="fundingGrantForm.remove()" class="red" bo-html="'access.remove' | message"></button>
  </fieldset>
</form>
