<form name="searchForm" class="search_form" ng-submit="searchForm.search()" message-region="default">
  <div class="row">
    <div class="col-full">
      <div class="search_form_logo">
        <a ng-href="{{page.router.index()}}" title="Databrary: An Open Data Library"><img src="public/images/logo/databrary.png"></a>
      </div>

      <div class="search_form_search">
        <div class="w">
          <input type="search" ng-model="searchForm.data.query" placeholder="{{'search.prompt' | message}}" focus>
          <a ng-if="!searchForm.filterMode" class="icon close line search_form_reset" ng-click="searchForm.reset()"></a>
        </div>
      </div>
    </div>
  </div>
</form>
