<form name="volumeEditPublicationsForm" bindonce>
  <fieldset class="clean">
    <repeater retrieve="volumeEditPublicationsForm.retrieveRepeater">
      <label ng-bind-html="'citation.head' | message"></label>
      <input type="text" name="head" ng-model="repeat.head">

      <label ng-bind-html="'citation.url' | message"></label>
      <input type="text" name="url" ng-model="repeat.url">

      <label ng-bind-html="'citation.body' | message"></label>
      <textarea name="body" ng-model="repeat.body"></textarea>
    </repeater>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="volumeEditPublicationsForm.save()" bo-html="'save' | message" class="green" ng-if="volumeEditPublicationsForm.$dirty"></button>
    <button ng-click="volumeEditPublicationsForm.reset()" bo-html="'reset' | message" class="red" ng-if="volumeEditPublicationsForm.$dirty"></button>
    <button ng-click="volumeEditPublicationsForm.cancel()" bo-html="'cancel' | message" class="yellow" ng-if="volumeEditPublicationsForm.volume"></button>
  </fieldset>
</form>