<form name="volumeEditCitationsForm" bindonce novalidate>
  <messages form="volumeEditCitationsForm"></messages>

  <fieldset ng-form="studyForm">
		<legend bo-html="'citations.study.title' | message"></legend>
		<div bo-html="'citations.study.body' | message | format"></div>

		<label ng-bind-html="'citation.url' | message"></label>
		<input type="text" name="url" ng-model="volumeEditCitationsForm.data.study.url">
		<button class="pull mini pull_citation" ng-disabled="!page.constants.regex.doi.test(volumeEditCitationsForm.data.study.url)" ng-click="volumeEditCitationsForm.autoDOI(volumeEditCitationsForm.data.study)" bo-html="'lookup' | message"></button>
		<validator form="volumeEditPublicationsForm" name="url"></validator>

		<label ng-bind-html="'citation.head' | message"></label>
		<input type="text" name="head" ng-model="volumeEditCitationsForm.data.study.head">

    <button ng-click="volumeEditCitationsForm.studyForm.save()" bo-html="'save' | message" class="green" ng-disabled="!volumeEditCitationsForm.studyForm.$dirty"></button>
    <button ng-click="volumeEditCitationsForm.studyForm.reset()" bo-html="'revert' | message" class="orange" ng-disabled="!volumeEditCitationsForm.studyForm.$dirty"></button>
	</fieldset>

  <fieldset ng-form="citationsForm">
		<legend bo-html="'citations.more.title' | message"></legend>
		<div bo-html="'citations.more.body' | message | format"></div>

    <fieldset ng-repeat="citation in volumeEditCitationsForm.data.citation" ng-form="citationsForm.citation-{{$index}}">
      <i ng-init="this.form = citationsForm['citation-'+$index]; citationsForm.store(this)"></i>

      <label ng-bind-html="'citation.url' | message"></label>
      <input type="text" name="url" ng-model="citation.url">
      <button class="pull mini pull_citation" ng-disabled="!page.constants.regex.doi.test(citation.url)" ng-click="volumeEditCitationsForm.autoDOI(citation)" bo-html="'lookup' | message"></button>

      <label ng-bind-html="'citation.head' | message"></label>
      <input type="text" name="head" ng-model="citation.head">

      <label ng-bind-html="'citation.body' | message"></label>
      <textarea name="body" ng-model="citation.body"></textarea>

      <button ng-click="volumeEditCitationsForm.citationsForm.remove(this)" bo-html="'remove' | message" class="red"></button>
      <button ng-click="volumeEditCitationsForm.citationsForm.reset(this)" bo-html="'revert' | message" class="orange" ng-disabled="!form.$dirty"></button>
    </fieldset>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="volumeEditCitationsForm.citationsForm.add()" bo-html="'add' | message" class="yellow"></button>
    <button ng-click="volumeEditCitationsForm.citationsForm.save()" bo-html="'save' | message" class="green" ng-disabled="!volumeEditCitationsForm.citationsForm.$dirty"></button>
  </fieldset>
</form>
