<form name="volumeEditMaterialsForm" bindonce novalidate>
  <messages form="volumeEditMaterialsForm"></messages>

  <fieldset class="clean">
		<repeater retrieve="volumeEditMaterialsForm.retrieveRepeater">
			<fieldset class="clean" ng-disabled="repeat.saving">
				<div ng-if="!repeat.asset">
					<label bo-html="'material.file' | message"></label>
					<input type="file" name="file" file-model="repeat.file">
				</div>

				<label bo-html="'material.name' | message"></label>
				<input type="text" name="name" ng-model="repeat.name">

				<label bo-html="'material.classification' | message"></label>
				<select name="classification" ng-model="repeat.classification" ng-options="val.id as 'classification.'+val.name | message for (key, val) in page.constants.data.classification"></select>
			</fieldset>
		</repeater>
	</fieldset>

	<fieldset class="clean">
		<button ng-click="volumeEditMaterialsForm.save()" bo-html="'save' | message" class="green" ng-disabled="!volumeEditMaterialsForm.$dirty"></button>
	</fieldset>
</form>

