<form name="volumeEditAccessForm" bindonce novalidate>
  <messages form="volumeEditAccessForm"></messages>

  <fieldset class="clean">
    <article ng-repeat="access in volumeEditAccessForm.data.access">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar" ng-click="openAuthParent(parent)">
            <figmedia><img ng-src="{{page.router.partyAvatar(access.party, 54)}}"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
          <div class="row">
            <div class="network-heading col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
              <a bo-href="page.router.party(access.party)" class="network-auth-username">{{access.party.name}}</a>
              <span class="network-auth-email" bo-if="access.party.email">{{access.party.email}}</span>
            </div>

            <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
              <access-grant-form volume="{{volumeEditAccessForm.volume.id}}" access="access"></access-grant-form>
            </div>
           </div>
        </div>
      </div>
    </article>

    <article class="auth-search-add">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar">
            <figmedia><img src="/public/images/network/auth-add.png"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
          <access-search-form volume="{{volumeEditAccessForm.volume.id}}"></access-search-form>
        </div>
      </div>
    </article>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="volumeEditAccessForm.cancel()" bo-html="'cancel' | message" class="yellow" ng-if="volumeEditAccessForm.volume"></button>
  </fieldset>
</form>

