@(volume : Volume, accessForms : Seq[VolumeController.AccessForm], accessSearch : VolumeController.AccessSearchForm, accessResults : Seq[VolumeController.AccessForm])(implicit request : VolumeHtml.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.tableFieldConstructor.f)
}

@accessFields(form : VolumeController.AccessForm)(implicit fieldConstructor : helper.FieldConstructor) = {
        <td>@display(form.party)</td>
        @widget.enumSelect(form.individual(), Permission)
        @widget.tag.select(form.children(), Permission.values.to(if (form.isGroup) Permission.SHARED else Permission.EDIT).toSeq.map(v => (v.id.toString, v.toString)))
}

@widget.form(Some(volume), "Manage Access", None) {
    <table class="permission">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Individual</th>
                    <th>Group</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @accessForms.map { form =>
                    @widget.tag.form(form) {
                    <tr>
                        @accessFields(form)

                        <td>
                            @widget.formErrors(form)
                            <button type='submit' class="button second">Update</button>
                            @if(!(request.identity === form.party)) {
                            <button type='submit' class="button first" name='delete' value='true'>Revoke</button>
                            }
                        </td>
                    </tr>
                    }
                }
            </tbody>

            <tfoot>
                @widget.tag.form(accessSearch) {
                    <tr class="null">
                        @widget.tag.inputText(accessSearch.name(), 'placeholder -> "Search users and institutions...")
                        <td/>
                        <td/>
                        <td/>
                        <td>
                            @widget.formErrors(accessSearch)
                            <button type='submit' class="button third">Search</button>
                        </td>
                    </tr>
                }

                @accessResults.map { form =>
                    @widget.tag.form(form) {
                        <tr>
                            @accessFields(form)
                            <td>
                                @widget.formErrors(form)
                                <button type='submit' class="button">Grant</button>
                            </td>
                        </tr>
                    }
                }
        </tfoot>
    </table>
}
