@(form : VolumeController.VolumeForm)(implicit request : RequestObject.Site[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@template.form(Some(request.obj), form.formName, angular = Some(play.api.libs.json.JsObject(Seq()))) {
        @widget.tag.form(form) {
            @widget.tag.inputText(form.name(), 'placeholder -> "Title", '_class -> "")
            @widget.tag.inputText(form.alias(), 'placeholder -> "Short name", '_class -> "")
            @widget.tag.textarea(form.body(), 'placeholder -> "Description", '_class -> "")

            <fieldset class="publications">
                <legend>Publications</legend>

		<h3>Study</h3>
		@widget.tag.inputText(form.study()("head"), ('placeholder, "Citation"))
		@widget.tag.inputText(form.study()("url"), ('placeholder, "DOI or URL"))
		@widget.tag.textarea(form.study()("body"), ('placeholder, "Abstract"))

                <div class="repeater">
                    @widget.tag.repeat(form.citation()) { f =>
                        @widget.tag.inputText(f("head"), 'placeholder -> "Citation")
                        @widget.tag.inputText(f("url"), 'placeholder -> "DOI or URL")
                        @widget.tag.textarea(f("body"), 'placeholder -> "Abstract")
                    }
                </div>
            </fieldset>

            @widget.formErrors(form)
            <button type="submit" class="button">@form.actionName</button>
        }
	<a href="@request.obj.pageURL">@Messages("cancel")</a>
}
