@(a : Either[Party, Volume], editForm : controllers.Volume.VolumeForm)(implicit request : RequestObject[SitePage]#Site[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud(a.fold(_.toString + ": Create Volume", "Edit Volume: " + _.name)) {
    <article>
        @a.fold(crud.partyHeader(_), crud.volumeHeader(_))

        @tag.form(a.fold(p => routes.Volume.add(p.id), s => routes.Volume.change(s.id))) {
            @widget.formErrors(editForm)

            @tag.inputText(editForm("name"), 'placeholder -> "Title", '_class -> "big")
            @tag.textarea(editForm("body"), 'placeholder -> "Description", '_class -> "")

            <fieldset class="publications">
                <legend>Publications</legend>

                @tag.repeat(editForm("citation")) { f =>
                    @tag.inputText(f("head"), 'placeholder -> "Citation")
                    @tag.inputText(f("url"), 'placeholder -> "DOI or URL")
                    @tag.textarea(f("body"), 'placeholder -> "Abstract")
                }
            </fieldset>

            <button type="submit" class="big button first">@a.fold(_ => "Create", _ => "Change")</button>
        }

    </article>
}
