@(a : Either[SiteParty, Volume], editForm : VolumeHtml.VolumeForm)(implicit request : RequestObject[SiteObject]#Site[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@template.form(Some(a.merge), a.fold(_ => "Create Volume", _ => "Edit Volume")) {
        @widget.tag.form(a.fold(p => routes.VolumeHtml.create(p.party.id), s => routes.VolumeHtml.update(s.id))) {
            @widget.formErrors(editForm)

            @widget.tag.inputText(editForm("name"), 'placeholder -> "Title", '_class -> "")
            @widget.tag.textarea(editForm("body"), 'placeholder -> "Description", '_class -> "")

            <fieldset class="publications">
                <legend>Publications</legend>

                <div class="repeater">
                    @widget.tag.repeat(editForm("citation")) { f =>
                        @widget.tag.inputText(f("head"), 'placeholder -> "Citation")
                        @widget.tag.inputText(f("url"), 'placeholder -> "DOI or URL")
                        @widget.tag.textarea(f("body"), 'placeholder -> "Abstract")
                    }
                </div>
            </fieldset>

            <button type="submit" class="button">@a.fold(_ => "Create", _ => "Change")</button>
        }
}
