@(list : Seq[Volume], query : String = "")(implicit request : SiteRequest[_])

    @script = {
        dbjs.fadeOff('.volume_roll a', '.body', '.thumb');
    }

@widget.template.wide("Volume List", js = script, query = query) {
    <div class="roll row">
        <div class="cf col-desktop-10 push-desktop-6 col-laptop-10 push-laptop-2">
        @list.map { volume =>
            <article id="volume_@volume.id" class="volume volume_roll cf">
                <div class="row">
                    <a href="@routes.Volume.view(volume.id)" class="block cf" title="@volume.name">
                        <header class="col-desktop-10 col-laptop-10 col-tablet-9 col-mobile-6">
                            <h1>@volume.name</h1>
                        </header>

                        <div class="spiff">
                            <aside class="thumb cf col-desktop-3 col-laptop-3 col-tablet-3 col-mobile-2">
                            @widget.figure.thumbVolume(volume)
                            </aside>

                            <div class="body col-desktop-7 col-laptop-7 col-tablet-6 col-mobile-4">
                                <footer class="meta cf">
                                    <div class="date">
                                        <time datetime="@volume.creation" pubdate>@display.dateFmtY.print(volume.creation)</time>
                                    </div>

                                    <div class="people">
                                    @Async.get(volume.partyAccess).takeWhile(_.access >= Permission.ADMIN).map { a => <img src="@display.avatar(a.party, 16)" class="s16"> @display.citeName(a.party.name) <span class="sep">
                                        ,</span>
                                    }
                                    </div>
                                </footer>

                                <div class="description">

                                    @defining(Async.get(volume.summary)) { s =>
				    	@if(s.sessions > 0) {
                                        <div class="siderim minor">
                                            <dl class="inline-measures">
                                                <dt>sessions</dt>
                                                <dd>@s.shared shared</dd>
                                                <dt>ages</dt>
                                                <dd>@display.agerange(s.agerange) (<em>M</em> = @display.age(s.agemean))</dd>
                                            </dl>
                                        </div>
					}
                                    }
                                @volume.body.map(display.plainTextSummary(_, 2))
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </article>
        }
        </div>

        <section id="filters" class="extended filters col-desktop-6 pull-desktop-16 col-laptop-2 pull-laptop-12 hide-tablet hide-mobile hide-cell">
            <div class="w">
                <h2>Search</h2>

                <div class="around">
                    <div class="field">
                        <label class="block"><input type="checkbox"> Excerptable</label>
                    </div>

                    <div class="field">
                        <label class="block">Duration</label>
                        <input type="text" name="excerpt-low" class="mini inline">
                        <span class="bridge">to</span>
                        <input type="text" name="excerpt-high" class="mini inline">
                    </div>

                    <div class="field">
                        <label class="block">Data sharing</label>
                        <select name="sharing" class="mini">
                            <option selected></option>
                            <option>With public</option>
                            <option>With databrary</option>
                            <option>With you</option>
                        </select>
                    </div>
                </div>

                <hr class="ar">

                <div class="around">
                    <div class="field">
                        <label class="block">Age</label>
                        <input type="text" name="age-low" class="mini inline">
                        <span class="bridge">to</span>
                        <input type="text" name="age-high" class="mini inline">
                    </div>

                    <div class="field">
                        <label class="block">Gender</label>
                        <select name="gender" class="mini">
                            <option selected></option>
                            <option>Female</option>
                            <option>Male</option>
                        </select>
                    </div>

                    <div class="field">
                        <label class="block">Race</label>
                        <select name="race" class="mini">
                            <option selected></option>
                            <option>American Indian or Alaska Native</option>
                            <option>Asian</option>
                            <option>Black or African American</option>
                            <option>Native Hawaiian or Other Pacific Islander</option>
                            <option>White</option>
                            <option>Multiple</option>
                        </select>
                    </div>

                    <div class="field">
                        <label class="block">Ethnicity</label>
                        <select name="ethnicity" class="mini">
                            <option selected></option>
                            <option>Hispanic or Latino</option>
                            <option>Not Hispanic or Latino</option>
                        </select>
                    </div>
                </div>

                <hr class="ar">

                <div class="field">
                    <button class="first button">Filter</button>
                    <button class="second button">Reset</button>
                </div>

            </div>
        </section>
    </div>
}
