@(list : Seq[(Volume, Seq[Party])], form : VolumeController.SearchForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@html(Messages("search.title"), Some(routes.VolumeHtml.search(None))) {
  <article class="view">
  @widget.panel.raw("search", "panel_search"){
    <div class="search-form search-form-search col">
        @widget.tag.form(form) {
            @widget.tag.inputText(form.query(), 'placeholder -> Messages("search.prompt"))
            @widget.formErrors(form)
        }
    </div>
    <div class="volume-list">
      <ul class="flat">
        @list.map { case (volume, access) =>
          <li>
            @widget.frame.compactVolume(volume, access)
          </li>
        }
      </ul>
    </div>
  }
  </article>
}
