@(list: Seq[Volume], query: String = "")(implicit request: SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@widget.template.action("Search the Databrary") {
    @widget.panel.search("", "", "SearchViewCtrl") {
        <section ng-controller="SearchFilterCtrl" id="panel_search_filter" class="panel_search_filter col-full">
            <input type="search" placeholder="Search the databrary...">
        </section>

        <div ng-controller="SearchListCtrl" class="col-full">
        @list.map { volume =>
            @widget.frame.compactVolume(volume)
        }
        </div>
    }
}
