@(list : Seq[(Volume, Seq[Party])], form : VolumeController.SearchForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@template.action("Search the Databrary", angular = true) {
    @widget.panel.search("", "", "SearchViewCtrl") {
        <section ng-controller="SearchFilterCtrl" id="panel_search_filter" class="panel_search_filter col-full">
	@widget.tag.form(form) {
	    @widget.tag.inputText(form.query(), 'placeholder -> "Search the databrary...")
	    @widget.formErrors(form)
	}
        </section>

        <div ng-controller="SearchListCtrl" class="col-full">
        @list.map { case (volume, access) =>
            @widget.frame.compactVolume(volume, access)
        }
        </div>
    }
}
