@(summary : Volume.Summary, access : Seq[VolumeAccess], top : Container, sessions : Seq[Slot], records : Seq[Record], assets : Seq[SlotAsset], citation : Option[Citation], funding : Seq[Funding], comments : Seq[Comment], tags : Seq[TagWeight])(implicit request: VolumeHtml.Request[_])

@defining(request.obj) { volume =>

    @template.crud("Volume: " + volume.name, angular = Some(request.obj.json.js)) {
        @widget.panel.volume(volume, summary, access, funding)
        @widget.panel.browser(sessions, records)
        @widget.panel.materials(assets)
        @widget.panel.citations(citation)
        @widget.panel.tags(top, Some(volume), tags, new TagController.TagForm(top))
        @widget.panel.comments(Some(top), Some(new CommentController.CommentForm(top)), comments)
    }

}
