@(summary : Volume.Summary, access : Seq[VolumeAccess], top : Container, sessions : Seq[(Slot,Any)], records : Seq[(RecordCategory,Seq[(Record,Any)])], assets : Seq[SlotAsset], citations : Seq[Citation], comments : Seq[Comment], tags : Seq[TagWeight])(implicit request: VolumeHtml.Request[_])

@defining(request.obj) { volume =>

    @template.crud("Volume: " + volume.name, angular = Some(request.obj.json.js)) {
        @widget.panel.volume(volume, summary, access)
        @widget.panel.browser(sessions, records)
        @widget.panel.materials(assets)
        @widget.panel.citations(citations)
        @widget.panel.people(access)
        @widget.panel.tags(top, Some(volume), tags, new TagController.TagForm(top))
        @widget.panel.comments(Some(top), Some(new CommentController.CommentForm(top)), comments)
    }

}
