@(volume: Volume, assets : Seq[SlotAsset], excerpts : Map[String, Seq[SlotAsset]], assetMap : Map[String, Seq[SlotAsset]])(implicit request: SiteRequest[_])

@template.crud("Volume: " + volume.name) {
	<article id="volume_@volume.id.unId" class="volume">
		@crud.volumeHeader(volume)

		<div class="row">
			<div class="description col_6">
			@volume.body.map(display.plainText _)
			</div>

			<footer class="extended col_6">
				<div class="row">
					<div class="wide_col_6">
						<aside class="thumb col_6">
						@widget.volumeThumb(volume)
						</aside>

						<aside class="dates foot col_6">
							<span class="date created">
								Created <time datetime="@volume.creation" pubdate>@display.dateFmtYM.format(volume.creation)</time></span>
						</aside>

						<aside class="citing foot col_6">
							<h2>Citation</h2>

							@widget.volumeCitation(volume)
						</aside>
					</div>

					<div class="wide_col_3">
						<aside class="investigators foot col_3">
							<h2>Investigators</h2>

							@volume.partyAccess.takeWhile(_.access >= Permission.CONTRIBUTE).map { a =>
								@widget.userinfo(a.party)
							}
						</aside>

						<div class="col_3">
							<aside class="funding foot">
								<h2>Funding</h2>

								@widget.userinfo(models.Party.Root)
							</aside>

							<aside class="access cf foot">
								<h2>Sharing</h2>
								@widget.volumeAccess(volume)
							</aside>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<section id="metadata" class="tabset">
			<div id="media" class="view">
                <div id="highlights" class="view">
                    <h2 class='tab' data-tip="All media in the Highlights tab is available for public use and sharing.">Highlights</h2>

                    @widget.thumbList(excerpts.getOrElse("video", Nil))
                    @widget.thumbList(excerpts.getOrElse("image", Nil))
                    @widget.thumbList(excerpts.getOrElse("audio", Nil))
                </div>

                <h2 class='tab' data-tip="The Media tab lists top-level video, audio, and images asscoiated with the current study.">Media</h2>

				@widget.thumbList(assetMap.getOrElse("video", Nil))
				@widget.thumbList(assetMap.getOrElse("image", Nil))
				@widget.thumbList(assetMap.getOrElse("audio", Nil))
			</div>

			<div id="documents" class="view">
				<h2 class='tab' data-tip="The Documents tab lists non-media files associated with the current study.">Documents</h2>
				@widget.assetList(assets)
			</div>

			<div id="participants" class="view">
				<h2 class='tab' data-tip="The Participants tab lists basic information regarding the participants of the current study.">Participants</h2>
				@widget.slotList(volume)
			</div>

			<div id="permission" class="view">
				<h2 class='tab' data-tip="The Permissions tab lists who has access to the current study, and what that access allows.">Permission</h2>

				@widget.volumePermission(volume)
			</div>
		</section>

		<div class="row">
		@region.comments(Some(routes.Comment.postVolume(volume.id)), volume.comments(true)(request.db))
		</div>
	</article>
}
