// styles

.player-main
	width 100%
	background-color dark
	position relative

.player-main-media
	margin 0 auto

	img
	video
		display block
		max-width 100%

	video
		margin-bottom 0

.player-main-info
	position absolute
	bottom b1
	left b1

.player-resize
	width 100%
	margin-height f12
	position relative

	&:after
		content ''
		border-top 1px solid pale
		display block
		position absolute
		float left
		width 100%
		bottom b12
		z-index -1

.player-resize-grip
	margin 0 auto
	width f1
	height f6 + f24
	background gray
	position relative
	border-radius b1

	&:before
	&:after
		content ''
		border-top 1px solid pale
		display block
		position absolute
		float left
		width f23
		left b6

	&:before
		top b24

	&:after
		bottom b24

.player-list
	position relative
	background-color pale
	padding f4
	min-height 5
	height 5
	overflow hidden

.player-list-items
.player-list-item
	height 100%

.player-list-items
	margin 0
	padding 0 b1
	position relative
	left 0
	min-width 200%

.player-list-item
	float left

	img
		display block
		float left
		height 100%
		width auto
		max-width none

.player-list-item-playable
	&:after
		content ''
		float left
		display block
		height 100%
		margin-width f4
		border-left 1px solid gray

.player-list-scroll
	z-index 1
	transition background trans-time trans-ease
	position absolute
	width b1
	border-radius b8
	top b8
	bottom b8

	&:hover
		background gray

.player-list-scroll-arrow
	width 100%
	height 100%

	&:after
		content ''
		display block
		size 0
		border b2 solid transparent
		top 50%
		margin-top -b2
		position relative
		pointer-events none

.player-list-scroll-left
	left b8

	.player-list-scroll-arrow
		&:after
			border-right-color black
			right b4

.player-list-scroll-right
	right b8

	.player-list-scroll-arrow
		&:after
			border-left-color black
			left b4