<ng-form name="commentReplyForm" class="comment-reply-form">
  <div class="row" ng-if="page.models.Login.isAuthorized()">
    <div class="col-desktop-10 col-tablet-8 col-mobile-6">
      <footer class="panel-comments-meta" ng-init="party = page.models.Login.user">
        <portrait extra="'comments.prompt' | message"></portrait>
      </footer>

      <div class="panel-comments-body">
        <validator name="text" label="comments.text.title" noclientval>
          <textarea name="text" ng-model="commentReplyForm.data.text" ng-minlength="3"></textarea>
        </validator>

        <button type="submit" class="green mini" ng-click="commentReplyForm.save()" ng-disabled="commentReplyForm.$pristine || commentReplyForm.$invalid" message="comments.post"></button>
        <button class="yellow mini" ng-click="commentReplyForm.cancel()" ng-if="!!commentReplyForm.target" message="comments.cancel"></button>
      </div>
    </div>
  </div>
</ng-form>
