// styles

figure
  position relative
  overflow hidden

  > a
  .figmedia
  figcaption
    position absolute
    overflow hidden
    display block
    top 0
    left 0
    right 0
    bottom 0

  img
    max-width 100%

.figmedia-inner
  position absolute