<div class="messages" ng-class="::{'sandbox':page.constants.sandbox}">
  <div ng-repeat="message in messages.list" id="{{message.id}}" ng-class="'message message-'+message.type" ng-style="{'z-index':500-$index}">
    <div class="wrap">
      <div class="row">
        <div class="col">
          <div class="message-close" ng-click="message.remove()"></div>
          <div class="message-content" ng-bind-html="message.body" ng-click="message.fn()"></div>
        </div>
      </div>
    </div>
  </div>
</div>
