// mixins

draggable()
  cursor hand
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab

dragging()
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing

box-sizing(n)
  box-sizing n
  -moz-box-sizing n
  -webkit-box-sizing n

border-radius()
  border-radius arguments
  -moz-border-radius arguments
  -webkit-border-radius arguments
