// we want this to be on the same line with the party name, and not eat space below it. WIP (jc)

.access-grant-remove
  position relative
  left 10px
  top -4px
  z-index 1

.access-grant-radioset
  position relative
  z-index 0