<ng-form name="volumeEditAccessForm">
  <fieldset class="radio-set volume-edit-access-radioset" ng-disabled="!page.models.Login.checkAccess(page.permission.EDIT)" ng-form="accessGlobalForm">
    <legend message="access.global.legend"></legend>
    <div class="col message message-yellow message-content" ng-if="::!page.models.Login.checkAccess(page.permission.EDIT)" message="access.global.restricted"></div>
    <div ng-repeat="perms in page.constants.accessGlobal track by $index">
      <input type="radio" ng-model="volumeEditAccessForm.globalVal" name="access-global" ng-value="$index">
      <label message="access.global.{{::perms.map(permissionName).join('.')}}" class="option"></label>
    </div>
  </fieldset>

  <scroll-float>
    <fieldset class="clean">
      <div class="col-desktop-5 col-tablet-5 col-mobile-6">
        <button ng-click="volumeEditAccessForm.saveAll()" class="green" message="save" ng-disabled="volumeEditAccessForm.$pristine || volumeEditAccessForm.$invalid"></button>
        <button ng-click="volumeEditAccessForm.resetAll()" message="revert" ng-disabled="volumeEditAccessForm.$pristine"></button>
      </div>
      <access-search-form class="col-desktop-6 col-tablet-4 col-mobile-6" placeholder-text="{{::'access.search.legend' | message}}"></access-search-form>
    </fieldset>
  </scroll-float>

  <fieldset ng-show="volumeEditAccessForm.data.length > 0">
    <legend message="access.grant.legend"></legend>
    <article ng-repeat="access in volumeEditAccessForm.data track by access.party.id" id="access-{{::access.party.id}}" class="access-grant cf anchor">
      <div class="row">
        <access-grant-form></access-grant-form>
      </div>
    </article>
  </fieldset>

</ng-form>
