<ng-form name="volumeEditLinksForm">
  <scroll-float>
    <fieldset class="clean">
      <button ng-click="volumeEditLinksForm.save()" class="green" message="save" ng-disabled="volumeEditLinksForm.$pristine"></button>
      <button ng-click="volumeEditLinksForm.resetAll()" class="neutral" message="revert" ng-disabled="volumeEditLinksForm.$pristine"></button>
    </fieldset>
  </scroll-float>
  <div class="link-label">
    <label class="col-desktop-7 col-tablet-4" message="link.head.title"></label>
    <label class="col-desktop-8 col-tablet-5" message="link.url.title"></label>
  </div>
  <fieldset class="link-field clean skinny" ng-repeat="link in volumeEditLinksForm.data" ng-show="!link.removed">
    <validator class="col-desktop-7 col-tablet-4 col-mobile-6" name="links[{{$index}}].head">
      <input type="text" name="links[{{$index}}].head" ng-model="link.head" placeholder="{{::'link.head' | message}}">
    </validator>
    <validator class="col-desktop-7 col-tablet-4 col-mobile-5" name="links[{{$index}}].url">
      <input type="text" name="links[{{$index}}].url" ng-model="link.url" placeholder="{{::'link.url' | message}}" ng-pattern="/^((doi:)?10\.[\.0-9]+|ftp:/|http:/|https:/)//" ng-change="volumeEditLinksForm.change()">
    </validator>
    <button class="mini icon trash" ng-if="$index < volumeEditLinksForm.data.length-1" ng-click="volumeEditLinksForm.remove(link)"></button>
  </fieldset>
</ng-form>
