// styles

.panel-excerpts-player-frame
  background neutral52
  border-radius b4 b12 b12 b12
  padding f8

  .tool
    float right

  a
    color inherit

  img
  video
    margin-bottom 0
    width 100%
    height auto
    display block

.panel-excerpts-player-heading
  font-weight normal
  margin-top 0
  font-size b23
  line-height b23
  padding-left f8
  text-overflow ellipsis
  overflow hidden

  span
    vertical-align super
  img
    width auto
    height 18px
    float left
    margin-right f6
    margin-top f6
  .icon.release
    margin-top 1px

.panel-excerpts-list
  figure
    background-color mix(neutral51, white, 10%)
    margin-bottom 0
    cursor pointer
    size 109px
    border-radius b8
  .figmedia
    height initial

.panel-excerpts-type
  padding-left f3
  display block
  text-transform capitalize
  span
    text-transform uppercase
  span.info
    margin-left b3

.panel-excerpts-box
  display inline-block
  padding-left f3
  padding-right f3
  font-size b2
  line-height b2

.panel-excerpts-binder
  background-color neutral51
  transition transition-def
  padding f8 f1 f8 f8
  margin-bottom f1
  border-radius b12
  position relative
  figure.no-thumbnail
    .figmedia
      padding b8

.panel-excerpts-list-current
  background-color neutral52

.panel-excerpts-icon
  position relative
  cursor pointer

.panel-excerpts-video-overlay
  display block
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background url('/web/images/overlay-video.png') no-repeat center center
  background-size contain
  opacity f2

.panel-excerpts-actions
  float right
  position absolute
  width 16px
  top b8
  right b4
  img
    height initial
  .icon
    background-size contain