<ng-form name="fundingGrantForm">
  <fieldset class="skinny clean">
    <fieldset class="skinny clean">
      <div class="agency-heading-no-hover">
        <span ng-bind="::funding.funder.name"></span>
      </div>
    </fieldset>
    <label message="funding.awards"></label>

    <div ng-repeat="award in fundingGrantForm.data.awards track by $index" ng-show="award !== null">
      <validator name="funding.awards[{{$index}}]" noclientval>
        <input type="text" name="funding.awards[{{$index}}]" ng-model="fundingGrantForm.data.awards[$index]" placeholder="{{::'funding.awards.placeholder' | message}}" ng-change="fundingGrantForm.awardChange()">
        <button ng-click="fundingGrantForm.awardRemove($index)" class="icon trash mini pull">        </button>
      </validator>
    </div>
  </fieldset>

</ng-form>
