@(title : String = "", css : Html = Html(""), js : Html = Html(""))(body : Html)(implicit request : RequestObject[SitePage]#Site[_])

    @script = {}

@template.html5(title, css, script += js, Some(request)) {
    @region.bodyHeaderSearch()

    <div class="row">
        <main id="body_main" class="main column_full">
            <article class="@request.obj.getClass.getName.split("\\.").last.toLowerCase @request.obj.pageActions.filter(a => request.path.toString() == a._2.toString()).map(a => a._1).headOption.getOrElse("").replaceAll(" ", "-").toLowerCase">
                <header>
                    <h1>@request.obj.pageName</h1>

                    <nav class="menu">
                        <ul class="breadcrumbs">
						@Path(request.obj).toHtml
                        </ul>

                        <ul class="actions">
                        @request.obj.pageActions.map { case (title, route, permission) =>
                            <li class="@{
                                if(request.path.toString() == route.toString()) {
                                    "current"
                                }
                            }">
                            @if(route.method != "GET") {
                                @tag.form(route) {
                                    <button type="submit" class="link">@title</button>
                                }
                            } else {
                                <a href="@route" alt="@title">@title</a>
                            }
                            </li>
                        }
                        </ul>
                    </nav>
                </header>

                @body
            </article>
        </main>
    </div>
}
