@(title : String = "The Databrary Project", css: Html = Html(""), js: Html = Html(""), request : Option[SiteRequest[_]])(body : Html)
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>@title || Databrary</title>

        <!-- icons -->
        <link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("icons/apple-touch-icon-114x114.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("icons/apple-touch-icon-72x72.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("icons/apple-touch-icon.png")">

        <!-- css -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">

        @if(css.body != ""){
            <style>
                @css
            </style>
        }

        <!-- js -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script>
            if (!window.jQuery) {
                document.write('<script src="@routes.Assets.at("javascripts/libs/jquery/jquery-1.10.2.min.js")"><\/script>');
            }
        </script>

		<script src="@routes.Assets.at("javascripts/main.js")"></script>

        <script>
        $(document).ready(function () {
            @request.flatMap(_.user).fold {
                dbjs.ajaxModal('#modal_login_link', '/ajax/modal/login', true);
            } { u =>
                dbjs.ajaxModal('#modal_profile_link', '/ajax/modal/profile', true);
            }

            @js
        });
        </script>

        <!--[if lt IE 9]><script src="@routes.Assets.at("javascripts/libs/html5shiv/html5shiv.min.js")"></script><![endif]-->
	</head>

	<body>
		@region.siteHeader(request)

        <div id="site_content" class="site_content page">
            <div class="wrap">
                @body
            </div>
        </div>

        @region.siteFooter()

        <section id="messages"></section>
        <section id="forms"></section>
	</body>
</html>

