@(title : String = "The Databrary Project", css: Html = Html(""), js: Html = Html(""), request : Option[SiteRequest[_]])(body : Html)
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>@title || Databrary</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        @css

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="assets/javascripts/libs/jquery/jquery-1.10.2.min.js"><\/script>');
            }
        </script>
		<script src="@routes.Assets.at("javascripts/main.js")"></script>
        @js

        <!--[if lt IE 9]><script src="@routes.Assets.at("javascripts/libs/html5shiv/html5shiv.min.js")"></script><![endif]-->
	</head>

	<body>
		@region.siteHeader()

        <div id="site_body" class="page">
            <div class="wrapper">
                @body
            </div>
        </div>

        @region.siteFooter()

		@region.siteHeaderNav(request)
	</body>
</html>

