@(title : String = "", css: Html = Html(""), js: Html = Html(""))(body : Html)(sidebar : Html = Html(""))(implicit request: SiteRequest[_])

@script = {
    dbjs.sideMenu('.sidebar_menu', 'main > article > h1:first-child');
}

@template.html5(title, css, script+=js, Some(request)) {
    @region.bodyHeaderSearch()

    <div class="row">
        <main id="body_main" class="main col-desktop-8 push-desktop-3 col-laptop-8 push-laptop-1 col-tablet-6 col-mobile-6">
            @body
        </main>

        <aside id="body_sidebar" class="col-desktop-2 col-laptop-2 col-tablet-2">
            @widget.staticLinks()
            @sidebar
        </aside>
    </div>
}
