<panel ng-controller="CommentsPanel" id="panel_comments" panel-title="{{'comments.title' | message}}" fold>
  <panel-mode name="view" active>
    <comment-reply-form ng-if="getReply(undefined)"></comment-reply-form>

    <article bindonce ng-repeat="comment in comments" class="comment" ng-class="getCommentClasses(comment)">
      <div class="row">
        <div class="col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6">
          <footer class="comment_meta" ng-init="party = commentParty(comment)">
            <portrait class="portrait_vertical portrait_small portrait_more" extra="{{commentMeta(comment)}}"></portrait>
          </footer>

          <div class="comment_body" bo-html="comment.text | format"></div>

          <div class="comment_body" ng-if="!comment.stop && !getReply(comment)">
            <button ng-click="setReply(comment)" class="mini">{{'comments.reply' | message}}</button>
          </div>
        </div>
      </div>

      <comment-reply-form ng-if="getReply(comment)"></comment-reply-form>
    </article>
  </panel-mode>
</panel>
