<panel ng-controller="NetworkPanel" id="panel_network" panel-title="{{'network.title' | message}}" fold>
  <div class="network_parents_region">
    <h2>{{'auth.parents.title' | message}}</h2>

    <article class="network-auth cf" bindonce ng-repeat="parent in partyAuth.parents">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar" ng-click="openAuthParent(parent)">
            <figmedia><img ng-src="{{page.router.partyAvatar(parent.party, 54)}}"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
          <div class="row">
            <div class="network-heading col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
              <a bo-href="page.router.party(parent.party)" class="network-auth-username">{{parent.party.name}}</a>
              <span class="network-auth-email" bo-if="parent.party.email">{{parent.party.email}}</span>
              <span class="icon edit line" ng-click="openAuthParent(parent)" ng-if="auth.hasAccess('ADMIN', party) && parent.force && currentAuthParent != parent"></span>
            </div>

            <div ng-if="currentAuthParent != parent && auth.hasAccess('ADMIN', party)">
              <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                <div class="network-auth-heading" bo-html="'auth.inherit' | message:'Their'"></div>
                <div class="network-auth-inherit" ng-bind-html="'auth.inherit.'+page.constants.data.permission[parent.inherit].name | message:'their'"></div>
              </div>

              <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5" bo-if="parent.institution || parent.direct !== 0">
                <div class="network-auth-heading" bo-html="'auth.direct' | message:'Their'"></div>
                <div class="network-auth-direct" ng-bind-html="'auth.direct.'+page.constants.data.permission[parent.direct].name | message:'their'"></div>
              </div>

              <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5" bo-if="!parent.institution && parent.direct === 0">
                &nbsp;
              </div>

              <div class="col-desktop-6 col-laptop-3 col-tablet-2 col-mobile-5">
                <div class="network-auth-heading expiration" bo-html="'auth.expiration' | message"></div>
                <div class="network-auth-expiration" ng-bind-html="parent.expires | date:'longDate'"></div>
                <div class="network-auth-expiration" ng-if="!parent.expires && parent.authorized" ng-bind-html="'auth.expiration.none' | message"></div>
                <div class="network-auth-expiration" ng-if="!parent.authorized" ng-bind-html="'auth.pending' | message"></div>
              </div>
            </div>

            <div ng-if="currentAuthParent == parent">
              <div class="col-desktop-12 col-laptop-10 col-tablet-8 col-mobile-5">
                <div ng-if="currentAuthParent.remote">
                    <auth-grant-form></auth-grant-form>
                </div>

                <div ng-if="!currentAuthParent.remote">
                    <auth-apply-form></auth-apply-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article ng-if="auth.hasAccess('ADMIN', party) || (!party.institution && !partyAuth.children[auth.user.id])" class="network-auth network-auth-add cf" bindonce>
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar">
            <figmedia><img src="/public/images/network/auth-add.png"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
            <div ng-if="auth.hasAccess('ADMIN', party)">
              <auth-search-form party="{{party.id}}"></auth-search-form>
            </div>

            <div ng-if="!auth.hasAccess('ADMIN', party) && !partyAuth.children[auth.user.id]">
              <a href="" class="remote-action" ng-click="remoteAction(false)" bo-html="'network.remote.grant' | message:party.name"></a>
            </div>
        </div>
      </div>
    </article>
  </div>

  <div class="network_children_region">
    <h2>{{'auth.children.title' | message}}</h2>

    <article class="network-auth cf" bindonce ng-repeat="child in partyAuth.children">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar" ng-click="openAuthChild(child)">
            <figmedia><img ng-src="{{page.router.partyAvatar(child.party, 54)}}"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
          <div class="row">
            <div class="network-heading col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
              <a bo-href="page.router.party(child.party)" class="network-auth-username" bo-html="child.party.name"></a>
              <span class="network-auth-email" bo-if="child.party.email" bo-html="child.party.email"></span>
              <span class="icon edit line" ng-click="openAuthChild(child)" ng-if="auth.hasAccess('ADMIN', party) && currentAuthChild != child"></span>
            </div>

            <div ng-if="currentAuthChild != child && auth.hasAccess('ADMIN', party)">
              <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                <div class="network-auth-heading" bo-html="'auth.direct' | possessive:party"></div>
                <div class="network-auth-direct" ng-bind-html="'auth.direct.'+page.constants.data.permission[child.direct].name | possessive:party"></div>
              </div>

              <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                <div class="network-auth-heading" bo-html="'auth.inherit' | possessive:party"></div>
                <div class="network-auth-inherit" ng-bind-html="'auth.inherit.'+page.constants.data.permission[child.inherit].name | possessive:party"></div>
              </div>

              <div class="col-desktop-6 col-laptop-3 col-tablet-2 col-mobile-5">
                <div class="network-auth-heading expiration" bo-html="'auth.expiration' | message"></div>
                <div class="network-auth-expiration" ng-bind-html="child.expires | date:'longDate'"></div>
                <div class="network-auth-expiration" ng-if="!child.expires && child.authorized" ng-bind-html="'auth.expiration.none' | message"></div>
                <div class="network-auth-expiration" ng-if="!child.authorized" ng-bind-html="'auth.pending' | message"></div>
              </div>
            </div>

            <div ng-if="currentAuthChild == child">
              <div class="col-desktop-12 col-laptop-10 col-tablet-8 col-mobile-5">
                <div ng-if="currentAuthChild.remote">
                    <auth-apply-form></auth-apply-form>
                </div>

                <div ng-if="!currentAuthChild.remote">
                    <auth-grant-form></auth-grant-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article ng-if="auth.hasAccess('ADMIN', party) || !partyAuth.parents[auth.user.id]" class="network-auth network-auth-add cf" bindonce>
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure baseline="square" class="figure_avatar">
            <figmedia><img src="/public/images/network/auth-add.png"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
            <div ng-if="auth.hasAccess('ADMIN', party)">
              <auth-search-form child party="{{party.id}}"></auth-search-form>
            </div>

            <div ng-if="!auth.hasAccess('ADMIN', party)">
              <a href="" class="remote-action" ng-click="remoteAction(true)" bo-html="'network.remote.apply' | message:party.name"></a>
            </div>
        </div>
      </div>
    </article>
  </div>
</panel>

