<panel ng-controller="NetworkPanel" id="panel_network" title="Network" fold>
    <panel-mode name="view" active>
        <div ng-show="parents">
            <h2>Authorized by</h2>

            <div class="row">
                <div ng-repeat="party in parents" class="col-desktop-3 col-laptop-3 col-tablet-3 col-mobile-3">
                    <portrait class="portrait_avatar" hover></portrait>
                </div>
            </div>
        </div>

        <div ng-show="children">
            <h2>People I've Authorized</h2>

            <div class="row">
                <div ng-repeat="party in children" class="col-desktop-3 col-laptop-3 col-tablet-3 col-mobile-3">
                    <portrait class="portrait_avatar" hover></portrait>
                </div>
            </div>
        </div>
    </panel-mode>

    <panel-mode name="apply" access="CONTRIBUTE">
        <h2>Authorized by</h2>

        <article ng-if="!parents">
            <p>You are not authorized by anyone yet.</p>
        </article>

        <article class="network-auth cf" bindonce ng-repeat="parent in partyAuth.parents">
            <div class="row">
                <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                    <figure baseline="square" class="figure_avatar" ng-click="openAuthParent(parent, authForm)">
                        <figmedia><img ng-src="{{router.partyAvatar(parent.party, 54)}}"></figmedia>
                    </figure>
                </div>

                <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                    <div class="row">
                        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                            <span class="network-auth-username" bo-html="parent.party.name"></span>
                            <span class="network-auth-email" bo-if="parent.party.email" bo-html="parent.party.email"></span>
                        </div>

                        <div ng-hide="currentAuthParent == parent">
                            <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                                <div class="network-auth-heading">Databrary</div>
                                <div class="network-auth-inherit" ng-bind-html="constant.data.permission[parent.inherit].inherit | possessive:party"></div>
                            </div>

                            <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5" bo-if="parent.institution && parent.direct !== 0">
                                <div class="network-auth-heading" bo-html="'{0} Data' | possessive:party"></div>
                                <div class="network-auth-direct" ng-bind-html="constant.data.permission[parent.direct].direct | possessive:party"></div>
                            </div>

                            <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5" bo-if="!parent.institution || parent.direct === 0">
                                &nbsp;
                            </div>

                            <div class="col-desktop-6 col-laptop-3 col-tablet-2 col-mobile-5">
                                <div class="network-auth-heading expiration">Expiration</div>
                                <div class="network-auth-expiration" ng-bind-html="parent.expires | date:'longDate'"></div>
                                <div class="network-auth-expiration" ng-if="!parent.expires && parent.authorized">N/A</div>
                                <div class="network-auth-expiration" ng-if="!parent.authorized">Request pending.</div>
                            </div>
                        </div>

                        <div ng-if="currentAuthParent == parent">
                            <div class="col-desktop-12 col-laptop-10 col-tablet-8 col-mobile-5">
                                <form name="authForm">
                                    <fieldset class="clean">
                                        <legend>Request <span bo-html="parent.party.name"></span> grant the following capabilities:</legend>

                                        <div ng-repeat="preset in getPresets(parent)">
                                            <input type="radio" name="shortcut" ng-checked="presetSelected(parent, preset)" ng-click="setPreset(parent, preset)">
                                            <label class="option" bo-html="preset.name"></label>
                                        </div>
                                    </fieldset>

                                    <fieldset class="clean">
                                        <input type="hidden" name="id" bo-value="parent.id">

                                        <button ng-click="saveAuthParent()" class="second">Request</button>
                                        <button ng-click="closeAuthParent()" class="first">Cancel</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="network-auth network-auth-add cf" bindonce>
            <div class="row">
                <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                    <figure baseline="square" class="figure_avatar">
                        <figmedia><img src="/public/images/network/auth-add.png"></figmedia>
                    </figure>
                </div>

                <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                    <div class="row">
                        <form name="searchAuth" class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                            <input type="search" class="auth-search" placeholder="Search for authorizing agent..." ng-model="searchAuth.name" ng-change="searchParties(searchAuth)">

                            <ul>
                                <li ng-repeat="found in searchAuth.found">
                                    <a href="#" class="auth-found" ng-click="selectFound(found, searchAuth)">{{found.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </panel-mode>

    <panel-mode name="authorize" access="CONTRIBUTE">
        <h2>People I've Authorized</h2>

        <article ng-if="!children">
            <p>You have not authorized anyone yet.</p>
        </article>

        <article class="network-auth cf" bindonce ng-repeat="child in partyAuth.children">
            <div class="row">
                <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                    <figure baseline="square" class="figure_avatar" ng-click="openAuthChild(child, authForm)">
                        <figmedia><img ng-src="{{router.partyAvatar(child.party, 54)}}"></figmedia>
                    </figure>
                </div>

                <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                    <div class="row">
                        <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                            <span class="network-auth-username" bo-html="child.party.name"></span>
                            <span class="network-auth-email" bo-if="child.party.email" bo-html="child.party.email"></span>
                        </div>

                        <div ng-hide="currentAuthChild == child">
                            <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                                <div class="network-auth-heading" bo-html="'{0} Data' | possessive:party"></div>
                                <div class="network-auth-direct" ng-bind-html="constant.data.permission[child.direct].direct | possessive:party"></div>
                            </div>

                            <div class="col-desktop-4 col-laptop-4 col-tablet-3 col-mobile-5">
                                <div class="network-auth-heading">Databrary</div>
                                <div class="network-auth-inherit" ng-bind-html="constant.data.permission[child.inherit].inherit | possessive:party"></div>
                            </div>

                            <div class="col-desktop-6 col-laptop-3 col-tablet-2 col-mobile-5">
                                <div class="network-auth-heading expiration">Expiration</div>
                                <div class="network-auth-expiration" ng-bind-html="child.expires | date:'longDate'"></div>
                                <div class="network-auth-expiration" ng-if="!child.expires">N/A</div>
                            </div>
                        </div>

                        <div ng-if="currentAuthChild == child">
                            <div class="col-desktop-12 col-laptop-10 col-tablet-8 col-mobile-5">
                                <form name="authForm">
                                    <fieldset class="clean">
                                        <legend>Grant <span bo-html="child.party.name"></span> the following capabilities:</legend>

                                        <div ng-repeat="preset in getPresets(child)">
                                            <input type="radio" name="shortcut" ng-checked="presetSelected(child, preset)" ng-click="setPreset(child, preset)">
                                            <label class="option" bo-html="preset.name"></label>
                                        </div>
                                    </fieldset>

                                    <div class="row">
                                        <div class="col-desktop-6 col-laptop-5 col-tablet-4 col-mobile-5">
                                            <fieldset ng-disabled="!child.preset.custom" class="boxed">
                                                <legend bo-html="'{0} Data' | possessive:party"></legend>

                                                <div ng-repeat="permission in constant.data.permission">
                                                    <input type="radio" ng-model="child.direct" name="direct" ng-value="permission.id" ng-selected="permission.id == child.direct">
                                                    <label bo-html="constant.data.permission[permission.id].direct | possessive:party" class="option"></label>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <div class="col-desktop-6 col-laptop-5 col-tablet-4 col-mobile-5">
                                            <fieldset ng-disabled="!child.preset.custom" class="boxed">
                                                <legend>Databrary</legend>

                                                <div ng-repeat="permission in constant.data.permission">
                                                    <input type="radio" ng-model="child.inherit" name="inherit" ng-value="permission.id" ng-selected="permission.id == child.inherit">
                                                    <label bo-html="constant.data.permission[permission.id].inherit | possessive:party" class="option"></label>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <fieldset class="clean">
                                        <label>Expiration:</label>

                                        <input type="date" ng-model="child.expiration" class="network-auth-expiration-input">

                                        <button ng-click="child.expiration = ''" ng-if="auth.hasAuth('SUPER')" class="third network-auth-expiration-button">Clear expiration</button>
                                    </fieldset>

                                    <fieldset class="clean">
                                        <input type="hidden" name="id" bo-value="child.id">

                                        <button ng-click="saveAuthChild()" class="second" ng-if="!child.authorized">Authorize</button>
                                        <button ng-click="denyAuthChild()" class="third" ng-if="!child.authorized && !child.force">Revoke</button>

                                        <button ng-click="saveAuthChild()" class="second" ng-if="child.authorized">Update</button>

                                        <button ng-click="closeAuthChild()" class="first">Cancel</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="network-auth network-auth-add cf" bindonce>
            <div class="row">
                <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                    <figure baseline="square" class="figure_avatar">
                        <figmedia><img src="/public/images/network/auth-add.png"></figmedia>
                    </figure>
                </div>

                <div class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                    <div class="row">
                        <form name="searchAuth" class="col-desktop-14 col-laptop-11 col-tablet-8 col-mobile-5">
                            <input type="search" class="auth-search" placeholder="Search for authorizing agent..." ng-model="searchAuth.name" ng-change="searchParties(searchAuth)">

                            <ul>
                                <li ng-repeat="found in searchAuth.found">
                                    <a href="#" class="auth-found" ng-click="selectFound(found, searchAuth, true)">{{found.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </panel-mode>
</panel>

