<panel ng-controller="OverviewPartyPanel" top id="panel_overview" title="Overview">
    <panel-mode name="view" active>
        <figure class="panel_overview_thumbnail" baseline="square" absolute>
            <figmedia><img ng-src="{{router.partyAvatar(party, 400)}}"></figmedia>
        </figure>

        <h1 class="panel_title">{{party.name}}</h1>

        <div frame id="frame_contact" title="Contact" fold>
            <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
                <div class="metadata">
                    <dl class="flat">
                        <dt ng-if="party.email">Email</dt>
                        <dd ng-if="party.email"><a ng-href="mailto:{{party.email}}" title="Email {{party.name}}">{{party.email}}</a></dd>

                        <dt ng-if="party.orcid">ORCiD</dt>
                        <dd ng-if="party.orcid"><a ng-href="{{party.orcid}}" title="{{party.name}} on ORCID">{{party.orcid}}</a></dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="temporary">
            <a class="button mini" ng-href="{{router.partyEdit(party)}}">edit</a>
            <a class="button mini" ng-href="{{router.partyAuthorize(party)}}">authorize</a>
        </div>
    </panel-mode>
</panel>
