<panel ng-controller="OverviewPartyPanel" top id="panel_overview" panel-title="{{'party.overview.title' | message}}" bindonce>
    <panel-mode name="view" active>
        <div class="row row_relative">
            <div class="col-full">
                <figure class="panel_overview_thumbnail" baseline="square" absolute>
                    <figmedia><img ng-src="{{router.partyAvatar(party, 400)}}"></figmedia>
                </figure>
            </div>
        </div>

        <hgroup class="row">
            <h1 class="panel_title col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6 col-cell">{{party.name}}</h1>
        </hgroup>

	    <div frame id="frame_contact" title="{{'party.contact.title' | message}}" fold ng-if="party.email || party.orcid">
            <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
                <div class="metadata">
                    <dl class="flat">
			<dt bo-if="party.email" bo-html="'email' | message"/>
			<dd bo-if="party.email"><a bo-href="'mailto:'+party.email" bo-html="party.email"></a></dd>

                        <dt bo-if="party.orcid" bo-html="'orcid' | message"/>
			<dd bo-if="party.orcid"><a bo-href="party.orcid" bo-html="party.orcid"></a></dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="temporary">
            <a class="button mini" ng-if="auth.hasAccess('CONTRIBUTE', party)" bo-href="router.partyEdit(party)" target="_self">edit</a>
            <a class="button mini" ng-if="auth.hasAccess('ADMIN', party)" bo-href="router.partyAuthorize(party)" target="_self">authorize</a>
        </div>
    </panel-mode>
</panel>
