<panel ng-controller="OverviewVolumePanel" top id="panel_overview" panel-title="{{'volume.overview.title' | message}}" ng-mouseover="hoverPanel()" bindonce>
  <div class="row">
    <div class="col-desktop-9 col-laptop-8 col-tablet-6 col-mobile-6">
      <hgroup>
        <div ng-if="page.auth.hasAccess('ADMIN', volume) && volume.alias" class="panel_title_alias" bo-text="volume.alias"></div>
        <h1 class="panel_title" ng-bind-html="volume.name | format:true"></h1>
      </hgroup>

      <div>
        <div ng-if="volume.citation" frame id="frame_citation" frame-title="{{'volume.citation.title' | message}}" fold>
          <p class="citation">
            <a bo-href="volume.citation.url | handle" ng-title="volume.citation.title" target="_blank">
              {{volume.citation.head}}
            </a>
          </p>
        </div>

        <div frame id="frame_metadata" frame-title="{{'volume.metadata.title' | message}}" fold>
          <div class="description" ng-bind-html="volume.body | format"></div>

          <div class="metadata">
            <dl class="flat">
              <dt>{{'volume.creation.title' | message}}</dt>
              <dd>
                <time datetime="{{volume.creation | date:'yyyy-MM-dd HH:mm:ss Z'}}" pubdate>{{volume.creation | date:'MMMM yyyy'}}</time>
              </dd>

              <dt>{{'volume.sessions.title' | message}}</dt>
              <dd>{{'volume.sessions' | message:volume.summary.sessions:volume.summary.shared}}</dd>

              <dt ng-if="volume.summary.agemean > 0">{{'volume.ages.title' | message}}</dt>
              <dd ng-if="volume.summary.agemean > 0">{{ageSummary(volume.summary)}}</dd>
            </dl>
          </div>
        </div>

        <div frame id="frame_link" frame-title="{{'volume.link.title' | message}}" fold>
          <p ng-bind-html="volume | cite" class="citation"></p>
        </div>
      </div>
    </div>

    <div class="col-desktop-6 col-laptop-4 col-tablet-3 col-mobile-6">
      <div class="panel_overview_thumbnail_wrap">
        <img class="panel_overview_thumbnail" ng-src="{{page.router.volumeThumb(volume)}}">
      </div>

      <div ng-if="volume.citation.authors" frame id="frame_authors" frame-title="{{'volume.authors.title' | message}}" fold>
        <ul class="comma">
          <li ng-repeat="author in volume.citation.authors">{{author}}</li>
        </ul>
      </div>

      <div frame id="frame_people" frame-title="{{'volume.contributors.title' | message}}" fold>
        <div class="row">
          <div ng-repeat="volumeAccess in volume.access | filter:isContributor" class="col-desktop-3 col-laptop-4 col-tablet-3 col-mobile-3" ng-init="party = volumeAccess.party">
            <portrait class="portrait_vertical portrait_small"></portrait>
          </div>
        </div>
      </div>

      <div frame id="frame_access" frame-title="{{'volume.access.title' | message}}" fold>
        <div class="row">
          <div ng-repeat="volumeAccess in volume.access | filter:isShared" class="col-desktop-3 col-laptop-4 col-tablet-3 col-mobile-3" ng-init="party = volumeAccess.party">
            <aside class="portrait portrait_vertical portrait_small ng-cloak" tooltip tooltip-message="{{shareMessage(volumeAccess)}}">
              <figure baseline="square" class="figure_avatar" ng-href="{{page.router.party(party)}}">
                <figmedia><img ng-src="{{page.router.partyAvatar(party, 216)}}"></figmedia>
              </figure>

              <div class="portrait_info">
                <a class="portrait_name" ng-href="{{page.router.party(party)}}">{{party.name}}<span ng-if="volumeAccess.access == 1" class="icon line view"></span></a>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <div frame id="frame_funding" frame-title="{{'volume.funding.title' | message}}" fold>
        <dl class="fund_list" ng-repeat="funding in volume.funding">
          <dt bo-text="funding.funder.name"></dt>
          <dd ng-repeat="award in funding.awards" bo-text="award"></dd>
        </dl>
      </div>

      <div frame id="frame_reuse" frame-title="{{'volume.reuse.title' | message}}" fold ng-if="hasProps(volume, 'consumers') || hasProps(volume, 'providers')">
        <div class="row">
          <div class="col-desktop-6 col-laptop-4 col-tablet-3 col-mobile-6">
            <div bo-if="hasProps(volume, 'consumers')">
              <div bo-html="'volume.reuse.provides' | message"></div>

              <ul class="reuse_list">
                <li ng-repeat="ext in volume.consumers">
                  <a bo-href="page.router.volume({id: ext.id})"><img src="/public/images/browser/icon-study.png">
                    <span bo-text="ext.name"></span></a>
                </li>
              </ul>
            </div>

            <div bo-if="hasProps(volume, 'providers')">
              <div bo-html="'volume.reuse.consumes' | message"></div>

              <ul class="reuse_list">
                <li ng-repeat="ext in volume.providers">
                  <a bo-href="page.router.volume({id: ext.id})"><img src="/public/images/browser/icon-dataset.png">
                    <span bo-text="ext.name"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>

