<panel ng-controller="RegisterPanel" top id="panel_register" title="Register">
        <div class="row">
            <hgroup class="col-full">
                <h1 class="panel_context">Register</h1>
                <h2 class="panel_title with_context">Get Databrary Access</h2>
            </hgroup>

            <div class="col-full">
                <wizard retrieve="retrieveWizard">
                    <wizard-step id="register_create"
                        name="Create Account"
                        description="">
                    </wizard-step>

                    <wizard-step id="register_agreement"
                        name="Sign Agreement"
                        description="">
                    </wizard-step>

                    <wizard-step id="register_password"
                        name="Set Password"
                        description="">
                    </wizard-step>

                    <wizard-step id="register_agent"
                        name="Find Authorizing Agent"
                        description="">
                    </wizard-step>

                    <wizard-step id="register_request"
                        name="Request Authorization"
                        description="">
                    </wizard-step>

                    <wizard-step id="register_pending"
                        name="Stay Tuned"
                        description="">
                    </wizard-step>
                </wizard>
            </div>
        </div>
</panel>
