<panel ng-controller="RegisterPanel" top id="panel_register" title="Register">
        <div class="row">
            <hgroup class="col-full">
                <h1 class="panel_context">Register</h1>
                <h2 class="panel_title with_context">Get Databrary Access</h2>
            </hgroup>

            <div class="col-full">
                <div class="temporary">
                    <input type="checkbox" ng-model="password">
                </div>
                <wizard retrieve="retrieveWizard" linear>
                    <wizard-step id="register_create"
                        name="Create Account"
                        description="Register to browse shared data and comment on datasets.">
                        <form name="registerForm">
                            <label for="field_name">Name</label>
                            <input id="field_name" type="text" ng-model="data.name" ng-minlength="3">

                            <label for="field_email">Email</label>
                            <input id="field_email" type="text" ng-model="data.email" ng-pattern="regexEmail">

                            <label for="field_affiliation">Affiliation</label>
                            <input id="field_affiliation" type="text" ng-model="data.affiliation" ng-minlength="3">

                            <button class="second" type="submit" ng-disabled="!testProceed(registerForm)" ng-click="proceed(registerForm)">Continue</button>
                            <button class="first" type="reset">Reset</button>
                        </form>
                    </wizard-step>

                    <wizard-step id="register_agreement"
                        name="Sign Agreement"
                        description="Learn about the responsibilities of all Databrary members.">
                        <div class="register_agreement_pages" ng-switch on="agreement.page">
                            <div class="register_agreement_page" ng-switch-when="1">
                                Page 1
                            </div>

                            <div class="register_agreement_page" ng-switch-when="2">
                                Page 2
                            </div>

                            <div class="register_agreement_page" ng-switch-when="3">
                                Page 3
                            </div>

                            <div class="register_agreement_page" ng-switch-when="4">
                                Page 4
                            </div>
                        </div>

                        <button class="second" ng-click="proceed()" ng-show="agreement.page >= agreement.pages">Register</button>

                        <button class="second" ng-click="next()" ng-show="agreement.page < agreement.pages">Agree</button>
                        <button class="third" ng-click="back()" ng-show="agreement.page > 1">Back</button>
                    </wizard-step>

                    <wizard-step id="register_email"
                        name="Confirm Email"
                        description="Confirm your email address to continue.">
                        <p>Great! You will be sent an email. Click the link.</p>
                    </wizard-step>

                    <wizard-step id="register_password"
                        name="Set Password"
                        description="Confirm your email address and select a password.">
                        <form name="passwordForm">
                            <label for="field_password_once">Name</label>
                            <input id="field_password_once" type="text" ng-model="data.once">

                            <label for="field_password_again">Email</label>
                            <input id="field_password_again" type="text" ng-model="data.again">

                            <button class="second" type="submit" ng-disabled="!testProceed(passwordForm)" ng-click="proceed(passwordForm)">Continue</button>
                            <button class="first" type="reset">Reset</button>
                        </form>
                    </wizard-step>

                    <wizard-step id="register_agent"
                        name="Find Authorizing Agent"
                        description="Select a party to petition for advanced Databrary use.">
                    </wizard-step>

                    <wizard-step id="register_request"
                        name="Request Authorization"
                        description="Request authorization from selected party.">
                    </wizard-step>

                    <wizard-step id="register_pending"
                        name="Stay Tuned"
                        description="Tips for exploring Databrary.">
                    </wizard-step>
                </wizard>
            </div>
        </div>
</panel>
