<panel ng-controller="RegisterPanel" top id="panel_register" title="Register">
        <div class="row">
            <hgroup class="col-full">
                <h1 class="panel_context">Register</h1>
                <h2 class="panel_title with_context">Get Databrary Access</h2>
            </hgroup>

            <div class="col-full">
                <wizard retrieve="retrieveWizard" linear>
                    <wizard-step id="register_create"
                        name="Create Account"
                        description="Register to browse shared data and comment on datasets.">
                    </wizard-step>

                    <wizard-step id="register_agreement"
                        name="Sign Agreement"
                        description="Learn about the responsibilities of all Databrary members.">
                    </wizard-step>

                    <wizard-step id="register_email"
                        name="Confirm Email"
                        description="Confirm your email address to continue.">
                    </wizard-step>

                    <wizard-step id="register_password"
                        name="Set Password"
                        description="Confirm your email address and select a password.">
                    </wizard-step>

                    <wizard-step id="register_agent"
                        name="Find Authorizing Agent"
                        description="Select a party to petition for advanced Databrary use.">
                    </wizard-step>

                    <wizard-step id="register_request"
                        name="Request Authorization"
                        description="Request authorization from selected party.">
                    </wizard-step>

                    <wizard-step id="register_pending"
                        name="Stay Tuned"
                        description="Tips for exploring Databrary.">
                    </wizard-step>
                </wizard>
            </div>
        </div>
</panel>
