<panel bindonce ng-controller="WelcomePanel" top id="panel_welcome" panel-title="{{'welcome.title' | message}}" fold>
    <panel-mode name="view" active>
        <hgroup class="col-full">
            <h1 class="panel_context">{{'welcome.title' | message}}</h1>
            <h2 class="panel_title with_context">{{'welcome.title.sub' | message}}</h2>
        </hgroup>

        <div class="col-full">
            <div bo-html="'welcome.body' | message | format"></div>
            <p>Would you like to <a ng-href="{{router.login()}}">login</a>?</p>
        </div>
    </panel-mode>
</panel>
