@(request: Option[SiteRequest[_]])

@widget.toolbars.toolbar("about"){
    <div class="col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4 col-cell">
        <ul class="toolbar_menu toolbar_menu_left">
            <li><a href="@routes.Static.about" title="About the Project">About</a></li>
            <li><a href="@routes.Static.team" title="">People</a></li>
            <li><a href="@routes.Static.policies" title="">Policies</a></li>
            <li><a href="@routes.Static.faq" title="">FAQ</a></li>
            <li><a href="@routes.Static.jobs" title="Join Our Team">Jobs</a></li>
            <li><a href="@routes.Static.contact" title="Contact Us">Contact</a></li>
        </ul>
    </div>


    <div class="col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2 col-cell">
        <ul class="toolbar_menu toolbar_menu_right">
            <li><a href="https://www.facebook.com/pages/Databrary/185349568273416" target="_blank" class="img"><img id="facebook" class="toolbar_img16" src="@routes.Assets.at("images/social/16px/facebook.png")" alt="Facebook"></a></li>
            <li><a href="https://plus.google.com/u/1/111083162045777800330/posts" target="_blank" class="img"><img id="google-plus" class="toolbar_img16" src="@routes.Assets.at("images/social/16px/google-plus.png")" alt="Google+"></a></li>
            <li><a href="https://twitter.com/databrary" target="_blank" class="img"><img id="twitter" class="toolbar_img16" src="@routes.Assets.at("images/social/16px/twitter.png")" alt="Twitter"></a></li>
            <li><a href="https://github.com/databrary/" target="_blank" class="img"><img id="github" class="toolbar_img16" src="@routes.Assets.at("images/social/16px/github.png")" alt="GitHub"></a></li>
        </ul>
    </div>
}