/logs/
/project/project/
target/
/tmp
/.history
/dist
/.idea
/*.iml
/out
/local.conf
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/hs_err_pid*.log
/store/
/cache/
unreset.dump
/prod.conf
/transcode/
/conf/check-*.sql
