@(asset : SlotAsset)(implicit request : SiteRequest[_])

@widget.panel.raw("overview", "panel_asset")(){
    <h1 class="col-full panel_title">@display.formatTitle(asset.pageName)</h1>

    @widget.frame.asset(asset)

    <div class="col-full panel_overview_actions">
        <ul class="breadcrumbs">
        @Path(asset).toHtml
        </ul>


        <ul class="actions">
	        <li><a href="@asset.pageURL">view</a></li>
	    @if(asset.permission >= Permission.EDIT && asset.slot.isFull) {
	        <li><a href="@controllers.routes.AssetHtml.edit(asset.assetId)">edit</a></li>
	        <li><a href="@controllers.routes.AssetHtml.remove(asset.assetId)">remove</a></li>
	    }
        </ul>
    </div>
}
