@(volume: Volume)(implicit request : SiteRequest[_])

@defining(Async.wait(volume.slotRecords)) { sessions =>
    @if(sessions.nonEmpty) {
        @widget.panel.raw("browser", "")(title = "Browser", foldable = true){
            @sessions.map { case (slot, records)  =>
                @defining(if(slot.consent == Consent.PRIVATE){"hide"}else{""}) { classes =>
                    <div class="col-desktop-3 col-laptop-3 col-tablet-3 col-mobile-3">
                        @widget.figure.thumbSession(slot, records, classes = classes)
                    </div>
                }
            }

            <div class="col-full">
                <p class="note">...and <a class="show_hidden">@sessions.filter(s => s._1.consent == Consent.PRIVATE).length other participants</a> who have elected not to share their data.</p>
            </div>
        }
    }
}
