@(volume: Volume, record: Option[Record] = None)(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._
@import play.api.libs.concurrent.Execution.Implicits.defaultContext

@defining(Async.wait(volume.records())) { records =>
    @if(records.nonEmpty){
        @widget.panel.raw("browser", "", "ng-controller" -> "BrowserPanelCtrl")(title = "Browser", foldable = true){
            <div class="col-full">
                <ul>
                    @records.map { case record =>
                                <li>@display(record)</li>
                    }
                </ul>
            </div>
        }
    }
}
