@(context : Option[Slot], post : Option[(Call, SlotHtml.CommentForm)], comments : Seq[Comment])(implicit request : SiteRequest[_])

@import helper.FieldConstructor
    @implicitField = @{
        FieldConstructor(widget.tag.minimalFieldConstructor.f)
    }

@if(post.nonEmpty || comments.nonEmpty) {
@widget.panel.raw("comments", "")(title = "Comments"){
    @post.map { case (post, form) =>
        @if(request.access >= Permission.VIEW) {
            <div class="comment col-full">
                <div class="row">
                    @widget.portrait.maximal(request.identity, "comment_author")

                    @widget.tag.form(post) {
                        <div class="col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6">
                            <div class="comment_meta row">
                                <div class="comment_info col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6 col-cell">
                                    <div class="inner">
                                        Post a comment...
                                    </div>
                                </div>
                            </div>
                            <div class="comment_body comment_form">
                                @widget.formErrors(form)

                                @widget.tag.textarea(form("text"), 'placeholder -> "Comment")

                                <button type="submit" class="button first">Post</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    }

    @comments.map { c =>
        <article class="comment col-full">
            <div class="row">
                @* col-3 *@
                @widget.portrait.maximal(c.who.party, "comment_author")

                <div class="col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6">
                    <div class="comment_meta row">
		    @if(!context.exists(_ === c)) {
                            @if(c.container.top) {
                                <div class="comment_info comment_location col-desktop-5 col-laptop-5 col-tablet-5 col-mobile-5 col-cell">
                                    <div class="inner">
                                        @display(c.volume) <span class="sep">|</span> @display(c.time)
                                    </div>
                                </div>

                                <div class="comment_location_thumb col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                                @widget.figure.thumbVolume(c.volume, scalar = "tube", link = c.volume.pageURL.url)
                                </div>
                            } else {
                                <div class="comment_info comment_location col-desktop-5 col-laptop-5 col-tablet-5 col-mobile-5 col-cell">
                                    <div class="inner">
                                        @display(c) <span class="sep">|</span> @display(c.time)
                                    </div>
                                </div>

                                <div class="comment_location_thumb col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
                                @widget.figure.thumbSlot(c, scalar = "tube", link = c.pageURL.url)
                                </div>
                            }
                    }else{
                        <div class="comment_info col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6 col-cell">
                            <div class="inner">
                                @display(c.time)
                            </div>
                        </div>
                    }
                    </div>

                    <div class="comment_body">
                        @display.plainText(c.text)
                    </div>
                </div>
            </div>
        </article>
    }
}
}
