@(context : Option[Slot], post : Option[CommentController.Form], comments : Seq[Comment])(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.minimalFieldConstructor.f)
}

@if(post.nonEmpty || comments.nonEmpty) {
@widget.panel.raw("comments", "", title = Messages("comments.title")){
    @post.map { form =>
        @if(request.access.site >= Permission.PUBLIC) {
            <div class="comment col">
                <div class="row">
                    <div class="col-desktop-3 col-tablet-3 col-mobile-3">
                      @widget.portrait(request.identity, "comment_author")
                    </div>

                    @widget.tag.form(form) {
                        <div class="col-desktop-6 col-tablet-6 col-mobile-6">
                            <div class="comment_meta row">
                                <div class="comment_info col-desktop-6 col-tablet-6 col-mobile-6 col-cell">
                                    <div class="inner">
                                        @Messages("comments.prompt")
                                    </div>
                                </div>
                            </div>
                            <div class="comment_body comment_form">
                                @widget.tag.textarea(form.text(), 'placeholder -> "Comment")

                                @widget.formErrors(form)
                                <button type="submit" class="button first">@Messages("comments.post")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    }

    @comments.map { c =>
        <article class="comment col">
            <div class="row">
                @* col-3 *@
                <div class="col-desktop-3 col-tablet-3 col-mobile-3">
                  @widget.portrait(c.who.party, "comment_author")
                </div>

                <div class="col-desktop-6 col-tablet-6 col-mobile-6">
                    <div class="comment_meta row">
                    @if(!context.exists(_ @> c)) {
                            @if(c.container.top) {
                                <div class="comment_info comment_location col-desktop-5 col-tablet-5 col-mobile-5 col-cell">
                                    <div class="inner">
                                        @display(c.volume) <span class="sep">|</span> @display(c.time)
                                    </div>
                                </div>

                                <div class="comment_location_thumb col-desktop-1 col-tablet-1 col-mobile-1">
                                @widget.figure("volume_"+c.volume.id, "figure_volume", link = c.volume.pageURL.url){
                                  <div class="image" style="background-image: url('@routes.VolumeController.thumb(c.volume.id)')"></div>
                                }
                                </div>
                            } else {
                                <div class="comment_info comment_location col-desktop-5 col-tablet-5 col-mobile-5 col-cell">
                                    <div class="inner">
                                        @display(c) <span class="sep">|</span> @display(c.time)
                                    </div>
                                </div>
                            }
                    }else{
                        <div class="comment_info col-desktop-6 col-tablet-6 col-mobile-6 col-cell">
                            <div class="inner">
                                @display(c.time)
                            </div>
                        </div>
                    }
                    </div>

                    <div class="comment_body">
                        @display.plainText(c.text)
                    </div>
                </div>
            </div>
        </article>
    }
}
}
