@(assets : Seq[AssetSlot])(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._

@if(assets.nonEmpty) {
    @widget.panel.raw("materials", "", title = Messages("materials")) {
        <div class="panel_materials_list col">
            <ul class="flat panel_materials_items">
            @if(assets.nonEmpty) {
                @assets.map { link =>
                        <li class="panel_materials_item @link.release">
                            <a href="@link.pageURL" class="filename">@link.pageName.@link.format.extension</a>
                            <span class="release">@link.release.toString.charAt(0)</span>
                            @cast[TimeseriesAssetSlot](link).map { ts =>
                              <span class="duration">ts.duration</span>
                            }
                        </li>
                }
            } else {
                <li class="empty">@Messages("materials.empty")</li>
            }
            </ul>
        </div>

        <div class="panel_materials_display col">
            @if(assets.nonEmpty) {
                <span></span>

                @assets.map { link =>
                    @cast[FileAssetSlot](link).filter(_.checkPermission(Permission.READ)).map { link =>
                        <div id="asset_@link.sourceId.toString" class="panel_materials_frame">
                            <h2>
                                @link.pageName.@link.format.extension <a href='@routes.AssetSlotController.download(link.containerId, link.segment, link.assetId, false)' class="link">download</a>
                            </h2>

                            @link.format.mimeSubTypes match {
                                case ("image", _) => {
                                    <img src='@routes.AssetSlotController.download(link.containerId, link.segment, link.assetId, true)'/>
                                }
                                case ("video", _) => {
                                    <video controls>
                                        <source src="@routes.AssetSlotController.download(link.containerId, link.segment, link.assetId, true)" type="@link.asset.format.mimetype">
                                    </video>

                                    @if(!link.isInstanceOf[TimeseriesAssetSlot]) {
                                        @Messages("asset.untranscoded")
                                    }
                                }
                                case ("text", "plain") => {
                                    <iframe src='@routes.AssetSlotController.download(link.containerId, link.segment, link.assetId, true)'/>
                                }
                                case _ => {
                                    @Messages("asset.display.unavailable")
                                }
                            }
                        </div>
                    }
                }
            }
        </div>
    }
}
