@(assets : Seq[SlotAsset], path : Boolean = false)(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._

@if(assets.nonEmpty) {
    @widget.panel.raw("materials", "", "ng-controller" -> "MaterialsPanelCtrl")(title = "Materials", foldable = true) {
        <div class="panel_materials_list col-full">
            <ul class="flat panel_materials_items">
            @if(assets.nonEmpty) {
                @assets.map { link =>
                    @defining(link.classification match {
                        case Classification.IDENTIFIED => "<strong>Notice!</strong> This file contains <em>identifying data</em> and should be treated with care."
                        case Classification.DEIDENTIFIED => "<strong>Notice!</strong> This file contains <em>no identifying data</em>."
                        case Classification.EXCERPT => "<strong>Notice!</strong> This file is <em>an excerpt</em>, and may be shared with the public at your discretion."
                        case Classification.MATERIAL => "<strong>Notice!</strong> This file is <em>a material</em>, contains no identifying data, and may be shared with the public at your discretion."
                        case _ => ""
                    }) { message =>
                        <li class="panel_materials_item @link.classification" ng-click="selectAsset(@link.sourceId)" ng-class="{active: currentAsset == @link.sourceId}">
                            <span class="filetype @link.format.extension"><img src="@routes.Assets.at("images/filetypes/16px/" + link.format.extension.getOrElse("_blank") + ".png")"></span>

                            @if(path) {
                                <span class="session">@display(link.slot)</span>

                                @defining(Async.wait(link.slot.records).filter(r => r.category.fold(false)(c => c == RecordCategory.Participant))) { parts =>
                                    @if(parts.nonEmpty) {
                                        with <span class="participant">@parts.map(r => raw("<a href='"+r.pageURL+"'>"+r.pageName+"</a>"))</span>
                                    }
                                }
                                /
                            }

                            <a href="@link.pageURL" class="filename">@link.pageName.@link.format.extension</a>

                        <span class="classification">@link.classification.toString.charAt(0)</span>

                            <span class="duration">@cast[SlotTimeseries](link).map(_.duration)</span>
                        </li>
                    }
                }
            } else {
                <li class="empty">There are no assets here.</li>
            }
            </ul>
        </div>

        <div class="panel_materials_display col-full">
            @if(assets.nonEmpty) {
                <span ng-init="currentAsset = @assets.head.sourceId.toString"></span>

                @assets.map { link =>
                    @if(link.checkPermission(Permission.DOWNLOAD)) {
                        <div id="asset_@link.sourceId.toString" ng-show="currentAsset == @link.sourceId" class="panel_materials_frame">
                            <h2>
                                @link.pageName.@link.format.extension <a href='@routes.SlotAssetHtml.download(link.slot.containerId, link.slot.segment, link.assetId, false)' class="link">download</a>
                            </h2>

                            @link.format.mimeSubTypes match {
                                case ("image", _) => {
                                    <img src='@routes.SlotAssetHtml.download(link.slot.containerId, link.slot.segment, link.assetId, true)'/>
                                }
                                case ("video", _) => {
                                    <video controls>
                                        <source src="@routes.SlotAssetHtml.download(link.slot.containerId, link.slot.segment, link.assetId, true)" type="@link.asset.format.mimetype">
                                    </video>

                                    @if(!link.isInstanceOf[SlotTimeseries]) {
                                        Warning: This video has not (yet) been converted to Databrary's standand format, so some features may not work.
                                    }
                                }
                                case ("text", "html") => {
                                    <iframe src='@routes.SlotAssetHtml.download(link.slot.containerId, link.slot.segment, link.assetId, true)'/>
                                }
                                case ("text", "plain") => {
                                    <iframe src='@routes.SlotAssetHtml.download(link.slot.containerId, link.slot.segment, link.assetId, true)'/>
                                }
                                case _ => {
                                }
                            }

                            @link.asset.body.map(display.plainText _)
                        </div>
                    }
                }
            }
        </div>
    }
}
