@(party : Party, volumes : Seq[Volume])(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._
@import play.api.libs.concurrent.Execution.Implicits.defaultContext

@defining(volumes.map(v => (v, Async.wait(v.partyAccess).filter(a => a.access >= Permission.ADMIN && !(a.party === party)).map(a => a.party))).filter(vp => vp._2.nonEmpty)) { volumeParties =>
@if(volumeParties.nonEmpty) {
@widget.panel.raw("network", "")(title = "Network", foldable = true){
    <div class="col-full">
        <div class="row">
        @volumeParties.map { case (volume, parties) =>
            @parties.map { party =>
                @widget.portrait.maximal(party, caption = raw(volume.pageName))
            }
        }
        </div>
    </div>
}
}
}
