@(volume : Volume)(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._

@widget.panel.raw("people", "")(title = "People", foldable = true){
    <div class="col-full">
        <div class="row">
        @groupBy[VolumeAccess, Permission.Value](Async.wait(volume.partyAccess), _.access).map { case (permission, volumeAccesses) =>
            @volumeAccesses.map { a =>
                @widget.portrait.maximal(a.party, caption = raw(display.permissionToRole(permission)))
            }
        }
        </div>
    </div>
}
