@(volume : Volume)(implicit request : SiteRequest[_])

@widget.panel.raw("people", "")(title = "People", foldable = true){
    @groupBy[VolumeAccess, Permission.Value](Async.wait(volume.partyAccess), _.access).map { case (permission, volumeAccesses) =>
        <div class="col-full">
            <h3>@permission.toString.toLowerCase.capitalize</h3>

            <div class="row">
                @volumeAccesses.map { a =>
                    @widget.portrait.maximal(a.party)
                }
            </div>
        </div>
    }
}
