@(citations : Seq[Citation])(implicit request : SiteRequest[_])

@if(citations.nonEmpty) {
    @widget.panel.raw("publications", "")(Messages("citations.title")){
        <div class="publication col-full">
	    @citations.map { citation =>
                <div class="publication">
		    <h3>@citation.head @citation.url.map{u => <a href="@dbrary.url.normalize(u)" title="@citation.head" class="cit_link">link</a>}</h3>

                    @citation.body.map(display.plainText _)
                </div>
            }
        </div>
    }
}
