@(id: String, classes: String, attr: (Symbol,Any)*)(body: Html)

<section id="panel_@id" class="panel panel_@id @classes" @El.attrToHtml(attr)>
    <div class="wrap">
        <div class="row">
            @body
        </div>
    </div>
</section>

@*

.panel {
    .wrap {
        .padding-height(2);
    }

    .row {
        .padding-bottom(2);

        &:last-child {
            .padding-bottom(0);
        }
    }

    &.nowrap {
        .wrap {
            width: auto;
            .padding-width(2);
        }
    }
}

*@