@(id: String, classes: String, attr: (String,String)*)(title: String = "", foldable: Boolean = false, foldCurrently: Boolean = false)(body: Html)

<section db-panel id="panel_@id" class="panel panel_@id @classes" @if(foldable){db-fold ng-class="{folded: isFolded}" @if(foldCurrently){db-fold-currently="true"}} @El.attrToHtml(attr)>
    <div class="wrap">
        <div class="row">
        @if(title.nonEmpty) {
            <h2 class="col-full panel_header" @if(foldable){db-fold-folder ng-click="foldToggle()"}>@title</h2>
        }
        @if(foldable){
            <div class="col-full" db-fold-folded>
                <div class="row">
        }

                    @body

        @if(foldable){
                </div>
            </div>
        }
        </div>
    </div>
</section>
