@(record : Record)(implicit request : SiteRequest[_])

@widget.panel.raw("overview", "panel_record")(){
    <div class="col-full panel_overview_actions">
        <ul class="breadcrumbs">
        @Path(record).toHtml
        </ul>


        <ul class="actions">
	        <li><a href="@record.pageURL">view</a></li>
	    @if(record.permission >= Permission.EDIT) {
	        <li><a href="@controllers.routes.RecordHtml.edit(record.id)">edit</a></li>
	    }
        </ul>
    </div>

    <h1 class="col-full panel_title">@display.formatTitle(record.pageName)</h1>

    @widget.frame.record(record)
}
