@(owned: Seq[Volume] = Seq(), edited: Seq[Volume] = Seq())(implicit request : SiteRequest[_])

@import play.api.templates.HtmlFormat._
@import play.api.libs.concurrent.Execution.Implicits.defaultContext

@if(owned.nonEmpty || edited.nonEmpty) {
    @widget.panel.raw("volumes", "", title = "Data"){
        @if(owned.nonEmpty) {
            <div class="volume-list">
                <h2>Investigator</h2>
                <ul class="flat">
                @owned.map { volume =>
                  <li>
                    @widget.frame.compactVolume(volume, Nil)
                  </li>
                }
                </ul>
            </div>
        }

        @if(edited.nonEmpty) {
            <div class="volume-list">
                <h2>Contributor</h2>
                <ul class="flat">
                @edited.map { volume =>
                  <li>
                    @widget.frame.compactVolume(volume, Nil)
                  </li>
                }
                </ul>
            </div>
        }
    }
}
