@(volume : Volume)(implicit request : SiteRequest[_])

@widget.panel.raw("overview", "panel_volume")(){
    @widget.figure.thumbVolume(volume, scalar = "", classes = "panel_overview_thumbnail")

    <h1 class="col-full panel_title">@display.formatTitle(volume.pageName)</h1>

    @widget.frame.people(volume)
    @widget.frame.funding(Async.wait(volume.funding))
    @widget.frame.volume(volume)
    @widget.frame.citation(volume)

    <div class="col-full panel_overview_actions">
        <ul class="breadcrumbs">
        @Path(volume).toHtml
        </ul>


        <ul class="actions">
        @volume.pageActions.filter(_.available).map { act =>
            <li class="@{
                if(request.path == act.route.url) {
                    "current"
                }
            }">
            @if(act.route.method != "GET") {
                @widget.tag.form(act.route) {
                    <button type="submit" class="link">@act.name</button>
                }
            } else {
                <a href="@act.route" alt="@act.name">@act.name</a>
            }
            </li>
        }
        </ul>
    </div>
}
