@(volume : Volume, summary : Volume.Summary, access : Seq[VolumeAccess])(implicit request : SiteRequest[_])

@widget.panel.raw("overview", "panel_volume")(){
    <div class="col-full panel_overview_actions">
        <ul class="breadcrumbs">
        @Path(volume).toHtml
        </ul>

        <ul class="actions">
	        <li><a href="@volume.pageURL">view</a></li>
	    @if(volume.checkPermission(Permission.EDIT)) {
	        <li><a href="@controllers.routes.VolumeHtml.edit(volume.id)">edit</a></li>
	        <li><a href="@controllers.routes.AssetHtml.create(volume.id)">add file</a></li>
	        <li><a href="@controllers.routes.SlotHtml.createContainer(volume.id)">add session/folder</a></li>
	    }
	    @if(volume.checkPermission(Permission.ADMIN)) {
	        <li><a href="@controllers.routes.VolumeHtml.admin(volume.id)">access</a></li>
	    }
        </ul>
    </div>

    @widget.figure.thumbVolume(volume, classes = "panel_overview_thumbnail")

    <h1 class="col-full panel_title">@display.formatTitle(volume.name)</h1>
    @volume.alias.map { a =>
    <h2 class="col-full">@a</h2>
    }

    @widget.frame.people(access)
    @widget.frame.funding(access.filter(_.funding.isDefined))
    @widget.frame.volume(volume, summary)
    @widget.frame.citation(volume, access)
}
