<article class="view home-view" bindonce>
  <div class="wrap">
    <div class="row">
      <div class="col">
        <search-form></search-form>
      </div>
    </div>

    <div class="row" bo-if="!page.auth.isAuthorized()">
      <div class="col">
        <h1 class="home-parties-header"><span></span><span bo-text="'welcome.title.sub' | message"></span></h1>

        <div bo-html="'welcome.body' | message"></div>
      </div>
    </div>

    <div class="row" bo-if="page.auth.isAuthorized()">
      <article class="home-feature col-desktop-11 col-laptop-9 col-tablet-6 col-mobile-6">
        <div class="home-feature-inner">
          <img bo-src="page.router.volumeThumb(volume.id)" class="home-feature-thumb" ng-click="page.$location.url(page.router.volume(volume.id))">

          <div class="home-feature-info">
            <div class="home-feature-message" bo-text="'featured' | message"></div>
            <h1><a bo-href="page.router.volume(volume.id)" bo-text="volume.name"></a></h1>

            <div class="home-feature-investigators">
              <ul class="inline-block comma">
                <li ng-repeat="access in volume.access | filter:{individual: page.permission.ADMIN}">
                  <a bo-href="access.party.route" bo-text="access.party.name"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="home_parties">
      <div class="row">
        <div class="col">
          <h1 class="home-parties-header"><span></span><span bo-text="'welcome.investigators' | message"></span>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-desktop-5 col-laptop-4 col-tablet-4 col-mobile-6" ng-repeat="party in parties" bindonce>
          <portrait></portrait>
        </div>
      </div>
    </div>
</article>
