<article class="view login-view" bindonce>
  <div class="wrap">
    <div class="row">
      <hgroup class="col">
        <h1 class="view-context" bo-html="'login.title' | message"></h1>

        <h2 class="view-title" bo-html="'login.title.sub' | message"></h2>
      </hgroup>

      <div class="col">
        <form name="loginForm" novalidate>
          <messages form="loginForm"></messages>

          <div ng-switch="method">
            <div ng-switch-default>
              <validator form="loginForm" name="email" label="'email' | message">
                <input id="loginEmail" name="email" type="email" ng-model="loginData.email">
              </validator>

              <validator form="loginForm" name="password" label="'password' | message">
                <input id="loginPassword" name="password" type="password" ng-model="loginData.password" ng-required>
              </validator>
            </div>

            <div ng-switch-when="openid">
              <input id="loginOpenid" type="text" ng-model="loginData.openid" bo-attr bo-attr-placeholder="'openid' | message" ng-required>
            </div>
          </div>

          <button id="loginSubmit" type="submit" class="green" ng-click="submitForm()" ng-disabled="loginForm.$invalid" bo-html="'login.login' | message"></button>

          <a ng-click="switchMethod('openid')" ng-show="false && showMethodLink('openid')" bo-html="'login.method.openid' | message"></a>
          <a ng-click="switchMethod('databrary')" ng-show="false && showMethodLink('databrary')" bo-html="'login.method.password' | message"></a>

          <a bo-href="page.router.password()" bo-html="'login.forgot' | message"></a>
        </form>
      </div>
    </div>
  </div>
</article>

