<article class="view register-view">
  <div class="wrap">
    <div class="row">
      <hgroup class="col">
        <h1 class="view-context">{{'register.title' | message}}</h1>

        <h2 class="view-title">{{'register.title.sub' | message }}</h2>
      </hgroup>

      <div class="col">
        <wizard name="register">
          <wizard-step name="create">
            <ng-form name="registerForm">
              <validator name="name" label="'register.name.prompt' | message">
                <input id="field-name" name="name" type="text" ng-model="registerForm.data.name" ng-minlength="3" placeholder="{{'register.name.placeholder' | message}}" required>
              </validator>

              <validator name="email" label="'email' | message">
                <input id="field-email" name="email" type="email" ng-model="registerForm.data.email" placeholder="{{'register.email.placeholder' | message}}" required>
              </validator>

              <validator name="affiliation" label="'affiliation' | message">
                <input id="field-affiliation" name="affiliation" type="text" ng-model="registerForm.data.affiliation" placeholder="{{'register.affiliation.placeholder' | message}}">
              </validator>

              <button class="green" type="submit" ng-disabled="registerForm.$pristine || registerForm.$invalid" ng-click="proceed()">
                {{'register.continue' | message}}
              </button>
            </form>
          </wizard-step>

          <wizard-step name="agreement">
	    <div ng-bind-html="'wizard.register-agreement.agreement-contents' | message:{sce:page.$sce.HTML}"></div>

            <p><input id="agreement-checkbox" name="agreementCheckbox" type="checkbox" ng-model="agreementCheckbox">
	      <label for="agreement-checkbox" class="option" ng-bind-html="'wizard.register-agreement.agree' | message:{sce:page.$sce.HTML}"></label>
            </p>

            <button class="green" ng-click="proceed()" ng-disabled="!agreementCheckbox">{{'register.register' | message}}</button>
          </wizard-step>

          <wizard-step name="email">
            <p ng-bind="'register.sent.instructions' | message:registerForm.data.email"></p>
          </wizard-step>

          <wizard-step name="password">
            <user-password-form></user-password-form>
          </wizard-step>

          <wizard-step name="agent">
            <div class="radio-set">
              <div>
                <input type="radio" ng-model="authSearchForm.principal" ng-value="'principal'">
		<label class="option" ng-bind-html="'auth.register.principal' | message:{sce:page.$sce.HTML}"></label>
              </div>

              <div>
                <input type="radio" ng-model="authSearchForm.principal" ng-value="'affiliate'">
		<label class="option" ng-bind-html="'auth.register.affiliate' | message:{sce:page.$sce.HTML}"></label>
              </div>
            </div>

            <auth-search-form ng-show="authSearchForm.principal"></auth-search-form>
          </wizard-step>

          <wizard-step name="request">
	    <auth-apply-form></auth-apply-form>
          </wizard-step>

          <wizard-step name="pending"></wizard-step>
        </wizard>
      </div>
    </div>
  </div>
</article>
