<article class="view slot-view" bindonce flow-init="page.assets.flowOptions" flow-file-added="fileAdded($file, $event)" flow-file-success="fileSuccess($file)" flow-file-progress="fileProgress($file)">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <hgroup>
          <h1 class="view-title smaller with-link" bo-text="ctrl.slot.displayName"></h1>
          <a class="view-link" bo-href="ctrl.slot.volume.route" bo-text="'return.volume' | message"></a>
        </hgroup>

        <slot-player></slot-player>
        <slot-toolbar></slot-toolbar>
        <slot-timeline></slot-timeline>
      </div>
    </div>
  </div>
</article>

