<article class="view slot-view" bindonce flow-init="page.assets.flowOptions"
    flow-file-added="fileAdded($file, $event)"
    flow-file-success="fileSuccess($file)"
    flow-file-progress="fileProgress($file)">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <hgroup>
          <a class="view-link" bo-href="volume.route" bo-text="volume.alias || volume.name"></a>
          <h1 class="view-title smaller with-link" bo-text="slot.displayName"></h1>
	  <h2 bo-if="slot.date" bo-text="slot.date"></h2>
        </hgroup>

	<section class="slot-player">
	  <div class="player-main" ng-if="current">
	    <div class="player-main-info">
	      <nav class="player-main-info-actions" ng-if="current.asset">
		<img ng-src="{{current.asset.icon}}" hint="format-{{current.asset.format.extension}}" class="player-main-info-file-icon">
		<span class="classification icon" ng-class="page.constants.classification[current.asset.classification]" hint="classification-{{page.constants.classification[current.asset.classification]}}"></span>
		<a ng-href="{{current.asset.downloadRoute(false)}}" target="_self" ng-if="current.asset.checkPermission(page.permission.READ)" class="player-main-info-link icon download line"></a>
		<a bo-if="editing" ng-click="current.replace()" class="player-main-info-link icon">R</a>
		<a bo-if="editing" ng-click="current.remove()" class="player-main-info-link icon trash line"></a>
	      </nav>

	      <div bo-if="!editing" ng-if="current.asset">
		<dl class="player-main-info-list cf">
		  <dt ng-if="!current.asset.segment.full">Position</dt>
		  <dd>
		    <span ng-if="!current.asset.segment.full">{{current.asset.segment.l | timecode}} &ndash; {{current.asset.segment.u | timecode}}</span>
		    <span ng-if="current.asset.duration"> ({{current.asset.duration | timecode}})</span>
		  </dd>
		</dl>
	      </div>

	      <ng-form bo-if="editing" name="form.edit">
		<validator name="classification" label="'asset.classification' | message">
		  <select name="classification" ng-model="current.data.classification" ng-options="i as 'classification.'+c | message for (i, c) in page.constants.classification"></select>
		</validator>

		<validator name="name" label="'material.name' | message">
		  <input type="text" name="name" ng-model="current.data.name">
		</validator>

		<validator name="position" label="'asset.position' | message">
		  <input type="text" name="position" ng-model="current.data.position" ng-pattern="/(\d+:){0,2}\d+(\.\d*)?$/">
		</validator>

		<button ng-if="current.asset" class="green" ng-click="current.save()" bo-text="'save' | message" ng-disabled="form.edit.$pristine || form.edit.$invalid"></button>
	      </ng-form>
	    </div>

	    <div class="player-main-viewport" viewer-aspect="9/16">
	      <asset-display ng-repeat="current in [current]" asset="current.asset" ng-if="current.asset && !replace"></asset-display>
	      <div bo-if="editing" ng-if="!current.file && (!current.asset || replace)" flow-drop flow-btn class="player-main-drop" bo-text="'material.add-drop' + (replace ? '.replace' : '') | message">
	      </div>
	    </div>

	    <div class="player-main-float" bo-if="!editing" ng-if="current">
	      <h1 class="player-main-info-name">
		<span class="filename" ng-bind="current.displayName"></span>
	      </h1>
	    </div>
	  </div>
	</section>

	<section class="slot-toolbar cf">
	  <div class="slot-toolbar-left">
	    <div class="slot-toolbar-group slot-toolbar-group-player">
	      <div class="slot-toolbar-button icon play" ng-click="play()"></div>
	      <div class="slot-toolbar-button icon pause" ng-click="pause()"></div>
	      <div class="slot-toolbar-time" ng-bind="position | timecode"></div>
	    </div>

	    <div class="slot-toolbar-sep"></div>

	  </div>

	  <div class="slot-toolbar-right">
	    <div class="slot-toolbar-group slot-toolbar-group-right slot-toolbar-group-display">
	      <select class="slot-toolbar-select" ng-options="key as val for (key, val) in noteOptions" ng-model="noteMode"></select>
	    </div>
	  </div>
	</section>

	<section id="slot-timeline" class="slot-timeline">
	  <div class="slot-timeline-temporal" ng-if="!range.empty">
	    <div class="slot-timeline-ruler" ng-click="seekPosition($event.clientX)">
	      <div class="slot-timeline-ruler-time left" ng-bind="range.l | timecode"></div>
	      <div class="slot-timeline-ruler-time right" ng-bind="range.u | timecode"></div>
	    </div>

	    <slot-annotations></slot-annotations>
	  </div>

	  <div class="slot-timeline-tracks">
	    <div ng-repeat="track in tracks" class="slot-timeline-track" ng-click="track.select($event)" ng-class="{select: current === track, dirty: track.dirty}" >
	      <div class="slot-track" ng-class="{'slot-track-positioned': track.asset && !track.asset.segment.full, 'slot-track-select': current === track}">
		<div class="slot-track-asset-info">
		  <img class="slot-track-asset-thumb" ng-if="track.asset" bo-src="track.asset.thumbRoute(24)">
		  <div class="slot-track-asset-info-name">{{track.name}}</div>
		</div>
		<div class="slot-track-asset" ng-if="track.asset && !track.asset.segment.full" bo-style="track.positionStyle()">
		</div>
		<div ng-if="track.file">
		  <upload-progress progress-value="track.progress" display-completing="true"></upload-progress>
		</div>
	      </div>
	    </div>
	  </div>

	  <div class="slot-timeline-now-zone">
	    <div class="slot-timeline-now" ng-if="position !== undefined" ng-style="positionStyle(position)"></div>
	  </div>
	</section>
      </div>
    </div>
  </div>
</article>

