// styles

.volume-view
  &.study
    .panel-overview-volume-header-fill
      background-color orange52

    .panel-header
      background-color orange52
      text-shadow -1px 0 2px orange51

      span
        background-color orange52

    .panel-title
      text-shadow -1px 0 2px orange51

    .panel
      &.foldable
        .panel-header
          &:hover
            color mix(orange, black, 25%)