<panel ng-controller="MaterialsPanel" id="panel_materials" title="Materials" fold>
    <panel-mode name="view" active>
        <div class="panel_materials_list col-full">
            <ul class="flat panel_materials_items">
                <li ng-repeat="slotAsset in volume.assets" class="panel_materials_item" ng-click="selectAsset(slotAsset)" ng-class="getAssetClass(slotAsset)">
                    <span class="filetype"><img ng-src="/public/images/filetypes/16px/{{slotAsset.format.extension || slotAsset.asset.format.extension}}.png"></span>

                    <span ng-if="path">
                        <span class="session"><a ng-href="{{router.slot({
                        id: slotAsset.container.id,
                        segment: slotAsset.segment
                        })}}">{{session | ident:slotAsset.session }}</a></span>
                        <span class="participant"><a ng-href="/{{}}">{{}}</a></span>
                        <span class="sep">/</span>
                    </span>


                    <a ng-href="{{route.slotAsset({
                        sid: slotAsset.container.id,
                        segment: slotAsset.segment,
                        id: slotAsset.asset.id
                    })}}" class="filename">{{slotAsset.asset.name}}.{{slotAsset.asset.format.extension}}</a>

                    <span class="classification">@* @link.classification.toString.charAt(0) *@</span>

                    <span ng-if="slotAsset.asset.duration" class="duration">{{slotAsset.asset.duration | timecode}}</span>
                </li>

                <li ng-if="!volume.assets" class="empty">There are no assets here.</li>
            </ul>
        </div>

        <div class="panel_materials_display col-full" ng-init="currentAsset = assets[0].id">
            <div ng-repeat="slotAsset in volume.assets" id="asset_{{slotAsset.asset.id}}" ng-show="currentAsset == slotAsset.asset.id" class="panel_materials_frame">
                <h2>
                    {{slotAsset.asset.name}}.{{slotAsset.format.extension}}
                    <a ng-href="/{{}}" class="link">download</a>
                </h2>

                <div ng-switch="{{getMimeGroup(slotAsset)}}">
                    <div ng-switch-when="'image'">
                        <img ng-src="/{{}}" />
                    </div>

                    <div ng-switch-when="'video'">
                        <video controls>
                            <source ng-src="/{{}}" type="{{slotAsset.format.mimetype || slotAsset.asset.format.mimetype}}">
                        </video>
                    </div>

                    <div ng-switch-when="'html'">
                        <iframe ng-src="/{{}}" />
                    </div>

                    <div ng-switch-when="'plain'">
                        <iframe ng-src="/{{}}" />
                    </div>

                    <div ng-switch-default>

                    </div>
                </div>
            </div>
        </div>
    </panel-mode>
</panel>






