<panel ng-controller="MaterialsPanel" id="panel_materials" title="Materials" fold>
    <panel-mode name="view" active>
        <div class="panel_materials_list col-full">
            <ul class="flat panel_materials_items">
                <li ng-repeat="slotAsset in volume.assets" class="panel_materials_item" ng-click="selectAsset(slotAsset)" ng-class="getAssetClasses(slotAsset)">
                    <span class="filetype"><img ng-src="/public/images/filetypes/16px/{{slotAsset.format.extension || slotAsset.asset.format.extension}}.png"></span>

                    <span class="filename">{{slotAsset.asset.name}}.{{slotAsset.asset.format.extension}}</span>

                    <span class="classification">{{getClassification(slotAsset)}}</span>

                    <span ng-if="slotAsset.asset.duration" class="duration">{{slotAsset.asset.duration | timecode}}</span>
                </li>

                <li ng-if="!volume.assets" class="empty">There are no assets here.</li>
            </ul>
        </div>

        <div class="panel_materials_display col-full">
            <div ng-if="currentAsset" class="panel_materials_frame">
                <h2>
                    <a ng-href="{{router.assetLink(currentAsset, false)}}" class="link" target="_self">{{currentAsset.asset.name}}.{{currentAsset.asset.format.extension}}</a>
                </h2>

                <div ng-switch="getMimeGroup(currentAsset)">
                    <div ng-switch-when="image">
                        <img ng-src="{{router.assetLink(currentAsset, true)}}" />
                    </div>

                    <div ng-switch-when="video">
                        <video controls>
                            <source ng-src="{{router.assetLink(currentAsset, true)}}" type="{{currentAsset.format.mimetype || currentAsset.asset.format.mimetype}}">
                        </video>
                    </div>

                    <div ng-switch-when="html">
                        <iframe ng-src="{{router.assetLink(currentAsset, true)}}"></iframe>
                    </div>

                    <div ng-switch-when="plain">
                        <iframe ng-src="{{router.assetLink(currentAsset, true)}}"></iframe>
                    </div>

                    <div ng-switch-default>

                    </div>
                </div>
            </div>
        </div>
    </panel-mode>
</panel>






