<article bindonce class="browser-item browser-asset cf" ng-click="setItemPlayer(data)">
	<div class="browser-item-content">
		<div class="cf">
			<footer>
				<div class="browser-item-meta permission" bo-if="data.object.asset.duration" bo-text="data.object.asset.duration | timecode"></div>

				<div class="browser-item-meta sep" bo-if="data.object.asset.duration">|</div>

				<div class="browser-item-meta classification icon bb" bo-class="page.constants.data.classification[data.object.asset.classification].toLowerCase()" hint="classification-{{page.constants.data.classification[data.object.asset.classification]}}"></div>

				<div class="browser-item-meta sep" bo-if="page.auth.hasAccess('CONTRIBUTE', data)">|
				</div>

				<a bo-href="editLink(data)" target="_self" ng-if="page.auth.hasAccess('CONTRIBUTE', data)">edit</a>
			</footer>

			<header>
				<h1 class="browser-item-title">
          <span class="filetype">
              <img bo-src="page.types.assetIcon(data.object)" hint="format-{{page.types.assetFormat(data.object).extension}}">
          </span>

					<span class="filename" bo-text="page.types.assetDisplayName(data.object)"></span>
				</h1>
			</header>
		</div>
	</div>
</article>
