@(party: Party, classes: String, attr: (Symbol,String)*)(avatar: Boolean = true, info: Boolean = true, name: Boolean = true, institutions: Boolean = true, links: Boolean = true, scalar: String = "square", extra: Option[Html] = None, hoverable: Boolean = false)(implicit request : SiteRequest[_])

<aside id="portrait_@party.id" class="portrait portrait_@party.id @classes @if(avatar){avatar}else{noavatar} @if(info){info}else{noinfo} @if(name){name}else{noname} @if(institutions){institutions}else{noinstitutions} @if(links){links}else{nolinks}" @if(hoverable){db-hover} @El.attrToHtml(attr)>

    @if(avatar) {
        @widget.figure.avatar(party, scalar = scalar)
    }

    @if(info) {
        <div class="portrait_info">
            @if(name) {
                <a class="portrait_name db" href="@party.pageURL" title="@party.name">@party.name</a>
            }

            @if(name && institutions) {
                @Async.wait(party.authorizeParents()).map { t =>
                    <a class="portrait_institution db" href="@t.parent.pageURL">@t.parent.name</a>
                }
            }

            @extra.map { e =>
                <div class="portrait_extra">
                    @e
                </div>
            }

            @if(links) {
                <div class="portrait_links">

                </div>
            }
        </div>
    }
</aside>
