@(requestOption: Option[SiteRequest[_]] = None)

@widget.toolbar.raw("databrary")(requestOption) {
    <div class="title cf col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4">
        <h1 class="toolbar_h1">
            <a href="@routes.Static.index" title="Databrary: An Open Data Library"><span>Databrary</span></a>
        </h1>

        <nav class="toolbar_nav cf hide-mobile hide-cell">
            <ul class="toolbar_nav_ul inline-block flat cf">
                <li><a href="@routes.Volume.listAll">Explore</a></li>
                <li><a href="@routes.Static.about">Share</a></li>
                <li><a href="@routes.Static.about">Discover</a></li>
            </ul>
        </nav>
    </div>

    <div class="toolbar_user col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2">
    @if(requestOption.nonEmpty && requestOption.get.user.isDefined) {
        @if(requestOption.get.access == Permission.ADMIN) {
            @if(requestOption.get.superuser) {
                <a class="superuser on" href="@routes.Login.superuserOff">SU</a>
            }else{
                <a class="superuser off" href="@routes.Login.superuserOn">SU</a>
            }
        }

        <a href="@requestOption.get.identity.pageURL" id="modal_profile_link" class="img modal_link" data-target="modal_profile"><img src="@display.avatar(requestOption.get.identity, 16)" alt="@requestOption.get.identity.name" class="s16"></a>
    } else {
        <a href="@routes.Login.view" id="modal_login_link" class="modal_link" data-target="modal_login">login</a>
    }
    </div>
}
