@(requestOption: Option[SiteRequest[_]] = None)

@widget.toolbar.raw("explore")(requestOption){
    <div class="col">
    @requestOption.map { request =>
        @request match {
            case r : RequestObject[_]#Site[_] => {
                @defining(r){ implicit site =>
                    @r.obj match {
                        case obj:SiteObject => {
                            <ul class="toolbar_menu dn">
                            @Path(obj).toHtml
                            </ul>

                            <ul class="toolbar_menu toolbar_menu_left">
                                <li><a href="#panel_overview">Overview</a></li>
                                <li><a href="#panel_browser">Browser</a></li>
                                <li><a href="#panel_materials">Materials</a></li>
                                <li><a href="#panel_publications">Publications</a></li>
                                <li><a href="#panel_people">People</a></li>
                                <li><a href="#panel_tags">Tags</a></li>
                                <li><a href="#panel_comments">Comments</a></li>
                            </ul>

                            <ul class="toolbar_menu toolbar_menu_right dn">
                            @obj.pageActions.filter(_.available).map { act =>
                                <li class="@{if(r.path == act.route.url) {"current"}}">
                                @if(act.route.method != "GET") {
                                    @widget.tag.form(act.route) {
                                        <button type="submit" class="link">@act.name</button>
                                    }
                                } else {
                                    <a href="@act.route" alt="@act.name">@act.name</a>
                                }
                                </li>
                            }
                            </ul>
                        }
                        case _ => {}
                    }
                }
            }
            case _ => {}
        }
    }
    </div>
}
