<ng-form name="authApplyForm" class="auth-apply-form" bindonce>
  <div ng-if="auth.party" class="col-desktop-1 col-tablet-1 col-mobile-1">
    <figure class="figure-avatar" ng-class="{inst: auth.party.institution}">
      <img ng-src="{{auth.party.avatarRoute()}}">
    </figure>
  </div>

  <fieldset class="clean" ng-if="auth.party">
    <legend ng-bind="'auth.request.title' | message:auth.party.name"></legend>
  </fieldset>

  <fieldset class="clean" ng-if="!auth.party">
    <legend bo-text="'auth.request.notfound.title' | message"></legend>

    <div bo-html="'auth.request.notfound.instructions' | message"></div>

    <validator name="info" label="'auth.request.notfound.info' | message">
      <textarea id="field-info" name="info" ng-model="authApplyForm.data.info"></textarea>
    </validator>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="authApplyForm.save()" class="green" bo-text="'auth.request' | message"></button>
    <button ng-click="authApplyForm.cancel()" class="yellow" bo-text="'cancel' | message"></button>
  </fieldset>
</ng-form>
