<ng-form name="authGrantForm" class="auth-grant-form">
  <fieldset class="radio-set">
    <legend ng-bind="'auth.site' | possessive:party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="::canGrantSite(val)">
      <input type="radio" ng-model="authGrantForm.data.site" name="auth-{{auth.party.id}}-site" ng-value="val" ng-selected="val == authGrantForm.data.site">
      <label class="option">
        <strong message="auth.site.{{::name}}.title"></strong>: 
        {{'auth.site.'+name | possessive:party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="radio-set">
    <legend ng-bind="'auth.member' | possessive:party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="::canGrantMember(val)">
      <input type="radio" ng-model="authGrantForm.data.member" name="auth-{{auth.party.id}}-member" ng-value="val" ng-selected="val == authGrantForm.data.member">
      <label class="option">
        <strong message="auth.member.{{::name}}.title"></strong>: 
        {{'auth.member.'+name | possessive:party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="clean">
    <validator name="expires" label="auth.expiration">
      <input type="date" ng-model="authGrantForm.data.expires" name="expires" class="half" date-model date-min="now" date-max="2 years" key-enter="authGrantForm.save()">
    </validator>
    
  </fieldset>

</ng-form>
