<p>
  <a ng-if="::page.$location.path() === page.router.profile()" ng-href="{{::page.router.party(party.id)}}">Show full titles and descriptions</a>
  <a ng-if="::page.$location.path() === page.router.party(page.models.Login.user.id)" ng-href="{{::page.router.profile()}}">Show volume short names</a>
</p>
<volume-list data="volumes"></volume-list>
<a ng-href="{{page.router.volumeCreate([party.id])}}" ng-if="::party.checkPermission(page.permission.EDIT)"><span class="button green" message="volume.edit.create"></span></a>
