<ng-form name="partyEditApplyForm" bindonce>
   <fieldset class="clean peap-float">
    <div class="peap-float-floater row">
      <auth-search-form placeholder-text="{{'auth.search.apply.legend' | message}}" class="col-desktop-9 col-laptop-6 col-tablet-3 col-mobile-2"></auth-search-form>
    </div>
  </fieldset>
 <fieldset ng-if="partyEditApplyForm.data.length > 0">
    <legend bo-text="'auth.apply.legend' | message"></legend>
    <article ng-repeat="auth in partyEditApplyForm.data track by auth.party.id" class="permission-auth cf foot pef">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure class="figure-avatar" bo-class="{inst: auth.party.institution}">
            <img bo-src="auth.party.avatarRoute()">
          </figure>
        </div>

        <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
          <div class="permission-heading">
            <a bo-href="auth.party.route" class="permission-auth-username" bo-text="auth.party.name"></a>
            <span class="permission-auth-email" bo-if="auth.party.email" bo-text="auth.party.email"></span>
          </div>

          <div ng-if="!auth.new">
            <div bo-if="auth.site">
              <div class="permission-auth-heading" bo-text="'auth.site' | message:'their'"></div>
              <div class="permission-auth-site">
		<strong ng-bind="'auth.site.'+page.constants.permission[auth.site]+'.title' | message"></strong>:
		{{'auth.site.'+page.constants.permission[auth.site] | possessive:party}}
	      </div>
            </div>

            <div bo-if="auth.member">
              <div class="permission-auth-heading" bo-text="'auth.member' | message:'their'"></div>
              <div class="permission-auth-member">
		<strong ng-bind="'auth.member.'+page.constants.permission[auth.member]+'.title' | message"></strong>:
		{{'auth.member.'+page.constants.permission[auth.member] | possessive:party}}
	      </div>
            </div>

            <div bo-if="auth.member || auth.site">
              <div class="permission-auth-heading" bo-text="'auth.expiration' | message"></div>
              <div bo-text="auth.expires | date:'longDate'"></div>
              <div bo-if="!auth.expires" bo-text="'auth.expiration.none' | message"></div>
            </div>
            <div bo-if="!(auth.member || auth.site)">
              <div class="permission-auth-heading" bo-text="'auth.pending' | message"></div>
	    </div>
          </div>

          <div ng-if="auth.new">
            <auth-apply-form></auth-apply-form>
          </div>
        </div>
      </div>
    </article>
  </fieldset>
</ng-form>
