.peg-float
  height 2
  margin-bottom 1
  .validator-field
    margin-right 1

.peg-float-floater:not(.float)
  height 2
  width 100%
  background-color white
  transition box-shadow trans-time trans-ease

.permission-auth
  .permission-heading
    margin-bottom 10px
    .remove
      margin 3px 3px 0 0

    .permission-auth-email
      margin-right 10px


