<ng-form name="partyEditApplyForm">
   <fieldset class="clean skinny peap-float">
    <div class="peap-float-floater row">
      <auth-search-form placeholder-text="{{::'auth.search.apply.legend' | message}}" class="col-desktop-9 col-tablet-7 col-mobile-6"></auth-search-form>
    </div>
  </fieldset>
  <fieldset ng-show="partyEditApplyForm.data.length > 0">
    <legend message="auth.apply.legend"></legend>
    <article ng-repeat="auth in partyEditApplyForm.data track by auth.party.id" class="permission-auth cf foot pef">
      <div ng-if="!auth.new" class="row">
        <div class="col-desktop-1 col-tablet-1 col-mobile-1">
          <figure class="figure-avatar" ng-class="::{inst: auth.party.institution}">
            <img ng-src="{{::auth.party.avatarRoute()}}">
          </figure>
        </div>

        <div class="col-desktop-11 col-tablet-5 col-mobile-4">
          <div class="permission-heading">
            <a ng-href="{{::auth.party.route}}" class="permission-auth-username" ng-bind="::auth.party.name"></a>
            <span class="permission-auth-email" ng-if="::!!auth.party.email" ng-bind="::auth.party.email"></span>
          </div>

          <div ng-if="::auth.member">
            <div class="permission-auth-heading" ng-bind="::'auth.member' | message:'their'"></div>
            <div class="permission-auth-member">
              <strong message="auth.member.{{page.constants.permission[auth.member]}}.title"></strong>:
              {{'auth.member.'+page.constants.permission[auth.member] | message:'their'}}
            </div>
          </div>

          <div ng-if="::auth.site">
            <div class="permission-auth-heading" ng-bind="::'auth.site' | message:'their'"></div>
            <div class="permission-auth-site">
              <strong message="auth.site.{{page.constants.permission[auth.site]}}.title"></strong>:
              {{'auth.site.'+page.constants.permission[auth.site] | message:'their'}}
            </div>
          </div>

          <div ng-if="::auth.member || auth.site">
            <div class="permission-auth-heading" message="auth.expiration"></div>
            <div ng-bind="::auth.expires | date:'longDate'"></div>
            <div ng-if="::!auth.expires" message="auth.expiration.none"></div>
          </div>
          <div ng-if="::!(auth.member || auth.site)">
            <div class="permission-auth-heading" message="auth.pending"></div>
          </div>
        </div>
      </div>
      <div ng-if="auth.new" class="row">
        <auth-apply-form></auth-apply-form>
      </div>
    </article>
  </fieldset>
</ng-form>
