<ng-form name="partyEditGrantForm">
  <fieldset class="clean peg-float">
    <div class="peg-float-floater row">
      <auth-search-form principal="child" placeholder-text="{{::'auth.search.grant.legend' | message}}" class="col-desktop-8 col-tablet-3 col-mobile-2"></auth-search-form>
      <button ng-click="partyEditGrantForm.saveAll()" class="green" message="save" ng-disabled="partyEditGrantForm.$pristine" class="col-desktop-1 col-tablet-1 col-mobile-1"></button>
      <button ng-click="partyEditGrantForm.resetAll()" class="yellow" message="revert" ng-disabled="partyEditGrantForm.$pristine"class=" col-desktop-1 col-tablet-1 col-mobile-1"></button>
    </div>
  </fieldset>
  <fieldset ng-show="partyEditGrantForm.data.length > 0">
    <legend message="auth.grant.legend"></legend>
    <article ng-repeat="auth in partyEditGrantForm.data track by auth.party.id" class="permission-auth cf peg">
      <div class="row">
        <div class="col-desktop-1 col-tablet-1 col-mobile-1">
          <figure class="figure-avatar" ng-class="::{inst: auth.party.institution}">
            <img ng-src="{{::auth.party.avatarRoute()}}">
          </figure>
        </div>

        <div>
          <div class="row">
            <div class="permission-heading">
              <a ng-href="{{::auth.party.route}}" class="permission-auth-username" ng-bind="::auth.party.name"></a>
              <span class="permission-auth-email" ng-if="::!!auth.party.email" ng-bind="::auth.party.email"></span>
              <button ng-click="authGrantForm.deny()" class="mini"><span class="icon trash"></span></button>
            </div>

            <div class="col-desktop-11 col-tablet-5 col-mobile-4">
              <auth-grant-form></auth-grant-form>
            </div>
          </div>
        </div>
      </div>
    </article>
  </fieldset>

</ng-form>
