<ng-form name="partyEditAccountForm">
  <scroll-float>
    <fieldset class="clean">
      <button ng-click="partyEditAccountForm.save()" message="save" class="green" ng-disabled="partyEditAccountForm.$pristine || partyEditAccountForm.$invalid || partyEditAccountForm.$submitted"></button>
      <button ng-click="partyEditAccountForm.resetAll()" message="revert" class="red" ng-disabled="partyEditAccountForm.$pristine || partyEditAccountForm.$submitted"></button>
    </fieldset>
  </scroll-float>  

  <fieldset>
    <legend message="party.edit.account"></legend>
    <validator name="email" label="email">
      <input type="email" name="email" ng-model="partyEditAccountForm.data.email">
    </validator>

    <p message="password.advice" message-html></p>

    <validator name="password" label="party.edit.password.title">
      <input type="password" name="password" ng-model="partyEditAccountForm.data.password.once">
    </validator>

    <validator name="password.again" label="party.edit.password.again.title">
      <input type="password" name="password.again" ng-model="partyEditAccountForm.data.password.again">
    </validator>
  </fieldset>

  <fieldset>
    <legend message="party.edit.confirm"></legend>

    <validator name="auth" label="party.edit.auth.title">
      <input type="password" name="auth" ng-model="partyEditAccountForm.data.auth" ng-required="partyEditAccountForm.$dirty" key-enter="partyEditAccountForm.save()">
    </validator>
  </fieldset>
</ng-form>
