// styles
.pep-float
  height 2
  margin-bottom 1

.pep-float-floater:not(.float)
  height 2
  padding-height b3
  width 100%
  background-color white

.party-edit-profile-avatar
  size 56px
  margin-top b4
