.peg-float
  height 2
  margin-bottom 1

.peg-float-floater
  height 2
  padding-height b3
  width 100%
  background-color white
  transition box-shadow trans-time trans-ease

  &.float
    position fixed
    top b1 * 2.5
    z-index 10
    box-shadow 0 0 b3 white

.permission-heading
  margin-bottom 10px

  .remove
    margin 3px 3px 0 0

  .permission-auth-email
    margin-right 10px


