<aside class="portrait ng-cloak">
  <a ng-href="{{::party.route()}}">
    <figure class="figure-avatar" ng-class="::{inst: party.institution}">
      <img ng-src="{{::party.avatarRoute()}}">
    </figure>
  </a>

  <div class="portrait-info">
    <a class="portrait-name" ng-href="{{::party.route()}}" ng-bind="::party.name"></a>
    <span class="portrait-extra" ng-if="portraitExtra" ng-bind-html="portraitExtra"></span>
    <span class="portrait-extra" ng-if="!portraitExtra" ng-bind="::party.affiliation"></span>
  </div>
</aside>

