// styles

.figure-avatar
  size 2.3

.portrait
  margin-bottom 1
  height 2

  .figure-avatar
    float left
    margin-right f4

.portrait-name
.portrait-extra
  overflow ellipsis
  font-line 1
  display block
  height 1

.portrait-name
  font-weight bold
  link-color green

.portrait-extra
  color gray