<article class="view search-view">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <h3><span class="background"></span>Search Users</h3>
        <search-form type='party'></search-form>
      </div>
    </div>
    <div ng-if="!parties.length" class="party-list-none">
      <span message="search.none"></span>
    </div>

    <div ng-if="parties.length" class="row party-list">
      <div class="col-desktop-5 col-tablet-4 col-mobile-6" ng-repeat="party in parties">
        <portrait></portrait>
      </div>
    </div>

    <div class="search-pages">
      <span ng-if="::prev">
        <a ng-if="::prev" ng-click="prev()">&lt; {{::number-1}}</a>
        |
      </span>
      <b ng-bind="::number"></b>
      <span ng-if="::next">
        |
        <a ng-click="next()">{{::number+1}} &gt;</a>
      </span>
    </div>
  </div>
</article>
