<article class="view party-view">
  <ng-include src="'party/overview.html'"></ng-include>
  <panel id="panel_browser" panel-title="volumes.title" fold ng-if="::party.volumes || party.checkPermission(page.permission.EDIT) && page.models.Login.isAuthorized()">
    <party-data></party-data>
  </panel>
  <panel id="panel-network" edit-link="{{::party.checkPermission(page.permission.ADMIN) ? party.editRoute('apply') : ''}}" panel-title="network.title" fold>
    <party-network></party-network>
  </panel>
  <panel id="panel-comments" panel-title="comments.title" fold ng-if="::party.comments.keys.length">
    <party-comments></party-comments>
  </panel>
</article>
