// IMPORTS

@import "normalize.less";

//

@import "colors.less";

@import "helpers.less";
@import "vendors.less";

@import "arrows.less";
@import "sprites.less";


@import "baseline.less";
@import "grid.less";

@import "debug.less";

// STYLES

* {
	.box-sizing();
	.transition();
}

//

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.fi { float: inherit; }

.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
.cn { clear: none; }
.ci { clear: inherit; }

//

.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }
.ttn { text-transform: none; }
.tti { text-transform: inherit; }