// VARIABLES

@g0: #000;
@g1: #333;
@g2: #666;
@g3: #999;
@g4: #ccc;
@g5: #fff;

//

	@c0: #83A440;
@c1: #40AC66;
	@c2: #00B097;
@c3: #00AFC7;
	@c4: #00AAEB;
@c5: #279EF8;
	@c6: #9A8CEC;
@c7: #D378C9;
	@c8: #EE6D9A;
@c9: #EE736B;
	@c10: #D88445;
@c11: #B39632;

//

@c0g1m1: mix(@c0, @g1, 25%);
@c0g1m2: mix(@c0, @g1, 50%);
@c0g1m3: mix(@c0, @g1, 75%);

@c0g2m1: mix(@c0, @g2, 25%);
@c0g2m2: mix(@c0, @g2, 50%);
@c0g2m3: mix(@c0, @g2, 75%);

@c0g3m1: mix(@c0, @g3, 25%);
@c0g3m2: mix(@c0, @g3, 50%);
@c0g3m3: mix(@c0, @g3, 75%);

@c0g4m1: mix(@c0, @g4, 25%);
@c0g4m2: mix(@c0, @g4, 50%);
@c0g4m3: mix(@c0, @g4, 75%);

@c0g5m1: mix(@c0, @g5, 25%);
@c0g5m2: mix(@c0, @g5, 50%);
@c0g5m3: mix(@c0, @g5, 75%);

//

@c1g1m1: mix(@c1, @g1, 25%);
@c1g1m2: mix(@c1, @g1, 50%);
@c1g1m3: mix(@c1, @g1, 75%);

@c1g2m1: mix(@c1, @g2, 25%);
@c1g2m2: mix(@c1, @g2, 50%);
@c1g2m3: mix(@c1, @g2, 75%);

@c1g3m1: mix(@c1, @g3, 25%);
@c1g3m2: mix(@c1, @g3, 50%);
@c1g3m3: mix(@c1, @g3, 75%);

@c1g4m1: mix(@c1, @g4, 25%);
@c1g4m2: mix(@c1, @g4, 50%);
@c1g4m3: mix(@c1, @g4, 75%);

@c1g5m1: mix(@c1, @g5, 25%);
@c1g5m2: mix(@c1, @g5, 50%);
@c1g5m3: mix(@c1, @g5, 75%);

//

@c2g1m1: mix(@c2, @g1, 25%);
@c2g1m2: mix(@c2, @g1, 50%);
@c2g1m3: mix(@c2, @g1, 75%);

@c2g2m1: mix(@c2, @g2, 25%);
@c2g2m2: mix(@c2, @g2, 50%);
@c2g2m3: mix(@c2, @g2, 75%);

@c2g3m1: mix(@c2, @g3, 25%);
@c2g3m2: mix(@c2, @g3, 50%);
@c2g3m3: mix(@c2, @g3, 75%);

@c2g4m1: mix(@c2, @g4, 25%);
@c2g4m2: mix(@c2, @g4, 50%);
@c2g4m3: mix(@c2, @g4, 75%);

@c2g5m1: mix(@c2, @g5, 25%);
@c2g5m2: mix(@c2, @g5, 50%);
@c2g5m3: mix(@c2, @g5, 75%);

//

@c3g1m1: mix(@c3, @g1, 25%);
@c3g1m2: mix(@c3, @g1, 50%);
@c3g1m3: mix(@c3, @g1, 75%);

@c3g2m1: mix(@c3, @g2, 25%);
@c3g2m2: mix(@c3, @g2, 50%);
@c3g2m3: mix(@c3, @g2, 75%);

@c3g3m1: mix(@c3, @g3, 25%);
@c3g3m2: mix(@c3, @g3, 50%);
@c3g3m3: mix(@c3, @g3, 75%);

@c3g4m1: mix(@c3, @g4, 25%);
@c3g4m2: mix(@c3, @g4, 50%);
@c3g4m3: mix(@c3, @g4, 75%);

@c3g5m1: mix(@c3, @g5, 25%);
@c3g5m2: mix(@c3, @g5, 50%);
@c3g5m3: mix(@c3, @g5, 75%);

//

@c4g1m1: mix(@c4, @g1, 25%);
@c4g1m2: mix(@c4, @g1, 50%);
@c4g1m3: mix(@c4, @g1, 75%);

@c4g2m1: mix(@c4, @g2, 25%);
@c4g2m2: mix(@c4, @g2, 50%);
@c4g2m3: mix(@c4, @g2, 75%);

@c4g3m1: mix(@c4, @g3, 25%);
@c4g3m2: mix(@c4, @g3, 50%);
@c4g3m3: mix(@c4, @g3, 75%);

@c4g4m1: mix(@c4, @g4, 25%);
@c4g4m2: mix(@c4, @g4, 50%);
@c4g4m3: mix(@c4, @g4, 75%);

@c4g5m1: mix(@c4, @g5, 25%);
@c4g5m2: mix(@c4, @g5, 50%);
@c4g5m3: mix(@c4, @g5, 75%);

//

@c5g1m1: mix(@c5, @g1, 25%);
@c5g1m2: mix(@c5, @g1, 50%);
@c5g1m3: mix(@c5, @g1, 75%);

@c5g2m1: mix(@c5, @g2, 25%);
@c5g2m2: mix(@c5, @g2, 50%);
@c5g2m3: mix(@c5, @g2, 75%);

@c5g3m1: mix(@c5, @g3, 25%);
@c5g3m2: mix(@c5, @g3, 50%);
@c5g3m3: mix(@c5, @g3, 75%);

@c5g4m1: mix(@c5, @g4, 25%);
@c5g4m2: mix(@c5, @g4, 50%);
@c5g4m3: mix(@c5, @g4, 75%);

@c5g5m1: mix(@c5, @g5, 25%);
@c5g5m2: mix(@c5, @g5, 50%);
@c5g5m3: mix(@c5, @g5, 75%);

//

@c6g1m1: mix(@c6, @g1, 25%);
@c6g1m2: mix(@c6, @g1, 50%);
@c6g1m3: mix(@c6, @g1, 75%);

@c6g2m1: mix(@c6, @g2, 25%);
@c6g2m2: mix(@c6, @g2, 50%);
@c6g2m3: mix(@c6, @g2, 75%);

@c6g3m1: mix(@c6, @g3, 25%);
@c6g3m2: mix(@c6, @g3, 50%);
@c6g3m3: mix(@c6, @g3, 75%);

@c6g4m1: mix(@c6, @g4, 25%);
@c6g4m2: mix(@c6, @g4, 50%);
@c6g4m3: mix(@c6, @g4, 75%);

@c6g5m1: mix(@c6, @g5, 25%);
@c6g5m2: mix(@c6, @g5, 50%);
@c6g5m3: mix(@c6, @g5, 75%);

//

@c7g1m1: mix(@c7, @g1, 25%);
@c7g1m2: mix(@c7, @g1, 50%);
@c7g1m3: mix(@c7, @g1, 75%);

@c7g2m1: mix(@c7, @g2, 25%);
@c7g2m2: mix(@c7, @g2, 50%);
@c7g2m3: mix(@c7, @g2, 75%);

@c7g3m1: mix(@c7, @g3, 25%);
@c7g3m2: mix(@c7, @g3, 50%);
@c7g3m3: mix(@c7, @g3, 75%);

@c7g4m1: mix(@c7, @g4, 25%);
@c7g4m2: mix(@c7, @g4, 50%);
@c7g4m3: mix(@c7, @g4, 75%);

@c7g5m1: mix(@c7, @g5, 25%);
@c7g5m2: mix(@c7, @g5, 50%);
@c7g5m3: mix(@c7, @g5, 75%);

//

@c8g1m1: mix(@c8, @g1, 25%);
@c8g1m2: mix(@c8, @g1, 50%);
@c8g1m3: mix(@c8, @g1, 75%);

@c8g2m1: mix(@c8, @g2, 25%);
@c8g2m2: mix(@c8, @g2, 50%);
@c8g2m3: mix(@c8, @g2, 75%);

@c8g3m1: mix(@c8, @g3, 25%);
@c8g3m2: mix(@c8, @g3, 50%);
@c8g3m3: mix(@c8, @g3, 75%);

@c8g4m1: mix(@c8, @g4, 25%);
@c8g4m2: mix(@c8, @g4, 50%);
@c8g4m3: mix(@c8, @g4, 75%);

@c8g5m1: mix(@c8, @g5, 25%);
@c8g5m2: mix(@c8, @g5, 50%);
@c8g5m3: mix(@c8, @g5, 75%);

//

@c9g1m1: mix(@c9, @g1, 25%);
@c9g1m2: mix(@c9, @g1, 50%);
@c9g1m3: mix(@c9, @g1, 75%);

@c9g2m1: mix(@c9, @g2, 25%);
@c9g2m2: mix(@c9, @g2, 50%);
@c9g2m3: mix(@c9, @g2, 75%);

@c9g3m1: mix(@c9, @g3, 25%);
@c9g3m2: mix(@c9, @g3, 50%);
@c9g3m3: mix(@c9, @g3, 75%);

@c9g4m1: mix(@c9, @g4, 25%);
@c9g4m2: mix(@c9, @g4, 50%);
@c9g4m3: mix(@c9, @g4, 75%);

@c9g5m1: mix(@c9, @g5, 25%);
@c9g5m2: mix(@c9, @g5, 50%);
@c9g5m3: mix(@c9, @g5, 75%);

//

@c10g1m1: mix(@c10, @g1, 25%);
@c10g1m2: mix(@c10, @g1, 50%);
@c10g1m3: mix(@c10, @g1, 75%);

@c10g2m1: mix(@c10, @g2, 25%);
@c10g2m2: mix(@c10, @g2, 50%);
@c10g2m3: mix(@c10, @g2, 75%);

@c10g3m1: mix(@c10, @g3, 25%);
@c10g3m2: mix(@c10, @g3, 50%);
@c10g3m3: mix(@c10, @g3, 75%);

@c10g4m1: mix(@c10, @g4, 25%);
@c10g4m2: mix(@c10, @g4, 50%);
@c10g4m3: mix(@c10, @g4, 75%);

@c10g5m1: mix(@c10, @g5, 25%);
@c10g5m2: mix(@c10, @g5, 50%);
@c10g5m3: mix(@c10, @g5, 75%);

//

@c11g1m1: mix(@c11, @g1, 25%);
@c11g1m2: mix(@c11, @g1, 50%);
@c11g1m3: mix(@c11, @g1, 75%);

@c11g2m1: mix(@c11, @g2, 25%);
@c11g2m2: mix(@c11, @g2, 50%);
@c11g2m3: mix(@c11, @g2, 75%);

@c11g3m1: mix(@c11, @g3, 25%);
@c11g3m2: mix(@c11, @g3, 50%);
@c11g3m3: mix(@c11, @g3, 75%);

@c11g4m1: mix(@c11, @g4, 25%);
@c11g4m2: mix(@c11, @g4, 50%);
@c11g4m3: mix(@c11, @g4, 75%);

@c11g5m1: mix(@c11, @g5, 25%);
@c11g5m2: mix(@c11, @g5, 50%);
@c11g5m3: mix(@c11, @g5, 75%);

//

@text: @g1;
@back: @g5;

//

@black: @g1;
@gray: @g3;
@white: @g5;

// never use these.

@first: @c8;
@second: @c0;
@third: @c10;
