// MIXINS

.clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

//

.hide() {
	display: none !important;
	visibility: hidden !important;
}

.hide-text() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hide-eyes() {
	visibility: hidden;
}

//

.size(@x) {
	width: @x;
	height: @x;
}

.size(@w, @h) {
	width: @w;
	height: @h;
}

// STYLES

.hide { .hide(); }
.hide-text { .hide-text(); }
.hide-eyes { .hide-eyes(); }

//

.cf { .clearfix(); }