// styles

.panel-network-auth
	margin-bottom f1

	figure
		size 56px

.panel-network-heading
	.icon
		float right
		margin-top f2

.panel-network-auth-username
	font-line 1.5

	&:link,
	&:visited
		color inherit

	&:hover
		color gray

.panel-network-auth-email
	color pale
	margin-left f4

.panel-network-auth-expiration
	text-align right

.panel-network-auth-heading
	font-weight bold
	color blue
	padding-top f2

	&.expiration
		text-align right