// STYLES

figure, .figure {
	position: relative;
	overflow: hidden;

	> a,
	.media,
	.text {
		position: absolute;
		overflow: hidden;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.inner {
			width: 2000px;
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -1000px;

			* {
				margin: 0 auto;
			}
		}
	}

	&.square,
	&.wide {
	}

	&.square {
		.scalar {
			margin-top: 0;
		}
	}

	&.wide {
	}

	&.tube {
	}

	&.hoverable {
		.text {
			opacity: 0;
			background: @c8;
		}

		&:hover, &.hover {
			.box-shadow();

			.text {
				opacity: 1;
			}
		}
	}
}

//

.figure_avatar {
	.margin-bottom(0);

	.text {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-style: normal;
		background-color: fadeout(@c0g5m1, 10%);
		bottom: auto;
		border-top: 0;
	}
}
