// STYLES

ul.inline-block {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0;

	li {
		display: inline-block;
	}
}

ul.flat,
ol.flat {
	li {
		&:before {
			content: none;
			display: none;
		}
	}
}

//

.sep {
	color: @gray;
}

//

.box_minor {
	.margin-height(@f1);

	.box_minor_header {
		.font(1.25, 1);
		text-align: center;
		border-bottom: 1px solid @g3;
		text-transform: uppercase;
		letter-spacing: 1px;
		.margin-top(0);
		.border-margin-bottom(1px, @f2);
	}
}