// STYLES

.panel_volume {
	.wrap {
		position: relative;
	}

	.figure_volume {
		position: absolute;
		top: -(@b1 * 3);
		right: -(@b1 * 4);
		.size(400px);
		.border-radius(400px);
		opacity: .25;
		z-index: 0;
		.transition();

		&:hover {
			opacity: 1;
			z-index: 100;
			.size(450px);
		}
	}
}