// vars

circle = 100px
pad = b2
border = 15px

// styles

.loading
  display none
  position fixed
  z-index 999
  top 0
  left 0
  right 0
  bottom 0
  background-color white

.loading-text
  text-align center
  letter-spacing 1px
  margin-top circle + pad

  span
    padding-width f6
    animation pulse speed ease-in-out infinite

.loading-animation
  position absolute
  top 33%
  left 50%
  width circle
  height circle
  margin (circle / -2) 0 0 (circle / -2)

.loading-circle
  width circle - border
  height circle - border
  border-radius circle - border
  border border solid blue52

.loading-mask
  width 45px
  height 45px
  overflow hidden

.loading-spinner
  position absolute
  top (border / 2)
  left (border / 2)
  width circle - border
  height circle - border
  animation spin (1s) infinite linear

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

@keyframes pulse
  0%
    opacity 1

  50%
    opacity .05

  100%
    opacity 1
