// styles

.permission-auth
  margin-bottom f1
  figure
    size 56px

.permission-auth-username
  font-line 1.5

  &:link,
  &:visited
    color inherit

  &:hover
    color gray

.agency-heading-no-hover
  font-line 1.5

.permission-auth-email
  color pale
  margin-left f4

.permission-auth-expiration
  text-align right

.permission-auth-heading
  font-weight bold
  color blue
  padding-top f2
  .icon
    float right
    margin-top f2
  &.expiration
    text-align right