// styles

.view
	margin-bottom 2

.view-context
	font-line 2 1.5
	margin-top 1
	color red32

	&.smaller
		font-line 1.5 1

.view-title
	font-line 3.5 2.5
	margin-top 1
	margin-bottom 2

	&.smaller
		margin-top 0
		font-line 2 1.75