// styles

.view
  margin-bottom 2

.view-context
  margin-top 1
  font-line 2 1.5
  color red32

  &.smaller
    font-line 1.5 1

.view-title
  font-line 3.5 2.5
  margin-top 0
  margin-bottom 2

  &.smaller
    font-line 2 1.75

.view-link
  display inline-block
  margin-bottom 2

  &:before
    content '< '
