<panel ng-controller="ExcerptsPanel" id="panel-excerpts" panel-title="{{'excerpts.title' | message}}" fold bindonce>
  <div class="row">
    <div class="panel-excerpts-player col-desktop-7 col-laptop-6 col-tablet-5 col-mobile-6">
      <section ng-if="current" class="panel-excerpts-player-frame" bindonce>
        <div ng-repeat="current in [current]">
          <header>
            <a href="" ng-click="jump(current)" class="icon line jump tool" target="_self" tooltip="'excerpts.jump' | message"></a>
            <a ng-href="{{current.downloadLink(false)}}" class="icon line download tool" target="_self" tooltip="'excerpts.download' | message"></a>

            <div class="classification icon line tool" bo-class="page.constants.classification[current.excerpt || current.asset.classification].toLowerCase()" hint="classification-{{page.constants.classification[current.excerpt || current.asset.classification]}}"></div>

            <h1 class="panel-excerpts-player-heading">
              <img class="icon" bo-src="current.icon" hint="format-{{current.format.extension}}">
              <span bo-html="current.displayName"></span>
            </h1>
          </header>

          <div ng-switch="getMimeGroup(current)">
            <div ng-switch-when="image">
              <img ng-src="{{current.downloadLink(true)}}" style="max-width: 100%;">
            </div>

            <div ng-switch-when="video">
              <video bo-if="page.display.videoSupported()" controls excerpt="current">
                <source ng-src="{{srcRoute}}" type="{{current.format.mimetype}}">
              </video>

              <div bo-if="!page.display.videoSupported()" bo-html="'video.unsupported' | message"></div>
            </div>

            <div ng-switch-default></div>
          </div>
        </div>
      </section>

      &nbsp;
    </div>

    <div class="panel-excerpts-list col-desktop-8 col-laptop-6 col-tablet-4 col-mobile-6">
      <div class="row">
        <div class="col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2" ng-repeat="excerpt in volume.excerpts" bindonce>
          <div class="panel-excerpts-binder" ng-class="listClass(excerpt)">
            <div class="panel-excerpts-actions">
              <a ng-href="" ng-click="jump(excerpt)" class="icon line jump tool" target="_self" tooltip="'excerpts.jump' | message"></a>
            </div>

            <div ng-if="hasThumbnail(excerpt)" ng-click="setCurrent(excerpt)" class="panel-excerpts-icon">
              <figure fill>
                <figmedia>
                  <img bo-src="excerpt.thumbRoute()" bo-if="showThumbnail(excerpt)">
                </figmedia>
              </figure>

              <div class="panel-excerpts-video-overlay"></div>
            </div>

            <div ng-if="!hasThumbnail(excerpt)" ng-click="setCurrent(excerpt)" class="panel-excerpts-icon">
              <figure>
                <span bo-text="excerpt.asset.name"></span>
                <img class="panel-excerpt-filetype-thumb" bo-src="excerpt.icon">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
