// styles

.panel-overview-volume-thumb
	max-width none
	width 100%
	margin-bottom f1

.panel-overview-volume-citation
	padding-left 2
	text-indent b1 * -2
	margin-bottom f2
	text-align left

.panel-overview-volume-reuses
	padding 0

	li
		&:before
			display none

	img
		size f23
		position relative
		top 1px

.panel-overview-volume-funds
	margin-bottom f2