<panel ng-controller="OverviewVolumePanel" top id="panel-overview-volume" panel-title="{{'volume.overview.title' | message}}" ng-mouseover="hoverPanel()" bindonce>
  <div class="row">
    <div class="col">
      <hgroup class="panel-overview-volume-header">
        <div class="panel-overview-volume-header-fill"></div>
        <div ng-if="page.auth.hasAccess('ADMIN', volume) && volume.alias" class="panel-alias" bo-text="volume.alias"></div>
        <div class="panel-overview-volume-type"><span class="icon" bo-class="page.types.getVolumeType(volume)" hint="object-{{page.types.getVolumeType(volume)}}"></span>&nbsp;<span bo-html="page.types.getVolumeType(volume) | message"></span></div>
        <h1 class="panel-title smaller" ng-bind-html="volume.name | format:true"></h1>
      </hgroup>
    </div>

    <div class="col-desktop-9 col-laptop-8 col-tablet-6 col-mobile-6">
      <div>
        <div ng-if="volume.citation" frame id="frame-citation" frame-title="{{'volume.citation.title' | message}}" fold>
          <p class="panel-overview-volume-citation">
            <span bo-text="volume.citation.head"></span>&nbsp;<a bo-href="volume.citation.url | handle" ng-title="volume.citation.title" target="_blank" bo-text="'link' | message"></a>
          </p>
        </div>

        <div frame id="frame-metadata" frame-title="{{volumeMessage('body')}}" fold>
          <div class="description" ng-bind-html="volume.body | format"></div>

          <div class="metadata">
            <dl class="flat">
              <dt>{{'volume.creation.title' | message}}</dt>
              <dd>
                <time datetime="{{volume.creation | date:'yyyy-MM-dd HH:mm:ss Z'}}" pubdate>{{volume.creation |
                  date:'MMMM yyyy'}}
                </time>
              </dd>

              <dt>{{'volume.sessions.title' | message}}</dt>
              <dd>{{'volume.sessions' | message:volume.summary.sessions:volume.summary.shared}}</dd>

              <dt ng-if="volume.summary.agemean > 0">{{'volume.ages.title' | message}}</dt>
              <dd ng-if="volume.summary.agemean > 0">{{ageSummary(volume.summary)}}</dd>
            </dl>
          </div>
        </div>

        <div frame id="frame-link" frame-title="{{'volume.link.title' | message}}" fold>
          <p ng-bind-html="volume | cite" class="panel-overview-volume-citation"></p>
        </div>
      </div>
    </div>

    <div class="col-desktop-6 col-laptop-4 col-tablet-3 col-mobile-6">
      <img class="panel-overview-volume-thumb" ng-src="{{page.router.volumeThumb(volume)}}">

      <div ng-if="volume.citation.authors" frame id="frame-authors" frame-title="{{'volume.authors.title' | message}}" fold>
        <ul class="comma">
          <li ng-repeat="author in volume.citation.authors">{{author}}</li>
        </ul>
      </div>

      <div frame id="frame-people" frame-title="{{'volume.contributors.title' | message}}" fold>
        <div class="row">
          <div ng-repeat="volumeAccess in volume.access | filter:isContributor" class="col-desktop-3 col-laptop-4 col-tablet-3 col-mobile-3" ng-init="party = volumeAccess.party">
            <portrait></portrait>
          </div>
        </div>
      </div>

      <div frame id="frame-access" frame-title="{{'volume.access.title' | message}}" fold>
        <div class="row">
          <div ng-repeat="volumeAccess in volume.access | filter:isShared" class="col-desktop-3 col-laptop-4 col-tablet-3 col-mobile-3" ng-init="party = volumeAccess.party">
            <portrait tooltip tooltip-message="{{shareMessage(volumeAccess)}}"></portrait>
          </div>
        </div>
      </div>

      <div frame id="frame-funding" frame-title="{{'volume.funding.title' | message}}" fold>
        <dl class="panel-overview-volume-funds" ng-repeat="funding in volume.funding">
          <dt bo-text="funding.funder.name"></dt>
          <dd ng-repeat="award in funding.awards" bo-text="award"></dd>
        </dl>
      </div>

      <div frame id="frame-reuse" frame-title="{{'volume.reuse.title' | message}}" fold ng-if="hasProps(volume, 'consumers') || hasProps(volume, 'providers')">
        <div class="row">
          <div class="col-desktop-6 col-laptop-4 col-tablet-3 col-mobile-6">
            <div bo-if="hasProps(volume, 'consumers')">
              <div bo-html="'volume.reuse.provides' | message"></div>

              <ul class="panel-overview-volume-reuses">
                <li ng-repeat="ext in volume.consumers">
                  <a bo-href="page.router.volume({id: ext.id})"> <img src="/public/images/browser/icon-study.png">&nbsp;
                    <span bo-text="ext.name"></span></a>
                </li>
              </ul>
            </div>

            <div bo-if="hasProps(volume, 'providers')">
              <div bo-html="'volume.reuse.consumes' | message"></div>

              <ul class="panel-overview-volume-reuses">
                <li ng-repeat="ext in volume.providers">
                  <a bo-href="page.router.volume({id: ext.id})"> <img src="/public/images/browser/icon-dataset.png">&nbsp;
                    <span bo-text="ext.name"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>

