// STYLES

.messages {
	position: fixed;
	z-index: 850;
	top: @b1 * 3;
	width: 100%;
	display: none;
}

.messages_enabled {
	display: block;
}

//

.message {
	min-height: @b1 * 1.5;
	background-color: @pale;
	color: @gray;
	.box-shadow();
	position: relative;
	opacity: .95;
}

//

.message_blue {
	background-color: @blue51;
	color: @blue21;
}

.message_green {
	background-color: @green51;
	color: @green21;
}

.message_red {
	background-color: @red51;
	color: @red21;
}

.message_orange {
	background-color: @orange51;
	color: @orange21;
}

.message_yellow {
	background-color: @yellow51;
	color: @yellow21;
}

.message_purple {
	background-color: @purple51;
	color: @purple21;
}

//

.message_content {
	.padding-height(@f4);

	p {
		.margin-bottom(@f4);
	}

	dl {
		.margin-bottom(0);

		dt {
			display: inline-block;
			float: left;
			clear: left;
			.margin-right(@f8);

			&:after {
				content: ":";
			}

			& + dd {
				&:before {
					content: none;
				}
			}
		}

		dd {
			.margin-left(0);
			display: inline-block;
			float: left;

			&:before {
				content: ', ';
			}
		}
	}
}

//

.message_close {
	.size(@b1);
	.margin-height(@f4);
	float: right;
	cursor: pointer;
	background: url('/public/images/x.png') no-repeat @b6 @b6;
	opacity: .5;

	&:hover {
		opacity: 1;
	}
}

//

.message_animate {
	.transition();
	overflow: hidden;
}

.message_animate.ng-leave.ng-leave-active,
.message_animate.ng-move,
.message_animate.ng-enter {
	.max-height(0);
}

.message_animate.ng-leave,
.message_animate.ng-move.ng-move-active,
.message_animate.ng-enter.ng-enter-active {
	.max-height(4);
}
