// STYLES

.messages {
	position: fixed;
	z-index: 950;
	top: @b1 * 3;
	width: 100%;
}

//

.message {
	.height(1.5);
	.line-height(1.5);

	background-color: @g4;
	color: @g3;
	.box-shadow();
}

//

.message_alert {

}

.message_info {

}

.message_error {

}

.message_trace {

}