// mixins

button-color(color)
  border 1px solid mix(color, gray, 75%)
  background mix(color, white, 25%)

  &:hover
    background mix(color, white, 50%)

  &:active
    background mix(color, white, 75%)