// mixins

filter(value)
  -webkit-filter value
  -moz-filter value
  -ms-filter value
  -o-filter value
  filter value

filter-grayscale(value)
  filter grayscale(value)

filter-sepia(value)
  filter sepia(value)

filter-hue-rotate(value)
  filter hue-rotate(value)

filter-saturate(value)
  filter saturate(value)

filter-brightness(value)
  filter brightness(value)

filter-opacity(value)
  filter opacity(value)

filter-contrast(value)
  filter contrast(value)

filter-invert(value)
  filter invert(value)

filter-blur(value)
  filter blur(value)

filter-drop-shadow(value)
  filter drop-shadow(value)

filter-url(value)
  filter url(value)