@(query : String = "")

<section id="body_header" class="body_header">
    <div class="row">
        <div class="col">
                <h1 class="body_header_h1">
                    <a href="@routes.Static.index" title="Databrary: An Open Data Library">Databrary</a>
                </h1>

                <form class="body_header_search" method="get" action="@routes.Volume.listAll">
                    <div class="w">
                        <input type="search" class="searchbox" name="query" placeholder="Start your search..." value="@query">
                    </div>
                </form>
        </div>
    </div>
</section>

