@(post : Option[Call], comments : Seq[Comment])(implicit request : SiteRequest[_])

@import helper.FieldConstructor
    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

<section id="comments">
    <h1>Comments</h1>

    @post.map { post =>
        @if(request.access >= Permission.COMMENT) {
            <div class="comment form">
                @widget.userinfo(request.user.get)

                @tag.form(post) {
                    <div class="body">
                        @tag.textarea(controllers.Comment.form("text"), 'placeholder -> "Comment")
                        <button type="submit" class="button first">Post</button>
                    </div>
                }
            </div>

        }
    }

    @comments.map { c =>
        <article class="comment">
            @widget.userinfo(c.who, Some(c.time))

            <div class="body">
            @display.plainText(c.text)
            </div>
        </article>
    }
</section>
