@(slot : Option[Slot], post : Option[(Call, controllers.Slot.CommentForm)], comments : Seq[Comment])(implicit request : SiteRequest[_])

@import helper.FieldConstructor
    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

    <section id="comments" class="comments col-desktop-13 col-laptop-9 col-tablet-6 col-mobile-6">
        <h1>Comments</h1>

        @post.map { case (post, form) =>
            @if(request.access >= Permission.VIEW) {
                <div class="comment form">
                    @widget.userinfo(request.user.get)

                    @tag.form(post) {
                        <div class="body">
                            @widget.formErrors(form)

                            @tag.textarea(form("text"), 'placeholder -> "Comment")

                            <button type="submit" class="button first">Post</button>
                        </div>
                    }
                </div>

            }
        }

        @comments.map { c =>
            <article class="comment">
                @widget.userinfo(c.who, Some(c.time), slots = Tuple2(slot, Some(c.slot)))

                <div class="body">
                @display.plainText(c.text)
                </div>
            </article>
        }
    </section>