@(study: Study)(implicit request: SiteRequest[_])

<header>
    <h1>@study.title</h1>

    @if(study.permission >= Permission.EDIT) {
        <nav class="menu">
            <ul>
                <li class="@{
                    if(request.path.toString() == routes.Study.view(study.id).toString()) {
                        "current"
                    }
                }"><a href="@routes.Study.view(study.id)">view</a></li>
                <li class="@{
                    if(request.path.toString() == routes.Study.edit(study.id).toString()) {
                        "current"
                    }
                }"><a href="@routes.Study.edit(study.id)">edit</a></li>
				
					@if(study.permission >= Permission.ADMIN) {
					<li class="@{
                    if(request.path.toString() == routes.Study.admin(study.id).toString()) {
                        "current"
                    }
                }"><a href="@routes.Study.admin(study.id)">permissions</a></li>
					}
            </ul>
        </nav>
    }
</header>
