@(request: Option[SiteRequest[_]])

<header id="site_header" class="site_header">
	<div class="wrap">
        <div class="row">
            <div class="title cf col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4 hide-cell">
                <h1 class="site_header_h1">
                    <a href="@routes.Static.index" title="Databrary: An Open Data Library"><span>Databrary</span></a>
                </h1>

                <nav class="site_header_nav cf hide-mobile hide-cell">
                    <ul class="site_header_nav_ul inline-block flat cf">
                        <li><a href="@routes.Volume.listAll">Explore</a></li>
                        <li><a href="@routes.Static.about">Share</a></li>
                        <li><a href="@routes.Static.about">Discover</a></li>
                    </ul>
                </nav>
            </div>

            <div class="site_header_user col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2">
                @request.filter(_.user.nonEmpty).fold {
                    <a href="@routes.Login.view" id="modal_login_link" class="modal_link" data-target="modal_login">login</a>
                } { request =>
                    @if(request.user.get.access(request.db) == Permission.ADMIN) {
                        @if(request.superuser) {
                            <a class="superuser on" href="@routes.Login.superuserOff">SU</a>
                        }else{
                            <a class="superuser off" href="@routes.Login.superuserOn">SU</a>
                        }
                    }

                    <a href="@request.identity.pageURL(request)" id="modal_profile_link" class="img modal_link" data-target="modal_profile"><img src="@display.avatar(request.identity, 16)" alt="@request.identity.name" class="s16"></a>
                }
            </div>
        </div>
	</div>
</header>
