<footer id="site_footer">
    <div class="wrapper">
        <div class="col">
            <div class="row">
                <nav id="footer_nav">
                    <ul class="inline">
                        <li><a href="/about" title="About the Project">About</a></li>
                        <li><a href="/jobs" title="Join Our Team">Jobs</a></li>
                        <li><a href="/contact" title="Contact Us">Contact</a></li>
                    </ul>
                </nav>

                <aside id="footer_social">
                    <p>Find us on <a href="https://www.facebook.com/pages/Databrary/185349568273416" target="_blank"><img id="facebook" src="/assets/images/social/facebook.jpg" alt="Facebook"></a>, <a href="https://plus.google.com/u/1/111083162045777800330/posts" target="_blank"><img id="google-plus" src="/assets/images/social/gplus.png" alt="Google+"></a>, <a href="https://twitter.com/databrary" target="_blank"><img id="twitter" src="/assets/images/social/twitter.png" alt="Twitter"></a>, and <a href="https://github.com/databrary/" target="_blank"><img id="github" src="/assets/images/social/github.jpg" alt="GitHub"></a>.</p>
                </aside>
            </div>

            <p class="legal">This material is based upon work supported by the National Science Foundation under Grant No. BCS-1238599 and the Eunice Kennedy Shriver National Institute of Child Health and Human Development under Cooperative Agreement 1-U01-HD-076595-01. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or the Eunice Kennedy Shriver National Institute of Child Health and Human Development.</p>

            <p class="legal"><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Databrary.org documentation</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>

            <ul class="legal inline">
                <li><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&HistoricalAwards=false"><img class="sponslogo" src="/images/nsf1.gif"></a> BCS-1238599</li>
                <li><a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&icde=15908155&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC"><img class="sponslogo" src="/images/nih-logo.jpg"></a> 1-U01-HD-076595</li>
            </ul>
        </div>
    </div>
</footer>