@(request : Option[SiteRequest[_]] = None)
<section id="site_header_nav" class="site_header">
	<div class="wrapper">
        <div class="row">
            <div id="site_user" class="drop_down">
                @request.flatMap(_.user).fold {
                    <div class="drop_toggle nil">
                        <a href="@routes.Login.view" class="login modal">login</a>
                        <span>|</span>
                        <a href="@routes.Login.view">register</a>
                    </div>
                } { u =>
                    <div class="drop_toggle">
                        <img src="http://www.gravatar.com/avatar/NONONONO.jpg?s=16&d=mm">
                        @display(u)(request.get)
                    </div>

                    <div class="drop_menu">
                        @display(u)(request.get)
                        <a href="@routes.Login.logout">logout</a>
                    </div>
                }
            </div>
        </div>
	</div>
</section>