@(form : TokenController.IssuePasswordForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@template.action("Reset Password") {
    @widget.panel.form("Reset Password") {
        <div class="col-full">
            @widget.tag.form(form) {
                @widget.tag.inputText(form.email(), 'placeholder -> "Email")

		@widget.formErrors(form)
                <button type='submit' class="button">Send</button>
            }
        </div>
    }
}
