@(form : TokenHtml.IssuePasswordForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@html(Messages("reset.title"), Some(routes.TokenHtml.getPassword(None))) {
  <article class="view">
    @widget.panel.form(Messages("reset.title")) {
        <div class="col">
            @widget.tag.form(form) {
                @widget.tag.inputText(form.email(), 'placeholder -> "Email")

                @widget.formErrors(form)
                <button type='submit' class="button">@Messages("reset.request")</button>
            }
        </div>
    }
  </article>
}
