@(form : TokenController.PasswordForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@html(Messages("reset.title"), cast[TokenController.PasswordTokenForm](form).map(_._token.redeemURL)) {
  <article class="view">
    @widget.panel.form(Messages("reset.title")) {
        <div class="col">
            @widget.tag.form(form) {
                @widget.tag.inputHidden(form.token())
                @widget.tag.inputHidden(form.auth())
                @widget.tag.inputPassword(form.password()("once"), 'placeholder -> "Password")
                @widget.tag.inputPassword(form.password()("again"), 'placeholder -> "Password (repeat)")

                @widget.formErrors(form)
                <button type='submit' class="button">@Messages("save")</button>
            }
        </div>
    }
  </article>
}
