@(form : TokenController.PasswordForm)(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@template.action("Reset Password") {
    @widget.panel.form("Reset Password") {
        <div class="col-full">
            @widget.tag.form(form) {
                @widget.tag.inputHidden(form.token())
                @widget.tag.inputPassword(form.password()("once"), 'placeholder -> "Password")
                @widget.tag.inputPassword(form.password()("again"), 'placeholder -> "Password (repeat)")

		@widget.formErrors(form)
                <button type='submit' class="button">Reset</button>
            }
        </div>
    }
}
