@(acct : models.Account.Id, form : controllers.Token.PasswordForm)(implicit request : SiteRequest[_])

@implicitField = @{ helper.FieldConstructor(widget.tag.minimalFieldConstructor.f) }

@widget.template.raw("Password reset") {
	@widget.tag.form(routes.Token.password(acct)) {
		@widget.tag.inputHidden(form("token"))
		@widget.tag.inputPassword(form("password.once"), 'placeholder -> "Password", '_class -> "big")
		@widget.tag.inputPassword(form("password.again"), 'placeholder -> "Password (repeat)", '_class -> "big")
		<button type='submit' class="big button first">Reset</button>
	}
        @widget.formErrors(form)
}
