<div class="messages" ng-class="messages.getRegionClasses()">
	<div ng-repeat="message in messages.toArray() | filter:{enabled: true}" id="{{message.id}}" ng-class="messages.getMessageClasses(message)" ng-style="messages.getMessageStyles(message, $index)">
		<div class="wrap">
			<div class="row">
				<div class="col">
					<div class="message-close" ng-if="message.closeable" ng-click="messages.disable(message)"></div>
					<div class="message-content" populate="message.body"></div>
				</div>
			</div>
		</div>
	</div>
</div>