<div class="wizard" ng-class="getPanelClasses()">
	<div class="row">
		<div class="wizard-list-name">
			<ul class="flat">
				<li ng-repeat="step in steps | filter:{enable: true}" ng-class="getListItemClasses(step)" ng-click="activateStep(step)">
					<strong class="wizard-list-name">{{step.name || 'wizard.'+step.id+'.name' | message}}</strong>

					<p class="wizard-list-description">{{step.description || 'wizard.'+step.id+'.description' | message}}</p>
				</li>
			</ul>
		</div>

		<div wizard-steps class="wizard-steps col-desktop-12 col-laptop-9 col-tablet-6 col-mobile-4"></div>
	</div>
</div>
