@(elements : helper.FieldElements)

<div class="field cf @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label for="@elements.id" class="hide">@elements.label(elements.lang)</label>

    <div class="input">
        @elements.input

        <div class="messages hide" data-for="#@elements.id">
            @if(elements.infos(elements.lang).nonEmpty || elements.hasErrors) {
                <div class="message @if(elements.hasErrors) {error}else{input}">
                    <dl>
                        @if(elements.args.get('placeholder)) {<dt>@elements.args.get('placeholder):</dt>}
                        @elements.infos(elements.lang).map { info => <dd>@info</dd>}
                        @elements.errors(elements.lang).map { error => <dd>@error</dd>}
                    </dl>
                </div>
            }
        </div>
    </div>
</div>