@(elements: helper.FieldElements)

<div class="field cf @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label for="@elements.id" style="display: none;">@elements.label(elements.lang)</label>

    <div class="input">
        @elements.input

        @if(elements.hasErrors) {
            <aside class="help">
                <ul>
                    @elements.errors(elements.lang).map { error =>
                        <li class="error">@error</li>
                    }
                </ul>
            </aside>
        }
    </div>
</div>
