<ng-form name="authApplyForm" class="permission-auth auth-apply-form">
  <div ng-if="!!auth.party" class="col-desktop-1 col-tablet-1 col-mobile-1">
    <figure class="figure-avatar" ng-class="{inst: auth.party.institution}">
      <img ng-src="{{auth.party.avatarRoute()}}">
    </figure>
  </div>

  <fieldset class="clean" ng-if="!!auth.party">
    <legend ng-bind="'auth.request.title' | message:auth.party.name"></legend>
  </fieldset>

  <fieldset class="clean" ng-if="!auth.party">
    <legend>More information required</legend>

    <div>
      <p>If you cannot find the Principal Investigator or Institution that you are looking for, please complete one of the following steps:</p>
      <ul>
        <li><b>If you're seeking affiliate status from an investigator</b>, please contact him/her directly and suggest creating an account at Databrary. Once an account is created, you can apply for authorization.</li>
        <li><b>If you're seeking authorized investigator status</b>, please list the name and contact information (email, phone number) for your Institution's Authorizing Official that will co-sign your Agreement. This will help us to get you Authorized as quickly as possible.</li>
      </ul>
    </div>

    <validator name="info" label="auth.request.notfound.info">
      <textarea id="field-info" name="info" ng-model="authApplyForm.data.info"></textarea>
    </validator>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="authApplyForm.save()" class="green" message="auth.request"></button>
    <button ng-click="authApplyForm.cancel()" class="yellow" message="cancel"></button>
  </fieldset>
</ng-form>
