<p ng-if="::page.$location.path() === page.router.profile()">
  <span>Showing volumes by internal short name.</span>&nbsp;
  <a ng-href="{{::page.router.party(party.id)}}">(See full titles and descriptions instead)</a>
</p>
<p ng-if="::page.$location.path() === page.router.party(page.models.Login.user.id)">
  <span>Showing volumes by full title and description.</span>&nbsp;
  <a ng-href="{{::page.router.profile()}}">(See internal short names instead)</a>
</p>
<volume-list data="volumes"></volume-list>
<a ng-href="{{page.router.volumeCreate([party.id])}}" ng-if="::party.checkPermission(page.permission.ADMIN)"><span class="button" message="volume.edit.create"></span></a>
