<ng-form name="partyEditProfileForm">
  <scroll-float>
    <fieldset class="clean">
      <button ng-click="partyEditProfileForm.save()" message="save" class="green" ng-disabled="partyEditProfileForm.$pristine || partyEditProfileForm.$invalid || partyEditProfileForm.$submitted"></button>
      <button ng-click="partyEditProfileForm.resetAll()" message="revert" class="red" ng-disabled="partyEditProfileForm.$pristine"></button>
    </fieldset>
  </scroll-float>

  <fieldset>
    <legend message="party.edit.personal"></legend>

    <validator name="prename" label="prename" class="grid-clear-left col-desktop-7 col-tablet-4 col-mobile-6">
      <input type="text" name="prename" ng-model="partyEditProfileForm.data.prename">
    </validator>

    <validator name="sortname" label="sortname" class="grid-clear-right col-desktop-8 col-tablet-5 col-mobile-6">
      <input type="text" name="sortname" ng-model="partyEditProfileForm.data.sortname" ng-minlength="2" required>
    </validator>

    <validator name="affiliation" label="affiliation">
      <input type="text" name="affiliation" ng-model="partyEditProfileForm.data.affiliation">
    </validator>

    <validator name="orcid" label="orcid">
      <input type="text" name="orcid" ng-model="partyEditProfileForm.data.orcid">
    </validator>

    <validator name="url" label="party.edit.url.title">
      <input type="url" name="url" ng-model="partyEditProfileForm.data.url">
    </validator>

    <validator name="avatar" label="party.edit.avatar.title">
      <div class="col-desktop-1 col-tablet-1 col-mobile-1">
        <figure class="party-edit-profile-avatar">
          <img ng-src="{{partyEditProfileForm.avatarUrl}}">
        </figure>
      </div>
      <div class="col-desktop-11 col-tablet-5 col-mobile-3">
        <input type="file" name="avatar" file-model="partyEditProfileForm.data.avatar">
      </div>
    </validator>
  </fieldset>
</ng-form>
