<ng-form name="loginForm">
  <validator name="email" label="email">
    <input id="loginEmail" name="email" ng-model="loginForm.data.email" required>
  </validator>

  <validator name="password" label="password">
    <input id="loginPassword" name="password" type="password" ng-model="loginForm.data.password" required key-enter="loginForm.submit()">
  </validator>

  <button id="loginSubmit" type="submit" class="green" ng-click="loginForm.submit()" ng-disabled="loginForm.$pristine || loginForm.$invalid || loginForm.$submitted" message="login.login"></button>

  <a ng-href="{{::page.router.password()}}" message="login.forgot"></a>
</ng-form>
