<panel top id="panel-overview-party" panel-title="party.overview.title">
  <div class="row">
    <div class="col-desktop-12 col-tablet-6 col-mobile-6 col-cell">
      <hgroup>
        <h1 class="panel-title smaller">
          <span>{{party.name}}</span>
          <a ng-if="::party.checkPermission(page.permission.EDIT)" ng-href="{{::party.editRoute()}}"><span class="green button icon edit"></span></a>
        </h1>
      </hgroup>

      <div>
        <div frame frame-title="party.contact.title" fold>
          <div>
            <dl class="flat">
              <dt ng-if="::party.affiliation" message="affiliation"/>
              <dd ng-if="::party.affiliation" ng-bind="::party.affiliation"></dd>

              <dt ng-if="::party.email" message="email"/>
              <dd ng-if="::party.email"><a ng-href="mailto:{{::party.email}}" ng-bind="::party.email"></a></dd>

              <dt ng-if="::party.orcid" message="orcid"/>
              <dd ng-if="::party.orcid"><a ng-href="http://orcid.org/{{::party.orcid}}" ng-bind="::party.orcid"></a></dd>

              <dt ng-if="::party.url" message="party.view.url"/>
              <dd ng-if="::party.url"><a ng-href="{{::party.url}}" ng-bind="::party.url"></a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="col-desktop-3 col-tablet-3 col-mobile-6 col-cell">
      <img class="panel-overview-party-thumb" ng-src="{{party.avatarRoute(500)}}">
    </div>
  </div>
</panel>
