<div class="download-popup"> 
  <span ng-click="closeDownload()" class="button icon close"></span>

  <div class="popup-file-info">
    <h3>
      <img class="popup-format-icon" ng-src="{{::current.icon}}"/> 
      <span ng-bind="::current.name"></span>
    </h3>
    <ul>
      <li>File format: {{current.format.extension}}</li>
      <li ng-if="::!current.segment.full && !current.segment.empty">
        <span>Duration: </span>
        <span ng-bind="::current.segment.length | timecode"></span>
      </li>
    </ul>
  </div>
  <div ng-if="::hasThumbnail">
    <img class="popup-thumb" ng-src="{{::current.thumbRoute(480)}}">
  </div>
  <div class="popup-cite">
<!--     <cite-volume></cite-volume> -->
  </div>
  <div class="popup-classification">
    <span>This download is for </span>
    <span class="popup-classification-title" ng-bind="::'excerpts.'+classification+'.title' | message"></span>.<br>
    <span ng-bind="::'excerpts.' + classification + '.description' | message"></span>.
  </div>
  <a ng-href="{{current.downloadRoute(false)}}" class=" button green" target="_self" tooltip="'excerpts.download' | message">  
    <span class="download icon"></span><span>Download</span>
  </a>  
</div>