.home-logo
  margin 0
  margin-top 1
  float left
  line-height 3
  a
    color black
    img
      width 260px
  div
    font-size 1.2em
    line-height 100%
    display block
    vertical-align middle
    margin-left 2
    margin-right 2

.home-feature
  margin-bottom 1
  box-shadow box-shadow-def

.home-feature-inner
  position relative

.home-feature-thumb
  width 100%
  cursor pointer
  border-top solid b3 orange53

.home-section-text
  position relative
  background white
  padding f6 f3
  width 100%
  h1
    font-line f34
    a
      link-color black

.home-sections-title
  font-weight bold
  text-transform uppercase
  color gray
  font-line f90 1
  display inline-block

.home-feature-investigators
  font-size f90

  ul
    margin-top 0
    display inline-block

    li
      display inline-block
      margin-right f6

      &:after
        content ', '

      &:last-child
        &:after
          content none

.home-tags
  padding-left b1*2
  ol
    list-style-type none
    padding 0
    font-size 0.8em
    ul 
      padding 0
      padding-left b3
  span
    font-weight 700

.home-tags-item
  font-line 1 1.25
  height b1 + b4
  display block
  margin-right f2
  border-radius b1
  border 1px solid pale
  padding-width f3
  margin-bottom f2
  max-width 250px
  overflow hidden

  &:before
    display none

  &.keyword
    background yellow51

  .home-tag-weight
    position relative
    font-weight bold
    float left
    background green51
    border-radius b3
    margin-right f4
    margin-top f4
    margin-bottom f4
    min-width b1
    font-line f34 f23
    text-align center
    
  .home-tag-name
    position relative
    float left
    height b1
    top -b12
    word-break break-all
    overflow hidden
    text-overflow ellipsis
    max-width 200px
    width 80%

.home-bigbuttons
  background-color neutral51
  position relative
  width 100%
  margin-left 0
  margin-right 0
  margin-bottom b1*2
  padding 0
  padding-bottom b1
  div.bigbuttons-text
    position relative
    margin-right auto
    margin-left auto
    width 100%
    padding-top b1
    font-size b1
    line-height b1*1.5
    @media screen and (max-width: grid-tablet-width+1)
      font-size 20px
      line-height 30px
    p
      text-align center
      margin-bottom 0
      padding-bottom 0
  div.bigbuttons-container
    position relative
    margin-right auto
    margin-left auto
    width 500px
    @media screen and (max-width: grid-mobile-width+1)
      width auto
      padding-top b3
      padding-bottom b3
    div.bigbutton
      color orange53
      text-align center
      position relative
      width 200px
      height 150px
      margin b1
      padding b3
      padding-top b1
      border-radius b3
      border 1px solid orange52
      background-color white
      display inline-table
      box-shadow 0px 3px 3px -3px black
      transition border 0.2s
      @media screen and (max-width: grid-mobile-width+1)
        display block
        width 100%
        height auto
        border-radius 0
        padding b3
        margin 0
        box-shadow none
        border-collapse collapse
      span.button-title
        display block
        font-weight 700
      span:not(.button-title)
        font-size 0.8em
        line-height 1em
    div.bigbutton:hover
      border 1px solid #e27e6d
      
.home-activity
  box-shadow box-shadow-def
  border-top b3 solid green53
  dl.home-section-text
    width 100%
    dt
      float right
      font-size b2
      margin-top b3
    dd
      margin-left 0
      margin-top b3
      border-bottom 1px pale solid
      p
        margin-bottom 0
        font-size b2
        color green53
    dd.home-activity-dataset
      padding-bottom b3
      .icon.dataset
        background-size 80%
        size 2.3
        float left
      .volume-list-investigators
        ul
          padding-left 0
          a
            color black
          a:hover
            color pale
        