// styles

.home-logo
  margin 0
  margin-top 1
  float left
  line-height 3

  a
    display block
    color black

.home-feature
  margin-bottom 3

.home-feature-inner
  position relative

.home-feature-thumb
  width 100%
  cursor pointer
  box-shadow box-shadow-def

.home-feature-info
  position absolute
  bottom b1
  right b1 * -13.25
  //width 15
  background white
  box-shadow box-shadow-def
  padding f6 f3

  h1
    font-line 1

    a
      link-color black

.home-feature-message
  font-weight bold
  text-transform uppercase
  color gray
  font-line f90 1
  display inline-block

.home-feature-investigators
  font-size f90

  ul
    margin-top 0
    display inline-block

    li
      display inline-block
      margin-right f6

      &:after
        content ', '

      &:last-child
        &:after
          content none

.home-parties
  margin-bottom 3

.home-parties-header
  font-weight normal
  letter-spacing 2px
  text-transform uppercase
  font-line 2 3
  margin 0 2 f1 0
  padding-right f1
  display inline-block
  background-color orange52
  position relative
  text-shadow -1px 0 2px orange51

  span.background
    background-color orange52
    position absolute
    left -50px
    right 0px
    top 0
    bottom 0
    z-index -100

.home-party
  margin-bottom f1
  transition transition

  &:hover
    box-shadow box-shadow-def

  img
    display block
    cursor pointer
    width 100%
    max-width none

  .info
    padding f6 f3
    text-align center

    a
      color black

      &:hover
        color gray

  h1
    font-line 1

  .affiliation
    color gray

// media

@media screen and (max-width: grid-mobile-width)
  .home-feature-info
    width auto
    top auto
    bottom b1 * -2
    right b1
    left b1

    h1
      font-line f34

  .home-parties-header
    font-line 1.25 2
    letter-spacing 1px

@media screen and (min-width: (grid-mobile-width + 1)) and (max-width: (grid-tablet-width))
  .home-feature-info
    top 0
    bottom b4
    left 100%
    overflow hidden

    h1
      font-line f90

  .home-parties-header
    font-line 2 3

@media screen and (min-width: grid-tablet-width + 1)
  .home-feature-info
    width 13.25
    right b1 * -9.75
