<article class="view home-view" bindonce>
  <div class="wrap">
    <div class="row">
        <div class="home-logo">
          <a ng-href="{{page.router.index()}}" title="Databrary: An Open Data Library"><img src="public/images/logo/databrary.png"></a>
        </div>
    </div>
    <div class="row">
      <article class="home-feature col-desktop-11 col-tablet-6 col-mobile-6">
        <div class="home-feature-inner">
          <img bo-src="volume.thumbRoute()" class="home-feature-thumb" ng-click="page.$location.url(volume.route)">

          <div class="home-feature-info col-tablet-5">
            <div class="home-feature-message" bo-text="'welcome.featured' | message"></div>
            <h1><a bo-href="volume.route" bo-text="volume.name"></a></h1>

            <div class="home-feature-investigators">
              <ul class="inline-block comma">
                <li ng-repeat="access in volume.access | filter:{individual: page.permission.ADMIN}">
                  <a bo-href="access.party.route" bo-text="access.party.name"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="home_parties">
      <div class="row">
        <div class="col">
	  <h1 class="home-parties-header"><span class="background"></span><span bo-text="'welcome.investigators' | message"></span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-desktop-5 col-laptop-4 col-tablet-4 col-mobile-6" ng-repeat="party in investigators" bindonce>
          <portrait></portrait>
        </div>
      </div>

      <div class="row">
        <div class="col">
	  <h1 class="home-parties-header"><span class="background"></span><span bo-text="'welcome.users' | message"></span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-desktop-5 col-laptop-4 col-tablet-4 col-mobile-6" ng-repeat="party in users" bindonce>
          <portrait></portrait>
        </div>
      </div>
    </div>
  </div>
</article>
