<article class="view home-view">
  <div class="wrap">
    <div class="row">
      <div class="home-logo">
        <a ng-href="{{page.router.index()}}" title="Databrary: An Open Data Library"><img src="public/images/logo/databrary-nav.svg"></a>
      </div>
    </div>
  </div>
  <div class="home-bigbuttons">
    <div class="bigbuttons-text">
      <p>Databrary is an open data library for developmental science.
        <br>Share video, audio, and related metadata. Discover more, faster.
      </p>
    </div>
    <div class="bigbuttons-container">
      <div class="bigbutton">
        <span class="button-title">Browse Data</span>
        <span class="hide-mobile"><a href="/volume">By search term</a><br></span>
        <span class="hide-mobile"><a href="/party">By contributor</a><br></span>
      </div>
      <div class="bigbutton">
        <span class="button-title">Share Data</span>
        <span class="hide-mobile"><a href="/volume/create">Create a Study</a></br></span>
        <span class="hide-mobile"><a href="http://databrary.org/access/guide/investigators/access.html">Learn more</a> about sharing your data.</span>
      </div> 
    </div>
  </div>
  <div class="wrap">
    <div class="row">
      <div class="col-desktop-10 col-tablet-6 col-mobile-6">
        <article class="home-feature row">
          <div class="home-feature-inner">
            <img ng-src="{{::volume.thumbRoute()}}" class="home-feature-thumb" ng-click="page.$location.url(volume.route())">

            <div class="home-section-text">
              <div class="home-sections-title" message="welcome.featured"></div>
              <h1><a ng-href="{{::volume.route()}}" ng-bind="::volume.name"></a></h1>

              <div class="home-feature-investigators">
                <ul class="inline-block comma">
                  <li ng-repeat="access in volume.access | filter:{individual: page.permission.ADMIN}">
                    <a ng-href="{{::access.party.route()}}" ng-bind="::access.party.name"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="home-activity row">
          <span class="home-section-text home-sections-title">Recent Activity</span>
          <dl class="home-section-text">
            <dt ng-repeat-start="act in ::activity">
              <time datetime="{{::act.time | date:'yyyy-MM-dd HH:mm:ss Z'}}" pubdate>
                {{::act.time | date}}
              </time>
            </dt>
            <dd class="home-activity-volume" ng-if="::act.volume" ng-init="volume=act.volume">
              <p>New Shared Data</p>
              <img class="volume-thumb" ng-src="{{::volume.thumbRoute()}}">
              <div>
                <a ng-href="{{::volume.route()}}" ng-bind="::volume.name"></a>
                <div class="volume-list-investigators" ng-if="::volume.access">
                  <ul class="inline-block comma">
                    <li ng-repeat="access in ::volume.access | filter:{individual: page.permission.ADMIN}">
                      <a ng-href="{{::access.party.route()}}" ng-bind="::access.party.name"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </dd>
            <dd ng-repeat-end ng-if="::act.party" ng-init="party=act.party">
              <p>New Authorized <span ng-if="::party.institution">institution</span><span ng-if="::!party.institution">Investigator</span></p>
              <portrait></portrait>
            </dd>
          </dl>
        </article>        
      </div>
      <div class="home-tags col-desktop-5 col-tablet-3 col-mobile-6">
        <span class="home-sections-title">Top Tags</span>
        <ol>
          <ul ng-repeat="tag in ::tags" class="home-tags-item">
            <div class="home-tag-weight" ng-bind="::tag.weight"></div>
            <div class="home-tag-name"><a ng-href="{{::page.router.volumeSearch()}}?query={{::tag.id}}" ng-bind="::tag.id"></a></div>
          </ul>
        </ol>
      </div>
    </div>
  </div>
</article>
