// styles

.panel
  margin-top 3
  padding-bottom f1

.panel-header
  font-weight normal
  letter-spacing 2px
  text-transform uppercase
  font-line 2 3
  margin 0 2 1 0
  padding-right 1
  display inline-block
  background-color green52
  position relative
  text-shadow -1px 0 2px green51

  span:not(.button)
    background-color green52
    position absolute
    left -50px
    right 0px
    top 0
    bottom 0
    z-index -100
  span.button
    size 1

.panel-alias
  font-line 1
  margin 0
  color black

.panel-title
  font-line 3.5 2.5
  margin-top 1
  margin-bottom 2

  span.icon.button
    margin-left b3

  &.smaller
  &.with-context
    margin-top 0

  &.smaller
    font-line 2 1.75

.panel
  &.foldable
    margin-top 0

    .panel-header
      cursor pointer

      &:before
        transition transition
        content ""
        size 0
        display block
        float left
        position relative
        top b1 + b6
        border b3 solid transparent
        border-top-color black
        margin-right f6

      &:hover
        color mix(green, black, 25%)

        &:before
          transform rotate(-45deg)

    .fold
      transition transition

    &.folded
      .panel-header
        &:before
          transform rotate(-90deg)

        &:hover
          &:before
            transform rotate(-45deg)

      .fold
        display none
