// styles

.search-form
  padding-top 1
  padding-bottom 2

.search-form-search
  margin f2 f8 f4 f4

  input[type="search"]
    max-width 16
    margin-bottom 0
    padding-top 0
    padding-bottom 0
    position absolute
    top -6px
    right 10px

    @media screen and (max-width: 550px)
      width 3
    @media screen and (min-width: 551px)
      width 6
