<div class="panel-tags-list">
  <ng-form name="tagForm" isolate>
    <ul class="panel-tags-items">
      <li ng-repeat="tag in tags" class="panel-tags-item" ng-class="{'keyword': tag.keyword}">
        <div class="panel-tag-name" ng-bind="tag.id"></div>
        <div class="panel-tag-controls" ng-if="::target">
          <button class="panel-tag-vote available null" name="vote" ng-click="vote(tag.id, false)" ng-if="keyword || tag.vote" hint="tags-vote-null">
            -
          </button>
          <button class="panel-tag-vote available up" name="vote" ng-click="vote(tag.id, true)" ng-if="!keyword && !tag.vote" hint="tags-vote-up">
            +
          </button>
        </div>
      </li>
      <li class="panel-tags-item" ng-if="::target">
        <tag-add ng-if="::!keyword"></tag-add>
        <tag-add ng-if="::keyword" keyword></tag-add>
      </li>
    </ul>
  </ng-form>
</div>
