// styles

.wizard-list
  ul
    border-right 1px solid pale
    margin 0
    padding-left 0
    padding-top f4
    padding-bottom 2

  li
    transition transition
    padding f4 f2 f4 f2
    border 1px solid pale
    border-right-width 0
    position relative
    background-color white
    border-radius b4 0 0 b4
    margin-bottom f8
    margin-left f2
    cursor pointer

    &.active
      margin-left 0
      padding-right f1
      margin-right -1px

    &:hover
      margin-left 0
      padding-right f1

      .wizard-list-name
        text-decoration underline

    &.error
      background-color red51

    &.incomplete
      background-color yellow51

    &.blocked
      background-color mix(pale, white, 50%)

      &:hover
        margin-left f2
        padding-right f2

        .wizard-list-name
          text-decoration none

    &.complete
      &.blocked
        background-color green51

.wizard-list-name
  font-size f90
  @media screen and (max-width: 700px)
    font-size f80

.wizard-list-description
  margin-bottom f6
  text-align left
  font-line f34 f34
  @media screen and (max-width: 700px)
    font-line f23 f23

.wizard-step-instructions
  padding-bottom 1
  p:last-child
    margin-bottom 0px