// vars

grid-spread = 16
grid-column = 56px
grid-gutter = 24px

grid-desktop-spread = 15
grid-desktop-width = 1216px

grid-laptop-spread = 12
grid-laptop-width = 976px

grid-tablet-spread = 9
grid-tablet-width = 736px

grid-mobile-spread = 6
grid-mobile-width = 0px