@**
 * Prepare a generic HTML input.
 *@
@(field: play.api.data.Field, args: Map[Symbol, Any])(inputDef: (String, String, Option[String], Map[Symbol,Any]) => Html)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)
@defining(args.get('id).fold(field.id)(_.toString)) { id =>
@handler(
    helper.FieldElements(
        id,
        field,
        inputDef(id, field.name, field.value, args.filterKeys(arg => !arg.name.startsWith("_") && arg != 'id).updated('class, (if(field.hasErrors) "error " else "")+args.getOrElse('class, ""))),
        args,
        lang
    )
)
}
