@(elements : helper.FieldElements)

<div class="field cf @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.getOrElse('_id, elements.id + "_field")">
    <label for="@elements.id" @if(elements.args.getOrElse('label, true) == false) {class="hide"}>@elements.args.getOrElse('placeholder, elements.label(elements.lang))</label>

    <div class="input">
        @elements.input

        <div class="field_messages hide">
            @if(elements.infos(elements.lang).nonEmpty || elements.hasErrors) {
                <div class="field_message" message db-message-type="@if(elements.hasErrors){error}else{info}" db-message-target="#@elements.id">
                    <dl>
                        @if(elements.args.get('placeholder)) {<dt>@elements.args.get('placeholder)</dt>}
                        @elements.infos(elements.lang).map { info => <dd>@info</dd>}
                        @elements.errors(elements.lang).map { error => <dd>@error</dd>}
                    </dl>
                </div>
            }
        </div>
    </div>
</div>
