// styles

.portrait
	margin-bottom 1
	height 2

	.figure-avatar
		float left
		size 2
		margin-right f4

.portrait-name,
.portrait-affiliation
	overflow ellipsis
	font-line 1
	display block
	height 1

.portrait-name
	font-weight bold
	link-color orange

.portrait-affiliation
	color gray