@(record : models.Record, meas : Seq[Metric], form : controllers.Record.EditForm, json : Html)(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud("Edit Record: " + record.toString()) {
    <article>
        @crud.recordHeader(record)

        @tag.form(routes.Record.update(record.volumeId, record.id)) {
            @widget.formErrors(form)

            @tag.select(form("category"), ("0", "Custom...") +: RecordCategory.getAll.map(c => (c.id.unId.toString, c.name)), 'placeholder -> "Record category", '_label -> true)


            <fieldset class="metrics">
                <legend>Metrics</legend>

                <div class="repeater repeater-metrics" data-rows="@json.toString">
                    @meas.zipWithIndex.map { case (m, i) =>
                        <div class="repeat">
                            <div class="repeated">
                                @defining(form("measure[" + i + "]")) { form =>
                                    @tag.inputHidden(form("metric"), 'class -> "metric")

                                    <label>@m.name (@m.classification)</label>
                                    @m.dataType match {
                                        case DataType.date => {
                                            @tag.inputDate(form("datum"), 'placeholder -> "Date", 'class -> "half datum")
                                        }
                                        case _ if m.values.nonEmpty => {
                                            @tag.select(form("datum"), ("", "") +: m.values.map(v => (v, v)), 'class -> "datum")
                                        }
                                        case _ => {
                                            @tag.inputText(form("datum"), 'class -> "datum")
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }

                    <div class="repeat">
                        <div class="repeated">
                            @tag.select(form("measure["+meas.length+"].metric"), Metric.getAll.map(m => (m.id.unId.toString, m.name + " (" + m.classification + ")")), 'placeholder -> "Metric", 'class -> "metric", '_class -> "metric-div")
                            @tag.inputText(form("measure["+meas.length+"].datum"), 'placeholder -> "Value", 'class -> "datum", '_class -> "datum-div")
                        </div>
                    </div>
                </div>
            </fieldset>

            <button type='submit' class="big button first">Update</button>
        }
    </article>
}
