@(editForm : RecordController.EditForm, measureForms : Seq[RecordController.MeasureForm], metricForm : RecordHtml.MetricForm)(implicit request : RecordHtml.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@template.form(Some(request.obj), "Edit Record") {
    @widget.tag.form(editForm) {
	@widget.tag.select(editForm.category(), RecordCategory.getAll.map(c => (c.id.toString, c.name)), '_default -> "None")
	@widget.formErrors(editForm)
	<button type='submit' class="button">Update</button>
    }

                <fieldset>
                    <legend>Metrics</legend>

                    <div class="repeat">
		    @measureForms.map { form =>
		    @widget.tag.form(form) {
                        <div class="repeat_repeated">
                            <div class="field cf">
				@form.metric.name (@form.metric.classification)
                            </div>

                            <div class="field cf">
			    @form.metric.dataType match {
			    case _ if form.metric.values.nonEmpty => {
				@widget.tag.select(form.datum(), form.metric.values.map(v => (v,v)), '_default -> "")
			    }
			    case DataType.date => {
				@widget.tag.inputDate(form.datum())
			    }
			    case _ => {
				@widget.tag.inputText(form.datum())
			    }
			    }
                            </div>
                        </div>

                        <div class="repeat_controls">
			    @widget.formErrors(form)
			    <button type='submit' class="button">Update</button>
                        </div>
		    }
		    }
                    </div>

                    <div class="repeat">
		    @widget.tag.form(metricForm) {
                        <div class="repeat_repeated">
			    @widget.tag.select(metricForm.metric(), (Metric.getAll.toSeq diff measureForms.map(_.metric)).map(m => (m.id.toString, m.name)))
                        </div>

			<div class="repeat_controls">
			    @widget.formErrors(metricForm)
			    <button type='submit' class="button">Add</button>
			</div>
		    }
                    </div>
                </fieldset>

}
