@(slots : Seq[Slot])(implicit request : RecordHtml.Request[_])

@defining(request.obj) { record =>
@template.crud("Record: " + record.pageName) {

@widget.panel.raw("overview", "panel_record")(){
    <div class="col-full panel_overview_actions">
        <ul class="breadcrumbs">
        @Path(record).toHtml
        </ul>


        <ul class="actions">
	        <li><a href="@record.pageURL">view</a></li>
	    @if(record.checkPermission(Permission.EDIT)) {
	        <li><a href="@controllers.routes.RecordHtml.edit(record.id)">edit</a></li>
	    }
        </ul>
    </div>

    <h1 class="col-full panel_title">@display.formatTitle(record.pageName)</h1>

    @widget.frame.raw("record", "")("Metadata") {
	<div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
	    <div class="metadata">
		<dl class="flat">
		    @record.measures.list.map { m =>
			<dt>@m.metric.name.capitalize</dt>
			<dd>@m.datum</dd>
		    }
		</dl>
	    </div>
	</div>
    }
}

      @widget.panel.raw("sessions", "")(title = "Sessions"){
	  <div class="col-full">
	      <ul>
		  @slots.map { slot =>
			  <li>@display(slot)</li>
		  }
	      </ul>
	  </div>
      }

}
}
