@(form : IngestController.AdolphForm, text : String = "", target : Option[SitePage] = None)(implicit request : VolumeController.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@html("CSV Ingestion", None) {
  <article class="view">
    @ingest.panel("CSV Ingestion"){
        <div>

            @widget.tag.form(form) {
                @widget.tag.inputFile(form.participants())
                @widget.tag.inputFile(form.sessions())

                @widget.formErrors(form)
                <button type='submit' name='run' value='false' class="button third">Preview</button>
                <button type='submit' name='run' value='true' class="button">Ingest</button>
            }

            @display.plainText(text)

            @target.map(display(_))
        </div>
    }
  </article>
}
