@(vol : models.Volume, form : controllers.Ingest.CSVForm, text : String = "", target : Option[SitePage] = None)(implicit site : Site)

@widget.template.raw("CSV Ingest") {

    @widget.tag.form(routes.Ingest.curated(vol.id), 'enctype -> "multipart/form-data") {
        @widget.tag.inputFile(form("file"))
        <button type='submit' name='run' value='false'>Preview</button>
        <button type='submit' name='run' value='true'>Ingest</button>
    }
    @widget.formErrors(form)

    @display.plainText(text)
    @target.map(display(_))

}
