@(vol : models.Volume, form : controllers.Ingest.CSVForm, text : String = "", target : Option[SitePage] = None)(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@template.action("CSV Ingestion") {
    @widget.panel.ingest("CSV Ingestion"){
        <div class="col-full">
            @widget.formErrors(form)

            @widget.tag.form(routes.Ingest.curated(vol.id), 'enctype -> "multipart/form-data") {
                @widget.tag.inputFile(form("file"))

                <button type='submit' name='run' value='false' class="button third">Preview</button>
                <button type='submit' name='run' value='true' class="button">Ingest</button>
            }

            @display.plainText(text)

            @target.map(display(_))
        </div>
    }
}