@(form : IngestController.CuratedForm, text : String = "", target : Option[SitePage] = None)(implicit request : VolumeController.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@ingest.template("CSV Ingestion") {
            @widget.tag.form(form) {
                @widget.tag.inputFile(form.file())

                @widget.formErrors(form)
                <button type='submit' name='run' value='false' class="button third">Preview</button>
                <button type='submit' name='run' value='true' class="button">Ingest</button>
            }

            @display.plainText(text)

            @target.map(display(_))
}
