@(vol : models.Volume, res : (Iterable[Record], Iterable[SlotAsset]))(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@widget.template.action("CSV Ingestion Result") {
    @widget.panel.ingest("CSV Ingestion Results"){
        <div class="col-full">
            <h2>Participant records:</h2>

            <ul>
            @res._1.map { rec =>
                <li>@display(rec)</li>
            }
            </ul>

            <h2>Assets:</h2>

            <ul>
            @res._2.map { a =>
                <li>@display(a)</li>
            }
            </ul>
        </div>
    }
}
