@(form : IngestController.JsonForm, text : String = "", target : Iterable[SitePage] = None)(implicit request : VolumeController.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.labeledFieldConstructor.f)
}

@ingest.template("JSON Ingestion") {
  @widget.tag.form(form) {
    @widget.tag.inputFile(form.json())

    @widget.formErrors(form)
    <button type='submit' name='run' value='false' class="button third">Preview</button>
    <button type='submit' name='run' value='true' class="button">Ingest</button>
  }

  <pre>
@text
  </pre>

  <ul>
  @target.map { r =>
    <li>@display(r)</li>
  }
  </ul>
}
