@(id: String, classes: String, attr: (Symbol, Any)*)(caption: Html = Html(""), scalar: String = "", link: String = "", title: String = "", hoverable: Boolean = false)(body: Html)

<figure id="figure_@id" class="figure figure_@id @if(scalar.nonEmpty){scalar @scalar} @if(hoverable){hoverable} @classes" @El.attrToHtml(attr)>
    @if(link.nonEmpty){<a href="@link" @if(title.nonEmpty){title="@title"}>}

    <div class="media">
        @body
    </div>

    @if(caption.toString != "") {
        <figcaption class="text">@caption</figcaption>
    }

    @if(scalar.nonEmpty){
        <img class="scalar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
    }

    @if(link.nonEmpty){</a>}
</figure>
