@(id: String, classes: String, attr: (String,String)*)(caption: Html = Html(""), link: String = "", title: String = "", arbitrary : Html = Html(""))(body: Html)

<figure id="figure_@id" class="figure figure_@id @classes" @El.attrToHtml(attr) @arbitrary>
    @if(link.nonEmpty){<a href="@link" @if(title.nonEmpty){title="@title"}>}

    <div class="media">
        @body
    </div>

    @if(caption.toString != "") {
        <figcaption class="text">@caption</figcaption>
    }

    @if(link.nonEmpty){</a>}
</figure>
