@(slot : Slot, records : Seq[Record], classes: String = "", hoverable: Boolean = true)(implicit request : SiteRequest[_])

@cap = {
    <dl class="panel_browser_defs">
        <dt>@slot.pageName</dt>

        @records.map { record =>
            @record.category match {
                case Some(RecordCategory.Participant) => {
                    <dd>
                        <span class="gender">@record.measures.value(Metric.Gender)</span>,
                        <span class="age">@display.age(record, slot)</span>
                    </dd>
                }
                case Some(_) => {
                    <dd>@record.pageName</dd>
                }
                case None => {}
            }
        }
    </dl>
}

@widget.figure.thumbSlot(slot, caption = cap, link = slot.pageURL.toString, title = slot.pageName, classes = classes, hoverable = hoverable)
