@(title : String = "", toolbar: String = "explore", css : Html = Html(""), js : Html = Html(""))(body : Html)(implicit request : RequestObject[SiteObject]#Site[_])

@script = {}

@defining(request.obj.pageActions) { actions =>
    @widget.template.html5(title, Some(request), toolbar, css, script += js) {
        <main id="body_content" class="body_content">
            <article class="article article_crud @request.obj.getClass.getSimpleName.toLowerCase @actions.find(_.route.url.equals(request.path)).fold("")(_.name.replaceAllLiterally(" ", "-").toLowerCase)">
                @body
            </article>
        </main>
    }
}
