@(title : String = "The Databrary Project", redirect : Boolean = false)(requestOption: Option[SiteRequest[_]] = None)(body : Html)

@import play.api._
@import play.api.Play.current

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@title || Databrary: The Open Data Library for Developmental Science</title>

    <!-- icons -->
    <link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("icons/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("icons/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("icons/apple-touch-icon.png")">

    <!-- css -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme.min.css")">

    <!-- js -->
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/app/app").url)

    <!-- redirect -->
    <script>
        window.$play = {};

        @requestOption match {
            case Some(request:RequestObject[_]#Site[_]) => {
                @request.obj match {
                    case obj:SiteObject => {
        window.$play.object = @format.raw(play.api.libs.json.Json.toJson(obj.json).toString);
                    }
                    case _ => {}
                }
            }
            case _ => {}
        }

        @if(redirect) {
        window.$play.redirect = true;
        }
    </script>

    <!-- more -->
</head>

<body class="@if(Play.isDev){dev}">
    <section id="toolbars" ng-controller="ToolbarCtrl" class="cf">
        <nav id="toolbar_databrary" class="toolbar toolbar_databrary">
            <div class="wrap">
                <div class="row">
                    <div class="title cf col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4">
                        <h1 class="toolbar_h1">
                            <a ng-href="{{router.index()}}" title="Databrary: An Open Data Library"><span>Databrary</span></a>
                        </h1>

                        <nav class="toolbar_nav cf hide-mobile hide-cell">
                            <ul class="toolbar_nav_ul inline-block flat cf">
                                <li><a ng-href="{{router.search()}}">Explore</a></li>
                                <li><a ng-href="{{router.search()}}">Share</a></li>
                                <li><a ng-href="{{router.search()}}">Discover</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="toolbar_user col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2 ng-cloak">
                        <span has-auth="!view">
                            <a href="#" ng-click="authService.showLogin()">login</a>
                        </span>

                        <span has-auth="view">
                            <a href="#" ng-click="authService.logout()">logout</a>

                            <span has-auth="admin">
                                <span class="sep">|</span>
                                <a has-auth="!super" class="superuser off" href="#" ng-click="authService.toggleSU(true)">SU</a>
                                <a has-auth="super" class="superuser on" href="#" ng-click="authService.toggleSU(false)">SU</a>
                            </span>

                            <a href="#" ng-click="authService.showProfile()" class="img"><img ng-src="{{authService.user.avatar || authService.user.email | gravatar:16}}" alt="{{authService.user.username}}"></a>
                        </span>
                    </div>

                    <div mode-server class="toolbar_user col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2">
                    @requestOption.filter(_.user.isDefined).fold {
                        <a href="@routes.LoginHtml.view">login</a>
                    } { request =>
                        <a href="@routes.LoginHtml.logout">logout</a>

                        @if(request.access == Permission.ADMIN) {
                            <span class="sep">|</span>

                            @if(request.superuser) {
                                <a class="superuser on" href="@routes.LoginHtml.superuserOff">SU</a>
                            } else {
                                <a class="superuser off" href="@routes.LoginHtml.superuserOn">SU</a>
                            }
                        }

                        <a href="@requestOption.get.identity.pageURL" class="img"><img src="@display.avatar(requestOption.get.identity, 16)" alt="@requestOption.get.identity.name"></a>
                    }
                    </div>
                </div>
            </div>
        </nav>

        <nav id="toolbar_context" class="toolbar toolbar_context hide-print ng-cloak">
            <div class="wrap">
                <div class="row">
                    <div class="col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4 col-cell">
                        <ul class="toolbar_menu toolbar_menu_left">
                            <li ng-repeat="panel in panels | filter:{enabled: true}" class="link_{{panel.panel.id}}" ng-class="getPanelClasses(panel)"><a ng-click="focusPanel(panel)">{{panel.panel.title}}</a></li>
                        </ul>
                    </div>

                    <div class="col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2 col-cell">
                        <ul class="toolbar_menu toolbar_menu_right">
                            <li ng-repeat="item in links" class="toolbar_menu_item"><a ng-href="{{item.url}}" target="{{item.target}}" class="{{item.classes}}" title="{{item.title}}"><img ng-if="item.image" ng-src="{{item.image}}" alt="{{item.text}}"> <span ng-hide="item.image">{{item.path | uppercase}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <main ng-view id="main" class="main">
        <noscript>
            @body
        </noscript>
    </main>

    <div id="messages" class="messages" ng-controller="MessageCtrl" ng-class="{messages_enabled: isEnabled()}">
        <div ng-repeat="message in messages | filter:{enabled: true}" id="{{message.id}}" class="message message_{{message.type}} message_animate" ng-class="{message_enabled: message.enabled, message_target: message.target, message_closable: message.closable}" style="z-index : { { 500 - $ index } } ;">
            <div class="wrap">
                <div class="row">
                    <div class="col-full">
                        <div class="message_close" ng-if="message.closeable" ng-click="disableMessage(message)"></div>
                        <div class="message_content" ng-bind-html="message.message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

