@(title : String = "The Databrary Project")(requestOption: Option[SiteRequest[_]] = None)(body : Html)

@import play.api._
@import play.api.Play.current

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@title || Databrary: The Open Data Library for Developmental Science</title>

    <!-- icons -->
    <link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("icons/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("icons/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("icons/apple-touch-icon.png")">

    <!-- css -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme.min.css")">

    <!-- js -->
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/app/app").url)

    <!-- templates -->
    @angular.partial("searchView"){@angular.view.searchView()}
    @angular.partial("partyView"){@angular.view.partyView()}
    @angular.partial("volumeView"){@angular.view.volumeView()}
    @angular.partial("slotView"){@angular.view.slotView()}
    @angular.partial("recordView"){@angular.view.recordView()}
    @angular.partial("assetView"){@angular.view.assetView()}
    @angular.partial("playerView"){@angular.view.playerView()}
    @angular.partial("loginView"){@angular.view.loginView()}

    @angular.partial("overviewPartyPanel"){@angular.panel.overviewPartyPanel()}
    @angular.partial("overviewVolumePanel"){@angular.panel.overviewVolumePanel()}
    @angular.partial("overviewSlotPanel"){@angular.panel.overviewSlotPanel()}
    @angular.partial("overviewRecordPanel"){@angular.panel.overviewRecordPanel()}
    @angular.partial("overviewAssetPanel"){@angular.panel.overviewAssetPanel()}
    @angular.partial("dataPanel"){@angular.panel.dataPanel()}
    @angular.partial("networkPanel"){@angular.panel.networkPanel()}
    @angular.partial("browserPanel"){@angular.panel.browserPanel()}
    @angular.partial("materialsPanel"){@angular.panel.materialsPanel()}
    @angular.partial("publicationsPanel"){@angular.panel.publicationsPanel()}
    @angular.partial("peoplePanel"){@angular.panel.peoplePanel()}
    @angular.partial("tagsPanel"){@angular.panel.tagsPanel()}
    @angular.partial("commentsPanel"){@angular.panel.commentsPanel()}
    @angular.partial("playerPanel"){@angular.panel.playerPanel()}
    @angular.partial("searchPanel"){@angular.panel.searchPanel()}
    @angular.partial("loginPanel"){@angular.panel.loginPanel()}

    @angular.partial("frame"){@angular.directive.frame()}
    @angular.partial("portrait"){@angular.directive.portrait()}
    @angular.partial("panel"){@angular.directive.panel()}
    @angular.partial("panelMode"){@angular.directive.panelMode()}
    @angular.partial("browserGroup"){@angular.directive.browserGroup()}
    @angular.partial("browserList"){@angular.directive.browserList()}

    @angular.partial("browserVolume"){@angular.directive.browserVolume()}
    @angular.partial("browserRecord"){@angular.directive.browserRecord()}
    @angular.partial("browserSession"){@angular.directive.browserSession()}

    @angular.partial("volumeBlurb"){@angular.temp.volumeBlurb()}

    <!-- more -->
</head>

<body class="@if(Play.isDev){dev}">
    @angular.controller.toolbarCtrl()

    <main ng-view id="main" class="main">
        <noscript>
            @body
        </noscript>
    </main>

    @angular.controller.messageCtrl()
</body>
</html>

