@(title: String = "", css: Html = Html(""), js: Html = Html(""))(body: Html)(implicit request: SiteRequest[_])

@widget.template.html5(title, "about", css, js) {
    <div class="wrap">
        <section id="static_header" class="body_header static_header">
            <div class="row">
                <div class="col-full">
                    <h1 class="body_header_h1">
                        <a href="@routes.VolumeHtml.search" title="Databrary: An Open Data Library"><strong>Data</strong>brary</a>
                    </h1>

                    <form class="body_header_search" method="get" action="@routes.VolumeHtml.search">
                        <div class="w">
                            <input type="search" class="searchbox" name="query" placeholder="Start your search..." value="">
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="row">
            <article class="article article_static col-full">
                @body
            </article>
        </div>
    </div>
}
