@(party : Party, form : controllers.Party.EditForm, authorizeForms : Seq[(Party,Form[Authorize])], authorizeWhich : Option[Boolean], authorizeSearch : Form[String], authorizeResults : Seq[(Party,Form[Authorize])])(implicit request : UserRequest[_])


@template.crud("Admin Party: " + party.toString()) {
    <article>
        <h1>@party.toString()</h1>

	@helper.form(routes.Party.change(party.id)) {
		@helper.inputText(form("name"))
		@helper.inputText(form("orcid"))
		@if(controllers.Party.formForAccount(form, party)) {
			@helper.inputText(form("email"))
			@helper.inputPassword(form("password"))
			@helper.inputPassword(form("again"))
			@helper.inputText(form("openid"))
		}
		<button type='submit'>Change</button>
	}
	@widget.formErrors(form)

	<h2>Authorizations</h2>
	@authorizeAdmin(party, authorizeForms, authorizeWhich, authorizeSearch, authorizeResults)
 </article>  
}
