@(pending : Seq[PartyController.AuthorizeAdminForm], active : Seq[Authorize], expired : Seq[Authorize])(implicit request : SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.tableFieldConstructor.f)
}

@authorizeList(authorize : Seq[Authorize]) = {
    <table>
    <thead>
	<tr>
	    <th>Parent</th>
	    <th>Child</th>
	    <th>Info</th>
	    <th>Inherit</th>
	    <th>Direct</th>
	    <th>Expires</th>
	</tr>
    </thead>

    <tbody>
	@authorize.map { authorize =>
	<tr>
	    <td>@display(authorize.parent)</td>
	    <td>@display(authorize.child)
		@authorize.child.email.map { e =>
		    <br/>&lt;@e&gt;
		}
	    </td>
	    <td>@authorize.info</td>
	    <td>@authorize.inherit</td>
	    <td>@authorize.direct</td>
	    <td>@authorize.expires</td>
	</tr>
	}
    </tbody>
    </table>
}

@template.action("Admin Authorizations", noscript = true) {
    <h3>Pending</h3>

    <table>
    <thead>
	<tr>
	    <th>Parent</th>
	    <th>Child</th>
	    <th>Info</th>
	    <th>Inherit</th>
	    <th>Direct</th>
	    <th>Expires</th>
	    <th>Action</th>
	</tr>
    </thead>

    <tbody>
	@pending.map { form =>
	@widget.tag.form(form) {
	<tr>
	    <td>@display(form.authorize.parent)</td>
	    <td>@display(form.authorize.child)</td>
	    @widget.tag.inputText(form.info())
	    @widget.enumSelect(form.inherit(), Permission)
	    @widget.enumSelect(form.direct(), Permission)
	    @widget.tag.inputDate(form.expires())
	    <td>
		@widget.formErrors(form)
		<button type='submit' class="button second">@{if(form.pending.get) "Authorize" else "Update"}</button>
		<button class="button first" name='delete' value='true'>@{if(form.pending.get) "Deny" else "Revoke"}</button>
	    </td>
	</tr>
	}
	}
    </tbody>
    </table>

    <h3>Active</h3>
    @authorizeList(active)

    <h3>Expried</h3>
    @authorizeList(expired)
}
