@(authorizeParents : Seq[Authorize], authorizeForms : Seq[PartyController.AuthorizeForm])(implicit request : PartyHtml.Request[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.tableFieldConstructor.f)
}

@import PartyController._

@authList(which : Boolean)(implicit fieldConstructor : helper.FieldConstructor) = {
    <h3>@Messages("auth." + (if (which) "parents" else "children") + ".title")</h3>

    @defining(if(which) "Their" else if(request.obj === request.identity) "My" else request.obj.party.name + "'s") { whose =>
    <table>
    <thead>
        <tr>
            <th rowspan=2>Name</th>
            <th colspan=2>Access permissions granted for:</th>
            <th rowspan=2>@Messages("auth.expiration")</th>
            <th rowspan=2>Action</th>
        </tr>
        <tr>
            <th>@Messages("auth.site", whose)</th>
            <th>@Messages("auth.member", whose)</th>
        </tr>
    </thead>

    <tbody>
    @if(which) {
    @authorizeParents.map { t =>
        <tr>
            <td>@display(t.parent)</td>
            <td>@Permission.message(t.site, "site", whose)</td>
            <td>@Permission.message(t.member, "member", whose)</td>
            <td>@t.expires.fold(Messages("auth.expiration.none"))( e => display.dateFmtYMD.print(e) )</td>
            <td>@{if(!t.authorized) Messages("auth.pending")}</td>
        </tr>
    }
    }
    @authorizeForms.filter(_._apply == which).map { form =>
        @widget.tag.form(form) {
            <tr>
                @form match {
                case form : AuthorizeSearchForm => {
                    @widget.tag.inputText(form.name(), 'id -> ("name_"+which.toString))
                }
                case form : AuthorizeOtherForm => {
                <td>
                    @display(form.targetParty)
                    @form.targetParty.email.map { e =>
                        <br/>&lt;@e&gt;
                    }
                </td>
                }
                }

                @form match {
                case form : AuthorizeChildForm => {
                    @widget.tag.select(form.site(), Permission.values.toSeq.flatMap(p => Permission.message(p, "site", whose).map((p.id.toString, _))))

                    @widget.tag.select(form.member(), Permission.values.toSeq.flatMap(p => Permission.message(p, "member", whose).map((p.id.toString, _))))

                    @widget.tag.inputDate(form.expires(), 'placeholder -> Messages("auth.expiration"), 'class -> "half")
                }
                case _ => {
                    <td colspan="3"></td>
                }
                }

                <td>
                    @widget.formErrors(form)
                @form match {
                case form : AuthorizeSearchForm => {
                    <input type='hidden' name='pending' value='true'/>
                    <button type='submit' class="button third">Search</button>
                @if(form.name.get != null) {
                    <button type='submit' class="button first" name='notfound' value='true'>@Messages("auth.notfound")</button>
                }
                }
                case form : AuthorizeApplyForm => {
                    <button type='submit' class="button">@Messages("auth.request")</button>
                }
                case form : AuthorizeChildForm => {
                    <button type='submit' class="button second">@Messages("save")</button>
                    <button type='submit' class="button first" name='delete' value='true'>@Messages("remove")</button>
                }
                }
                </td>
            </tr>
        }
    }
    }
    </tbody>
    </table>
}

@widget.form(Some(request.obj.party), "Admin Party", None) {
        @authList(true)
        @authList(false)
}
