@(party : Party, style1 : String, style2 : String)(implicit request : SiteRequest[_])

        <div class="modal_content">
	    <div class="row">
		<section class="personal col-desktop-2 @style1">
		<img src="@display.avatar(party, 144)" alt="@party.name" class="avatar s144">

		@party.account.map { a =>

		    <div class="connect">
			<h2>Connect</h2>

			<ul class="flat">
			    @if(request.access >= Permission.VIEW) {
				@if(a.email != "") {
				    <li><a href="mailto:@a.email" title="Email @party.name"><img src="@routes.Assets.at("images/social/16px/email.png")" alt="Email @party.name">email</a></li>
				}
			    }

			    @party.orcid.map { o =>
				<li><a href="@o.uri" title="@party.name on ORCID"><img src="@routes.Assets.at("images/social/16px/orcid.png")" alt="@party.name on ORCID">@o.toString</a></li>
			    }
			</ul>
		    </div>
		}

		@defining(Async.get(party.authorizeParents())) { parents =>
		@if(parents.nonEmpty) {
		    <div class="memberships">
			<h2>Memberships</h2>

			<ul class="flat">
			@parents.map { t =>
			    <li>@display(t.parent)</li>
			}
			</ul>
		    </div>
		}
		}

		@defining(Async.get(party.authorizeChildren())) { children =>
		@if(children.nonEmpty) {
		    <div class="memberships">
		    @if(party.account.isDefined) { <h2>Affiliates</h2> } else { <h2>Members</h2> }

			<ul class="flat">
			@children.map { t =>
			    <li>@display(t.child)</li>
			}
			</ul>
		    </div>
		}
		}
		</section>

		@party match {
		case sp : SiteParty => {
		<div class="content @style2">
		    <section class="volume_list">
			    @Async.get(sp.volumeAccess).map { a =>
                    @widget.volumeList(a.volume)
                }

                @Async.get(sp.funding).map { v =>
                    @widget.volumeList(v.volume)
                }
		    </section>
		}
		case _ => {}
		}

		    <div class="row">
            @party.account.map(a => Async.get(a.comments)).map { comments =>
                    @if(comments.nonEmpty) {
                        @region.comments(None, None, comments)
                    }
                }
		    </div>
		</div>
	    </div>
	</div>
