@(party : Party, form : controllers.Party.EditForm)(implicit request : UserRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud("Admin Party: " + party.toString()) {
    <article>
        @crud.partyHeader(party)

	@tag.form(routes.Party.change(party.id)) {
		@tag.inputText(form("name"), 'placeholder -> "Full name", '_class -> "big")
		@tag.inputText(form("orcid"), 'placeholder -> "ORCiD", '_class -> "big")
		@if(controllers.Party.formForAccount(form, party)) {
			@tag.inputText(form("email"), 'placeholder -> "Email", '_class -> "big")
			@tag.inputPassword(form("password"), 'placeholder -> "Password", '_class -> "big")
			@tag.inputPassword(form("again"), 'placeholder -> "Password (repeat)", '_class -> "big")
			@tag.inputText(form("openid"), 'placeholder -> "OpenID", '_class -> "big")
		}
		<button type='submit' class="big button first">Update</button>
        @widget.formErrors(form)
	}
 </article>
}
