@(form : LoginController.RegistrationForm)(implicit request: SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.minimalFieldConstructor.f)
}

@template.action("Register an account", angular = Some(play.api.libs.json.JsNull)) {
    @widget.panel.form("Register an account", "Register") {
        <div class="col-full">
            @widget.tag.form(form) {

                @widget.tag.inputText(form.name(), 'placeholder -> "Full name")
		@widget.tag.inputText(form.email(), 'placeholder -> "Email")
		@widget.tag.inputText(form.affiliation(), 'placeholder -> "Affiliation")
		<iframe src="http://databrary.org/policies/investigator-agreement.html" width="100%" height="500"></iframe>
		@widget.tag.checkbox(form.agreement(), '_text -> "I agree")

                @widget.formErrors(form)
                <button type="submit" class="button">Register</button>
            }
        </div>
    }
}
