@(form : LoginController.RegistrationForm)(implicit request: SiteRequest[_])

@implicitField = @{
    helper.FieldConstructor(widget.tag.minimalFieldConstructor.f)
}

@html(Messages("register.title"), Some(routes.LoginHtml.registration(None))) {
  <article class="view">
    @widget.panel.form(Messages("register.title.sub"), Messages("register.title")) {
        <div class="col">
            @widget.tag.form(form) {

                @widget.tag.inputText(form.prename(), 'placeholder -> Messages("party.edit.prename"))
                @widget.tag.inputText(form.sortname(), 'placeholder -> Messages("party.edit.sortname"))
                @widget.tag.inputText(form.email(), 'placeholder -> Messages("email"))
                @widget.tag.inputText(form.affiliation(), 'placeholder -> Messages("affiliation"))
                @HtmlFormat.raw(Messages("wizard.register-agreement.instructions"))
                <iframe src="http://databrary.org/policies/investigator-agreement.html" width="100%" height="500"></iframe>
                @widget.tag.checkbox(form.agreement(), '_text -> Messages("register.agree"))

                @widget.formErrors(form)
                <button type="submit" class="button">@Messages("register.register")</button>
            }
        </div>
    }
  </article>
}
