<article class="article article_crud article_action article_login">
  <div class="wrap">
		<div class="row">
			<hgroup class="col-full">
				<h1 class="panel_context">{{'register.title' | message}}</h1>

				<h2 class="panel_title with_context">{{'register.title.sub' | message }}</h2>
			</hgroup>

			<div class="col-full">
				<wizard retrieve="retrieveWizard" update="updateWizard">
					<wizard-step id="register_create">
						<form name="registerForm" novalidate>
              <messages form="registerForm"></messages>

							<label for="field_name">{{'register.name.prompt' | message}}</label>
							<input id="field_name" name="fieldName" type="text" ng-model="registerForm.data.name" ng-minlength="3">
              <validator form="registerForm" name="fieldName"></validator>

							<label for="field_email">{{'email' | message}}</label>
							<input id="field_email" name="fieldEmail" type="email" ng-model="registerForm.data.email">
              <validator form="registerForm" name="fieldEmail"></validator>

							<label for="field_affiliation">{{'affiliation' | message}}</label>
							<input id="field_affiliation" name="fieldAffiliation" type="text" ng-model="registerForm.data.affiliation">
              <validator form="registerForm" name="fieldAffiliation"></validator>

							<button class="green" type="submit" ng-disabled="!registerForm.ready()" ng-click="registerForm.proceed(registerForm)">{{'register.continue' | message}}</button>
						</form>
					</wizard-step>

					<wizard-step id="register_agreement">
						<div ng-bind-html="'wizard.register_agreement.agreement_contents' | message"></div>

						<p><input id="agreement_checkbox" name="agreementCheckbox" type="checkbox" ng-model="agreementCheckbox"> <label for="agreement_checkbox" class="option" ng-bind-html="'wizard.register_agreement.agree' | message"></label></p>

						<button class="green" ng-click="proceed()" ng-disabled="!ready()">{{'register.register' | message}}</button>
					</wizard-step>

					<wizard-step id="register_email">
						<p ng-bind-html="'register.sent.instructions' | message:'<strong>'+registerForm.data.email+'</strong>'"></p>
					</wizard-step>

					<wizard-step id="register_password">
						<user-password-form></user-password-form>
					</wizard-step>

					<wizard-step id="register_agent">
						<div class="radio-set">
							<div>
								<input type="radio" ng-model="authSearchForm.principal" ng-value="true">
								<label class="option" ng-bind-html="'auth.register.principal' | message"></label>
							</div>

							<div>
								<input type="radio" ng-model="authSearchForm.principal" ng-value="false">
								<label class="option" ng-bind-html="'auth.register.affiliate' | message"></label>
							</div>
						</div>

						<auth-search-form principal="{{authSearchForm.principal}}" ng-show="authSearchForm.principal === true || authSearchForm.principal === false"></auth-search-form>
					</wizard-step>

					<wizard-step id="register_request">
						<div ng-hide="ifInfo()">
							<auth-apply-form></auth-apply-form>
						</div>

						<div ng-show="ifInfo() && principal">
							<div ng-bind-html="'auth.info.prompt' | message"></div>

							<form name="infoForm" novalidate>
                <messages form="infoForm"></messages>

                <textarea id="field_info" ng-model="infoForm.data.info"></textarea>

								<button class="green" type="submit" ng-disabled="!infoForm.ready()" ng-click="infoForm.proceed()">{{'register.continue' | message}}</button>
								<button ng-click="infoForm.cancel()" class="red">{{"cancel" | message}}</button>
							</form>
						</div>

						<div ng-show="ifInfo() && !principal">
							<div ng-bind-html="'auth.request.notfound.affiliate.instructions' | message | format"></div>
						</div>
					</wizard-step>

					<wizard-step id="register_pending"></wizard-step>
				</wizard>
			</div>
		</div>
  </div>
</article>
