<article class="article article_crud article_action article_search">
  <div class="wrap">
    <div class="row">
      <div class="col-full">
        <search-form></search-form>
      </div>

      <div class="col-full">
        <ul class="flat search_results">
          <li ng-repeat="volume in filterVolumes()" bindonce>
            <article class="search_result" bo-class="volumeClasses(volume)">
              <h1><a bo-href="page.router.volume(volume)" bo-html="volume.name"></a></h1>
              <div class="body" ng-bind-html=""></div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
