<form name="authApplyForm">
  <fieldset class="clean" ng-if="!authApplyForm.notFound.query">
    <legend>{{"auth.request.title" | message:authApplyForm.other.party.name}}</legend>

    <div ng-repeat="preset in authApplyForm.presets.get(authApplyForm.party, authApplyForm.other.party, true)">
      <input type="radio" name="shortcut" ng-checked="authApplyForm.other.preset === preset" ng-click="authApplyForm.presets.set(authApplyForm.other, preset)">
      <label class="option" ng-if="!preset.custom">
        <strong>{{'auth.preset.'+page.constants.data.permission[preset.inherit].name+'.'+page.constants.data.permission[preset.direct].name+'.title' | message}}</strong>: {{'auth.preset.'+page.constants.data.permission[preset.inherit].name+'.'+page.constants.data.permission[preset.direct].name | possessive:authApplyForm.other}}
      </label> <label class="option" ng-if="preset.custom"><strong>Custom...</strong></label>
    </div>
  </fieldset>

  <fieldset class="clean" ng-if="authApplyForm.notFound.query">
    <legend>{{"auth.request.notfound.title" | message}}</legend>

    <p ng-bind-html="'auth.request.notfound.instructions' | message | format"></p>

    <textarea id="field_info" ng-model="authApplyForm.info"></textarea>
  </fieldset>

  <fieldset class="clean">
    <input type="hidden" name="id" ng-value="authApplyForm.other.id">

    <button ng-click="authApplyForm.save()" class="green" ng-disabled="authApplyForm.other.inherit == 0 && authApplyForm.other.direct == 0">{{"auth.request" | message}}</button>
    <button ng-click="authApplyForm.cancel()" class="red">{{"cancel" | message}}</button>
  </fieldset>
</form>

