<form name="authApplyForm">
    <fieldset class="clean" ng-if="authApplyForm.other">
        <legend>Request {{authApplyForm.other.party.name}} grant the following capabilities:</legend>

        <div ng-repeat="preset in authApplyForm.presets.get(authApplyForm.party, authApplyForm.other.party, true)">
            <input type="radio" name="shortcut" ng-checked="authApplyForm.other.preset === preset" ng-click="authApplyForm.presets.set(authApplyForm.other, preset)">
            <label class="option" bo-html="preset.name"></label>
        </div>
    </fieldset>

    <fieldset class="clean">
        <input type="hidden" name="id" ng-value="other.id">

        <button ng-click="authApplyForm.save()" class="second" ng-disabled="authApplyForm.other.inherit == 0 && authApplyForm.other.direct == 0">Request</button>
        <button ng-click="authApplyForm.cancel()" class="first">Cancel</button>
    </fieldset>
</form>