<article bindonce class="browser_item browser_session cf">
    <div class="browser_item_content">
        <div class="cf">
            <footer>
                <div class="item_meta date"
                     bo-if="data.object.date"
                     bo-html="data.object.date"></div>

                <div class="item_meta sep"
                     bo-if="data.object.date && data.object.consent">|</div>

                <div class="item_meta consent"
                     bo-if="data.object.consent"
                     bo-html="constant.get('consent', data.object.consent).name"></div>

                <div class="item_meta sep"
                     bo-if="browser.hasAccess(data, 3) && data.object.consent">|</div>

                <a class="browser_tool edit"
                   bo-href="editLink(data)"
                   ng-if="browser.hasAccess(data, 3)"></a>
            </footer>

            <header>
                <browser-icon data="data"></browser-icon>

		        <h1>
                    <span>Session<span bo-if="data.object.name">: <span bo-html="data.object.name"></span></span></span>
                </h1>
            </header>
        </div>

        <div class="item_main">
            <dl class="flat_list cf" ng-repeat="(categoryID, records) in data.object.categories">
                <dt bo-html="formatSessionCategory(data, categoryID, records)" ng-class="{solo: !recordIdentifier(data.volume.records[records[0].id])}"></dt>

                <dd ng-repeat="record in records" ng-if="recordIdentifier(data.volume.records[record.id])">
                    <span bo-html="recordIdentifier(data.volume.records[record.id])"></span><span bo-if="record.age"> (</span><span bo-if="record.age" bo-html="formatAge(record.age)"></span><span bo-if="record.age">)</span>
                </dd>
            </dl>
        </div>
    </div>

    <browser-list ng-if="browser.showList(data)" data="data"></browser-list>
</article>
