<article bindonce class="browser_item browser_volume">
    <div class="browser_item_content">
        <div class="cf">
            <footer>
                <div class="item_meta date"
                     bo-if="data.object.creation"
                     bo-html="data.object.creation | date"></div>

                <div class="item_meta sep"
                     bo-if="data.object.creation && data.object.permission">|</div>

                <div class="item_meta permission"
                     bo-if="data.object.permission"
                     bo-html="constant.get('permission', data.object.permission).name"></div>
            </footer>

            <header>
                <h1>
                    <a bo-href="router.volume({id: data.object.id})" bo-html="getName(data)"></a>

                    <a class="browser_tool edit"
                       bo-href="editLink(data)"
                       ng-if="browser.hasAccess(data, 3)"></a>
                </h1>
            </header>
        </div>

        <div class="item_main" bo-if="data.object.body">
            <div class="item_body body" bo-html="data.object.body | format"></div>
        </div>
    </div>

    <browser-list ng-if="browser.showList(data)" data="data"></browser-list>
</article>
