<section class="browser_player">
  <section ng-if="browser.player.played" class="excerpts_player_frame">
    <div ng-repeat="played in [browser.player.played]" bindonce>
      <header>
        <a href="" ng-click="setItemPlayer(undefined)" class="icon line close tool" target="_self" tooltip tooltip-message="{{'player.close' | message}}"></a>
        <a ng-href="{{page.router.assetLink(played.object, false)}}" class="icon line download tool" target="_self" tooltip tooltip-message="{{'player.download' | message}}"></a>

        <h1>
          <span bo-html="type.assetDisplayName(played.object) | format:true"></span>
        </h1>
      </header>

      <div ng-switch="getMimeGroup(played.object)">
        <div ng-switch-when="image">
          <img ng-src="{{page.router.assetLink(played.object, true)}}" style="max-width: 100%;">
        </div>

        <div ng-switch-when="video">
          <video bo-if="supported()" controls excerpt="played">
            <source ng-src="{{page.router.assetLink(played.object, true)}}" type="{{page.types.assetFormat(played.object).mimetype}}">
          </video>

          <div bo-if="!supported()" bo-html="'video.unsupported' | message"></div>
        </div>

        <div ng-switch-default></div>
      </div>
    </div>
  </section>
</section>
