<section class="browser_player">
    <div class="browser_player_close" ng-click="setItemPlayer(undefined)"></div>

    <div ng-if="browser.player.played">
        <div ng-repeat="played in [browser.player.played]">
            <h2>
                <a class="link" target="_self" ng-href="{{router.assetLink(played.object, false)}}">{{played.object.asset.name
                    || played.object.format.name ||
                    played.object.asset.format.name}}.{{played.object.asset.format.extension}}</a>
            </h2>

            <div ng-switch="getMimeGroup(played.object)">
                <div ng-switch-when="image">
                    <img ng-src="{{router.assetLink(played.object, true)}}">
                </div>

                <div ng-switch-when="video">
                    <video controls>
                        <source ng-src="{{router.assetLink(played.object, true)}}"
                                type="{{played.object.format.mimetype || played.object.asset.format.mimetype}}">
                    </video>
                </div>

                <div ng-switch-when="html">
                    <iframe ng-src="{{router.assetLink(played.object, true)}}"
                            style="max-width: 100%;"></iframe>
                </div>

                <div ng-switch-when="plain">
                    <iframe ng-src="{{router.assetLink(played.object, true)}}"
                            style="max-width: 100%;"></iframe>
                </div>

                <div ng-switch-default>

                </div>
            </div>
        </div>
    </div>
</section>
