<article bindonce class="browser_item browser_record">
    <div class="browser_item_content">
        <div class="cf">
            <header>
		<h1><a ng-href="{{router.record(data.object)}}"><span bo-html="capitalize(constant.get('category', data.object.category).name)"></span><span bo-if="data.object.id">: <span bo-html="data.object.measures.ident || data.object.id"></span></span></a></h1>
            </header>
        </div>

        <div class="item_main">
            <dl class="flat_list cf" ng-repeat="(metric, value) in data.object.measures">
                <dt bo-html="capitalize(metric)"></dt>
                <dd bo-html="value"></dd>
            </dl>
        </div>
    </div>

    <browser-list ng-if="browser.showList(data)" data="data"></browser-list>
</article>
