<aside bindonce class="browser_list cf">
    <div class="browser_controller cf">
        <browser-player ng-if="data.player"></browser-player>
    </div>

    <ul ng-if="browser.getItemExpand(data) || browser.data == data" class="cf">
	    <li ng-if="!data.items[0]">{{"browser.group.empty" | message}}</li>

        <li ng-if="data.group == 'volume'" ng-repeat="data in data.items | filter:queryFilter" ng-class="itemClasses(data)">
            <ng-include src="getInclude()"></ng-include>
        </li>

        <li ng-if="data.group != 'volume'" ng-repeat="data in data.items" ng-class="itemClasses(data)">
            <ng-include src="getInclude()"></ng-include>
        </li>
    </ul>
</aside>
