<article bindonce class="browser_item browser_record cf" bo-class="{null: data.object.id == 0}">
    <div class="browser_item_content">
        <div class="cf">
            <footer>
                <a class="browser_tool edit"
                   bo-href="editLink(data)" target="_self"
                   ng-if="browser.hasAccess(data, 3)"></a>
            </footer>

            <header>
                <browser-icon data="data"></browser-icon>

		        <h1 bo-html="nameRecord(data)">
                    <span><span bo-html="nameRecord(data)"></span><span bo-if="data.object.id">: <span bo-html="data.object.measures.ident || data.object.id"></span></span></span>
                </h1>
            </header>
        </div>

        <div class="item_main">
            <dl class="flat_list cf" ng-repeat="(metric, value) in data.object.measures">
                <dt bo-html="capitalize(metric)"></dt>
                <dd bo-html="value"></dd>
            </dl>
        </div>
    </div>

    <browser-list ng-if="browser.showList(data)" data="data"></browser-list>
</article>
