<article bindonce class="browser_item browser_asset cf"
ng-click="setItemPlayer(data)">
    <div class="browser_item_content">
        <div class="cf">
            <footer>
                <div class="item_meta permission"
                     bo-if="data.object.asset.duration"
                     bo-html="data.object.asset.duration | timecode"></div>

                <div class="item_meta sep"
                     bo-if="data.object.asset.duration">|</div>

                <div class="item_meta classification"
                     bo-html="constant.get('classification', data.object.asset.classification).name"></div>

                <div class="item_meta sep"
                     bo-if="browser.hasAccess(data, 3)">|</div>

                <a class="browser_tool edit"
                   bo-href="editLink(data)"
                   ng-if="browser.hasAccess(data, 3)"></a>
            </footer>

            <header>
                <h1>
                    <span class="filetype">
                        <img bo-src="'/public/images/filetypes/16px/' + (data.object.format ? data.object.format.extension : data.object.asset.format.extension) + '.png'">
                    </span>

                    <span class="filename" bo-html="data.object.asset.name"></span>
                    <span class="extension" bo-html="'.' + data.object.asset.format.extension"></span>
                </h1>
            </header>
        </div>
    </div>
</article>
