<article bindonce class="browser_item browser_asset cf" ng-click="setItemPlayer(data)">
  <div class="browser_item_content">
    <div class="cf">
      <footer>
        <div class="item_meta permission" bo-if="data.object.asset.duration" bo-text="data.object.asset.duration | timecode"></div>

        <div class="item_meta sep" bo-if="data.object.asset.duration">|
        </div>

        <div class="item_meta classification icon bb" bo-class="page.constants.data.classification[data.object.asset.classification].toLowerCase()"></div>

        <div class="item_meta sep" bo-if="page.auth.hasAccess('CONTRIBUTE', data)">|
        </div>

        <a bo-href="editLink(data)" target="_self" ng-if="page.auth.hasAccess('CONTRIBUTE', data)">edit</a>
      </footer>

      <header>
        <h1>
          <span class="filetype">
              <img bo-src="'/public/images/filetypes/16px/' + page.types.assetFormat(data.object).extension + '.png'">
          </span>

          <span class="filename" bo-text="page.types.assetDisplayName(data.object)"></span>
        </h1>
      </header>
    </div>
  </div>
</article>
