<aside bindonce class="browser_list cf">
    <div class="browser_controller cf">
        <a class="browser_tool expander"
        ng-click="toggleExpand()"
        ng-class="expanderClasses(data)"
        ng-if="browser.canExpand(data)"></a>

        <a class="browser_tool filter"
        ng-click="setItemSelect(data)"
        ng-class="selectorClasses(data)"></a>

        <a class="browser_tool edit"
        bo-href="editLink(data)"
        ng-if="browser.hasAccess(data, 3)"></a>

        <browser-filter ng-if="data.select"></browser-filter>
    </div>

    <ul ng-if="browser.getItemExpand(data) || browser.data == data" class="cf">
        <li ng-if="!data.items[0]">This group is empty.</li>

        <li ng-repeat="data in data.items" ng-class="itemClasses(data)">
            <ng-include src="getInclude()"></ng-include>
        </li>
    </ul>
</aside>
