<div class="messages" ng-class="messageRegion.getRegionClasses()">
  <div ng-repeat="message in messageRegion.messages.toArray() | filter:{enabled: true}" id="{{message.id}}" ng-class="messageRegion.getMessageClasses(message)" ng-style="messageRegion.getMessageStyles(message, $index)">
    <div class="wrap">
      <div class="row">
        <div class="col-full">
          <div class="message_close" ng-if="message.closeable" ng-click="messageRegion.messages.disable(message)"></div>
          <div class="message_content" populate="message.body"></div>
        </div>
      </div>
    </div>
  </div>
</div>