<section id="toolbars" class="cf">
    <nav id="toolbar_databrary" class="toolbar toolbar_databrary">
        <div class="wrap">
            <div class="row">
                <div class="title cf col-desktop-10 col-laptop-7 col-tablet-4 col-mobile-2">
                    <h1 class="toolbar_h1">
                        <a href="http://databrary.org" title="Databrary: An Open Data Library"><span>Databrary</span></a>
                    </h1>

                    <nav class="toolbar_nav cf hide-mobile hide-cell">
                        <ul class="toolbar_nav_ul inline-block flat cf">
                            <li><a ng-href="/search">explore</a></li>
                            <li><a href="http://databrary.org/user-guide/getting-started/release-instructions.html">share</a></li>
                            <li><a href="http://datavyu.org">discover</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="toolbar_user col-desktop-5 col-laptop-5 col-tablet-5 col-mobile-4">
                    <span ng-if="!auth.hasAuth('NONE')">
                        <a ng-href="{{router.login()}}">login</a>
                    </span>

                    <span ng-if="auth.hasAuth('NONE')">
                        <a ng-href="{{router.party(auth.user)}}" class="toolbar_user_link">
                            <span class="username">{{auth.user.name}}</span>
                            <img ng-src="{{auth.user.avatar}}" alt="{{auth.user.name}}" class="avatar">
                        </a>

                        <span ng-if="auth.hasAuth('ADMIN')">
                            <span class="sep">|</span>

                            <form name="superuserForm" ng-if="!auth.hasAuth('SUPER')">
                                <input type="password" class="mini password" ng-model="superuserForm.auth" placeholder="Password">

                                <button type="submit" class="link superuser off" ng-click="auth.toggleSU(superuserForm)">SU</button>
                            </form>

                            <a ng-if="auth.hasAuth('SUPER')" class="superuser on" href="#" ng-click="auth.toggleSU()">SU</a>
                        </span>

                        <span class="sep">|</span>

                        <a href="" ng-click="auth.logout()">logout</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <nav id="toolbar_context" class="toolbar toolbar_context hide-print ng-cloak">
        <div class="wrap">
            <div class="row">
                <div class="col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4 col-cell">
                    <ul class="toolbar_menu toolbar_menu_left">
                        <li ng-repeat="panel in panels | filter:{enabled: true}" class="link_{{panel.panel.id}}" ng-class="getPanelClasses(panel)"><a ng-click="focusPanel(panel)">{{panel.panel.title}}</a></li>
                        <li ng-if="panels.length == 0"></li>
                    </ul>
                </div>

                <div class="col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2 col-cell">
                    <ul class="toolbar_menu toolbar_menu_right">
                        <li ng-repeat="item in links" class="toolbar_menu_item"><a ng-href="{{item.url}}" target="{{item.target}}" class="{{item.classes}}" title="{{item.title}}"><img ng-if="item.image" ng-src="{{item.image}}" alt="{{item.text}}"> <span ng-hide="item.image">{{item.path | uppercase}}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>
