<form name="userPasswordForm">
    <div ng-if="!userPasswordForm.data.token">
        <label for="fieldEmail">{{'password' | message}}</label>
        <input id="fieldEmail" name="fieldEmail" type="email" ng-model="userPasswordForm.data.email" placeholder="{{'email' | message}}">

        <button type="submit" class="button" ng-click="userPasswordForm.reset()" ng-disabled="!userPasswordForm.ready()">{{"reset.request" | message}}</button>
        <button class="first" type="reset">{{'reset' | message}}</button>
    </div>

    <div ng-if="userPasswordForm.data.token">
        <label for="fieldPasswordOnce">{{'password' | message}}</label>
        <input id="fieldPasswordOnce" name="fieldPasswordOnce" type="password" ng-model="userPasswordForm.data.password.once">

        <label for="fieldPasswordAgain">{{'password' | message}} (again)</label>
        <input id="fieldPasswordAgain" name="fieldPasswordAgain" type="password" ng-model="userPasswordForm.data.password.again">

        <button class="second" type="submit" ng-disabled="!userPasswordForm.ready()" ng-click="userPasswordForm.save()">{{'register.continue' | message}}</button>
        <button class="first" type="reset">{{'reset' | message}}</button>
    </div>
</form>
