// STYLES

.panel_browser {
}

//

.browser_widget_title,
.browser_widget_wrap,
.browser_widget_pill {
	position: relative;
	display: block;
	float: left;
}

.browser_widget_title {
	text-transform: uppercase;
	font-weight: bold;
	color: @g2;
	.margin-height(@f4);
	.margin-width(@f4);
}

.browser_widget_wrap {
	.margin-right(@f4);
	text-transform: capitalize;

	&:after {
		content: "";
		border: @b4 solid transparent;
		border-left-color: @g2;
		.size(0);
		float: left;
		display: block;
		.margin-top(@f2);
		.margin-left(@f2);
	}

	&.last {
		&:after {
			display: none;
		}
	}

	&.off {
		.browser_widget_pill {
			background-color: @g4;

			&:hover {
				background-color: @c4g4m1;
			}
		}
	}
}

.browser_widget_pill {
	.transition(@transition);
	cursor: pointer;
	position: relative;
	border: 1px solid @g3;
	.border-radius(@b1);
	.padding-width(@f2);
	.border-margin-height(1px, @f4);
	background-color: @c4g5m1;

	&.left {
		.border-radius(@b1 0 0 @b1);
		.padding-right(@f4);

		&:after {
			content: "";
			border: @b6 solid transparent;
			border-top-color: @g2;
			.size(0);
			display: inline-block;
			position: relative;
			top: 0;
			.margin-left(@f6);
		}
	}

	&.middle {
		.border-radius(0);
		border-left-width: 0;
	}

	&.right {
		.border-radius(0 @b1 @b1 0);
		border-left-width: 0;
		.padding-left(@f4);
	}

	&.add {
		background-color: @c11g5m2;
	}

	&.expanded {
		background-color: mix(@c4, @g5, 10%);

		&:hover {
			background-color: mix(@c4, @g5, 10%);
		}
	}

	&:hover {
		color: inherit;
		background-color: @c4g4m1;
	}
}

//

.browser_tool {
	height: 24px;
	display: inline-block;
	.border-radius(@border-radius);
	background-color: @g5;
	.padding-left(@f1);

	&:hover {
		background-color: @g4;
	}

	&.filter {
		background: url('/public/images/browser/tool-filter.png') no-repeat 4px 4px;
	}

	&.player {
		background: url('/public/images/browser/tool-player.png') no-repeat 4px 4px;
	}

	&.edit {
		background: url('/public/images/browser/tool-edit.png') no-repeat 4px 4px;
	}
}

.browser_item_content {
	.browser_tool {
		position: relative;
		top: @b4;
	}
}

//

.browser_filters {
	border-top: 1px solid fade(@g1, 25%);
	.border-padding-top(1px, @f4);
}

//

.browser_player {
	border-top: 1px solid fade(@g1, 25%);
	.border-padding-top(1px, @f4);

	h2 {
		font-weight: normal;
		.margin-top(0);
		.font-line(1.5);
	}
}

.browser_player_close {
	float: right;
	.size(@b1);
	.margin-left(@f4);
	cursor: pointer;
	background: url('/public/images/browser/tool-close.png') no-repeat 4px 4px;
}

//

.record_pill_remove {
	&:hover {
		background-color: @c8g4m1;
	}
}

.record_pill_options {
	display: none;
	position: absolute;
	left: @b2;
	top: @b2;
	.margin(0);
	.padding(0);
	.border-radius(0 @b4 @b4 @b4);
	background-color: @g5;
	.box-shadow(@box-shadow);
	overflow: hidden;
	min-width: @b1 * 6;
	z-index: 100;

	li {
		&:before {
			display: none;
		}
	}

	a {
		display: block;
		.padding-width(@f4);

		&:hover {
			color: inherit;
			background-color: mix(@c4, @g5, 10%);
		}
	}
}

.expanded .record_pill_options {
	display: block;
}

//

.browser_item {
	.border-radius(@b4 0 0 0);

	header {
		display: inline;
	}

	h1 {
		.font-size(1.5);
		.line-height(1.5);
	}

	footer {
		display: inline-block;
		.line-height(1.5);
		.margin-left(@f2);
		float: right;
	}

	.browser_icon {
		width: @b1 * 1.25;
		height: @b1 * 1.5;
		float: left;

		&:hover {
			background: url('/public/images/browser/tool-folder-closed.png') no-repeat 4px 10px;
		}

		&.active {
			&:hover {
				background-image: url('/public/images/browser/tool-folder-open.png');
			}
		}
	}

	.item_meta {
		display: inline-block;
	}

	.item_main {
		.margin-left(1.25);
	}

	.item_body {
		p:last-of-type {
			.margin-bottom(0);
		}
	}

	.flat_list {
		.margin-bottom(0);

		dt {
			display: inline;

			&:after {
				content: ":";
			}

			&.solo {
				&:after {
					content: none;
				}
			}

			& + dd {
				&:before {
					content: none;
				}
			}
		}

		dd {
			.margin-left(0);
			display: inline;

			&:before {
				content: ', ';
			}
		}
	}
}

.browser_item_content {
	.padding(0, @f4);
}

//

.browser_volume {
	background-color: @c4g5m1;

	.browser_icon {
		background: url('/public/images/browser/icon-volume.png') no-repeat 0 6px;
	}
}

//

.browser_record {
	@color: @c10;

	.browser_icon {
		background: url('/public/images/browser/icon-record.png') no-repeat 0 6px;
	}

	background-color: mix(@color, @g5, 15%);

	.browser_record {
		background-color: mix(@color, @g5, 30%);

		.browser_record {
			background-color: mix(@color, @g5, 45%);

			.browser_record {
				background-color: mix(@color, @g5, 15%);

				.browser_record {
					background-color: mix(@color, @g5, 30%);

					.browser_record {
						background-color: mix(@color, @g5, 45%);
					}
				}
			}
		}
	}

	h1 {
		.font-size(1.5);
		.line-height(1.5);
	}

	&.null {
		background-color: @g4 !important;
	}
}

//

.browser_session {
	background-color: @c0g5m1;

	.browser_icon {
		background: url('/public/images/browser/icon-session.png') no-repeat 0 6px;
	}
}

//

.browser_asset {
	background-color: @c8g5m1;
	cursor: pointer;

	h1 {
		.padding-left(@f8);
		background: transparent;
	}

	.browser_item_content {
		.margin-bottom(0);
	}
}

//

.browser_controller {
	background-color: @g5;
	.border-radius(@b4 0 0 @b4);
	.padding(@f4, @f4, 0, @f4);

	.browser_tool {
		opacity: .1;
		.transition();
	}

	&:hover {
		.browser_tool {
			opacity: 1;
		}
	}
}

.browser_list {
	background-color: @g5;
	.padding-left(0);
	.border-radius(@b4 0 0 0);
	.margin-bottom(2);

	.browser_list {
		.margin-left(1.5);
		.padding-left(@f8);
		.margin-bottom(0);
	}

	ul {
		.margin(@f8, 0, 0, 0);
		.padding-left(0);
		.padding-top(@f8);
	}

	li {
		.padding-bottom(@f8);

		&:last-child {
			.padding-bottom(0);
		}

		&:before {
			display: none;
		}

		&.deepest {
			.browser_item {
				.border-radius(@b4 0 0 @b4);
			}

			.browser_controller {
				.border-radius(@b4 0 0 0);
			}
		}
	}
}
