// STYLES

.comment {
	.margin-bottom(1);
}

.comment_author {
	.margin-bottom(0);
}

.comment_meta {
	.padding-bottom(0);

	.portrait {
		.margin-bottom(@f2);
	}
}

.comment_location_thumb {
	.margin-bottom(.5);
	overflow: hidden;

	.figure {
		position: relative;
		right: -@b2;
		.margin-bottom(0);
	}
}

.comment_location_thumb,
.comment_info {
	background: @c10g5m1;
	.height(1.5);
}

.comment_info {
	text-align: right;
}

.comment_location {
	.inner {
		position: relative;
		right: -@b1;
	}
}

.comment_form {
	.margin-top(@f2);
}

.comment_body {
	.margin-left(2 + @f4);
}