// STYLES

.panel_excerpts {

}

//

.excerpts_list {
	figure {
		background-color: @c10g5m1;
	}
}

//

.excerpts_player {
	h2 {
		font-weight: normal;
		.margin-top(0);
		.font-line(1);
		.font-size(1);
	}

	img, video {
		.margin-bottom(0);
		width: 100%;
		height: auto;
		display: block;
	}
}
