// STYLES

.panel_excerpts {

}

//

.excerpts_list {
	figure {
		background-color: mix(@orange51, @white, 10%);
		.border-radius(@b8);
		.margin-bottom(0);
		cursor: pointer;
	}

	.binder {
		background-color: @orange51;
		.padding(@f8, @f1, @f8, @f8);
		.margin-bottom(@f1);
		.border-radius(@b12);
		position: relative;

		&.video {
			.text {
				background: url('/public/images/overlay-video.png') no-repeat 0 0;
				background-size: 100%;
				opacity: .5;
			}
		}

		.actions {
			float: right;
			position: absolute;
			width: 16px;
			top: 0;
			right: @b3;
		}
	}
}

//

.excerpts_player_frame {
	background: @orange51;
	.border-radius(@b4 @b12 @b12 @b12);
	.padding(@f8);

	h1 {
		font-weight: normal;
		.margin-top(0);
		.font-line(1);
		.font-size(1);
		.padding-left(@f8);

		img {
			width: auto;
			float: left;
			.margin-right(@f6);
			.margin-top(@f6);
		}
	}

	.tool {
		float: right;
	}

	a {
		color: inherit;
	}

	img, video {
		.margin-bottom(0);
		width: 100%;
		height: auto;
		display: block;
	}
}

.excerpts_list .excerpt_filetype_thumb {
	height: 16px;
	width: 16px;
}

