// STYLES

.network-auth {
	.margin-bottom(@f1);
}

//

.network-auth-username {
	.font-line(1.5);
}

.network-auth-email {
	color: @g4;
	.margin-left(@f4);
}

.network-auth-expiration {
	text-align: right;
}

.network-auth-heading {
	font-weight: bold;
	color: @c4;
	.padding-top(@f2);

	&.expiration {
		text-align: right;
	}
}

.network-auth-inherit,
.network-auth-direct {
}

//

.network-auth-expiration-input {
	.grid-width(max, 3);
}

//

.auth-search {
	.margin-top(@f3);
}