// STYLES

.network-auth {
	.margin-bottom(@f1);
}

//

.network-heading {
	.icon {
		float: right;
		.margin-top(@f2);
	}
}

.network-auth-username {
	.font-line(1.5);

	&:link,
	&:visited {
		color: inherit;
	}

	&:hover {
		color: @gray;
	}
}

.network-auth-email {
	color: @pale;
	.margin-left(@f4);
}

.network-auth-expiration {
	text-align: right;
}

.network-auth-heading {
	font-weight: bold;
	color: @blue;
	.padding-top(@f2);

	&.expiration {
		text-align: right;
	}
}

//

.network-auth-expiration-input {
	.grid-width(max, 3);
}

//

.auth-search {
	.validator_input {
		.margin-top(@f3);
	}
}

.remote-action {
	.line-height(2.25);
}

//

.auth-found-list {
	.margin-width(@f1);
	.padding(0);

	li {
		.margin-bottom(@f8);

		&:last-child {
			.margin-bottom(0);
		}
	}

	a {
		border-left: 1px solid @gray;
		border-right: 1px solid @gray;
		border-bottom: 1px solid @gray;
		border-top: 1px solid @pale;
		display: block;
		.padding(@f4, @f2);

		&:hover {
			background-color: @yellow51;
			color: @blue21;
		}
	}
}


