// STYLES

.panel_overview {
	.margin-top(3);

	.row_relative {
		position: relative;
	}

	.panel_overview_thumbnail {
		max-width: none;
		width: 100%;
		.margin-bottom(@f1);
	}

	.panel_title {
		.font-size(2);
		.line-height(1.75);
		.margin-top(0);
		.margin-bottom(1);
	}

	.portrait {
		.icon {
			position: relative;
			top: @b4;
		}
	}
}

//

.panel_title_alias {
	.font-size(1);
	color: @orange53;
}

//

.reuse_list {
	.padding(0);

	li {
		&:before {
			display: none;
		}
	}

	img {
		.size(16px);
		position: relative;
		top: 1px;
	}
}

.citation {
	.padding-left(2);
	text-indent: -@b1 * 2;
	.margin-bottom(@f2);
	text-align: left;
}
