// STYLES

.panel_overview {
	.row {
		position: relative;
	}

	.panel_overview_thumbnail {
		position: absolute;
		top: -(@b1 * 4.5);
		right: -(@b1 * 4);
		.size(400px);
		.border-radius(400px);
		opacity: .25;
		z-index: 0;
		.transition();

		&:hover {
			opacity: 1;
			z-index: 100;
			.transform-scale(~"1.1, 1.1");
		}
	}
}

//

.panel_title_alias {
	.font-size(1);
	color: @c10g3m3;
	position: relative;
	top: -@b1 * 2;
}