// VARS

@panelpad: 1;

// STYLES

.panel {
	.transition();

	.wrap {
		.padding-height(@panelpad);
	}

	&:first-of-type {
		.wrap {
			.padding-top(@panelpad);
		}
	}

	&:last-of-type {
		.wrap {
			.border-padding-bottom(2px, @panelpad);
		}
	}

	> .row {
		.padding-bottom(@panelpad);

		&:last-child {
			.padding-bottom(0);
		}
	}

	&.nowrap {
		.wrap {
			width: auto;
			.padding-width(@panelpad);
		}
	}

	&.foldable {
		.fold {
			max-height: 100000px;
			.transition();
		}

		&.folded {
			.panel_header {
				&.folder {
					color: mix(@c4, @g1, 50%);
				}

				&:before {
					.transform-rotate(-90deg);
				}


				&:hover {
					&:before {
						.transform-rotate(-45deg);
					}
				}
			}

			.fold {
				overflow: hidden;
				max-height: 0;
			}
		}
	}

	h3, .h3 {
		.font(1.5, 1.5);
		.margin(0);
	}
}

.panel_header {
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	.font(3, 4);
	.margin(0, 2, @f1, 0);
	.padding-right(@f1);
	display: inline-block;
	background-color: @c4g5m1;
	position: relative;

	span {
		background-color: @c4g5m1;
		position: absolute;
		width: 1000px;
		left: -1000px;
		top: 0;
		bottom: 0;
		z-index: -100;
	}

	&.folder {
		cursor: pointer;

		&:before {
			content: "";
			.size(0);
			display: block;
			float: left;
			position: relative;
			top: @b1 + @b2 + @b8;
			border: @b2 solid transparent;
			border-top-color: @text;
			.margin-right(@f2);
			.transition();
		}

		&:hover {
			color: mix(@c4, @g1, 25%);

			&:before {
				.transform-rotate(-45deg);
			}
		}
	}
}

.panel_title {
	.font(3.5, 2.5);
	.margin-top(1);
	.margin-bottom(2);

	&.with_context {
		.margin-top(0);
	}
}

.panel_context {
	.font(2, 1.5);
	.margin-top(1);
	color: @c8g3m2;
}

//

.panel_mode_links {
	.margin(0);
	.padding(0);
	float: right;
	position: absolute;
	right: 0;
	z-index: 600;
}

.panel_mode_link {
	display: inline;
	float: left;
	.margin-left(@f2);

	&:before {
		display: none;
	}
}

//

.panel_ingest {
	min-height: 400px;
}
