// VARS

@panelpad: 1;

// STYLES

.panel {
	.transition();

	.wrap {
		.padding-height(@panelpad);
	}

	&:first-of-type {
		.wrap {
			.padding-top(@panelpad);
		}
	}

	&:last-of-type {
		.wrap {
			.border-padding-bottom(2px, @panelpad);
		}
	}

	> .row {
		.padding-bottom(@panelpad);

		&:last-child {
			.padding-bottom(0);
		}
	}

	&.nowrap {
		.wrap {
			width: auto;
			.padding-width(@panelpad);
		}
	}

	&.foldable {
		.fold {
			max-height: 100000px;
			.transition();
		}

		.panel_header {
			cursor: pointer;

			&:before {
				content: "";
				.size(0);
				display: block;
				float: left;
				position: relative;
				top: @b1 + @b2 + @b8;
				border: @b2 solid transparent;
				border-top-color: @text;
				.margin-right(@f2);
				.transition();
			}

			&:hover {
				color: mix(@blue, @black, 25%);

				&:before {
					.transform-rotate(-45deg);
				}
			}
		}

		&.folded {
			.panel_header {
				&.folder {
					color: mix(@blue, @black, 50%);
				}

				&:before {
					.transform-rotate(-90deg);
				}

				&:hover {
					&:before {
						.transform-rotate(-45deg);
					}
				}
			}

			.fold {
				overflow: hidden;
				max-height: 0;
			}
		}
	}

	h3, .h3 {
		.font(1.5, 1.5);
		.margin(0);
	}
}

.panel_header {
	font-weight: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	.font(3, 4);
	.margin(0, 2, @f1, 0);
	.padding-right(@f1);
	display: inline-block;
	background-color: @blue52;
	position: relative;
	text-shadow: -1px 0 2px @blue51;

	span {
		background-color: @blue52;
		position: absolute;
		width: 1000px;
		left: -1000px;
		top: 0;
		bottom: 0;
		z-index: -100;
	}
}

.panel_title {
	.font(3.5, 2.5);
	.margin-top(1);
	.margin-bottom(2);

	&.with_context {
		.margin-top(0);
	}
}

.panel_context {
	.font(2, 1.5);
	.margin-top(1);
	color: @red32;
}

//

.panel_ingest {
	min-height: 400px;
}
