// STYLES

.panel_register {
	.auth_request {
		display: none;
	}
}

//

.register_agreement_pages {
	border-top: 3px solid @gray;
	border-bottom: 3px solid @gray;
	.padding-height(@f4);
	.margin-bottom(@f1);
}

.register_agreement_page {
	height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
	.padding-right(@f2);

	h2 {
		.font-line(1.75);

		&:first-child {
			.margin-top(0);
		}
	}

	h3 {
		.font-line(1.5);
	}

	h4 {
		.font-line(1.25);
	}
}
