@(id: String, classes: String, attr: (Symbol,Any)*)(title: String = "", minimizable: Boolean = false)(body: Html)

<section id="panel_@id" class="panel panel_@id @classes @if(minimizable){minimizable}" @El.attrToHtml(attr)>
    <div class="wrap">
        <div class="row">
            @if(title.nonEmpty) {
                <h2 class="col panel_header @if(minimizable){minimizer}">@title</h2>
            }
            @if(minimizable){
                <div class="col minimize">
                    <div class="row">
            }

                        @body

            @if(minimizable){
                    </div>
                </div>
            }
        </div>
    </div>
</section>
