@(citations : Seq[VolumeCitation])(implicit request : SiteRequest[_])

@if(citations.nonEmpty) {
    @widget.panels.panel("publications", "")(title = "Publications", minimizable = true){
        <div class="publication col">
            @for(citation <- citations) {
                <div class="publication">
                    <h3>@citation.head @if(citation.url){<a href="@citation.url" title="@citation.head" class="cit_link">link</a>}</h3>

                    @citation.body.map(display.plainText _)
                </div>
            }
        </div>
    }
}