@(slot : Slot, volume : Option[Volume] = None, form : controllers.Slot.TagForm = controllers.Slot.tagForm)(implicit request : SiteRequest[_])

@import play.api.data.Form
@import play.api.data.Forms._

@import helper.FieldConstructor
    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }


@widget.panels.panel("tags", "minimizable"){
    <h2 class="panel_header minimizer col">Tags</h2>

    <ol class="sort-list tag-list">
    @defining(volume.fold(slot.tags())(_.tags)) { tags =>
        @if(tags.nonEmpty) {
            @tags.map { case TagWeight(tag, weight, user) =>
            <li id="tag-@tag.id" class="tag cf">
            @views.html.tag.form(routes.Slot.tag(slot.volumeId, slot.id), 'class -> "ajax") {
                @views.html.tag.inputHidden(form("name").copy(value = Some(tag.name)), 'id -> Html("name-"+tag.id.toString))(views.html.tag.rawFieldConstructor.f, Lang("en"))

                <div class="controls">
                    <button class="vote down" name="vote" value="false" @if(!user.getOrElse(true)){disabled}>-</button>
                    <button class="vote null" name="vote" value="" @if(user.isEmpty){disabled}>0</button>
                    <button class="vote up" name="vote" value="true" @if(user.getOrElse(false)){disabled}>+</button>
                </div>
                <div class="weight">@weight</div>
                <span class="name">@tag.name</span>
            }
            </li>
            }
        }

    <li id="tag-add" class="add">
    @tag.form(routes.Slot.tag(slot.volumeId, slot.id)) {
        @tag.inputText(form("name"), 'placeholder -> "tag", '_class -> "mini")
        <button name="vote" value="@true" class="hide">add</button>
    }
    </li>
    }

    </ol>
}