 // styles

.vem-float-progress
  background-color white

.vem-float-dropzone
  border-radius b1
  border 1px solid gray
  box-shadow inset 0 0 b4 pale
  margin-right b8
  height b1 + b2
  padding-width b6
  padding-top b8
  text-align center
  transition background trans-time trans-ease
  overflow hidden 
  white-space nowrap
  text-overflow ellipsis

  &.over-zone
    background-color green51

  .icon
    position relative
    top b12
  input
    display none

.vem-repeat
  position relative
  border-bottom-width 0
  padding-bottom f2
  padding-top f2

.vem-repeat-content
  margin-left f2
  input
    margin-bottom b2

.excerpt-validator
  div.validator
    display inline-flex
    margin-left 1
    max-width 240px

.vem-file-dropzone
  @extend input
  transition background trans-time trans-ease

  &.over-form
    background-color yellow51

  &.over-zone
    background-color green51

.file-button-set
  position absolute
  float right
  top 1px
  right -1px

