.link-label
  width 100%
  clear right
.link-field
  width 100%

.link-field
  width 100%

@media screen and (max-width: 520px)
  fieldset.clean.skinny.link-field
    padding-top b3
    margin-bottom 1
    border-left 1px solid grey

  div.link-label
    margin-bottom 1
