<ng-form name="volumeEditFundingForm" bindonce>
  <fieldset class="clean vef-float">
    <div class="vef-float-floater row">
      <funding-search-form class="col-desktop-9 col-tablet-3 col-mobile-2"></funding-search-form>
      <button ng-click="volumeEditFundingForm.saveAll()" class="green" bo-text="'save' | message" ng-disabled="volumeEditFundingForm.$pristine"></button>
      <button ng-click="volumeEditFundingForm.resetAll()" class="neutral" bo-text="'revert' | message" ng-disabled="volumeEditFundingForm.$pristine"></button>
  </div>
  </fieldset>

  <fieldset class="clean skinny funding-grant" ng-repeat="funding in volumeEditFundingForm.data">
    <funding-grant-form></funding-grant-form>
  </fieldset>

</ng-form>
