<ng-form name="volumeEditOverviewForm">
  <fieldset class="clean veo-float">
    <div class="veo-float-floater">
      <button ng-click="volumeEditOverviewForm.save()" message="save" class="green" ng-disabled="volumeEditOverviewForm.$pristine || volumeEditOverviewForm.$invalid"></button>
      <button ng-click="volumeEditOverviewForm.resetAll()" message="revert" class="red" ng-disabled="volumeEditOverviewForm.$pristine"></button>
    </div>
  </fieldset>

  <fieldset>
    <div message="volume.edit.autodoi.instructions"></div>

    <validator name="citation.url" label="volume.edit.autodoi">
      <input type="text" name="citation.url" ng-model="volumeEditOverviewForm.data.citation.url" placeholder="{{::'volume.edit.autodoi.placeholder' | message}}">
    </validator>

    <button class="green mini" ng-disabled="!page.constants.regex.doi.test(volumeEditOverviewForm.data.citation.url)" ng-click="volumeEditOverviewForm.autoDOI()" message="volume.edit.autodoi.lookup"></button>
    <button class="yellow mini" ng-if="volumeEditOverviewForm.automatic" ng-click="volumeEditOverviewForm.setAutomatic(false)" message="volume.edit.autodoi.donthave"></button>

    <validator name="name" label="volume.name">
      <input type="text" name="name" ng-model="volumeEditOverviewForm.data.name" placeholder="{{::'volume.edit.name.placeholder' | message}}">
    </validator>
  </fieldset>

  <fieldset class="clean skinny" ng-show="!volumeEditOverviewForm.automatic">
    <validator name="citation.head" label="citation.head">
      <input type="text" name="citation.head" ng-model="volumeEditOverviewForm.data.citation.head" placeholder="{{::'volume.edit.citation.head.placeholder' | message}}">
    </validator>

    <label message="citation.authors"></label>

    <div class="row" ng-repeat="author in volumeEditOverviewForm.data.citation.authors track by $index" ng-show="author !== null">
      <validator class="col-desktop-14 col-tablet-8 col-mobile-5" name="citation.author" noclientval>
        <input type="text" name="citation.author" ng-model="volumeEditOverviewForm.data.citation.authors[$index]" placeholder="{{::'volume.edit.citation.author.placeholder' | message}}" ng-change="volumeEditOverviewForm.authorChange()">
      </validator>
      <button ng-if="$index < volumeEditOverviewForm.data.citation.authors.length-1" ng-click="volumeEditOverviewForm.authorRemove($index)" class="mini"><span class="icon trash"></span></button>
    </div>

    <validator name="citation.year" label="citation.year">
      <input type="number" name="citation.year" ng-model="volumeEditOverviewForm.data.citation.year" class="quarter" min="1900" max="2900" placeholder="{{::'volume.edit.citation.year.placeholder' | message}}">
    </validator>
  </fieldset>

  <fieldset class="clean">
    <validator name="body" label="volume.body" noclientval>
      <textarea name="body" ng-model="volumeEditOverviewForm.data.body" placeholder="{{::'volume.edit.body.placeholder' | message}}"></textarea>
    </validator>

    <validator name="alias" label="volume.alias">
      <input type="text" name="alias" ng-model="volumeEditOverviewForm.data.alias" placeholder="{{::'volume.edit.alias.placeholder' | message}}">
    </validator>
  </fieldset>

</ng-form>
