.volume-edit-access-radioset
  margin-top 10px

.vea-float
  height 2
  margin-bottom 1

.vea-float-floater:not(.float)
  height 2
  padding-height b3
  width 100%
  background-color white
  transition box-shadow trans-time trans-ease

.auth-found-list
  background-color white
  border 1px black solid
  z-index 9
  max-height 200px
  overflow-y scroll
  position absolute
  width inherit
