.volume-edit-access-radioset
  margin-top 10px

fieldset.clean.skinny.vea-float
  height 2
  margin-bottom b2
  .validator-field
    margin-right 1
    
.vea-float-floater:not(.float)
  height 2
  padding-height b3
  width 100%
  background-color white
  transition box-shadow trans-time trans-ease