<ng-form name="volumeEditReferencesForm">
  <fieldset class="clean ver-float">
    <div class="ver-float-floater">
      <button ng-click="volumeEditReferencesForm.save()" class="green" message="save" ng-disabled="volumeEditReferencesForm.$pristine"></button>
      <button ng-click="volumeEditReferencesForm.resetAll()" class="neutral" message="revert" ng-disabled="volumeEditReferencesForm.$pristine"></button>
    </div>
  </fieldset>
  <div class="col-desktop-15 col-tablet-9 col-mobile-6">
    <label class="col-desktop-7 col-tablet-4" message="reference.titlehead"></label>
    <label class="col-desktop-7 col-tablet-4" message="reference.titleurl"></label>
  </div>
  <fieldset class="inputfield clean skinny" ng-repeat="reference in volumeEditReferencesForm.data" ng-show="!reference.removed">
    <validator class="col-desktop-7 col-tablet-4" name="references[{{$index}}].head">
      <input type="text" name="references[{{$index}}].head" ng-model="reference.head" placeholder="{{::'reference.head' | message}}">
    </validator>
    <validator class="inputfield col-desktop-7 col-tablet-4" name="references[{{$index}}].url">
      <input type="text" name="references[{{$index}}].url" ng-model="reference.url" placeholder="{{::'reference.url' | message}}" ng-pattern="/^((doi:)?10\.[\.0-9]+|ftp:/|http:/|https:/)//" ng-change="volumeEditReferencesForm.change()">
    </validator>
    <button class="mini" ng-if="$index < volumeEditReferencesForm.data.length-1" ng-click="volumeEditReferencesForm.remove(reference)"><span class="icon trash"></button>
  </fieldset>
</ng-form>
