<ng-form name="volumeEditAccessForm">
  <fieldset class="radio-set volume-edit-access-radioset" ng-disabled="!page.models.Login.checkAccess(page.permission.EDIT)" ng-form="accessGlobalForm">
    <legend message="access.global.legend"></legend>

    <div class="col message message-yellow message-content" ng-if="::!page.models.Login.checkAccess(page.permission.EDIT)" message="access.global.restricted"></div>

    <div ng-repeat="perms in page.constants.accessGlobal track by $index">
      <input type="radio" ng-model="volumeEditAccessForm.globalVal" name="access-global" ng-value="$index">
      <label message="access.global.{{::perms.map(permissionName).join('.')}}" class="option"></label>
    </div>
  </fieldset>

  <fieldset ng-show="volumeEditAccessForm.data.length > 0">
    <legend message="access.grant.legend"></legend>

    <fieldset class="clean skinny vea-float">
      <div class="vea-float-floater row">
        <access-search-form class="col-desktop-8 col-tablet-6 col-mobile-6" placeholder-text="{{::'access.search.legend' | message}}"></access-search-form>
      </div>
    </fieldset>

    <article ng-repeat="access in volumeEditAccessForm.data track by access.party.id" class="access-grant cf">
      <div class="row">
       <access-grant-form></access-grant-form>
      </div>
    </article>
  </fieldset>

  <fieldset>
    <button ng-click="volumeEditAccessForm.saveAll()" class="green" message="save" ng-disabled="volumeEditAccessForm.$pristine"></button>
    <button ng-click="volumeEditAccessForm.resetAll()" message="revert" ng-disabled="volumeEditAccessForm.$pristine"></button>
  </fieldset>

</ng-form>
