
<div class="download-popup" ng-if="current && downloading"> 
  <span ng-click="toggleDownload()" class="button icon close"></span>

  <div class="popup-file-info">
    <h3>
      <img class="popup-format-icon" ng-src="{{::current.icon}}"/> 
      <span ng-bind="::current.name"></span>
    </h3>
<!--     <span ng-bind="::volume.name"></span> -->
    <span>File format: {{current.format.extension}}</span>
    <span ng-if="::current.segment.length" ng-bind="::current.segment.length | timecode"></span>
  </div>
  <div ng-if="::hasThumbnail(current)">
    <img class="popup-thumb" ng-src="{{::current.thumbRoute(480)}}">
  </div>
  <div class="popup-cite">
    <cite-volume></cite-volume>
  </div>
  <div class="popup-classification">
    <span class="bigger">This highlight is for </span>
    <span class="bigger popup-classification-title" message="{{::'excerpts.'+page.constants.classification[current.excerpt]+'.title'}}"></span>.<br>
    <span message="{{::'excerpts.'+page.constants.classification[current.excerpt]+'.description'}}"></span>.
  </div>
  <a ng-if="::!current.pending && current.checkPermission(page.constants.permission.READ)" ng-href="{{current.downloadRoute(false)}}" class=" button green" target="_self" tooltip="'excerpts.download' | message">  
    <span class="download icon"></span>
    <span>Download</span>
  </a>  
</div>
</div>

<div class="row">
  <div class="panel-excerpts-player col-desktop-7 col-tablet-5 col-mobile-6">
    <section ng-if="!!current" class="panel-excerpts-player-frame">
      <div ng-repeat="current in [current]">
        <header>
          <a ng-href="{{::jumpLink(current)}}" class="icon line session tool" tooltip="'session.jump' | message:'highlight'"></a>
          <span ng-if="::!current.pending && current.checkPermission(page.constants.permission.READ)" ng-click="toggleDownload()" class="icon line download tool" target="_self" tooltip="'excerpts.download' | message"></span> 
          <h1 class="panel-excerpts-player-heading">
            <div class="classification icon line" ng-class="::page.constants.classification[current.excerpt || current.asset.classification]" hint="classification-{{::page.constants.classification[current.excerpt || current.asset.classification]}}"></div>
            <img class="icon" ng-src="{{::current.icon}}" hint="format-{{::current.format.extension}}">
            <span ng-bind="::current.displayName"></span>
          </h1>
        </header>

        <asset-display asset="current"></asset-display>
      </div>
    </section>

    &nbsp;
  </div>

  <div class="panel-excerpts-list col-desktop-8 col-tablet-4 col-mobile-6">
    <div class="row">
      <div ng-repeat="(revval, revname) in page.constants.classification">
        <div ng-init="val = page.constants.classification.length - revval - 1; name = page.constants.classification[val]">
          <div class="panel-excerpts-type" ng-if="excerpts.length">
            <span message="{{::'excerpts.'+name+'.title'}}"></span>
            <span class="icon info" tooltip="'excerpts.'+name+'.description' | message"></span>    
          </div>
          <div class="panel-excerpts-box" ng-repeat="excerpt in volume.excerpts | filter:{excerpt: val} as excerpts">
            <div class="panel-excerpts-binder" ng-class="{'panel-excerpts-list-current':excerpt===current}">
              <div class="panel-excerpts-actions">
                <a ng-href="{{::jumpLink(excerpt)}}" class="icon session tool" tooltip="'session.jump' | message:'highlight'"></a>
              </div>
              <div ng-click="setCurrent(excerpt)" class="panel-excerpts-icon">
                <div ng-if="::hasThumbnail(excerpt)">
                  <figure fill>
                    <img ng-src="{{::excerpt.thumbRoute(109)}}">
                  </figure>
                </div>
                <div ng-if="::!hasThumbnail(excerpt)">
                  <figure class="no-thumbnail">
                    <img class="panel-excerpt-filetype-thumb" ng-src="{{::excerpt.icon}}">
                    <span ng-bind="::excerpt.asset.name"></span>
                  </figure>
                </div>
                <div ng-class="::{'panel-excerpts-video-overlay':excerpt.format.type==='video'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
