// styles

.panel-excerpts-player-frame
  background neutral52
  border-radius b4 b12 b12 b12
  padding f8

  .tool
    float right

  a
    color inherit

  img
  video
    margin-bottom 0
    width 100%
    height auto
    display block

.panel-excerpts-player-heading
  font-weight normal
  margin-top 0
  font-line 1
  font-size 1
  padding-left f8
  text-overflow ellipsis
  overflow hidden

  img
    width auto
    float left
    margin-right f6
    margin-top f6

.panel-excerpts-list
  figure
    background-color mix(neutral51, white, 10%)
    margin-bottom 0
    cursor pointer
    size 109px
    border-radius b8
  .figmedia
    height initial

.panel-excerpts-type
  padding-left f3
  display block
  text-transform capitalize
  span.info
    margin-left b3

.panel-excerpts-box
  display inline-block
  padding-left f3
  padding-right f3
  font-size b2
  line-height b2

.panel-excerpts-binder
  background-color neutral51
  transition transition-def
  padding f8 f1 f8 f8
  margin-bottom f1
  border-radius b12
  position relative
  figure.no-thumbnail
    .figmedia
      padding b8

.panel-excerpts-list-current
  background-color neutral52

.panel-excerpts-icon
  position relative
  cursor pointer

.panel-excerpts-video-overlay
  display block
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background url('/public/images/overlay-video.png') no-repeat center center
  background-size contain
  opacity f2

.panel-excerpts-actions
  float right
  position absolute
  width 16px
  top b8
  right b4
  .icon
    background-size contain

.panel-excerpt-filetype-thumb
  size f23
  display inline-block

.download-popup
  z-index 200
  position fixed
  top 36px
  left 0
  bottom 0
  right 0
  margin auto
  background-color white
  border b1*1.5 solid green52
  text-align center
  .icon.close
    position absolute   
    right 0
  .popup-thumb,a
    margin b1
    margin-bottom b2
.popup-thumb 
  box-shadow box-shadow-def
.popup-classification-title
  font-weight bold
  color red
.popup-file-info
  span:not(:last-of-type)
    margin-right b2
.popup-format-icon
  height b1*1.25
  width auto
  margin-right b3
.popup-classification
  border-top 1px solid green51
  padding-top b1
  margin-top b2
.popup-cite
  p
    text-align center
    font-size b2
.bigger
  font-line b1