<div class="volume-list">
  <div ng-if="!volumes.length" class="volume-list-none">
    <span message="search.none"></span>
  </div>
  <ul class="flat">
    <li ng-repeat="volume in volumes">
      <article class="volume-list-result cf">
        <h1>
          <span class="icon volume"></span>
          <a ng-href="{{::volume.route()}}" ng-bind="::name(volume)"></a>
        </h1>
        <div ng-if="::profile" class="volume-access-status">
          <span class="icon unlocked" ng-if="::shared(volume)"></span>
          <span class="icon locked" ng-if="::!shared(volume)"></span>
          <span message="{{shared(volume) ? 'volume.access.shared' : 'volume.access.private'}}"></span>
        </div>

        <div class="volume-list-investigators" ng-if="::volume.access">
          <span class="profile" ng-if="profile">Investigators: </span>
          <ul class="inline-block comma">
            <li ng-repeat="access in ::accessList(volume,page.permission.ADMIN,page.permission.ADMIN)">
              <a ng-href="{{::access.party.route()}}" ng-bind="::access.party.name"></a>
            </li>
          </ul>
          <span class="year" ng-if="::volume.citation && volume.citation.year && !profile" ng-bind="::' (' + volume.citation.year + ')'"></span>
        </div>

        <div class="volume-list-investigators" ng-if="::volume.access && profile && accessList(volume,page.permission.READ,page.permission.EDIT).length">
          <span class="profile">Collaborators: </span>
          <ul class="inline-block comma">
            <li ng-repeat="access in ::accessList(volume,page.permission.READ,page.permission.EDIT)">
              <a ng-href="{{::access.party.route()}}" ng-bind="::access.party.name"></a>
            </li>
          </ul>
        </div>

        <div class="volume-list-body" ng-bind="::volume.body.replace('\n', ' ') | truncate:200" ng-if="::!profile"></div>

      </article>
    </li>
  </ul>
</div>
