// styles
.volume-list-none,.party-list-none
  font-style italic

.party-list-none
  padding-top f1

.party-list,.volume-list
  padding-top f1
  ul
    padding-left 0

.volume-list-result
  border-top b8 solid green51
  padding f4 f2
  margin-bottom f1

  h1
    font-line 1.5
    display inline-block

    .icon
      position relative
      top b8
      margin-right f4

.volume-list-investigators
  span.profile
    text-transform uppercase
    font-size 0.8em      
  ul
    padding-left f8
  span,ul
    display inline 

.volume-list-thumb
  float right
  margin-left f2
  max-width 4

.party-list
  border-top b8 solid green51
  margin-top b1
  
.volume-access-status
  font-size 0.8em
  text-transform uppercase
  display inline-block
  margin-left b2
  .icon
    margin-right b8
  