<div class="volume-list">
  <div ng-if="!volumes.length" class="volume-list-none">
    <span message="search.none"></span>
  </div>
  <ul class="flat">
    <li ng-repeat="volume in volumes">
      <article class="volume-list-result cf">
        <h1>
          <span class="icon volume"></span>
          <a ng-href="{{::volume.route()}}" ng-bind="::name(volume)"></a>
        </h1>

        <div class="volume-list-investigators" ng-if="::volume.access && page.$location.path() !== '/profile'">
          <ul class="inline-block comma">
            <li ng-repeat="access in ::volume.access | filter:{individual: page.permission.ADMIN}">
              <a ng-href="{{::access.party.route()}}" ng-bind="::access.party.name"></a>
            </li>
          </ul>
          <span class="year" ng-if="::volume.citation && volume.citation.year" ng-bind="::' (' + volume.citation.year + ')'"></span>
        </div>

        <div class="volume-list-body" ng-bind="::volume.body.replace('\n', ' ') | truncate:200" ng-if="::page.$location.path() !== '/profile'"></div>
      </article>
    </li>
  </ul>
</div>
