<article class="view search-view">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <h3>Search Data</h3>
        <search-form type='volume'></search-form>
        <volume-list data="volumes"></volume-list>
        <div class="search-pages">
          <span ng-if="::prev">
            <a ng-if="::prev" ng-click="prev()">&lt; {{::number-1}}</a>
            |
          </span>
          <b ng-bind="::number"></b>
          <span ng-if="::next">
            |
            <a ng-click="next()">{{::number+1}} &gt;</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</article>

