.session-header
  margin-bottom b1
.slot.frame
  margin-bottom b4
  background-color white
  box-shadow box-shadow-def
  position relative

  .slot-header.folder
    &:before
      top b4
    span
      text-transform uppercase
      font-size b2

//SLOT-HEADER
.slot-header
  width 100%
  background mix(neutral51,white,50)
  border-bottom 1px solid mix(neutral41,white,25)
  height b1
  padding-left b3

.slot-download
  display inline

//SLOT-TOOLBAR
.slot-toolbar  
  border-bottom 1px solid neutral53
  padding b3
  .float
    float right
  button,select,input
    height b1+b4
    margin 0
  button
    border-radius 0
    line-height b2+b4
  button:first-of-type
    border-top-left-radius b8
    border-bottom-left-radius b8
  button:last-of-type
    border-top-right-radius b8
    border-bottom-right-radius b8
  select
    padding 0

.slot-toolbar-bg
  background-color neutral51

.slot-toolbar-select
  width 280px
  margin-left b8

//SLOT-TIMELINE
.slot-timeline
  z-index 1

.slot-timeline-timeline
  position relative

.slot-timeline-selection
  height 0
  pointer-events none
  .selection
    background-color rgba(180,180,180,0.3)
    bottom 0
    top 0
    position absolute
    min-width 1px
    z-index 1

.slot-timeline-now-zone
  z-index 200
  pointer-events none

.slot-timeline-now
  position absolute
  z-index 100
  bottom 0
  top 0
  border-left 1px solid green
  transition left .05s linear

.slot-timeline-temporal
  background-image url('/public/images/elements/timeline-ruler.svg')
  background-position 0 100%
  background-repeat repeat-x
  position relative
  text-align center
  width 100%

.slot-timeline-control
  position absolute
  margin-top f3
  left 0
  right 0
  z-index 600
  button
    margin 0
    padding-top 0
    padding-bottom 0
    border-radius 0
    height 31px 
    box-shadow none
    vertical-align middle 

.slot-timeline-time
  background-color gray
  color white
  position relative
  top b24
  width auto
  height 31px
  text-align center
  box-shadow inset 1px 1px 2px dark
  padding-left b2
  padding-right b2
  margin 0px auto
  border-radius 0
  &.stop
    border-top-right-radius b1
    border-bottom-right-radius b1
  &.start
    border-top-left-radius b1
    border-bottom-left-radius b1

.slot-timeline-time, .slot-timeline-control > button
  @media screen and (max-width: grid-mobile-width)
    font-size 0.6em
    padding-left 2px
    padding-right 2px
    height b1
    line-height f1
    vertical-align middle
    top 0

.slot-timeline-zoom
  position relative
  float right
  margin-right f4
  font-size 0.8em
  .icon
    height b1+b6
    vertical-align bottom
  :not(.icon)
    margin 0px 4px
    padding 0px 4px
    border 1px solid black
    border-radius b8
    cursor pointer

.slot-timeline-ruler
  position relative
  z-index 500
  width 100%
  box-shadow 0 b8 b8 -b8 black
  min-height 3
  cursor default

.slot-timeline-ruler-time
  margin-top 2
  font-size f23

  &.left
    float left
    margin-left b12

  &.right
    float right
    margin-right b12

.slot-track
  height b1 + b3 + b12
  position relative
  border-top 1px solid #dddddd

.slot-track-asset
  min-width b8
  margin-height b8
  background-color green53
  border 1px solid green11
  opacity 0.3
  cursor pointer
  position absolute
  top 0
  bottom 0
  transition box-shadow, background-color, border-color trans-time trans-ease

.slot-excerpt
  position absolute
  top 2px
  bottom 2px
  min-width 3px
  z-index 50
  background-color green53
  border 1px green13 solid
  opacity 0.6
  
.slot-track-asset-info
  padding b6
  overflow ellipsis
  position relative
      
  .classification-info,.upload-progress-info
    position absolute
    top b3
    right b8
    span
      font-style italic
  
  .upload-progress-info
    margin-right b1+b3
  
  progress
    @media screen and (max-width: 640px)
      width 100px
  
.slot-track-asset-info-name
  display inline-block
  overflow hidden
  text-overflow ellipsis
  width 96%
  padding-left b2
  .track-status
    color red
  &.uploading
    width 40%
  &.excerpt
    color green13

.slot-track-asset-thumb
  height b2+b3
  width auto
  float left
  margin-top b12
  margin-bottom b12

.slot-track-asset-icon
  margin-height b6
  margin-right b6
  float left

.slot-track-select
  .slot-track-asset
    background-color green
    opacity 0.45

.slot-timeline-track
.slot-tag-track
  &.select
    background-color rgba(0,0,0,0.1)

.slot-timeline-track
  &.dirty
    background-color fade-out(red, 90%)
    &.select
      background-color fade-out(red,70%)

.slot-tags
  margin-top b1

.slot-tag-segment
.slot-tag-keyword
.slot-tag-vote
.slot-consent
.slot-record
  position absolute
  border-radius b8
  float left
  min-width 3px
  width auto
  height 80%
  margin-top b8

.slot-tag-segment
  background-color blue51
  border 1px solid neutral

.slot-tag-keyword      
  background-color #ffbe99 //not orange because opacity makes it very grey
  border 1px solid orange
  opacity 0.55

.slot-tag-vote
  background-color blue42
  border 1px solid blue
  opacity 0.7

.slot-tag-name
  font-size b2
  padding-top b6
  position absolute
  left 0

.slot-consent
  background-color purple51
  border 1px solid purple53

.slot-consent-select
  background-color purple52

.slot-record-background
  position absolute
  font-size f34
  white-space nowrap
  height 80%
  overflow hidden
  text-overflow ellipsis
  padding-top b8

.slot-record
  background yellow51
  border 1px solid yellow53

.slot-record-select
  background-color yellow52

.slot-handle
  position absolute
  height 100%
  z-index 500

.slot-handle-move
  left 0
  right 0
  cursor col-resize

.slot-handle-left
  left 0
  width 3px
  cursor e-resize

.slot-handle-right
  right 0
  width 3px
  cursor w-resize

//SLOT-PLAYER
.slot-player
  transition-property max-height
  transition-duration 0.5s
  z-index 2
  overflow hidden
  dl > dd 
    margin-left 0
  select.add
    margin-top b8
  .validator
    margin-bottom b8

.player
  width 100%
  padding b2
  text-align center

.player-viewport
  border-top 1px solid pale
  padding-top b3

.player-scroll
  overflow-y auto
  overflow-x hidden

.player-resize-bar
  position relative
  text-align center
  cursor row-resize
  height b23
  margin-left -6%
  margin-right -6%
  margin-bottom -b6

.player-info
  text-align left
  padding-bottom b4
  margin-bottom b4
  width 100%
  dl
    display block
  dt
    text-transform uppercase
    font-size 0.8em
    float left
    clear left
    margin-right f3
    display block

.player-actions
  background-color white
  position absolute
  right 0
  padding 2px b2
  z-index 1

.player-action-icon
  display inline-block
  margin-left b8
    
.player-action-word
  float right
  height 24px
  min-width 26px
  font-line b2
  position relative
  top -b6
  padding 0 b8 
  margin b6 b8

.player-info-name
  font-line 1
  padding-bottom f2

  img.player-info-file-icon span.icon
    height 19px
    margin 0
    display inline

  img.player-info-file-icon
    margin-right b8
    position relative
    top 0
    height b23
    
  .category
    text-transform capitalize
    font-weight bold

.player-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  > dt
    float left
    clear left
    width 150px

    &:after
      content ':'

  > dd
    float left
    margin-left b6

.position-input
  width auto

.player-drop
  border 3px dashed pale
  padding-top b2
  padding-bottom b2
  width: 100%
  
  &.over-zone
    background-color green51
  
.player-excerpt-form
  margin-top b2
  padding-top b2
  border-top solid pale 1px
  input,select
    margin-top 0
    margin-bottom 0
    padding-top 1px
    padding-bottom 1px
  button
    float right

// SLOT-COMMENTS
.slot-comments
  margin-top 2*b1
  .notselected
    .portrait-name
      color green51
    .portrait-extra,.panel-comments-body
      color pale

.dropzone-message
  position relative
  top -b6
  padding-right b6
