.slot.frame
  margin-bottom b4
  background-color white
  box-shadow box-shadow-def
  position relative
  .slot-header.folder
    &:before
      top b4
    span
      text-transform uppercase
      font-size b2

//SLOT-HEADER
.slot-header
  width 100%
  background mix(neutral51,white,50)
  border-bottom 1px solid mix(neutral41,white,25)
  height b1
  padding-left b3

.slot-download
  width 100%
  height 1
  position relative
  .slot-download-link
    position absolute
    right 0
    .download
      margin-left b3 

//SLOT-TOOLBAR
.slot-toolbar  
  border-bottom 1px solid neutral53
  padding b3
  .float
    float right
  button,select,input
    height 30px
  button
    border-radius 0
    margin 0
  button:first-of-type
    border-top-left-radius b8
    border-bottom-left-radius b8
  button:last-of-type
    border-top-right-radius b8
    border-bottom-right-radius b8
  select
    margin 0
    padding 0
  .slot-toolbar-excerpt
    width 280px
    margin-left b8

//SLOT-TIMELINE
.slot-timeline
  z-index 1

.slot-timeline-selection
  height 0
  pointer-events none
  .selection
    background-color rgba(180,180,180,0.3)
    bottom 0
    top 0
    position absolute
    min-width 1px
    z-index 1
    &.edit
      top 45px

.slot-timeline-temporal
  position relative
  text-align center
  margin-top f3
  width 100%

.slot-timeline-control
  position absolute
  left 0
  right 0
  z-index 600
  button
    margin 0
    padding-top 0
    padding-bottom 0
    border-radius 0
    height 31px 
    box-shadow none 

.slot-timeline-time
  background-color gray
  color white
  position relative
  top b24
  width auto
  min-width 10%
  height 31px
  text-align center
  box-shadow inset 1px 1px 2px dark
  padding-left b1
  padding-right b1
  margin-right auto
  margin-left auto
  margin-top 0
  margin-bottom 0
  border-radius 0
  &.stop
    border-top-right-radius b1
    border-bottom-right-radius b1
  &.start
    border-top-left-radius b1
    border-bottom-left-radius b1

.slot-timeline-zoom
  position absolute
  top 0
  right 0
  margin-right f4

.slot-timeline-ruler
  position relative
  z-index 500
  width 100%
  box-shadow 0 b8 b8 -b8 black
  height 3
  cursor default

.slot-timeline-ruler-time
  margin-top 2
  font-size f23

  &.left
    float left
    margin-left b12

  &.right
    float right
    margin-right b12

.slot-track
  height b1 + b3 + b12
  position relative
  border-top 1px solid #dddddd

.slot-track-asset
  min-width b8
  margin-height b8
  background-color green51
  border 1px solid green32
  cursor pointer
  position absolute
  top 0
  bottom 0
  transition box-shadow, background-color, border-color trans-time trans-ease

.slot-excerpt
  position absolute
  top 2px
  bottom 2px
  min-width 3px
  z-index 50
  background-color green53
  border 1px green43 solid
  opacity 0.8
  
.slot-track-asset-info
  padding b6
  overflow ellipsis
  position relative
  .slot-track-asset-info-name
    display inline-block
    overflow hidden
    text-overflow ellipsis
    width 96%
    padding-left b2
    .track-status
      color red
    &.uploading
      width 40%
    &.excerpt
      font-weight bold
      color pitch
  .classification-info
  .upload-progress-info
    position absolute
    right b8
    top b3
    span
      font-style italic
  progress
    @media screen and (max-width: 640px)
      width 100px

.slot-track-asset-thumb
  height b1
  width auto
  float left

.slot-track-asset-icon
  margin-height b6
  margin-right b6
  float left

.slot-track-select
  .slot-track-asset
    box-shadow box-shadow-def
    border 1px solid green33
    background-color green52

.slot-timeline-now-zone
  z-index 200
  pointer-events none

.slot-timeline-now
  position absolute
  z-index 100
  bottom 0
  top 0
  border-left 1px solid green
  transition left .05s linear
  &.edit
    top 45px

.slot-timeline-track
.slot-tag-track
  &.select
    background-color rgba(180,180,180,0.3)

.slot-timeline-track
  &.dirty
    background-color fade-out(red, 90%)
    &.select
      background-color fade-out(red,70%)

.slot-tags
  margin-top b1

.slot-tag-segment
.slot-tag-keyword
.slot-tag-vote
.slot-consent
.slot-record
  position absolute
  border-radius b8
  float left
  min-width 3px
  width auto
  height 80%
  margin-top b8

.slot-tag-segment
  background-color blue51
  border 1px solid neutral

.slot-tag-keyword      
  background-color blue52
  border 1px solid blue

.slot-tag-vote
  background-color orange52
  border 1px solid orange

.slot-tag-name
  font-size b2
  padding-top b6
  position absolute
  left 0
  overflow hidden
  text-overflow ellipsis

.slot-consent
  background-color purple51
  background-position center 3px
  border 1px solid purple53

.slot-consent-select
  background-color purple52

.slot-record-background
  position absolute
  font-size f34
  white-space nowrap
  height 80%
  overflow hidden
  text-overflow ellipsis
  padding-top b8

.slot-record
  background yellow51
  border 1px solid yellow53

.slot-record-select
  background-color yellow52

.slot-handle
  position absolute
  height 100%
  width 3px
  z-index 500

.slot-handle-move
  left 0%
  cursor col-resize

.slot-handle-left
  left 0%
  cursor e-resize

.slot-handle-right
  right 0%
  cursor w-resize

//SLOT-PLAYER
.slot-player
  z-index 2
  dl > dd 
    margin-left 0
  select.add
    margin-top b8
  .validator
    margin-bottom b8

.player-main
  width 100%
  padding b2
  text-align center

  &:hover
    .player-main-float
      opacity 1

.player-main-viewport
  border-top 1px solid pale
  padding-top b3

.player-resize-bar
  position relative
  text-align center
  cursor row-resize
  height b23
  margin-left -4%
  margin-right -4%
  margin-bottom -b6
.player-resize-bar:active
  border-top 2px solid red

.player-main-float
  position absolute
  top b1 * 5.5
  left b1
  right b1
  opacity 0
  transition opacity trans-time trans-ease
  background white
  box-shadow box-shadow-def

.player-main-info
  text-align left
  padding-bottom b4
  margin-bottom b4
  position relative
  width 100%
  .sticky
    position relative
    top 0
  .scroll
    overflow-y auto
    overflow-x hidden
    height 180px
  dl 
    display block
  dt 
    text-transform uppercase
    font-size 0.8em
    float left
    clear left
    margin-right f3
    display block

.player-main-info-actions
  position absolute
  top 0
  right 0
  background-color white
  z-index 1
  
  button
    height 24px
    min-width 26px
    background-position center center
    background-repeat no-repeat
    font-line b2
    position relative
    top -b6
    padding 0 b8 
    margin b6 b8

.player-main-info-name
  font-line 1
  padding-bottom f2

  img.player-main-info-file-icon span.icon
    height 19px
    margin 0
    display inline

  img.player-main-info-file-icon
    margin-right b8
    position relative
    top 0
    height b23
    
  .category
    text-transform capitalize
    font-weight bold

.player-main-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  > dt
    float left
    clear left
    width 150px

    &:after
      content ':'

  > dd
    float left
    margin-left b6

.player-main-info-link
  link-color orange
  display inline-block
  margin-left b8

.position-input
  width 158px

.player-main-drop
  background-color pale
  padding-top b2
  padding-bottom b2
  width: 100%
  height: 100%
  
  &.over-zone
    background-color green51

.save-slot
  float right
  
.player-excerpt-form
  margin-top b2
  padding-top b2
  border-top solid pale 1px
  input,select
    margin-top 0
    margin-bottom 0
    padding-top 1px
    padding-bottom 1px
  button
    float right
