
.slot-player
.slot-timeline
  margin-bottom b4

.slot-download
  width 100%
  height 1
  position relative
  .slot-download-link
    position absolute
    right 0
    .download
      margin-left b3 

//SLOT-TIMELINE
.slot-timeline
  background-color white
  box-shadow box-shadow-def
  position relative

.slot-timeline-selection
  height 0
  pointer-events none
  .selection
    background-color rgba(180,180,180,0.3)
    height 100%
    position absolute
    min-width 1px

.slot-timeline-temporal
  text-align center
  margin-top f3

.slot-timeline-control
  display inline
  width auto
  button
    margin 0
    padding-top 0
    padding-bottom 0
    border-radius 0
    height 31px 
    box-shadow none 

.slot-timeline-time
  background-color gray
  color white
  position relative
  top b24
  width auto
  min-width 10%
  text-align center
  box-shadow inset 1px 1px 2px dark
  padding-left b1
  padding-right b1
  margin-right auto
  margin-left auto
  margin-top f3
  margin-bottom f3
  border-radius 0
  &.stop
    border-top-right-radius b1
    border-bottom-right-radius b1
  &.start
    border-top-left-radius b1
    border-bottom-left-radius b1

.slot-timeline-zoom
  position absolute
  top 0
  right 0
  margin-top f3
  margin-right f4

.slot-timeline-ruler
  z-index 500
  width 100%
  box-shadow 0 b8 b8 -b8 black
  height 2
  cursor default

.slot-timeline-ruler-time
  margin-top b1 + b8
  font-size f23

  &.left
    float left
    margin-left b12

  &.right
    float right
    margin-right b12

.slot-track
  height b1 + b3 + b12
  position relative
  border-top 1px solid #dddddd

.slot-track-asset
  min-width b8
  margin-height b8
  background-color green51
  border 1px solid green32
  cursor pointer
  position absolute
  top 0
  bottom 0
  transition box-shadow, background-color, border-color trans-time trans-ease

.slot-excerpt
  position absolute
  top 2px
  bottom 2px
  min-width 3px
  z-index 50
  background-color rgba(159,161,207,0.54)
  border 1px #7ca19a solid
  
.slot-track-asset-info
  padding b6
  overflow ellipsis
  position relative
  .slot-track-asset-info-name
    display inline-block
    overflow hidden
    text-overflow ellipsis
    width 96%
    padding-left b2
    .track-status
      color red
    &.uploading
      width 40%
    &.excerpt
      font-weight bold
      color pitch
  .classification-info
  .upload-progress-info
    position absolute
    right b8
    top b3
    span
      font-style italic
  progress
    @media screen and (max-width: 640px)
      width 100px

.slot-track-asset-thumb
  height b1
  width auto
  float left

.slot-track-asset-icon
  margin-height b6
  margin-right b6
  float left

.slot-track-select
  .slot-track-asset
    box-shadow box-shadow-def
    border 1px solid green33
    background-color green52

.slot-timeline-now-zone
  z-index 200
  pointer-events none

.slot-timeline-now
  position absolute
  z-index 100
  top 2 * b1
  bottom 0%
  border-left 1px solid green
  transition left .05s linear

  &:before
    content ''
    border-radius b1
    size b3
    position absolute
    top -b3
    left -b6
    background-color green

.slot-timeline-track
.slot-tag-track
  &.select
    background-color rgba(180,180,180,0.3)

.slot-timeline-track
  &.dirty
    background-color fade-out(red, 90%)
    &.select
      background-color fade-out(red,70%)

.slot-tags
  margin-top b1

.slot-tag-segment
.slot-tag-keyword
.slot-tag-vote
.slot-consent
.slot-record
  position absolute
  border-radius b8
  float left
  min-width 3px
  width auto
  height 80%
  margin-top b8

.slot-tag-segment
  background-color blue51
  border 1px solid neutral

.slot-tag-keyword      
  background-color blue52
  border 1px solid blue

.slot-tag-vote
  background-color orange52
  border 1px solid orange

.slot-tag-name
  font-size b2
  padding-top b6
  position absolute
  left 0
  overflow hidden
  text-overflow ellipsis

.slot-consent
  background-color purple51
  background-position center 3px
  border 1px solid purple53

.slot-consent-select
  background-color purple52

.slot-record-background
  position absolute
  font-size f34
  white-space nowrap
  height 80%
  overflow hidden
  text-overflow ellipsis
  padding-top b8

.slot-record
  background yellow51
  border 1px solid yellow53

.slot-record-select
  background-color yellow52

.slot-handle
  position absolute
  height 100%
  width 3px
  z-index 500

.slot-handle-move
  left 0%
  cursor col-resize

.slot-handle-left
  left 0%
  cursor e-resize

.slot-handle-right
  right 0%
  cursor w-resize

//SLOT-PLAYER
.slot-player
  dl > dd 
    margin-left 0
  select.add
    margin-top b8
  .validator
    margin-bottom b8

.player-main
  width 100%
  background white
  padding b2
  box-shadow box-shadow-def
  text-align center
  position relative

  &:hover
    .player-main-float
      opacity 1

.player-main-viewport
  border-top 1px solid pale
  padding-top b3
  .asset-display
    img
      max-height 800px
    video
      @media screen and (min-width: 520px)
        min-width 480px

.player-main-float
  position absolute
  top b1 * 5.5
  left b1
  right b1
  opacity 0
  transition opacity trans-time trans-ease
  background white
  box-shadow box-shadow-def

.player-main-info
  text-align left
  padding-bottom b4
  margin-bottom b4
  position relative
  width 100%
  dl 
    display block
  dt 
    text-transform uppercase
    font-size 0.8em
    float left
    clear left
    margin-right f3
    display block

.player-main-info-actions
  position relative
  float right
  img.player-main-info-file-icon span.icon
    height 19px
    margin 0
    display inline

  img.player-main-info-file-icon
    margin-right b8
    position relative
    top 0
    height b23

.player-main-info-name
  font-line 1
  padding-bottom f2

  .category
    text-transform capitalize
    font-weight bold

.player-main-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  > dt
    float left
    clear left
    width 150px

    &:after
      content ':'

  > dd
    float left
    margin-left b6

.player-main-info-link
  link-color orange
  display inline-block
  margin-left b8

.player-main-drop
  border b8 pale dashed
  padding-top 1
  padding-bottom 1
  width: 100%
  height: 100%
  
  &.over-zone
    background-color green51

.save-slot
  float right
  
.player-excerpt-form
  margin-top b2
  padding-top b2
  border-top solid pale 1px
  input,select
    margin-top 0
    margin-bottom 0
    padding-top 1px
    padding-bottom 1px
  button
    float right