<article class="view slot-view" flow-init="flowOptions"
    flow-file-added="fileAdded($file, $event)"
    flow-file-success="fileSuccess($file)"
    flow-file-progress="fileProgress($file)">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <hgroup>
          <a class="view-link" ng-href="{{::editing ? page.router.volumeSpreadsheet(volume.id) : volume.route}}" ng-bind="::volume.alias || volume.name"></a>
          <h3 class="view-title smaller">
            <span ng-bind="::slot.displayName"></span>
            <span ng-if="::slot.date" ng-bind="::' (' + slot.date + ')'"></span>
          </h3>
        </hgroup>

        <div ng-if="::!editing" class="slot-download" ng-show="!!tracks[0].asset">
          <a class="slot-download-link" ng-href="{{::slot.zipRoute()}}" target="_self">
            <span class="download" message="download.zip"></span>
            <span class="icon download"></span>
          </a>
        </div>

        <section id="slot-timeline" class="slot-timeline">
          <div class="slot-timeline-selection" ng-if="!selection.empty">
            <div class="selection" ng-style="positionStyle(selection)">
            </div>
          </div>

          <div class="slot-timeline-temporal" ng-if="!range.empty">
            <span class="slot-timeline-time" ng-bind="position | timecode:true"></span>
            <div class="slot-timeline-ruler" ng-mousedown="mouse($event)">
              <div class="slot-timeline-ruler-time left" ng-bind="range.l | timecode"></div>
              <div class="slot-timeline-ruler-time right" ng-bind="range.u | timecode"></div>
            </div>
          </div>

          <div>
            <div class="slot-consent-track">
              <div class="slot-track">
                <div class="slot-consent consent icon" ng-repeat="c in consents" ng-class="c.classes()" ng-style="positionStyle(c.segment)" ng-mousedown="mouse($event, c)" ng-dblclick="dblclick(c)"></div>
              </div>
            </div>
          </div>

          <div class="slot-annotations">
            <div class="slot-record-track" ng-repeat="rs in records">
              <div class="slot-track">
                <div class="slot-record" ng-repeat="r in rs" ng-bind="r.record.displayName" ng-class="{'slot-record-select': r === current}" ng-style="positionStyle(r.segment)" ng-mousedown="mouse($event, r)" ng-dblclick="dblclick(r)"></div>
              </div>
            </div>
          </div>

          <div class="slot-timeline-tracks">
            <div ng-repeat="t in tracks" class="slot-timeline-track" ng-class="{select: t === current, dirty: t.dirty}">
              <div class="slot-track" ng-class="{'slot-track-positioned': !!t.asset && !t.asset.segment.full, 'slot-track-select': t === current}" ng-mousedown="mouse($event, t)" ng-dblclick="dblclick(t)">
                <div class="slot-track-asset-info">
                  <img class="slot-track-asset-thumb" ng-if="!!t.asset && t.asset.checkPermission(page.constants.permission.READ)" ng-src="{{::t.asset.thumbRoute(24)}}">
                  <div class="slot-track-asset-info-name" ng-bind="t.name" ng-class="{ 'uploading' : !!t.file }"></div>
                  <upload-progress class="upload-progress-info" ng-if="!!t.file" progress-value="t.progress"></upload-progress>
                </div>
                <div class="slot-track-asset" ng-if="!!t.asset && !t.asset.segment.full" ng-style="t.positionStyle()"></div>
              </div>
            </div>
          </div>

          <div class="slot-timeline-now-zone">
            <div class="slot-timeline-now" ng-if="position !== undefined" ng-style="positionStyle(position)"></div>
          </div>
        </section>

        <section class="slot-player" ng-repeat="current in [current]" ng-if="!!current">
          <div class="player-main">
            <div class="player-main-info">
              <h1 class="player-main-info-name">
                <span class="filename" ng-if="::!editing && !!current.asset" ng-bind="::current.name"></span>
                <span class="category" ng-if="::!editing && !!current.record" ng-bind="::current.record.displayName"></span>
                <span class="category" ng-if="::editing && !!current.record.category" ng-bind="::page.constants.category[current.record.category].name"></span>
              </h1>
              <nav class="player-main-info-actions">
                <img ng-if="!editing && !!current.asset" ng-src="{{::current.asset.icon}}" hint="format-{{::current.asset.format.extension}}" class="player-main-info-file-icon">
                <span ng-if="!editing && !!current.asset" class="classification icon" ng-class="::page.constants.classification[current.asset.classification]" hint="classification-{{::page.constants.classification[current.asset.classification]}}"></span>
                <a ng-href="{{::current.asset.downloadRoute(false)}}" target="_self" ng-if="!!current.asset && current.asset.checkPermission(page.permission.READ)" class="player-main-info-link icon download line"></a>
                <a ng-if="editing && !!(current.asset || current.file || current.record) && !current.pending" ng-click="current.remove()" class="player-main-info-link icon trash line"></a>
              </nav>

              <div ng-if="!editing">
                <dl class="player-main-info-list cf">
                  <dt ng-if="!!current.asset" message="asset.format"></dt>
                  <dd ng-if="!!current.asset" ng-bind="::(current.asset.format.description || current.asset.format.name) + ' (' + current.asset.format.extension + ')'"></dd>
                  <dt ng-if="!current.segment.full">Position</dt>
                  <dd>
                    <span ng-if="!current.segment.full"><span ng-if="::current.segment.lBounded" ng-bind="::current.segment.l | timecode:true"></span> &ndash; <span ng-if="::current.segment.uBounded" ng-bind="::current.segment.u | timecode:true"></span></span>
                    <span ng-if="current.asset.duration"> (<span ng-bind="::current.asset.duration | timecode:true"></span>)</span>
                  </dd>
                  <dt ng-if="!!current.record" ng-repeat-start="metric in current.metrics() track by metric.id" ng-bind="::metric.display || metric.name"></dt>
                  <dd ng-if="!!current.record" ng-repeat-end ng-bind="::current.record.measures[metric.id]"></dd>
                  <dt ng-if="!!current.age">age</dt>
                  <dd ng-if="!!current.age"><display-age value="current.age"></display-age></dd>
                </dl>
              </div>

              <ng-form ng-if="::editing" name="form.edit" ng-switch="::current.type">
                <div ng-switch-when="asset">
                  <validator name="name" label="asset.name">
                    <input type="text" name="name" ng-model="current.data.name" placeholder="{{::'asset.name.placeholder' | message}}">
                  </validator>

                  <validator name="classification" label="asset.classification">
                    <classification-select name="classification" ng-model="current.data.classification"></classification-select>
                  </validator>

                  <validator name="position" label="position">
                    <input class="position-input" type="text" size="10" name="position" ng-model="current.data.position" ng-pattern="/(\d+:){0,2}\d+(\.\d*)?$/" placeholder="{{::'position.placeholder' | message}}">
                  </validator>
                </div>

                <div ng-switch-when="record">
                  <ng-form name="current.form.measures">
                  <dl class="cf">
                    <dt ng-repeat-start="(m, v) in current.data.measures" ng-init="metric=page.constants.metric[m]" ng-bind="metric.display || metric.name"></dt><br>
                    <dd ng-repeat-end ng-switch="metric.options ? 'select' : (metric.long ? 'long' : metric.type)">
                      <select ng-switch-when="select" name="{{m}}" ng-model="current.data.measures[m]" ng-options="o for o in metric.options"/>
                      <input ng-switch-when="text" type="text" name="{{m}}" ng-model="current.data.measures[m]"/>
                      <textarea ng-switch-when="long" name="m" ng-model="current.data.measures[m]"/>
                      <input ng-switch-when="date" input-date name="{{m}}" ng-model="current.data.measures[m]" placeholder="YYYY-MM-DD"/>
                      <input ng-switch-when="number" type="text" name="{{m}}" ng-model="current.data.measures[m]"/>
                    </dd>
                    <dt>
                      <select class="add" name="add" ng-model="current.data.add" ng-options="metric.id+'' as metric.name for metric in current.addOptions()" ng-change="current.add()"/>
                    </dt>
                  </dl>
                  </ng-form>
                  <ng-form name="current.form.position">
                  <validator name="position" label="position">
                    <input class="position-input" type="text" size="10" name="position-l" ng-model="current.data.position.l" ng-pattern="/(\d+:){0,2}\d+(\.\d*)?$/" placeholder="{{::'position.placeholder' | message}}">
                    &ndash;
                    <input class="position-input" type="text" size="10" name="position-u" ng-model="current.data.position.u" ng-pattern="/(\d+:){0,2}\d+(\.\d*)?$/" placeholder="{{::'position.placeholder' | message}}">
                  </validator>
                  </ng-form>
                </div>

                <button ng-if="!!(current.asset || current.record)" ng-init="current.dirty && form.edit.$setDirty()" class="green" ng-click="current.save()" message="save" ng-disabled="form.edit.$pristine || form.edit.$invalid || current.pending"></button>
              </ng-form>
            </div>

            <div class="player-main-viewport" ng-if="::current.type === 'asset'">
              <asset-display ng-if="::!editing && current.asset" asset="current.asset"></asset-display>
              <div ng-if="editing && !current.file" flow-drop flow-btn flow-drag-enter="dropClasses['over-zone'] = true"  flow-drag-leave="dropClasses['over-zone'] = false" ng-class="dropClasses" class="player-main-drop">
                <span class="icon line add"></span>
                <span class="vem-float-dropzone-message" message="asset.add-drop{{::current.asset ? '.replace' : ''}}"></span>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</article>
