<article class="view slot-view" bindonce flow-init="flowOptions"
    flow-file-added="fileAdded($file, $event)"
    flow-file-success="fileSuccess($file)"
    flow-file-progress="fileProgress($file)">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <hgroup>
          <a class="view-link" bo-href="editing ? page.router.volumeSpreadsheet(volume.id) : volume.route" bo-text="volume.alias || volume.name"></a>
          <h3 class="view-title smaller">
            <span bo-text="slot.displayName"></span>
            <span bo-if="slot.date" bo-text=" ' (' + slot.date + ')'"></span>
          </h3>
        </hgroup>

        <div bo-if="!editing" class="slot-download" ng-show="!!tracks[0].asset">
          <a class="slot-download-link" bo-href="slot.zipRoute()" target="_self">
            <span class="download" bo-text="'download.zip' | message"></span>
            <span class="icon download"></span>
          </a>
        </div>

        <section id="slot-timeline" class="slot-timeline">
          <div class="slot-timeline-temporal" ng-if="!range.empty">
            <span class="slot-timeline-time" ng-bind="position | timecode"></span>
            <div class="slot-timeline-ruler" ng-click="seekPosition($event.clientX)">
              <div class="slot-timeline-ruler-time left" ng-bind="range.l | timecode"></div>
              <div class="slot-timeline-ruler-time right" ng-bind="range.u | timecode"></div>
            </div>
          </div>

          <div>
            <div class="slot-consent-track">
              <div class="slot-track">
                <div class="slot-consent consent icon" ng-repeat="c in consents" ng-class="c.classes()" bo-style="positionStyle(c.segment)" ng-click="c.select($event)"></div>
              </div>
            </div>
          </div>

          <div class="slot-annotations">
            <div class="slot-record-track" ng-repeat="rs in records">
              <div class="slot-track">
                <div class="slot-record" ng-repeat="r in rs" ng-bind="r.record.displayName" ng-class="{'slot-record-select': r === current}" ng-style="positionStyle(r.segment)" ng-click="r.select($event)"></div>
              </div>
            </div>
          </div>

          <div class="slot-timeline-tracks">
            <div ng-repeat="t in tracks" class="slot-timeline-track" ng-click="t.select($event)" ng-class="{select: t === current, dirty: t.dirty}" >
              <div class="slot-track" ng-class="{'slot-track-positioned': !!t.asset && !t.asset.segment.full, 'slot-track-select': t === current}">
                
                <div class="slot-track-asset-info">
                  <img class="slot-track-asset-thumb" ng-if="!!t.asset && t.asset.checkPermission(page.constants.permission.READ)" bo-src="t.asset.thumbRoute(24)">
                  <div class="slot-track-asset-info-name" ng-bind="t.name" ng-class="{ 'uploading' : !!t.file }"></div>

                  <upload-progress class="upload-progress-info" ng-if="!!t.file" progress-value="t.progress"></upload-progress>

                </div>

                <div class="slot-track-asset" ng-if="!!t.asset && !t.asset.segment.full" ng-style="t.positionStyle()">
                </div>
              </div>
            </div>
          </div>

          <div class="slot-timeline-now-zone">
            <div class="slot-timeline-now" ng-if="position !== undefined" ng-style="positionStyle(position)"></div>
          </div>
        </section>

        <section class="slot-player" ng-repeat="current in [current]" ng-if="!!current">
          <div class="player-main">
            <div class="player-main-info">
              <h1 class="player-main-info-name" bo-if="!editing">
                <span class="filename" bo-if="current.asset" bo-text="current.name"></span>
                <span class="category" bo-if="current.record.category" bo-text="page.constants.category[current.record.category].name + ': '"></span>
                <span bo-if="current.record" bo-text="current.record.displayName"></span>
              </h1>
              <nav class="player-main-info-actions">
                <img bo-if="!editing" ng-if="!!current.asset" bo-src="current.asset.icon" hint="format-{{current.asset.format.extension}}" class="player-main-info-file-icon">
                <span bo-if="!editing" ng-if="!!current.asset" class="classification icon" bo-class="page.constants.classification[current.asset.classification]" hint="classification-{{page.constants.classification[current.asset.classification]}}"></span>
                <a bo-href="current.asset.downloadRoute(false)" target="_self" ng-if="!!current.asset && current.asset.checkPermission(page.permission.READ)" class="player-main-info-link icon download line"></a>
                <a bo-if="editing" ng-if="!!(current.asset || current.file) && !current.pending" ng-click="current.remove()" class="player-main-info-link icon trash line"></a>
              </nav>

              <div bo-if="!editing">
                <dl class="player-main-info-list cf">
                  <dt bo-if="!current.segment.full">Position</dt>
                  <dd>
                    <span bo-if="!current.segment.full"><span bo-text="current.segment.l | timecode"></span> &ndash; <span bo-text="current.segment.u | timecode"></span></span>
                    <span bo-if="current.asset.duration"> (<span bo-text="current.asset.duration | timecode"></span>)</span>
                  </dd>
                  <dt ng-if="!!current.asset" bo-text="'asset.format' | message"></dt>
                  <dd ng-if="!!current.asset" bo-text="(current.asset.format.description || current.asset.format.name) + ' (' + current.asset.format.extension + ')'"></dd>
                  <dt ng-if="!!current.record" ng-repeat-start="metric in current.metrics()" bo-text="page.constants.metric[metric].name"></dt>
                  <dd ng-if="!!current.record" ng-repeat-end bo-text="current.record.measures[metric]"></dd>
                  <dt ng-if="!!current.age">age</dt>
                  <dd ng-if="!!current.age"><display-age value="current.age"></display-age></dd>
                </dl>
              </div>

              <ng-form bo-if="editing" name="form.edit" bo-switch="current.type">
                <div bo-switch-when="asset">
                  <validator name="name" label="'asset.name' | message">
                    <input type="text" name="name" ng-model="current.data.name" bo-attr bo-attr-placeholder="'asset.name.placeholder' | message">
                  </validator>

                  <validator name="classification" label="'asset.classification' | message">
                    <classification-select name="classification" ng-model="current.data.classification"></classification-select>
                  </validator>

                  <validator name="position" label="'asset.position' | message">
                    <input type="text" name="position" ng-model="current.data.position" ng-pattern="/(\d+:){0,2}\d+(\.\d*)?$/" bo-attr bo-attr-placeholder="'asset.position.placeholder' | message">
                  </validator>
                </div>

                <div bo-switch-when="record">
                  <dl class="cf">
                    <dt ng-repeat-start="(m, v) in current.data" ng-init="metric=page.constants.metric[m]" ng-bind="metric.name"></dt><br>
                    <dd ng-repeat-end ng-switch="metric.options ? 'select' : (metric.long ? 'long' : metric.type)">
                      <select ng-switch-when="select" name="{{m}}" ng-model="current.data[m]" ng-options="o for o in metric.options"/>
                      <input ng-switch-when="text" type="text" name="{{m}}" ng-model="current.data[m]"/>
                      <textarea ng-switch-when="long" name="m" ng-model="current.data[m]"/>
                      <input ng-switch-when="date" type="date" name="{{m}}" ng-model="current.data[m]"/>
                      <input ng-switch-when="number" type="text" name="{{m}}" ng-model="current.data[m]"/>
                    </dd>
                    <dt>
                      <select class="add" name="add" ng-model="current.data.add" ng-options="metric.id+'' as metric.name for metric in current.addOptions() | orderBy:'id'" ng-change="current.add()"/>
                    </dt>
                  </dl>
                </div>

                <button ng-if="!!(current.asset || current.record)" ng-init="current.dirty && form.edit.$setDirty()" class="green" ng-click="current.save()" bo-text="'save' | message" ng-disabled="form.edit.$pristine || form.edit.$invalid || current.pending"></button>
              </ng-form>
            </div>

            <div class="player-main-viewport" bo-if="current.type === 'asset'">
              <asset-display bo-if="!editing && current.asset" asset="current.asset"></asset-display>
              <div bo-if="editing" ng-if="!current.file" flow-drop flow-btn flow-drag-enter="dropClasses['over-zone'] = true"  flow-drag-leave="dropClasses['over-zone'] = false" ng-class="dropClasses" class="player-main-drop">
                <span class="icon line add"></span>
                <span class="vem-float-dropzone-message" bo-text="'asset.add-drop' + (current.asset ? '.replace' : '') | message"></span>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</article>
