<div ng-switch="::type" class="spreadsheet-edit">
  <input-completer ng-switch-when="ident" input-name="edit" ng-model="input.value" min="0" debounce="0" completer="identCompleter($input)" submit="unedit($event)" key-escape="unedit(false)" class="ident-completer"></input-completer>
  <input ng-switch-when="text" name="edit" type="text" ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-tab="unedit($event)" key-escape="unedit(false)"/>
  <textarea ng-switch-when="long" name="edit" ng-model="input.value" ng-blur="unedit($event)" key-tab="unedit($event)" key-escape="unedit(false)"></textarea>
  <input ng-switch-when="date" name="edit" input-date ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-tab="unedit($event)" key-escape="unedit(false)" placeholder="YYYY-MM-DD"/>
  <input ng-switch-when="number" name="edit" type="text" ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-tab="unedit($event)" key-escape="unedit(false)"/>
  <input-completer ng-switch-when="options" input-name="edit" ng-model="input.value" min="0" completer="optionsCompleter($input)" submit="unedit($event)" key-escape="unedit(false)"></input-completer>
  <select ng-switch-when="release" name="edit" ng-model="input.value" ng-options="constants.release[c]+'' as 'release.'+c+'.title' | message for c in ::constants.release" key-tab="unedit($event)" key-escape="unedit(false)"></select>
  <select ng-switch-when="record" name="edit" ng-model="input.value" ng-options="id as label for (id, label) in options" key-tab="unedit($event)" key-escape="unedit(false)"></select>
  <select ng-switch-when="metric" name="edit" ng-model="input.value" ng-options="m.id as m.name for m in options track by m.id" key-escape="unedit(false)"></select>
  <select ng-switch-when="category" name="edit" ng-model="input.value" ng-options="c.id as c.name for c in options track by c.id" key-escape="unedit(false)"></select>
</div>
