<h3 class="view-title smaller" bo-if="editing" bo-id="'goto-'+id">
    <span bo-text="top? 'materials':'session'"></span>
</h3>

<div class="spreadsheet-options">  
  <span bo-if="!editing && volume.checkPermission(page.permission.EDIT)">
    <a bo-href="page.router.volumeSpreadsheet(volume.id) + '#goto-'+id">edit</a> | 
    
  </span>
  <span bo-if="editing">
    <a ng-click="refresh()">refresh</a> |
  </span>
  <a ng-click="page.dataExport.downloadCSV(volume)">export data</a>
</div>

<div class="spreadsheet" bindonce="id" bo-class="{'edit': editing, 'view': !editing}">
  <table class="spreadsheet-table">
    <colgroup>
      <col class="name"/>
      <col bo-if="!top" class="date"/>
      <col class="consent"/>
    </colgroup>
    <colgroup ng-repeat="col in recordCols track by col.category.id">
      <col ng-repeat="metric in col.metrics track by metric.id" ng-class="[col.category.name, metric.name]"/>
    </colgroup>
    <colgroup bo-if="editing">
      <col class="add">
    </colgroup>
    <thead>
      <tr class="spreadsheet-head-groups">
        <th bo-attr bo-attr-colspan="2+!top" bo-id="id+'-head'" bo-class="top ? 'col-materials' : 'col-sessions'" ng-click="clickSlot($event)" bo-text="top ? 'materials' : 'session' | message"></th>
        <th ng-repeat="col in recordCols track by col.category.id" bo-id="id+'-category_'+col.category.id" colspan="{{col.metrics.length}}" bo-class="'col'+col.category.id">
          <span ng-bind="col.category.name"></span>
          <span bo-if="editing" ng-click="clickCategoryAdd($event, col)" class="icon add addSessionInfo"></span>
        </th>
        <th bo-if="editing" bo-id="id+'-add'" class="add" ng-click="clickAdd($event)"></th>
      </tr>
      <tr class="spreadsheet-head-metrics">
        <th bo-id="id+'-name'" class="first sort sortable" ng-click="clickSlot($event, 'name')"/>
        <th bo-if="!top" bo-id="id+'-date'" class="sort sortable" ng-click="clickSlot($event, 'date')">test date</th>
        <th bo-id="id+'-consent'" class="last sort sortable" ng-click="clickSlot($event, 'consent')"></th>

        <th ng-repeat="col in metricCols" bo-id="id+'-metric_'+$index" ng-click="clickMetric(col)" ng-class="{'first': col.first, 'last': col.last, 'sort': col.sorted !== null, 'sortable': col.sorted === undefined, 'sort-asc': col.sorted, 'sort-desc': col.sorted === false}" ng-bind="col.metric.display || col.metric.name"></th>
        <th bo-if="editing" class="first last"></th>
      </tr>
    </thead>
    <tbody class="spreadsheet-tbody" bo-id="id" ng-click="click($event)">
    </tbody>
    <tfoot>
      <tr bo-if="editing">
        <td bo-id="id+'-new'" colspan="{{2+!top+metricCols.length}}" class="add null" ng-click="clickNew($event)" bo-text="'add ' + (top ? 'materials' : 'session' | message)"</td>
      </tr>
    </tfoot>
  </table>
</div>
