<div id="spreadsheet" bindonce bo-class="{edit: editing, view: !editing}">
  <a ng-click="refresh()">refresh</a>
  <span bo-if="!editing">
    <span bo-if="volume.checkPermission(page.permission.EDIT)">
      | <a bo-href="page.router.volumeSpreadsheet(volume.id)">edit</a>
    </span>
    | <a bo-href="volume.zipRoute()" target="_self" bo-text="'download.zip' | message"></a>
  </span>
  <table id="spreadsheet-table">
    <colgroup>
      <col class="name"/>
      <col class="date"/>
      <col class="consent"/>
    </colgroup>
    <colgroup ng-repeat="col in recordCols track by col.category.id">
      <col ng-repeat="metric in col.metrics track by metric.id" ng-class="[col.category.name, metric.name]"/>
    </colgroup>
    <thead>
      <tr id="spreadsheet-head-groups">
        <th colspan="3" id="ss-head" ng-click="clickSession($event)">session</th>
        <th ng-repeat="col in recordCols track by col.category.id" id="ss-category_{{col.category.id}}" colspan="{{col.metrics.length}}" ng-bind="col.category.name" ng-click="clickCategory($event, col)"></th>
      </tr>
      <tr id="spreadsheet-head-metrics">
        <th id="ss-name" class="first" ng-click="clickSlot('name')"/>
        <th id="ss-date" ng-click="clickSlot('date')">test date</th>
        <th id="ss-consent" class="last" ng-click="clickSlot('consent')"></th>

        <th ng-repeat="col in metricCols" id="ss-metric_{{$index}}" ng-click="clickMetric(col)" ng-class="{'first': col.first, 'last': col.last}" ng-bind="col.metric.display || col.metric.name"></th>
      </tr>
      <tr bo-if="editing">
        <td id='ss-newtop' colspan='{{3+metricCols.length}}' class='add' ng-click="clickNew($event, true)">add container</td>
      </tr>
    </thead>
    <tbody id="ss-top" ng-click="click($event)">
    </tbody>
    <tbody id="ss" ng-click="click($event)">
    </tbody>
    <tfoot>
      <tr bo-if="editing">
        <td id='ss-new' colspan='{{3+metricCols.length}}' class='add' ng-click="clickNew($event, false)">add session</td>
      </tr>
    </tfoot>
  </table>
</div>
