#spreadsheet.view
  overflow-x scroll

#spreadsheet-table
  whitespace nowrap
  margin-bottom 0

  col.consent
    width 32px

  th
    line-height 1
    position relative
    text-align center
    border-left 1px solid white
    border-right 1px solid white
    border-top 0
    border-bottom 0

  td
    border 1px solid dark
    padding 3px
    height 1+f3
    display table-cell
    position relative
    max-width 8em
    overflow hidden
    text-overflow ellipsis

  td.consent
    min-width: 32px

  td.icon
      background-position center

  td.null
    background-color gray

  td.blank
    color gray
    background-color pale

  td.more
    &:before
      content ''
      border-top b2 solid green
      border-right b2 solid transparent
      position absolute
      left 0
      top 0

  td.add
    // TODO
    text-align center
    font-style italic
    background-color gray

  td.saving
    &:before
      content 'Saving...'
      font-style italic
      text-align center
      background-color fade-out(blue, 0.1)
      overflow hidden
      position absolute
      top 0
      bottom 0
      left 0
      right 0

  td.error
    // TODO
    background-color red !important

  tr.expand
    whitespace normal

    td
      overflow visible
      text-overflow clip
      word-break break-all
      word-break break-word

#spreadsheet-head-groups
  th
    &:before
      content ''
      border-radius b3 b3 0 0
      border-top 1px solid pale
      border-left 1px solid pale
      border-right 1px solid pale
      position absolute
      top 0
      bottom 0
      left 0
      right 0

#spreadsheet-head-metrics
  th
    border-bottom 2px solid black
    border-left-color pale
    border-right-color pale
    cursor: pointer

    &.first
      border-left-color white

      &:before
        content ''
        border-left 1px solid pale
        position absolute
        left 0
        top 0
        bottom 0

    &.last
      border-right-color white

      &:after
        content ''
        border-right 1px solid pale
        position absolute
        right 0
        top 0
        bottom 0

#ss-top
  border-bottom 2px solid pitch

.spreadsheet-edit
  position absolute
  z-index 50
  top 0
  left 0
  bottom 0
  width 8
