<div ng-switch="::type" class="spreadsheet-edit">
  <input ng-switch-when="text" name="edit" type="text" ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-escape="unedit()"/>
  <textarea ng-switch-when="long" name="edit" ng-model="input.value" ng-blur="unedit($event)" key-escape="unedit()"/>
  <input ng-switch-when="date" name="edit" input-date ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-escape="unedit()" placeholder="YYYY-MM-DD"/>
  <input ng-switch-when="number" name="edit" type="text" ng-model="input.value" key-enter="unedit($event)" ng-blur="unedit($event)" key-escape="unedit()"/>
  <select ng-switch-when="select" name="edit" ng-model="input.value" ng-options="o for o in options" key-escape="unedit()"/>
  <select ng-switch-when="consent" name="edit" ng-model="input.value" ng-options="constants.consent[c]+'' as c for c in constants.consent" key-escape="unedit()"/>
  <select ng-switch-when="record" name="edit" ng-model="input.value" ng-options="id as label for (id, label) in options" key-escape="unedit()"/>
  <select ng-switch-when="metric" name="edit" ng-model="input.value" ng-options="m.id as m.name for m in options track by m.id" key-escape="unedit()"/>
  <select ng-switch-when="category" name="edit" ng-model="input.value" ng-options="c.id as c.name for c in options track by c.id" key-escape="unedit()"/>
</div>
