// STYLES

.body_header {

}

.body_header_h1 {
	margin: 0;
	float: left;
	.font-size(4.5);
	.line-height(3);

	a {
		display: block;
		color: @text;
		background: url("/public/images/logo/databrary-small.png") no-repeat 0 6px;
		.padding(left, 2.5);
	}
}

.body_header_search {
	overflow: hidden;
	.line-height(3);

	input[type="search"] {
		width: 100%;
	}
}