// STYLES

.body_header {

}

.body_header_h1 {
	margin: 0;
	float: left;
	.font-size(4.5);
	.line-height(4);

	a {
		display: block;
		color: @text;
		background: url("/public/images/logo/databrary-small.png") no-repeat 0 @b2;
		.padding(left, 2.5);
	}
}

.body_header_search {
	overflow: hidden;

	.w {
		.margin(all, 1.75, .125, .25, .25);
		text-align: right;
	}

	input[type="search"] {
		.grid-width(max, 6);
		margin-bottom: 0;
	}
}