<article frame id="volume_{{volume.id}}" class="search_volume">
    <div class="row">
        <div class="col-desktop-13 col-laptop-10 col-tablet-8 col-mobile-4 col-cell">
            <header class="search_volume_header">
                <h1 class="h3"><a ng-href="/volume/{{volume.id}}">{{volume.name}}</a></h1>
            </header>

            <footer class="search_volume_footer cf">
                <div class="people">
                    @*
                    @Async.wait(volume.partyAccess).takeWhile(_.access >= Permission.ADMIN).map { a =>
                        @widget.portrait.verticalMicro(a.party)
                    }
                    *@
                </div>
            </footer>

            <div class="search_volume_body cf" ng-bind-html="volume.body | format:body"></div>
        </div>

        <aside class="col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2 col-cell">
            <figure baseline="square">
                <figmedia>
                    <img ng-src="/volume/{{volume.id}}/thumb">
                </figmedia>
            </figure>
        </aside>
    </div>
</article>
