// styles

.search-form
	padding-top 1
	padding-bottom 2

.search-form-logo
	margin 0
	float left
	line-height 3

	a
		display block
		color black

	img
		display block

.search-form-search
	margin f2 f8 f4 f4
	text-align right
	position relative

	input[type="search"]
		max-width 16
		margin-bottom 0

