@(implicit request: SiteRequest[_])

@template.static("About the Project") {
    <article id="static_about">
        <h1>About the Project</h1>

        <p>Most developmental scientists rely on video recordings to capture the complexity and richness of behavior. However, researchers rarely share video data, and this has impeded scientific progress. By creating the cyber-infrastructure and community to enable open video sharing, the Databrary project aims to facilitate deeper, richer, and broader understanding of behavior.</p>

        <p>The Databrary project includes:</p>

        <dl>
            <dt><a href="@routes.Static.index">Databrary</a></dt>
            <dd>A web-based repository for open sharing and preservation of video data and associated metadata.</dd>

            <dt><a href="http://datavyu.org">Datavyu</a></dt>
            <dd>A free, open source video-coding software, that enables coding, exploring, and analyzing video data.</dd>

            <dt><a href="http://labnanny.org">Labnanny</a></dt>
            <dd>A data management system that supports data-sharing within labs, among collaborators, and in the Databrary repository.</dd>
        </dl>

        <p>The Databrary project is dedicated to transforming the culture of developmental science by building a community of researchers committed to open video data sharing, training a new generation of developmental scientists and empowering them with an unprecedented set of tools for discovery, and raising the profile of behavioral science by  bolstering interest in and support for scientific research among the general public.</p>
    </article>
} {

}