@(implicit request: SiteRequest[_])

@template.static("Advisory Board") {
    <article id="static_board">
        <h1>Advisory Board</h1>

        <dl class="people">
            <dt>David Ackerman</dt>
            <dd>Executive Director of Digital Library Technology Services</dd>
            <dd>New York University</dd>

            <dt>Martha Alibali</dt>
            <dd>Professor of Psychology and Educational Psychology</dd>
            <dd>University of Wisconsin at Madison</dd>

            <dt>George Alter</dt>
            <dd>Professor of History</dd>
            <dd>Director of ICPSR</dd>
            <dd>University of Michigan</dd>

            <dt>Richard Aslin</dt>
            <dd>William R. Kenan Professor of Brain &amp; Cognitive Sciences</dd>
            <dd>Director of Rochester Center for Brain Imaging</dd>
            <dd>University of Rochester</dd>

            <dt>Roger Bakeman</dt>
            <dd>Professor of Psychology Emeritus</dd>
            <dd>Georgia State University</dd>

            <dt>Bennett Bertenthal</dt>
            <dd>James H. Rudy Professor of Psychological and Brain Sciences</dd>
            <dd>Director of SidGRID</dd>
            <dd>Indiana University</dd>

            <dt>Howard Besser</dt>
            <dd>Professor of Cinema Studies</dd>
            <dd>Director of Moving Image Archiving &amp; Preservation Program</dd>
            <dd>New York University</dd>

            <dt>Erik De Schutter</dt>
            <dd>Professor, Okinawa Institute of Science and Technology</dd>
            <dd>President, Organization for Computational Neuroscience</dd>

            <dt>James Cole Galloway</dt>
            <dd>Professor of Physical Therapy, Psychology, Human Development and Family Studies, and Biomechanics and Movement Sciences</dd>
            <dd>University of Delaware</dd>

            <dt>Clyde Lee Giles</dt>
            <dd>David Reese Professor at the College of Information Sciences and Technology</dd>
            <dd>Director of the Intelligent Systems Research Laboratory</dd>
            <dd>The Pennsylvania State University </dd>

            <dt>Paul Horn</dt>
            <dd>Senior Vice Provost for Research</dd>
            <dd>Distinguished Scientist in Residence</dd>
            <dd>New York University</dd>

            <dt>Carl Kesselman</dt>
            <dd>Professor of Industrial and Systems Engineering</dd>
            <dd>Fellow of the USC Information Sciences Institute</dd>
            <dd>Director of BIRN</dd>
            <dd>University of Southern California</dd>

            <dt>Yann LeCun</dt>
            <dd>Silver Professor of the Courant Institute of Mathematical and Computer Sciences</dd>
            <dd>New York University</dd>

            <dt>Brian MacWhinney</dt>
            <dd>Professor of Psychology</dd>
            <dd>Director of TalkBank and CHILDES</dd>
            <dd>Carnegie Mellon University</dd>

            <dt>Carolyn Maher</dt>
            <dd>Professor of Education</dd>
            <dd>Director of Robert B. Davis Institute for Learning</dd>
            <dd>Rutgers University</dd>

            <dt>Carol Mandel</dt>
            <dd>Dean of the Division of Libraries</dd>
            <dd>New York University</dd>

            <dt>Susan McHale</dt>
            <dd>Professor of Human Development</dd>
            <dd>Director of the Social Science Research Institute</dd>
            <dd>The Pennsylvania State University</dd>

            <dt>Peter Molenaar</dt>
            <dd>Distinguished Professor of Human Development and Psychology</dd>
            <dd>The Pennsylvania State University</dd>

            <dt>Sarah Morrow</dt>
            <dd>Privacy Manager, Office of Risk Management</dd>
            <dd>The Pennsylvania State University</dd>

            <dt>Roy Pea</dt>
            <dd>David Jacks Professor of Education and Learning Sciences</dd>
            <dd>Director of DIVER</dd>
            <dd>Director of the H-STAR Institute</dd>
            <dd>Stanford University</dd>

            <dt>Jan Plass</dt>
            <dd>Paulette Goddard Professor of Digital Learning and Media Sciences</dd>
            <dd>New York University</dd>

            <dt>Nilam Ram</dt>
            <dd>Assistant Professor of Human Development and Psychology</dd>
            <dd>The Pennsylvania State University</dd>

            <dt>Deb Roy</dt>
            <dd>Associate Professor of Media Arts and Sciences</dd>
            <dd>MIT</dd>

            <dt>Linda Smith</dt>
            <dd>Distinguished Professor and Chancellor's Professor of Psychological and Brain Sciences</dd>
            <dd>Indiana University</dd>

            <dt>Luke Zhang</dt>
            <dd>Associate Professor of Information Sciences and Technology</dd>
            <dd>The Pennsylvania State University</dd>
        </dl>
    </article>
} {

}

