@template.html5("Advisory Board") {
    <article>
        <h1>Advisory Board</h1>

        <p>David Ackerman, Executive Director of Digital Library Technology Services, New York University</p>
        <p>Martha Alibali, Professor of Psychology and Educational Psychology, University of Wisconsin at Madison</p>
        <p>George Alter, Professor of History, Director of ICPSR, University of Michigan</p>
        <p>Richard Aslin, William R. Kenan Professor of Brain &amp; Cognitive Sciences, Director of Rochester Center for Brain Imaging, University of Rochester</p>
        <p>Roger Bakeman, Professor of Psychology Emeritus, Georgia State University</p>
        <p>Bennett Bertenthal, James H. Rudy Professor of Psychological and Brain Sciences, Director of SidGRID, Indiana University</p>
        <p>Howard Besser, Professor of Cinema Studies, Director of Moving Image Archiving &amp; Preservation Program, New York University</p>
        <p>Erik De Schutter, Professor, Okinawa Institute of Science and Technology, President, Organization for Computational Neuroscience</p>
        <p>James Cole Galloway, Professor of Physical Therapy, Psychology, Human Development and Family Studies, and Biomechanics and Movement Sciences, University of Delaware</p>
        <p>Clyde Lee Giles, David Reese Professor at the College of Information Sciences and Technology, Director of the Intelligent Systems Research Laboratory, The Pennsylvania State University </p>
        <p>Paul Horn, Senior Vice Provost for Research, Distinguished Scientist in Residence, New York University</p>
        <p>Carl Kesselman, Professor of Industrial and Systems Engineering, Fellow of the USC Information Sciences Institute, Director of BIRN, University of Southern California</p>
        <p>Yann LeCun, Silver Professor of the Courant Institute of Mathematical and Computer Sciences, New York University</p>
        <p>Brian MacWhinney, Professor of Psychology, Director of TalkBank and CHILDES, Carnegie Mellon University</p>
        <p>Carolyn Maher, Professor of Education, Director of Robert B. Davis Institute for Learning, Rutgers University</p>
        <p>Carol Mandel, Dean of the Division of Libraries, New York University</p>
        <p>Susan McHale, Professor of Human Development, Director of the Social Science Research Institute, The Pennsylvania State University</p>
        <p>Peter Molenaar, Distinguished Professor of Human Development and Psychology, The Pennsylvania State University</p>
        <p>Sarah Morrow, Privacy Manager, Office of Risk Management, The Pennsylvania State University</p>
        <p>Roy Pea, David Jacks Professor of Education and Learning Sciences, Director of DIVER, Director of the H-STAR Institute, Stanford University</p>
        <p>Jan Plass, Paulette Goddard Professor of Digital Learning and Media Sciences, New York University</p>
        <p>Nilam Ram, Assistant Professor of Human Development and Psychology, The Pennsylvania State University</p>
        <p>Deb Roy, Associate Professor of Media Arts and Sciences, MIT</p>
        <p>Linda Smith, Distinguished Professor and Chancellor's Professor of Psychological and Brain Sciences, Indiana University</p>
        <p>Luke Zhang, Associate Professor of Information Sciences and Technology, The Pennsylvania State University</p>
    </article>
}

