@template.html5("Data Contributors") {
    <article>
        <h1>Committed Contributors</h1>

        <p><a href="http://www.psych.nyu.edu/adolph/">Karen Adolph</a>, New York University</p>
        <p><a href="http://psych.indiana.edu/faculty/alberts.php">Jeff Alberts</a>, Indiana University</p>
        <p><a href="http://glial.psych.wisc.edu/index.php/psychsplashfacstaff/90">Martha Alibali</a>, University of Wisconsin</p>
        <p><a href="http://www.brown.edu/Departments/CLPS/people/dima-amso">Dima Amso</a>, Brown University</p>
        <p><a href="http://babylab.bcs.rochester.edu/New_Baby_Lab/The_Rochester_Baby_Lab.html">Richard Aslin</a>, University of Rochester</p>
        <p><a href="http://infantlab.fiu.edu/">Lorraine Bahrick</a>, Florida International University</p>
        <p><a href="http://explore.georgetown.edu/people/rfb5/?PageTemplateID=131">Rachel Barr</a>, Georgetown University</p>
        <p><a href="http://www.personal.psu.edu/sab31/">Sheri Berenbaum</a>, Pennsylvania State University</p>
        <p><a href="http://www.library.csi.cuny.edu/~berger/Sarah/Home.html">Sarah Berger</a>, College of Staten Island of the City University of New York</p>
        <p><a href="http://www.indiana.edu/~dcnlab/">Bennett Bertenthal</a>, Indiana University</p>
        <p><a href="http://www.psych.umass.edu/people/neilberthier/">Neil Berthier</a>, University of Massachusetts</p>
        <p><a href="http://www.education.uconn.edu/directory/details.cfm?id=318">Anjana Bhat</a>, University of Connecticut</p>
        <p><a href="http://steinhardt.nyu.edu/appsych/faculty_bios/view/Clancy_Blair">Clancy Blair</a>, New York University</p>
        <p><a href="http://www.psychology.uiowa.edu/faculty/blumberg/blumberg.html">Mark Blumberg</a>, University of Iowa</p>
        <p><a href="http://www.ryerson.ca/psychology/faculty/boudreau/">Jean-Paul Boudreau</a>, Ryerson University</p>
        <p><a href="http://psych.la.psu.edu/directory/faculty-bios/buss.html">Kristin Buss</a>, Pennsylvania State University</p>
        <p><a href="http://dnlab.ucsd.edu/team.html">Leslie Carver</a>, University of California at San Diego</p>
        <p><a href="http://www.med.nyu.edu/biosketch/castef01/publications">Francisco Xavier Castellanos</a>, New York University</p>
        <p><a href="http://www.sph.umd.edu/KNES/faculty/jclark/">Jane Clark</a>, University of Maryland</p>
        <p><a href="http://www.whitman.edu/psychology/clearfield/">Melissa Clearfield</a>, Whitman College</p>
        <p><a href="http://psych.la.psu.edu/directory/faculty-bios/cole.html">Pamela Cole</a>, Penn State University</p>
        <p><a href="http://psychology.utk.edu/people/corbetta.html">Daniela Corbetta</a>, University of Tennessee</p>
        <p><a href="http://www.lsa.umich.edu/psych/people/directory/profiles/faculty/?uniquename=pdakean">Pamela Davis-Kean</a>, University of Michigan</p>
        <p><a href="http://faculty.virginia.edu/deloache/">Judy DeLoache</a>, University of Virginia</p>
        <p><a href="http://www.etsu.edu/babylab/">Wallace Dixon</a>, East Tennessee State University</p>
        <p><a href="http://www.sahp.vcu.edu/pt/about/dusing.html">Stacey Dusing</a>, Virginia Commonwealth University</p>
        <p><a href="http://prc.asu.edu/Projects/PAYS">William Fabricius</a>, Arizona State University</p>
        <p><a href="http://pbs.jhu.edu/research/feigenson/facultyinfo/">Lisa Feigenson</a>, Johns Hopkins University</p>
        <p><a href="http://www.psy.cmu.edu/people/fisher.html">Anna Fisher</a>, Carnegie Mellon University</p>
        <p><a href="http://www.psychology.emory.edu/cognition/fivush/">Robyn Fivush</a>, Emory University</p>
        <p><a href="http://www.stanford.edu/~mcfrank/">Michael Frank</a>, Stanford University</p>
        <p><a href="http://www.psychology.uiowa.edu/faculty/freeman/freeman.html">John Freeman</a>, University of Iowa</p>
        <p><a href="http://www.udel.edu/PT/faculty/galloway_CV.html">Cole Galloway</a>, University of Delaware</p>
        <p><a href="http://www.lsa.umich.edu/psych/people/directory/profiles/faculty/?uniquename=gelman">Susan Gelman</a>, University of Michigan</p>
        <p><a href="http://www.personal.psu.edu/rog1/">Rick Gilmore</a>, Pennsylvania State University</p>
        <p><a href="http://udel.edu/~roberta/">Roberta Golinkoff</a>, University of Delaware</p>
        <p><a href="http://www.tc.columbia.edu/academics/?facid=ag275">Andrew Gordon</a>, Columbia University Teachers College</p>
        <p><a href="http://www.tc.columbia.edu/academics/?facid=pg328">Peter Gordon</a>, Columbia University Teachers College</p>
        <p><a href="http://www.psychology.uiowa.edu/people/julie_gros-louis">Julie Gros-Louis</a>, University of Iowa</p>
        <p><a href="http://www.udel.edu/">Kathy Hirsh-Pasek</a>, University of Delaware</p>
        <p><a href="http://www.bris.ac.uk/expsych/people/academic/brucehood.html">Bruce Hood</a>, University of Bristol</p>
        <p><a href="http://www.virginia.edu/psychology/people/detail.php?id=209">Vikram Jaswal</a>, University of Virginia</p>
        <p><a href="http://psychandneuro.duke.edu/people?subpage=profile&Gurl=%2Faas%2Fpn&Uil=amy.joh">Amy Joh</a>, Duke University</p>
        <p><a href="http://www.psych.ucla.edu/faculty/faculty_page?id=133&area=4">Scott Johnson</a>, University of California at Los Angeles</p>
        <p><a href="http://www.cuny.edu/index.html">Lana Karasik</a>, City University of New York</p>
        <p><a href="http://people.virginia.edu/~rk6x/">Rachel Keen</a>, University of Virginia</p>
        <p><a href="http://www.psy.cmu.edu/~ckemp/">Charles Kemp</a>, Carnegie Mellon University</p>
        <p><a href="http://learnlab.org/">LEARN LAB</a>, Pittsburgh Science of Learning Center</p>
        <p><a href="http://www.psy.utexas.edu/psy/faculty/Legare/legare.html">Cristine Legare</a>, University of Texas Austin</p>
        <p><a href="http://psych.la.psu.edu/directory/faculty-bios/liben.html">Lynn Liben</a>, University of Pennsylvania</p>
        <p><a href="http://www.udel.edu/chs/facultystaff/lobo.html">Michele Lobo</a>, University of Delaware</p>
        <p><a href="http://childstudycenter.rutgers.edu/Home.html">Vanessa LoBue</a>, Rutgers University</p>
        <p><a href="http://tulane.edu/sse/psyc/faculty-and-staff/faculty/lockman.cfm">Jeff Lockman</a>, Tulane University</p>
        <p><a href="http://www.ryerson.ca/psychology/faculty/ma/index.html">Lili Ma</a>, Ryerson University</p>
        <p><a href="http://www.virginia.edu/psychology/people/detail.php?id=77">Angeline Lillard</a>, University of Virginia</p>
        <p><a href="http://psyling.psy.cmu.edu/">Brian MacWhinney</a>, Carnegie Mellon University</p>
        <p><a href="http://psychweb.wustl.edu/markson">Lori Markson</a>, Washington University, St Louis</p>
        <p><a href="http://www.science.mcmaster.ca/Psychology/dm.html">Daphne Mauer</a>, McMaster University</p>
        <p><a href="http://www.psychology.uiowa.edu/faculty/mcmurray/">Bob McMurray</a>, University of Iowa</p>
        <p><a href="http://steinhardt.nyu.edu/faculty_bios/view/Gigliana_Melzi">Gigliana Meltzi</a>, New York University</p>
        <p><a href="http://www.psy.miami.edu/faculty/dmessinger/">Daniel Messinger</a>, University of Miami</p>
        <p><a href="http://www.ryerson.ca/psychology/faculty/moulson/">Margaret Moulson</a>, Ryerson University</p>
        <p><a href="http://psychology.yale.edu/faculty/kristina-olson">Kristina Olson</a>, Yale University</p>
        <p><a href="http://www.psychology.uiowa.edu/Faculty/Plumert/plumert.html">Jodie Plumert</a>, University of Iowa</p>
        <p><a href="http://www.waisman.wisc.edu/childemotion/seth.html`">Seth Pollack</a>, University of Wisconsin, Madison</p>
        <p><a href="http://www.psy.cmu.edu/~rakison/">David Rakison</a>, Carnegie Mellon University</p>
        <p><a href="http://steinhardt.nyu.edu/appsych/faculty_bios/view/C._Cybele_Raver">Cybele Raver</a>, New York University</p>
        <p><a href="http://www.psych.nyu.edu/rhodes/">Marjorie Rhodes</a>, New York University</p>
        <p><a href="http://www.human.cornell.edu/bio.cfm?netid=ssr4">Steve Robertson</a>, Cornell University</p>
        <p><a href="http://www.isu.edu/">Scott Robinson</a>, Idaho State University</p>
        <p><a href="http://www.psychology.emory.edu/cognition/rochat/">Philippe Rochat</a>, Emory University</p>
        <p><a href="http://www.einstein.yu.edu/home/faculty/profile.asp?id=132">Susan Rose</a>, Albert Einstein College of Medicine</p>
        <p><a href="http://www.psych.nyu.edu/ruble/">Diane Ruble</a>, New York University</p>
        <p><a href="http://glial.psych.wisc.edu/index.php/psychsplashfacstaff/121">Jenny Saffron</a>, University of Wisconsin, Madison</p>
        <p><a href="http://www.psychology.uiowa.edu/people/larissa_samuelson">Larisa Samuelson</a>, University of Iowa</p>
        <p><a href="http://www.yale.edu/caplab/Main/Home.html">Laurie Santos</a>, Yale University</p>
        <p><a href="http://www.utsc.utoronto.ca/~marksch/">Mark Schmuckler</a>, University of Toronto</p>
        <p><a href="http://www.iub.edu/~cogdev/">Linda Smith</a>, Indiana University</p>
        <p><a href="http://www.hcii.cmu.edu/people/faculty/john-stamper">John Stamper</a>, Carnegie Mellon University</p>
        <p><a href="http://www.hhdev.psu.edu/hdfs/directory/bio.aspx?id=141">Cindy Stifter</a>, Pennsylvania State University</p>
        <p><a href="http://steinhardt.nyu.edu/faculty_bios/view/Catherine_Tamis-LeMonda">Catherine Tamis-LeMonda</a>, New York University</p>
        <p><a href="http://www.psy.cmu.edu/~thiessen/Home.html">Eric Thiessen</a>, Carnegie Mellon University</p>
        <p><a href="http://www.bucknell.edu/x44069.xml">Ruth Tincoff</a>, Bucknell University</p>
        <p><a href="http://kines.umich.edu/profile/beverly-ulrich-phd">Beverly Ulrich</a>, University of Michigan</p>
        <p><a href="http://www.rutgers.edu/">Gretchen van der Walle</a>, Rutgers University</p>
        <p><a href="http://www.ntnu.edu/employees/beatrix.vereijken">Beatrix Vereijken</a>, Norwegian University of Science and Technology</p>
        <p><a href="http://psych.nyu.edu/vouloumanos/">Athena Vouloumanos</a>, New York University</p>
        <p><a href="http://faculty.psy.ohio-state.edu/wagner/">Laura Wagner</a>, Ohio State University</p>
        <p><a href="http://www.psychology.uiowa.edu/people/susan_wagner_cook">Susan Wagner-Cook</a>, University of Iowa</p>
        <p><a href="http://steinhardt.nyu.edu/faculty_bios/view/Niobe_Way">Niobe Way</a>, New York University</p>
        <p><a href="http://psych.la.psu.edu/directory/faculty-bios/weiss.html">Daniel Weiss</a>, Pennsylvania State University</p>
        <p><a href="http://www.psych.ubc.ca/faculty/profile/index.psy?fullname=Werker,%20Janet&area=Developmental&designation=core">Janet Werker</a>, University of British Columbia</p>
        <p><a href="http://psychology.tamu.edu/Fac_Ext.php?ID=35">Teresa Wilcox</a>, Texas A &amp; M University</p>
        <p><a href="http://csd.hhdev.psu.edu/directory/bio.aspx?id=32">Krista Wilkinson</a>, Pennsylvania State University</p>
        <p><a href="http://psychology.yale.edu/faculty/karen-wynn">Karen Wynn</a>, Yale University</p>
        <p><a href="http://www.uh.edu/class/psychology/dev-psych/Faculty/index.php">Hanako Yoshida</a>, University of Houston</p>
        <p><a href="http://www.neomed.edu/DEPTS/ANAT/Young/PDFs/JWY_CV.pdf">Jesse Young</a>, Northeast Ohio Medical University</p>
        <p><a href="http://www.cogs.indiana.edu/people/homepages/yu.html">Chen Yu</a>, Indiana University</p>
    </article>
}