@(implicit request: SiteRequest[_])

@template.static("Data Contributors") {
    <article id="static_contributors">
        <h1>Committed Contributors</h1>

        <dl class="people">
            <dt><a href="http://www.psych.nyu.edu/adolph/" title="Karen Adolph on the web">Karen Adolph</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://psych.indiana.edu/faculty/alberts.php" title="Jeff Alberts on the web">Jeff Alberts</a></dt>
            <dd>Indiana University</dd>

            <dt><a href="http://glial.psych.wisc.edu/index.php/psychsplashfacstaff/90" title="Martha Alibali on the web">Martha Alibali</a></dt>
            <dd>University of Wisconsin</dd>

            <dt><a href="http://www.brown.edu/Departments/CLPS/people/dima-amso" title="Dima Amso on the web">Dima Amso</a></dt>
            <dd>Brown University</dd>

            <dt><a href="http://babylab.bcs.rochester.edu/New_Baby_Lab/The_Rochester_Baby_Lab.html" title="Richard Aslin on the web">Richard Aslin</a></dt>
            <dd>University of Rochester</dd>

            <dt><a href="http://infantlab.fiu.edu/" title="Lorraine Bahrick on the web">Lorraine Bahrick</a></dt>
            <dd>Florida International University</dd>

            <dt><a href="http://explore.georgetown.edu/people/rfb5/?PageTemplateID=131" title="Rachel Barr on the web">Rachel Barr</a></dt>
            <dd>Georgetown University</dd>

            <dt><a href="http://www.personal.psu.edu/sab31/" title="Sheri Berenbaum on the web">Sheri Berenbaum</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://www.library.csi.cuny.edu/~berger/Sarah/Home.html" title="Sarah Berger on the web">Sarah Berger</a></dt>
            <dd>College of Staten Island of the City University of New York</dd>

            <dt><a href="http://www.indiana.edu/~dcnlab/" title="Bennett Bertenthal on the web">Bennett Bertenthal</a></dt>
            <dd>Indiana University</dd>

            <dt><a href="http://www.psych.umass.edu/people/neilberthier/" title="Neil Berthier on the web">Neil Berthier</a></dt>
            <dd>University of Massachusetts</dd>

            <dt><a href="http://www.education.uconn.edu/directory/details.cfm?id=318" title="Anjana Bhat on the web">Anjana Bhat</a></dt>
            <dd>University of Connecticut</dd>

            <dt><a href="http://steinhardt.nyu.edu/appsych/faculty_bios/view/Clancy_Blair" title="Clancy Blair on the web">Clancy Blair</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.psychology.uiowa.edu/faculty/blumberg/blumberg.html" title="Mark Blumberg on the web">Mark Blumberg</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://www.ryerson.ca/psychology/faculty/boudreau/" title="Jean-Paul Boudreau on the web">Jean-Paul Boudreau</a></dt>
            <dd>Ryerson University</dd>

            <dt><a href="http://psych.la.psu.edu/directory/faculty-bios/buss.html" title="Kristin Buss on the web">Kristin Buss</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://dnlab.ucsd.edu/team.html" title="Leslie Carver on the web">Leslie Carver</a></dt>
            <dd>University of California at San Diego</dd>

            <dt><a href="http://www.med.nyu.edu/biosketch/castef01/publications" title="Francisco Xavier Castellanos on the web">Francisco Xavier Castellanos</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.sph.umd.edu/KNES/faculty/jclark/" title="Jane Clark on the web">Jane Clark</a></dt>
            <dd>University of Maryland</dd>

            <dt><a href="http://www.whitman.edu/psychology/clearfield/" title="Melissa Clearfield on the web">Melissa Clearfield</a></dt>
            <dd>Whitman College</dd>

            <dt><a href="http://psych.la.psu.edu/directory/faculty-bios/cole.html" title="Pamela Cole on the web">Pamela Cole</a></dt>
            <dd>Penn State University</dd>

            <dt><a href="http://psychology.utk.edu/people/corbetta.html" title="Daniela Corbetta on the web">Daniela Corbetta</a></dt>
            <dd>University of Tennessee</dd>

            <dt><a href="http://www.lsa.umich.edu/psych/people/directory/profiles/faculty/?uniquename=pdakean" title="Pamela Davis-Kean on the web">Pamela Davis-Kean</a></dt>
            <dd>University of Michigan</dd>

            <dt><a href="http://faculty.virginia.edu/deloache/" title="Judy DeLoache on the web">Judy DeLoache</a></dt>
            <dd>University of Virginia</dd>

            <dt><a href="http://www.etsu.edu/babylab/" title="Wallace Dixon on the web">Wallace Dixon</a></dt>
            <dd>East Tennessee State University</dd>

            <dt><a href="http://www.sahp.vcu.edu/pt/about/dusing.html" title="Stacey Dusing on the web">Stacey Dusing</a></dt>
            <dd>Virginia Commonwealth University</dd>

            <dt><a href="http://prc.asu.edu/Projects/PAYS" title="William Fabricius on the web">William Fabricius</a></dt>
            <dd>Arizona State University</dd>

            <dt><a href="http://pbs.jhu.edu/research/feigenson/facultyinfo/" title="Lisa Feigenson on the web">Lisa Feigenson</a></dt>
            <dd>Johns Hopkins University</dd>

            <dt><a href="http://www.psy.cmu.edu/people/fisher.html" title="Anna Fisher on the web">Anna Fisher</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://www.psychology.emory.edu/cognition/fivush/" title="Robyn Fivush on the web">Robyn Fivush</a></dt>
            <dd>Emory University</dd>

            <dt><a href="http://www.stanford.edu/~mcfrank/" title="Michael Frank on the web">Michael Frank</a></dt>
            <dd>Stanford University</dd>

            <dt><a href="http://www.psychology.uiowa.edu/faculty/freeman/freeman.html" title="John Freeman on the web">John Freeman</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://www.udel.edu/PT/faculty/galloway_CV.html" title="Cole Galloway on the web">Cole Galloway</a></dt>
            <dd>University of Delaware</dd>

            <dt><a href="http://www.lsa.umich.edu/psych/people/directory/profiles/faculty/?uniquename=gelman" title="Susan Gelman on the web">Susan Gelman</a></dt>
            <dd>University of Michigan</dd>

            <dt><a href="http://www.personal.psu.edu/rog1/" title="Rick Gilmore on the web">Rick Gilmore</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://udel.edu/~roberta/" title="Roberta Golinkoff on the web">Roberta Golinkoff</a></dt>
            <dd>University of Delaware</dd>

            <dt><a href="http://www.tc.columbia.edu/academics/?facid=ag275" title="Andrew Gordon on the web">Andrew Gordon</a></dt>
            <dd>Columbia University Teachers College</dd>

            <dt><a href="http://www.tc.columbia.edu/academics/?facid=pg328" title="Peter Gordon on the web">Peter Gordon</a></dt>
            <dd>Columbia University Teachers College</dd>

            <dt><a href="http://www.psychology.uiowa.edu/people/julie_gros-louis" title="Julie Gros-Louis on the web">Julie Gros-Louis</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://www.udel.edu/" title="Kathy Hirsh-Pasek on the web">Kathy Hirsh-Pasek</a></dt>
            <dd>University of Delaware</dd>

            <dt><a href="http://www.bris.ac.uk/expsych/people/academic/brucehood.html" title="Bruce Hood on the web">Bruce Hood</a></dt>
            <dd>University of Bristol</dd>

            <dt><a href="http://www.virginia.edu/psychology/people/detail.php?id=209" title="Vikram Jaswal on the web">Vikram Jaswal</a></dt>
            <dd>University of Virginia</dd>

            <dt><a href="http://psychandneuro.duke.edu/people?subpage=profile&Gurl=%2Faas%2Fpn&Uil=amy.joh" title="Amy Joh on the web">Amy Joh</a></dt>
            <dd>Duke University</dd>

            <dt><a href="http://www.psych.ucla.edu/faculty/faculty_page?id=133&area=4" title="Scott Johnson on the web">Scott Johnson</a></dt>
            <dd>University of California at Los Angeles</dd>

            <dt><a href="http://www.cuny.edu/index.html" title="Lana Karasik on the web">Lana Karasik</a></dt>
            <dd>City University of New York</dd>

            <dt><a href="http://people.virginia.edu/~rk6x/" title="Rachel Keen on the web">Rachel Keen</a></dt>
            <dd>University of Virginia</dd>

            <dt><a href="http://www.psy.cmu.edu/~ckemp/" title="Charles Kemp on the web">Charles Kemp</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://learnlab.org/" title="LEARN LAB on the web">LEARN LAB</a></dt>
            <dd>Pittsburgh Science of Learning Center</dd>

            <dt><a href="http://www.psy.utexas.edu/psy/faculty/Legare/legare.html" title="Cristine Legare on the web">Cristine Legare</a></dt>
            <dd>University of Texas Austin</dd>

            <dt><a href="http://psych.la.psu.edu/directory/faculty-bios/liben.html" title="Lynn Liben on the web">Lynn Liben</a></dt>
            <dd>University of Pennsylvania</dd>

            <dt><a href="http://www.udel.edu/chs/facultystaff/lobo.html" title="Michele Lobo on the web">Michele Lobo</a></dt>
            <dd>University of Delaware</dd>

            <dt><a href="http://childstudycenter.rutgers.edu/Home.html" title="Vanessa LoBue on the web">Vanessa LoBue</a></dt>
            <dd>Rutgers University</dd>

            <dt><a href="http://tulane.edu/sse/psyc/faculty-and-staff/faculty/lockman.cfm" title="Jeff Lockman on the web">Jeff Lockman</a></dt>
            <dd>Tulane University</dd>

            <dt><a href="http://www.ryerson.ca/psychology/faculty/ma/index.html" title="Lili Ma on the web">Lili Ma</a></dt>
            <dd>Ryerson University</dd>

            <dt><a href="http://www.virginia.edu/psychology/people/detail.php?id=77" title="Angeline Lillard on the web">Angeline Lillard</a></dt>
            <dd>University of Virginia</dd>

            <dt><a href="http://psyling.psy.cmu.edu/" title="Brian MacWhinney on the web">Brian MacWhinney</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://psychweb.wustl.edu/markson" title="Lori Markson on the web">Lori Markson</a></dt>
            <dd>Washington University, St Louis</dd>

            <dt><a href="http://www.science.mcmaster.ca/Psychology/dm.html" title="Daphne Mauer on the web">Daphne Mauer</a></dt>
            <dd>McMaster University</dd>

            <dt><a href="http://www.psychology.uiowa.edu/faculty/mcmurray/" title="Bob McMurray on the web">Bob McMurray</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://steinhardt.nyu.edu/faculty_bios/view/Gigliana_Melzi" title="Gigliana Meltzi on the web">Gigliana Meltzi</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.psy.miami.edu/faculty/dmessinger/" title="Daniel Messinger on the web">Daniel Messinger</a></dt>
            <dd>University of Miami</dd>

            <dt><a href="http://www.ryerson.ca/psychology/faculty/moulson/" title="Margaret Moulson on the web">Margaret Moulson</a></dt>
            <dd>Ryerson University</dd>

            <dt><a href="http://psychology.yale.edu/faculty/kristina-olson" title="Kristina Olson on the web">Kristina Olson</a></dt>
            <dd>Yale University</dd>

            <dt><a href="http://www.psychology.uiowa.edu/Faculty/Plumert/plumert.html" title="Jodie Plumert on the web">Jodie Plumert</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://www.waisman.wisc.edu/childemotion/seth.html`" title="Seth Pollack on the web">Seth Pollack</a></dt>
            <dd>University of Wisconsin, Madison</dd>

            <dt><a href="http://www.psy.cmu.edu/~rakison/" title="David Rakison on the web">David Rakison</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://steinhardt.nyu.edu/appsych/faculty_bios/view/C._Cybele_Raver" title="Cybele Raver on the web">Cybele Raver</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.psych.nyu.edu/rhodes/" title="Marjorie Rhodes on the web">Marjorie Rhodes</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.human.cornell.edu/bio.cfm?netid=ssr4" title="Steve Robertson on the web">Steve Robertson</a></dt>
            <dd>Cornell University</dd>

            <dt><a href="http://www.isu.edu/" title="Scott Robinson on the web">Scott Robinson</a></dt>
            <dd>Idaho State University</dd>

            <dt><a href="http://www.psychology.emory.edu/cognition/rochat/" title="Philippe Rochat on the web">Philippe Rochat</a></dt>
            <dd>Emory University</dd>

            <dt><a href="http://www.einstein.yu.edu/home/faculty/profile.asp?id=132" title="Susan Rose on the web">Susan Rose</a></dt>
            <dd>Albert Einstein College of Medicine</dd>

            <dt><a href="http://www.psych.nyu.edu/ruble/" title="Diane Ruble on the web">Diane Ruble</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://glial.psych.wisc.edu/index.php/psychsplashfacstaff/121" title="Jenny Saffron on the web">Jenny Saffron</a></dt>
            <dd>University of Wisconsin, Madison</dd>

            <dt><a href="http://www.psychology.uiowa.edu/people/larissa_samuelson" title="Larisa Samuelson on the web">Larisa Samuelson</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://www.yale.edu/caplab/Main/Home.html" title="Laurie Santos on the web">Laurie Santos</a></dt>
            <dd>Yale University</dd>

            <dt><a href="http://www.utsc.utoronto.ca/~marksch/" title="Mark Schmuckler on the web">Mark Schmuckler</a></dt>
            <dd>University of Toronto</dd>

            <dt><a href="http://www.iub.edu/~cogdev/" title="Linda Smith on the web">Linda Smith</a></dt>
            <dd>Indiana University</dd>

            <dt><a href="http://www.hcii.cmu.edu/people/faculty/john-stamper" title="John Stamper on the web">John Stamper</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://www.hhdev.psu.edu/hdfs/directory/bio.aspx?id=141" title="Cindy Stifter on the web">Cindy Stifter</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://steinhardt.nyu.edu/faculty_bios/view/Catherine_Tamis-LeMonda" title="Catherine Tamis-LeMonda on the web">Catherine Tamis-LeMonda</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://www.psy.cmu.edu/~thiessen/Home.html" title="Eric Thiessen on the web">Eric Thiessen</a></dt>
            <dd>Carnegie Mellon University</dd>

            <dt><a href="http://www.bucknell.edu/x44069.xml" title="Ruth Tincoff on the web">Ruth Tincoff</a></dt>
            <dd>Bucknell University</dd>

            <dt><a href="http://kines.umich.edu/profile/beverly-ulrich-phd" title="Beverly Ulrich on the web">Beverly Ulrich</a></dt>
            <dd>University of Michigan</dd>

            <dt><a href="http://www.rutgers.edu/" title="Gretchen van der Walle on the web">Gretchen van der Walle</a></dt>
            <dd>Rutgers University</dd>

            <dt><a href="http://www.ntnu.edu/employees/beatrix.vereijken" title="Beatrix Vereijken on the web">Beatrix Vereijken</a></dt>
            <dd>Norwegian University of Science and Technology</dd>

            <dt><a href="http://psych.nyu.edu/vouloumanos/" title="Athena Vouloumanos on the web">Athena Vouloumanos</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://faculty.psy.ohio-state.edu/wagner/" title="Laura Wagner on the web">Laura Wagner</a></dt>
            <dd>Ohio State University</dd>

            <dt><a href="http://www.psychology.uiowa.edu/people/susan_wagner_cook" title="Susan Wagner-Cook on the web">Susan Wagner-Cook</a></dt>
            <dd>University of Iowa</dd>

            <dt><a href="http://steinhardt.nyu.edu/faculty_bios/view/Niobe_Way" title="Niobe Way on the web">Niobe Way</a></dt>
            <dd>New York University</dd>

            <dt><a href="http://psych.la.psu.edu/directory/faculty-bios/weiss.html" title="Daniel Weiss on the web">Daniel Weiss</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://www.psych.ubc.ca/faculty/profile/index.psy?fullname=Werker,%20Janet&area=Developmental&designation=core" title="Janet Werker on the web">Janet Werker</a></dt>
            <dd>University of British Columbia</dd>

            <dt><a href="http://psychology.tamu.edu/Fac_Ext.php?ID=35" title="Teresa Wilcox on the web">Teresa Wilcox</a></dt>
            <dd>Texas A &amp; M University</dd>

            <dt><a href="http://csd.hhdev.psu.edu/directory/bio.aspx?id=32" title="Krista Wilkinson on the web">Krista Wilkinson</a></dt>
            <dd>Pennsylvania State University</dd>

            <dt><a href="http://psychology.yale.edu/faculty/karen-wynn" title="Karen Wynn on the web">Karen Wynn</a></dt>
            <dd>Yale University</dd>

            <dt><a href="http://www.uh.edu/class/psychology/dev-psych/Faculty/index.php" title="Hanako Yoshida on the web">Hanako Yoshida</a></dt>
            <dd>University of Houston</dd>

            <dt><a href="http://www.neomed.edu/DEPTS/ANAT/Young/PDFs/JWY_CV.pdf" title="Jesse Young on the web">Jesse Young</a></dt>
            <dd>Northeast Ohio Medical University</dd>

            <dt><a href="http://www.cogs.indiana.edu/people/homepages/yu.html" title="Chen Yu on the web">Chen Yu</a></dt>
            <dd>Indiana University</dd>
        </dl>
    </article>
} {

}