@template.static("Contact Us") {
    <h1>Contact Databrary</h1>
    <div id="contact-container">

        <div class="form-container">
            <h2>Send us a message</h2>

            <p>You can email us at &quot;contact&quot; or &quot;<em><a href="/community/team.shtml">team member</a>'s <b>first</b> name</em>&quot; at databrary dot org.</p>

        </div>
    </div>
    <div id="loc-container">
        <div class="form-container">
            <h2>Office Location</h3>
                <p>Attn: Databrary<br/>196 Mercer St., 8th Floor, Room 807<br/>New York, NY 10012<br/>(212)998-5536</p>
        </div>
    </div>
} {

}