@(implicit request: SiteRequest[_])

@template.static("Contact Us") {
    <article id="static_contact">
        <h1>Contact Databrary</h1>

        <h2>Via Email</h2>

        <p>Contact us at <a href="mailto:contact@@databrary.org" title="Email Databrary">contact@@databrary.org</a>, or email members of <a href="@routes.Static.team" title="Our Team">our team</a> directly.</p>

        <h2>Office Location</h2>

        <p>Attn: Databrary<br/>
            196 Mercer St., 8th Floor, Room 807<br/>
            New York, NY 10012<br/>
            (212)998-5536</p>
    </article>
} {

}