@(implicit request: SiteRequest[_])

@import scala.util.Random

@script = {
    dbjs.carousel('#carousel .panels', '.panel');
}

@template.wide("An Open Data Library for Developmental Science", js = script) {
    <section id="carousel" class="carousel">
        <div class="panels">
            @Random.shuffle(models.Volume.getAll).take(10).map { vol =>
            <div class="panel" id="panel_@vol.id">
                <img src="@routes.Volume.thumb(vol.id)">
            </div>
            }
        </div>

        <div class="text">
                <h1><strong>Data</strong>brary is an <span class="keyword">open data library</span> for developmental science. Share video, audio, and related metadata. Discover more, faster.</h1>
                <h2><a href="@routes.Static.about">Learn more &gt;&gt;</a></h2>
        </div>
    </section>

    <section class="about_boxes">
        <div class="row">
            <div class="sect col-laptop-4 col-tablet-3 col-mobile-2">
                <h3><a href="@routes.Volume.listAll">Explore</a></h3>
                <p>Databrary is a repository of discoveries waiting to happen. Dig into the diverse source materials of developmental researchers world-wide. Spark your ideas, engage your students, and learn about behavior and development.</p>
            </div>

            <div class="sect col-laptop-4 col-tablet-3 col-mobile-2">
                <h3><a href="@routes.Static.about">Discover</a></h3>
                <p>Databrary offers tools for coding your videos, identifying patterns, and visualizing your data. Take advantage of our free tools for managing your lab and organizing your resources. Get the most out of your research.</p>
            </div>

            <div class="sect col-laptop-4 col-tablet-3 col-mobile-2">
                <h3><a href="@routes.Static.about">Share</a></h3>
                <p>Advance developmental science. Increase transparency. Connect with researchers interested in your work and allow other researchers to reuse your data for new purposes. Upload your source materials with our lightning-fast importer and store it indefinitely on our servers. Never fear data-loss again.</p>
            </div>
        </div>
    </section>
}
