@template.html5("Join Our Team") {
    <article id="main-container">
        <h1>Join Our Team</h1>

        <p>We are growing a team from scratch to design and build new open source solutions for science using the latest technologies.</p>

        <h3>To apply</h3>

        <p>Send the following to <a href='mailto:jobs@@databrary.org'>jobs@@databrary.org</a>:</p>

        <ul>
            <li>One page cover letter (PDF)</li>
            <li>Links to your open source contributions or other samples of your work</li>
            <li>Resume (PDF)</li>
        </ul>

        <p><em>See available <a href='http://datavyu.org/jobs'>Datavyu positions</a></em></p>
    </article>
}
