@()

    <h1>Join Our Team</h1>

    <p>We are growing a team from scratch to design and build new open source solutions for science using the latest technologies.</p>

    <p>See also available <a href='http://datavyu.org/jobs'>Datavyu positions</a>.</p>

    <h2>Research Data Library Back-end Developer</h2>

    <p>
        The Databrary project seeks a motivated programmer to help build an open source web-based data library.
        You will work with other developers and data curators to develop back-end interfaces and tools to enable behavioral researchers to search, collaborate, store, explore, and present research datasets.
    </p>

    <h3>Responsibilities</h3>

    <ul>
        <li>Work with a small team to implement search and data management tools and web APIs.</li>
        <li>Design, implement, test, and validate web framework controllers in Scala.</li>
        <li>Learn, understand, reorganize, and index research data as needed for better integration with the site.</li>
        <li>Implement dynamic and modular web application to organize, present, and manipulate research materials.</li>
    </ul>

    <h3>Qualifications</h3>

    <ul>
        <li>Background in CS or other relevant field and functional programming experience in OCaml, Haskell, Scala, or Clojure</li>
        <li>Knowledge of modern relational database, indexing, video, and web technologies such as PostgreSQL, solr, ffmpeg, and play</li>
        <li>Understanding of security and ethical concerns around sensitive data</li>
        <li>Familiarity with standard UNIX development tools such as git</li>
    </ul>

    <h3>Preferred</h3>

    <ul>
        <li>2-5 years of software development experience</li>
        <li>History of contributions to open source projects</li>
        <li>Experience creating data processing pipelines and RESTful interfaces for structured data</li>
        <li>Basic understanding of scientific practices and research tools, such as Matlab, SPSS, or R</li>
    </ul>

    <h2>Compensation</h2>

    <p>Salary range competitive with senior level academic positions plus full NYU benefits, including health and tuition remission.</p>

    <h2>To apply</h2>

    <p>Send the following to <a href='mailto:jobs@@databrary.org'>jobs@@databrary.org</a>:</p>

    <ul>
        <li>One page cover letter (PDF)</li>
        <li>Links to open source contributions/samples</li>
        <li>Resume (PDF)</li>
    </ul>
