@(implicit request: SiteRequest[_])

@template.static("Join Our Team") {
    <article id="static_jobs">
        <h1>Join Our Team</h1>

        <p>We are growing a team from scratch to design and build new open source solutions for science using the latest technologies.</p>

        <p>See available <a href='http://datavyu.org/jobs'>Datavyu positions</a>.</p>

        <h2>To apply</h2>

        <p>Send the following to <a href='mailto:jobs@@databrary.org'>jobs@@databrary.org</a>:</p>

        <ul>
            <li>One page cover letter (PDF)</li>
            <li>Links to open source contributions/samples</li>
            <li>Resume (PDF)</li>
        </ul>

    </article>
} {

}
