@()

<h1 id="policies">Policies</h1>

<p>Databrary aims to increase openness in scientific research. We seek to enable researchers to share their findings with other scientists and the community at-large while protecting the privacy of individuals who participate in research. Participants and others depicted in recordings have the right to consent to having the recordings shared with Databrary. Their wishes must be respected.</p>

<p>Achieving these goals requires that we create and maintain a community that embodies the highest ethical standards.</p>

<h2>Procedures</h2>

<p>Databrary is governed by a set of <a href="/policies/sops.html">standard operating procedures</a>
    (SOPs). Individuals who wish to have full access must apply for authorized Investigator or Affiliate Investigator status. Only researchers who demonstrate knowledge of the principles of research ethics with human participants and who agree to the provisions of Databrary's <a href="/policies/investigator-agmt.html">Investigator Agreement</a> will be granted access.</p>

<p>Databrary will begin accepting applications for Investigator or Affiliate Investigator status later this year. The following documents may be useful to researchers considering whether to apply or when preparing an application to a research superivision entity (e.g., IRB) for approval to share with Databrary:</p>

<ul>
    <li>Databrary Standard Operating Procedures (SOPs),
        <a href="http://databrary.org/policies/sops-2013-04-09.docx">.docx</a>,
        <a href="http://databrary.org/policies/sops-2013-04-09.pdf">.pdf</a></li>
    <li>Databrary Investigator Agreement,
        <a href="http://databrary.org/policies/investigator-agmt-2013-04-12.docx">.docx</a>,
        <a href="http://databrary.org/policies/investigator-agmt-2013-04-12.pdf">.pdf</a></li>
    <li>Permission to Share Template,
        <a href="http://databrary.org/policies/databrary-permission-to-share-2013-09-05.docx">.docx</a>,
        <a href="http://databrary.org/policies/databrary-permission-to-share-2013-09-05.pdf">.pdf</a></li>
</ul>

<p>For more information about Databrary policies and procedures see the <a href="http://github.com/databrary/policies" target="_blank">
    github repository</a>.</p>

<hr>

<p class="legal"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">These documents</span> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
