@(partyAccess : Seq[VolumeAccess])(implicit request: SiteRequest[_])

<h1>The Databrary Team</h1>

@defining(partyAccess.filter(_.access == Permission.ADMIN)) { access =>
    @if(access.nonEmpty){
        <h2>Principal Investigators</h2>

        <div class="row">
        @access.map { a =>
            @widget.portrait.maximal(a.party)
        }
        </div>
    }
}

@defining(partyAccess.filter(_.access == Permission.CONTRIBUTE)) { access =>
    @if(access.nonEmpty){
        <h2>Staff</h2>

        <div class="row">
        @access.map { a =>
            @widget.portrait.maximal(a.party)
        }
        </div>
    }
}

@defining(partyAccess.filter(_.access == Permission.DOWNLOAD)) { access =>
    @if(access.nonEmpty){
        <h2>Contributors</h2>

        <div class="row">
        @access.map { a =>
            @widget.portrait.maximal(a.party)
        }
        </div>
    }
}
