@template.static("Our Team") {
    <article>
        <h1>The Databrary Team</h1>

        <p>Karen Adolph, Professor of Psychology and Neural Science, New York University, <a href="http://psych.nyu.edu/adolph">NYU Action Lab</a>, karen.adolph@@nyu.edu</p>

        <p><b>Rick</b> O. Gilmore, Associate Professor of Psychology, Director of Human Imaging, <a href="http://www.imaging.psu.edu">Social, Life, &amp; Engineering Sciences Imaging Center</a>, Penn State University, <a href="http://personal.psu.edu/rog1">Faculty Page</a>, rogilmore@@psu.edu</p>
        <p><b>David</b> Millman, Director of Digital Library Technology Services, New York University, dsm@@nyu.edu</p>
        <p><b>Lisa</b> Steiger, New York University</p>
        <p><b>Dylan</b> Simon, Developer, New York University</p>
        <p>Clinton Freeman, Developer</p>
        <p><b>Jesse</b> Lingeman, Developer</p>
        <p>Eric Montellese, Developer</p>
        <p>Kasey Soska, User Support</p>
        <p><b>Gladys</b> Chan, Web Design</p>
    </article>
} {

}