// styles

.browser-group-title
.browser-group-wrap
.browser-group-pill
  position relative
  display block
  float left

.browser-group-title
  text-transform uppercase
  font-weight bold
  color dark
  margin-height f4
  margin-width f4

.browser-group-wrap
  margin-right f4
  text-transform capitalize

  &:after
    content ""
    border b4 solid transparent
    border-left-color dark
    size 0
    float left
    display block
    margin-top f2
    margin-left f2

  &.last
    &:after
      display none

  &.off
    .browser-group-pill
      background-color pale

      &:hover
        background-color blue41

.browser-group-pill
  transition transition
  cursor pointer
  position relative
  border 1px solid gray
  border-radius b1
  padding-width f2
  border-margin-height f4 1px
  background-color blue51

  &.left
    border-radius b1 0 0 b1
    padding-right f4

    &:after
      content ""
      border b6 solid transparent
      border-top-color dark
      size 0
      display inline-block
      position relative
      top 0
      margin-left f6

  &.middle
    border-radius 0
    border-left-width 0

  &.right
    border-radius 0 b1 b1 0
    border-left-width 0
    padding-left f4

  &.add
    background-color yellow52

  &.expanded
    background-color mix(blue, white, 10%)

    &:hover
      background-color mix(blue, white, 10%)

  &:hover
    color inherit
    background-color blue41

.browser-group-record-options
  display none
  position absolute
  left b2
  top b1 + b4
  margin 0
  padding 0
  border-radius 0 b4 b4 b4
  background-color white
  box-shadow box-shadow-def
  overflow hidden
  min-width b1 * 6
  z-index 100

  .expanded &
    display block

  li
    &:before
      display none

  a
    display block
    padding-width f4

    &:hover
      color inherit
      background-color mix(blue, white, 10%)
