<section class="browser-player">
  <section ng-if="page.browser.player.played" class="browser-player-frame">
    <div ng-repeat="played in [page.browser.player.played]" bindonce>
      <header>
        <a href="" ng-click="setItemPlayer(undefined)" class="icon line close tool" target="_self" tooltip="'player.close' | message"></a>
        <a ng-href="{{played.object.downloadRoute(false)}}" class="icon line download tool" target="_self" tooltip="'player.download' | message"></a>

        <div class="classification icon line tool" bo-class="page.constants.classification[played.object.asset.classification]" hint="classification-{{page.constants.classification[played.object.asset.classification]}}"></div>

        <h1 class="browser-player-heading">
          <img class="icon" bo-src="played.object.icon" hint="format-{{played.object.format.extension}}">
          <span bo-text="played.object.displayName"></span>
        </h1>
      </header>

      <div ng-switch="getMimeGroup(played.object)">
        <div ng-switch-when="image">
          <img ng-src="{{played.object.downloadRoute(true)}}" style="max-width: 100%;">
        </div>

        <div ng-switch-when="video">
          <div bo-if="!played.object.asset.duration" bo-text="'asset.untranscoded | message"></div>

          <video controls excerpt="played">
            <source ng-src="{{played.object.downloadRoute(true)}}" type="{{played.object.format.mimetype}}">
          </video>
        </div>

        <div ng-switch-default></div>
      </div>
    </div>
  </section>
</section>
