<article bindonce class="browser-item browser-session cf" bo-class="{materials: data.object.top}">
  <div class="browser-item-content">
    <div class="cf">
      <footer>
        <span bo-if="data.object.consent">
            <div class="browser-item-meta consent icon bb" bo-class="page.constants.consent[data.object.consent]" hint="consent-{{page.constants.consent[data.object.consent]}}"></div>

            <div class="browser-item-meta sep" bo-if="data.checkPermission(page.permission.CONTRIBUTE)">
              |
            </div>
        </span>

        <a bo-href="data.object.editRoute()" bo-if="data.checkPermission(page.permission.CONTRIBUTE)">edit</a>
      </footer>

      <header>
        <browser-icon data="data"></browser-icon>

        <h1 class="browser-item-title">
          <a bo-href="data.object.route" bo-text="data.object.displayName"></a>&nbsp;
          <session-mark ng-repeat="cat in getSessionRecords(data)"></session-mark>
        </h1>
      </header>
    </div>

    <div class="browser-item-main">
      <dl class="comma cf" bindonce ng-repeat="cat in getSessionRecords(data)" ng-if="!cat.displayed">
        <dt bo-text="formatSessionCategory(data, cat.id, cat.records)" ng-class="{solo: record.id == 0}"></dt>

        <dd ng-repeat="record in cat.records" ng-if="record.id != 0">
          <span bo-text="record.displayName"></span><span bo-if="record.age">&nbsp;(<display-age value="record.age"></display-age>)</span>
        </dd>
      </dl>

      <dl class="comma cf" bo-if="data.object.date">
        <dt>Date</dt>
        <dd bo-text="data.object.date"></dd>
      </dl>
    </div>
  </div>

  <browser-list ng-if="page.browser.showList(data)" data="data"></browser-list>
</article>
