// styles

.browser-icon
  float left
  width b1 * 1.25
  height b1 * 1.5

  .browser-study &
    background url('/public/images/browser/icon-study.png') no-repeat 0 6px

  .browser-dataset &
    background url('/public/images/browser/icon-dataset.png') no-repeat 0 6px

  .browser-record &
    background url('/public/images/browser/icon-record.png') no-repeat 0 6px

  .browser-session &
    background url('/public/images/browser/icon-session.png') no-repeat 0 6px

  &.enabled
    &:hover
      background url('/public/images/browser/tool-folder-closed.png') no-repeat 4px 10px

    &.active
      &:hover
        background-image url('/public/images/browser/tool-folder-open.png')