.scroll-float
  @media screen and (min-width:grid-mobile-width+1) 
    position fixed
    top 36px //toolbar
    z-index 10
    width 78%
    box-shadow 0px 3px 3px -3px black
    background-color white
    &.sandbox
      top 84px //toolbar+sandbox