// styles

.session-mark
	font-line .75
	padding-width f4
	padding-height f12
	border 1px solid transparent
	border-radius b1
	position relative
	top -b6
	text-transform uppercase
	cursor pointer

.session-mark-pilot
	color red32
	background red51
	border-color red32

.session-mark-exclusion
	color purple32
	background purple51
	border-color purple32
