// styles

.slot-timeline
  background-color white
  box-shadow box-shadow-def
  overflow hidden
  position relative
  user-select none

.slot-timeline-ruler
  width 100%
  padding-width b6
  box-shadow box-shadow-def
  height 2
  cursor default

.slot-timeline-ruler-time
  margin-top b1 + b8
  font-size f23

  &.left
    float left
    margin-left b12

  &.right
    float right
    margin-right b12

.slot-timeline-now-zone
  position absolute
  top 0
  bottom 0
  left b6
  right b6
  pointer-events none

.slot-timeline-now
  position absolute
  z-index 100
  top 2 * b1
  left 0
  height 1000
  border-left 1px solid green
  transition left .05s linear

  &:before
    content ''
    border-radius b1
    size b3
    position absolute
    top -b3
    left -b6
    background-color green

.slot-timeline-canvas
  position absolute
  top 0
  left 0