// styles

.slot-player
  margin-bottom b4

.player-main
  width 100%
  background white
  padding b4
  box-shadow box-shadow-def
  text-align center
  position relative

  .slot-media
    display inline-block
    margin 0 auto

  &:hover
    .player-main-float
      opacity 1

.player-main-viewport
  background-color pale
  box-shadow inset 0 0 b2 black

.player-main-float
  position absolute
  top b1 * 5.5
  left b1
  right b1
  opacity 0
  transition opacity trans-time trans-ease
  background white
  box-shadow box-shadow-def

.player-main-info
  text-align left
  height 6.25 // should be able to shrink this back when properly styled
  border-bottom 1px solid pale
  padding-bottom b4
  margin-bottom b4

.player-main-info-actions
  float right
  margin-top b8

.player-main-info-file-icon
  margin-right b8
  position relative
  top -b6

.player-main-info-name
  font-line 1

.player-main-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  dt
    float left
    clear left
    width 150px

    &:after
      content ':'

  dd
    float left
    margin-left b6

.player-main-info-link
  link-color orange
  display inline-block