// styles

.player-main
  width 100%
  background white
  padding b4
  box-shadow box-shadow-def
  text-align center

.player-main-media
  margin 0 auto
  display inline-block

  img
  video
    transition none
    display block
    max-width 100%
    width auto

  video
    margin-bottom 0

.player-main-info
  text-align left

  &.playable
    border-top 1px solid pale
    padding-top b4
    margin-top b4


.player-main-info-actions
  float right
  margin-top b8

.player-main-info-name
  font-line 1.5 1
  margin-bottom b4

.player-main-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  dt
    float left
    clear left
    width 150px

    &:after
      content ':'

  dd
    float left
    margin-left b6

.player-main-info-link
  link-color orange
  display inline-block

.player-resize
  width 100%
  margin-height f12
  position relative
  cursor row-resize

  &:after
    content ''
    border-top 1px solid pale
    display block
    position absolute
    float left
    width 100%
    bottom b12
    z-index -1

.player-resize-grip
  margin 0 auto
  width f1
  height f6 + f24
  background gray
  position relative
  border-radius b1

  &:before
  &:after
    content ''
    border-top 1px solid pale
    display block
    position absolute
    float left
    width f23
    left b6

  &:before
    top b24

  &:after
    bottom b24
