// styles

.slot-timeline-track
  border-bottom 1px solid pale
  padding b6
  width 100%

  &.last
    border-bottom none

  &.select
    background-color fade-out(yellow, 90%)

.slot-track
  height b1 + b3 + b12

  .slot-media
    img
    video
      height 3.5
      max-width none

.slot-track-asset
  min-width b8
  border 1px solid orange32
  background-color orange51
  cursor pointer
  transition box-shadow, background-color, border-color trans-time trans-ease

.slot-track-asset-info
  margin b6
  overflow ellipsis

.slot-track-asset-thumb
  height b1
  width auto
  margin-right b6
  float left

.slot-track-asset-icon
  margin-height b6
  margin-right b6
  float left

.slot-track-positioned
  position relative

  .slot-track-asset
    border-color blue32
    background-color blue51
    position absolute
    top 0
    bottom 0

.slot-track-select
  .slot-track-asset
    border 1px solid orange33
    background-color orange52
    box-shadow box-shadow-def

  &.slot-track-positioned
    .slot-track-asset
      border-color blue33
      background-color blue52
