// styles

.slot-toolbar
  margin-bottom b4
  min-height 1.5
  background white
  box-shadow box-shadow-def
  padding b4

.slot-toolbar-left
  float left

.slot-toolbar-right
  float right

.slot-toolbar-group
  float left

.slot-toolbar-sep
  float left
  margin-right b4
  height 1
  border-right 1px solid pale

.slot-toolbar-time
  float left
  margin-right b4
  color gray
  position relative
  top b24