<div class="slot-media" bo-switch="page.types.assetMimeArray(media.asset)[0]" bindonce>
  <div bo-switch-when="image">
    <img bo-src="page.router.assetLink(media.asset, true)">
  </div>

  <div bo-switch-when="video">
    <video ng-if="page.display.videoSupported() && ctrl.hasPosition(media)">
      <source bo-src="page.router.assetLink(media.asset, true)" bo-attr bo-attr-type="page.types.assetFormat(media.asset).mimetype">
    </video>
    <video ng-if="page.display.videoSupported() && !ctrl.hasPosition(media)" controls>
      <source bo-src="page.router.assetLink(media.asset, true)" bo-attr bo-attr-type="page.types.assetFormat(media.asset).mimetype">
    </video>
  </div>

  <div bo-switch-default>
    <aside>
      <div class="slot-media-name" bo-text="page.types.assetDisplayName(media.asset)">&nbsp;</div>
    </aside>
  </div>
</div>