// styles

.player-main
  width 100%
  background-color dark
  position relative
  height 24
  min-height b1
  text-align center

.player-main-media
  margin 0 auto
  display inline-block
  height 100%

  img
  video
    transition none
    display block
    max-width 100%
    max-height 100%

  video
    margin-bottom 0

  > div
    height 100%

.player-main-info
  position absolute
  text-align left
  top b1
  left b1
  padding 1
  border-radius b4
  border 2px solid black
  box-shadow 0 0 5px white
  background white
  opacity 0
  transition opacity trans-time trans-ease

  &.always
  .player-main:hover &
    opacity 1

.player-main-info-name
  font-line 1.5 1
  border-bottom 1px solid gray
  margin-bottom b4

.player-main-info-list
  margin-bottom 0

  .icon
    position relative
    top b12

  dd
    margin-left b2

.player-main-info-link
  link-color orange
  margin-top b2
  display inline-block

.player-resize
  width 100%
  margin-height f12
  position relative
  cursor row-resize

  &:after
    content ''
    border-top 1px solid pale
    display block
    position absolute
    float left
    width 100%
    bottom b12
    z-index -1

.player-resize-grip
  margin 0 auto
  width f1
  height f6 + f24
  background gray
  position relative
  border-radius b1

  &:before
  &:after
    content ''
    border-top 1px solid pale
    display block
    position absolute
    float left
    width f23
    left b6

  &:before
    top b24

  &:after
    bottom b24

.player-list
  position relative
  background-color pale
  min-height b1
  height 5
  overflow hidden

.player-list-inner
  position absolute
  height 100%
  left 0
  width 1000

.player-list-items
  margin 0
  padding-width b4
  position absolute
  left 0
  top b4
  bottom b4

.player-list-item
  height 100%
  display inline-block

  &:last-child
    &:after
      content none

.player-list-item-playable
  &:after
    content ''
    display inline-block
    height 100%
    margin-width f4
    border-left 1px solid gray

  img
    height 100%
    width auto
    max-width none
    transition none
    cursor pointer

.player-list-item-unplayable
  position relative
  width 8

.player-unplayable-items
  position absolute
  padding 0

.player-unplayable-item
  overflow ellipsis

  a
    &:hover
    &:active
      color black
      text-decoration underline

  span
    margin-left b6

.player-list-scroll
  z-index 1
  transition background trans-time trans-ease
  position absolute
  width b1
  top b4
  bottom b4

  &:hover
    background gray

.player-list-scroll-arrow
  width 100%
  height 100%

  &:after
    content ''
    display block
    size 0
    border b2 solid transparent
    top 50%
    margin-top -b2
    position relative
    pointer-events none

.player-list-scroll-left
  left b4

  .player-list-scroll-arrow
    &:after
      border-right-color white
      right b4

.player-list-scroll-right
  right b4

  .player-list-scroll-arrow
    &:after
      border-left-color white
      left b4
