<div class="slot-media" bo-id="media.id" bo-switch="media.asset.format.type" bindonce>
  <div bo-switch-when="image">
    <img bo-src="media.asset.downloadRoute(true)">
  </div>

  <div bo-switch-when="video">
    <video ng-if="ctrl.hasPosition(media)">
      <source bo-src="media.asset.downloadRoute(true)" bo-attr bo-attr-type="media.asset.format.mimetype">
    </video>
    <video ng-if="!ctrl.hasPosition(media)" controls>
      <source bo-src="media.asset.downloadRoute(true)" bo-attr bo-attr-type="media.asset.format.mimetype">
    </video>
  </div>

  <div bo-switch-default>
    <aside>
      <div class="slot-media-name" bo-text="media.asset.displayName">&nbsp;</div>
    </aside>
  </div>
</div>
