// styles

.slot-timeline-track
  border-bottom 1px solid pale
  padding b6
  width 100%

  &.last
    border-bottom none

.slot-track
  height b1 + b3 + b12

  .slot-media
    img
    video
      height 3.5
      max-width none

.slot-track-asset
  border 1px solid orange32
  background-color orange51
  padding b6

.slot-track-asset-info
  width 1000

.slot-track-positioned
  position relative

  .slot-track-asset
    border-color blue32
    background-color blue51
    position absolute
    top 0
    bottom 0

.slot-track-display
  height 3.875