// styles

.slot-note-display
  position relative
  margin-width b8

.slot-note
  background yellow51
  height 1000
  position absolute
  border 1px solid yellow53
  font-size b34
  float left

.slot-note-head
  position relative
  z-index 400
  border-bottom 1px solid pale

.slot-note-mode
  float left
