<section class="slot-timeline" bindonce>
  <div class="slot-timeline-temporal" ng-if="ctrl.current && ctrl.hasPosition(ctrl.current)">
    <slot-timeline-ruler></slot-timeline-ruler>

    <div class="slot-timeline-ruler" ng-click="timeline.jump($event)">
      <div class="slot-timeline-ruler-time left" ng-bind="timeline.time.left | timecode"></div>
      <div class="slot-timeline-ruler-time right" ng-bind="timeline.time.right | timecode"></div>
    </div>

    <slot-annotations></slot-annotations>
  </div>

  <div class="slot-timeline-tracks">
    <slot-timeline-track ng-repeat="asset in timeline.tracks" asset="asset"></slot-timeline-track>
    <slot-timeline-track spare></slot-timeline-track>
  </div>

  <div class="slot-timeline-now-zone">
    <div class="slot-timeline-now" broadcast="shout-slotTimelineNow" ng-if="ctrl.current && ctrl.hasPosition(ctrl.current)"></div>
  </div>
</section>
