// styles

.slot-toolbar-button
  border-radius b6
  border 1px solid pale
  background-color white
  transition background trans-time trans-ease
  float left
  margin-right b4
  padding b8
  cursor pointer

  &:hover
    background-color yellow51

  .icon
    display block