<div id="spreadsheet">
  <table id="spreadsheet-table">
    <colgroup>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <colgroup ng-repeat="record in recordCols track by record.category">
      <col ng-repeat="metric in record.metrics"/>
    </colgroup>
    <thead>
      <tr id="spreadsheet-head-groups">
	<th colspan="3">session</th>
	<th ng-repeat="record in recordCols track by record.category" colspan="{{record.metrics.length}}" ng-bind="page.constants.data.category[record.category].name"></th>
      </tr>
      <tr id="spreadsheet-head-metrics">
	<th class="first" />
	<th><a href="" ng-click="sortBySlot('date')">date</a></th>
	<th class="last"><a href="" ng-click="sortBySlot('consent')">consent</a></th>

	<th ng-repeat="col in metricCols track by $index" ng-class="{'first': col.first, 'last': col.last}">
	  <a href="" ng-click="sortByMetric(col.category.id, col.metric.id)" ng-bind="col.metric.name"></a>
	</th>
      </tr>
    </thead>
    <tbody id="ss-top" ng-click="click($event)">
    </tbody>
    <tbody id="ss" ng-click="click($event)">
    </tbody>
  </table>
</div>
