div.spreadsheet
  overflow scroll
  height 90vh

table.spreadsheet
  thead
    tr
      &:last-child
        th
          border-bottom 2px solid black

  th
    text-align center
    border-left 1px solid pale
    border-right 1px solid pale
    border-top 0px
    border-bottom 0px

  td
    border 1px solid pale

.ss-top
  td
    background-color red53
