div.spreadsheet
  overflow scroll
  height 90vh

table.spreadsheet
  thead
    tr
      &:last-child
        th
          border-bottom 2px solid black

  th
    text-align center
    border-left 1px solid pale
    border-right 1px solid pale
    border-top 0
    border-bottom 0

  td
    border 1px solid pale
    padding 3px

  td.null
    border 0

  .ss-top
    td
      background-color red53

  a.link
    background-image url('/public/images/icon/play.png')
