// styles

.volume-list
  padding-top f1
  ul
    padding-left 0

.volume-list-result
  border-left 2px solid blue
  border-right 2px solid blue
  border-radius b4
  padding f4 f2
  margin-bottom f1

  h1
    font-line 1.5

    .icon
      position relative
      top b8
      margin-right f4

  &.study
    border-color orange

    a
      link-color orange

.volume-list-investigators
  ul
    padding-left f8

.volume-list-thumb
  float right
  margin-left f2
  max-width 4
