// STYLES

.icon {
	display: inline-block;
	position: relative;
	background: transparent no-repeat 0 0;
	.size(@b3 * 2);

	&.public,
	&.excerpt {
		width: 20px;
	}

	&.excerpts {
		width: 24px;
	}

	&.identified,
	&.deidentified {
		width: 22px;
	}

	&.contact { background-image: url('/public/images/icon/contact.png'); }

	&.admin { background-image: url('/public/images/icon/admin.png'); }
	&.contribute { background-image: url('/public/images/icon/contribute.png'); }
	&.download { background-image: url('/public/images/icon/download.png'); }
	&.view { background-image: url('/public/images/icon/view.png'); }

	&.public { background-image: url('/public/images/icon/public.png'); }
	&.excerpts { background-image: url('/public/images/icon/excerpts.png'); }
	&.shared { background-image: url('/public/images/icon/shared.png'); }
	&.private { background-image: url('/public/images/icon/private.png'); }

	&.excerpt { background-image: url('/public/images/icon/excerpt.png'); }
	&.identified { background-image: url('/public/images/icon/identified.png'); }
	&.deidentified { background-image: url('/public/images/icon/deidentified.png'); }
	&.material { background-image: url('/public/images/icon/material.png'); }

	&.jump { background-image: url('/public/images/icon/jump.png'); }

	&.line {
		.size(@b1);
		background-position: 4px 4px;

		&.public,
		&.excerpt {
			background-position: 2px 4px;
		}

		&.excerpts {
			width: @b1 + 2px;
			background-position: 1px 4px;
		}

		&.identified,
		&.deidentified {
			background-position: 1px 4px;
		}
	}
}
