// VARS

@round: 15px;
@point: 0;

// STYLES

.tooltips {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: visible;
	z-index: 2000;
	pointer-events: none;
}

//

.tooltip {
	.font(.75, .75);
	background-color: mix(@pale, @white, 90%);
	border: 1px solid @pale;
	.border-radius(15px);
	.grid-width(max, 3);
	float: left;
	position: absolute;
	opacity: 0;
	.transition(opacity .15s linear);
	pointer-events: none;
	.padding(@f4, @f3);
	text-shadow: 0 0 2px fadeout(@white, 25%);

	&.tooltip_visible {
		opacity: 1;
	}
}

//

.tooltip_blue {
	background-color: @blue51;
	border-color: @blue33;
}

.tooltip_green {
	background-color: @green51;
	border-color: @green33;
}

.tooltip_red {
	background-color: @red51;
	border-color: @red33;
}

.tooltip_orange {
	background-color: @orange51;
	border-color: @orange33;
}

.tooltip_yellow {
	background-color: @yellow51;
	border-color: @yellow33;
}

.tooltip_purple {
	background-color: @purple51;
	border-color: @purple33;
}

//

.tooltip_left {
	&.tooltip_top {
		.border-radius(@round @round @point @round);
	}

	&.tooltip_bottom {
		.border-radius(@round @point @round @round);
	}
}

.tooltip_right {
	&.tooltip_top {
		.border-radius(@round @round @round @point);
	}

	&.tooltip_bottom {
		.border-radius(@point @round @round @round);
	}
}
