// STYLES

.wizard {

}

//

.wizard_list {
	ul {
		border-right: 1px solid @g4;
		.margin(0);
		.padding-left(0);
		.padding-top(@f4);
		.padding-bottom(@f1);
	}

	li {
		.transition();
		.padding(@f4, @f2, @f4, @f2);
		border: 1px solid @g4;
		border-right-width: 0;
		position: relative;
		background-color: @g5;
		.border-radius(@b4 0 0 @b4);
		.margin-bottom(@f8);
		.margin-left(@f2);
		.font-size(0.9);
		cursor: pointer;

		&.active {
			.margin-left(0);
			.padding-right(@f1);
			margin-right: -1px;
		}
	}
}

.wizard_list_description {
	.margin-bottom(0);
}

//

.wizard_steps {

}

//

.wizard_step {

}

.wizard_step_header {
	h2 {
		.margin-top(0);
	}
}
