<div class="validator">
  <label ng-if="::validator.label" ng-bind="::validator.label"></label>

  <div class="validator-input">
    <div class="validator-field">
      <aside class="validator-messages">
        <div class="validator-message" ng-show="validator.show()">
          <div ng-if="validator.showServerErrors()">
            <div class="validator-server" ng-repeat="tip in validator.serverErrors" ng-bind-html="::tip"></div>
          </div>

          <div ng-if="validator.showClientErrors()">
            <div class="validator-client" ng-repeat="tip in validator.clientErrors" ng-bind-html="::tip"></div>
          </div>

          <div ng-if="validator.showClientTips()">
            <div class="validator-tip" ng-repeat="tip in validator.clientTips" ng-bind-html="::tip"></div>
          </div>
        </div>
      </aside>

      <div ng-transclude></div>
      <div ng-if="::!validator.noclientval" class="validator-indicator" ng-class="validator.iconClasses()">
        <img class="validator-invalid" src="/web/images/icon/invalid.png">
        <img class="validator-valid" src="/web/images/icon/valid.png">
      </div>
    </div>
  </div>
</div>
