@(c : Either[Volume,Container], form : controllers.Container.ContainerForm)(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud(c.fold("Create Slot in Volume: " + _.toString, "Edit Slot: " + _.toString)) {
    <article>
        <h1>@c.fold(v => "New Slot", c => "Slot: " + c.name.get)</h1>

	@tag.form(c.fold(volume => routes.Container.add(volume.id), cont => routes.Container.change(cont.volumeId, cont.id))) {
		@tag.inputText(form("name"), 'placeholder -> "Name")
		@tag.inputDate(form("date"), 'placeholder -> "Date", 'class -> "half")
		<button type='submit' class="big button first">@c.fold(_ => "Add", _ => "Change")</button>
	}
	@widget.formErrors(form)
    </article>
}
