@(c : Either[Volume,Container], form : controllers.Container.ContainerForm)(implicit request : SiteRequest[_])

@template.crud(c.fold("Create Container in Volume: " + _.toString, "Edit Container: " + _.toString)) {
    <article>
        <h1>@c.fold(_.toString + ": New Slot", c => c.toString + ": " + c.name)</h1>

	@tag.form(c.fold(volume => routes.Container.add(volume.id), cont => routes.Container.change(cont.id))) {
		@tag.inputText(form("name"))
		@tag.inputDate(form("date"))
		<button type='submit'>@c.fold(_ => "Add", _ => "Change")</button>
	}
	@widget.formErrors(form)
    </article>
}
