@(container : Container)(implicit request : SiteRequest[_])

@template.crud("Container: " + container.name) {
    <article>
        <h1>Container: @container.name</h1>

	@if(container.permission >= Permission.EDIT) {
		<a href="@routes.Container.edit(container.volumeId, container.id)">edit</a>
	}

	<dl>
	@container.date.map { d =>
		<dt>Date</dt>
		<dd>@display.fuzzyDate(d, container.permission < Permission.EDIT)</dd>
	}
	<dl>

	@widget.assetList(container.fullSlot.assets)

	@if(container.permission >= Permission.CONTRIBUTE) {
	    <div class="arealinks">
		<a class="button mhead" href="@routes.Asset.create(container.volumeId, container.id)" title="Add new asset">Add</a>
	    </div>
	}

	<table>
        <thead>
            <tr>
                <th class="main">Slot</th>
                <th class="meta">Range</th>
                <th class="meta">Consent</th>
            </tr>
        </thead>

        <tbody>
        @container.slots.map { slot =>
            <tr>
                <td class="main">@display(slot)</td>
                <td class="meta">@display(slot.segment)</td>
                <td class="meta">@slot.consent</td>
            </tr>
        }
        </tbody>
	</table>

	@if(container.permission >= Permission.CONTRIBUTE) {
	    <div class="arealinks">
		<a class="button mhead" href="@routes.Slot.create(container.volumeId, container.id)" title="Add new slot">Add</a>
	    </div>
	}

    </article>
}
