@(volume : Volume, recordSlots : Seq[(models.Record, Seq[models.Slot])])(implicit request : SiteRequest[_])

@if(recordSlots.nonEmpty) {
    @defining(recordSlots.head._1.category.get.name) { name =>
        <div id="@{name}s" class="@{name}s view">
            <h2 class='tab' data-message="The <strong>@{name.capitalize}s tab</strong> organizes study data by @{name}.">@{name.capitalize}s</h2>

            <h3>@{name.capitalize}s</h3>

            <table class="expander">
                <thead>
                    <th class="meta">Record</th>
                    <th class="mini tc">Media</th>
                    <th class="meta tc">Age</th>
                    <th class="meta tc">Consent</th>
                    <th class="main"></th>
                </thead>

                <tbody>
                    @recordSlots.map { case (record, slots)  =>
                        @slots.map { slot =>
                            <tr class="message-trace" data-message="@if(slot.consent == Consent.PRIVATE){<strong>Notice!</strong> This session is <em>private</em>, and must not be shared.}@if(slot.consent == Consent.PUBLIC){<strong>Notice!</strong> This session is <em>public</em>, and is open to the world.}@if(slot.consent == Consent.SHARED){<strong>Notice!</strong> This session is <em>shared</em> with all Databrary users.}@if(slot.consent == Consent.EXCERPTS){<strong>Notice!</strong> Users may create <em>public excerpts</em> of this session.}">

                                @if(slots.headOption.nonEmpty && slots.head.id == slot.id) {
                                    <td class="meta record-holder" rowspan="@slots.length">
                                        <div class="record">@display(record)</div>
                                        <div class="gender">@record.gender</div>
                                    </td>
                                }

				<td class="mini tc"><a href="@slot.pageURL">
				    <img src="@routes.Slot.thumb(slot.volumeId, slot.id)" class="block">
				</a></td>
                                <td class="meta tc">@display.age(slot.container.date.flatMap(record.age _).get)</td>
                                <td class="meta tc"><span class="consent">@slot.consent</span></td>
                                <td class="main"><a href="@slot.pageURL">@slot.container.name</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}
