@(volume : Volume, recordSlots : Seq[(models.Record, Seq[models.Slot])])(implicit request : SiteRequest[_])

@if(recordSlots.nonEmpty) {
    @defining(recordSlots.head._1.category.get.name) { name =>
        <div id="@{name}s" class="@{name}s view">
            <h2 class='tab' data-message="The <strong>@{name.capitalize}s tab</strong> organizes study data by @{name}.">@{name.capitalize}s</h2>

            <h3>@{name.capitalize}s</h3>

            <table class="expander">
                <thead>
                    <tr>
                        <th class="meta"></th>
                        <th class="mini tc">Media</th>
                        <th class="meta tc">Age</th>
                        <th class="meta tc">Release</th>
                        <th class="main"></th>
                    </tr>
                </thead>

                <tbody>
                    @recordSlots.map { case (record, slots)  =>
                        @slots.map { slot =>
                            <tr class="@if(slot.id == slots.last.id){trborder}">

                                @if(slot.equals(slots.head)) {
                                    <td class="meta record-holder bgwhite" rowspan="@slots.length">
				        <div class="record"><a href='@record.pageURL'>@record.ident.getOrElse("["+record.id+"]")</a></div>
                                        <div class="gender">@record.gender</div>
                                    </td>
                                }

				                <td class="mini tc pointer" onclick="location.href='@slot.pageURL';"><a href="@slot.pageURL" class="ff_84max">@widget.media.thumbSlot(slot)</a></td>
                                <td class="meta tc pointer" onclick="location.href='@slot.pageURL';">@display.age(record, slot)</td>
                                <td class="meta tc pointer message-trace" onclick="location.href='@slot.pageURL';"><span class="consent">@slot.consent</span></td>
                                <td class="main pointer" onclick="location.href='@slot.pageURL';"><a href="@slot.pageURL">@slot.container.name</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}
