@(volume : Volume)(implicit request : SiteRequest[_])

@defining(volume.slotRecords) { sessions =>
    @if(sessions.nonEmpty) {
        <div id="sessions" class="sessions view">
            <h2 class='tab' data-message="The <strong>Sessions tab</strong> organizes study data by session.">Sessions</h2>

            <h3>Sessions</h3>

            <div class="row">
                @sessions.filter(s => s._1.consent != Consent.PRIVATE).map { case (slot, records)  =>
                    @widget.sessionThumb(slot, records)
                }
                @sessions.filter(s => s._1.consent == Consent.PRIVATE).map { case (slot, records)  =>
                    @widget.sessionThumb(slot, records, true)
                }
            </div>

            <p class="note">...and <a class="show_hidden">@sessions.filter(s => s._1.consent == Consent.PRIVATE).length other participants</a> who have elected not to share their data.</p>

            <script>
                $(document).ready(function () {
                    var $hidden = $('#sessions .row article.shrink');

                    $('.show_hidden' ).click(function() {
                        $hidden.toggleClass('shrink');
                    });
                });
            </script>
        </div>
    }
}
