@(assets : Seq[SlotAsset])(implicit request: SiteRequest[_])

<table class="assets">
    <thead>
        <tr>
            <th class="main">Title</th>
            <th class="meta">Format</th>
            <th class="meta">Classification</th>
            <th class="meta">Offset</th>
        </tr>
    </thead>

    <tbody>
        @assets.map { link =>
            <tr>
                <td class="main">@display(link)</td>
				<td>@link.format.name</td>
				<td>@link.classification</td>
				<td>@link.position</td>
            </tr>
        }
    </tbody>
</table>