@(container: Container)(implicit request: SiteRequest[_])

<table class="assets">
    <colgroup>
        <col class="main">
        <col class="meta">
        <col class="meta">
    </colgroup>

    <thead>
        <tr>
            <th class="main">Title</th>
            <th class="meta">Format</th>
            <th class="meta">Consent</th>
        </tr>
    </thead>

    <tbody>
        @container.assets(request.db).map { link =>
            <tr>
                <td class="main">@display(link)</td>
				<td>@link.asset(request.db).format.name</td>
				<td>@link.asset(request.db).consent</td>
            </tr>
        }
    </tbody>
</table>

@if(container.permission >= Permission.CONTRIBUTE) {
    <div class="arealinks">
        <a class="button third mhead" href=""@routes.Asset.create(container.id)" title="Add new asset">Add</a>
    </div>
}