<footer id="static_footer" class="body_footer static_footer">
    <div class="wrap">
        <div class="row">
            <div class="watermark"></div>

            <nav id="footer_nav" class="body_footer_links col-desktop-12 col-laptop-9 col-tablet-6 col-mobile-3">
                <ul class="inline-block flat">
                    <li><a href="@routes.StaticHtml.page("about")" title="About the Project">About</a></li>
                    <li><a href="@routes.StaticHtml.page("jobs")" title="Join Our Team">Jobs</a></li>
                    <li><a href="@routes.StaticHtml.page("contact")" title="Contact Us">Contact</a></li>
                </ul>
            </nav>

            <aside class="body_footer_social col-desktop-3 col-laptop-3 col-tablet-3 col-mobile-3">
                <p>Find us on <a href="https://www.facebook.com/pages/Databrary/185349568273416" target="_blank" class="img"><img id="facebook" src="@routes.Assets.at("images/social/16px/facebook.png")" alt="Facebook"></a>, <a href="https://plus.google.com/u/1/111083162045777800330/posts" target="_blank" class="img"><img id="google-plus" src="@routes.Assets.at("images/social/16px/google-plus.png")" alt="Google+"></a>, <a href="https://twitter.com/databrary" target="_blank" class="img"><img id="twitter" src="@routes.Assets.at("images/social/16px/twitter.png")" alt="Twitter"></a>, and <a href="https://github.com/databrary/" target="_blank" class="img"><img id="github" src="@routes.Assets.at("images/social/16px/github.png")" alt="GitHub"></a>.</p>
            </aside>

            <div class="col-full">
                <div class="body_footer_legal small">
                    <p>This material is based upon work supported by the National Science Foundation under Grant No. BCS-1238599 and the Eunice Kennedy Shriver National Institute of Child Health and Human Development under Cooperative Agreement 1-U01-HD-076595-01. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or the Eunice Kennedy Shriver National Institute of Child Health and Human Development.</p>

                    <p><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Databrary documentation</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons License</a>. <a href='http://github.com/databrary/play'>Databrary software</a> is licensed under the <a rel="license" href='http://www.gnu.org/licenses/gpl-3.0.html'>GNU General Public License version 3</a>.</p>
                </div>

                <ul class="body_footer_grants inline-block flat">
                    <li><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&HistoricalAwards=false"><img src="@routes.Assets.at("images/grants/nsf.png")" class="nsf"> BCS-1238599</a></li>
                    <li><a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&icde=15908155&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC"><img src="@routes.Assets.at("images/grants/nih.png")" class="nih"> 1-U01-HD-076595</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
