@(slot : Slot, records : Seq[Record])(implicit request : SiteRequest[_])

@defining(records.filter(r => r.category.equals(Some(RecordCategory.Participant)))) { records =>
    @if(records.nonEmpty) {
        <h2>Participants</h2>

        <table>
            <thead>
                <tr>
                    <th class="main"></th>
                    <th class="meta">Gender</th>
                    <th class="meta">Age</th>
                </tr>
            </thead>

            <tbody>
                @records.map { record =>
                    <tr>
			    <td class="main"><a href='@record.pageURL'>@Async.get(record.ident).getOrElse("["+record.id+"]")</a></td>
                        <td class="meta">@record.gender</td>
                        <td class="meta">@display.age(record, slot)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
