@(party: Party, classes: String, institutions: Boolean = true)(implicit request : SiteRequest[_])

<aside id="portrait_@party.id" class="portrait portrait_@party.id @classes avatar info name @if(institutions){institutions}else{noinstitutions}">

    @widget.figure("portrait_" + party.id, "portrait_avatar avatar avatar_role") {
      <a class="image" href="@party.pageURL" title="@party.name" style="background-image: url('@display.avatar(party, 160)')"></a>
    }

    <div class="portrait_info">
        <a class="portrait_name db" href="@party.pageURL" title="@party.name">@party.name</a>

        @if(institutions) {
            <span class="portrait_institution db">@party.affiliation</span>
        }
    </div>
</aside>
