@(slot : Slot, records : Seq[Record], hide : Boolean = false)(implicit request : SiteRequest[_])

@* THIS IS NOT A THUMB! THIS IS A... shield? rollover? article? *@

<article class="session-panel thumb hover col-3 @if(hide) {shrink}">
    <a href="@slot.pageURL" class="block">
        <div class="media">
	    @widget.figures.thumbSlot(slot)
        </div>

        <div class="text">
            <h1>@slot.container.name</h1>

            <ul class="participants flat">
            @records.map { record =>
	    	@record.category match {
		case Some(RecordCategory.Participant) => {
                    <li>
                        <span class="gender">@record.gender</span><span class="sep">,</span>
                        <span class="age">@display.age(record, slot)</span>
                    </li>
		}
		case Some(_) => {
		    <li>@record.pageName</li>
		}
		case None => {}
		}
            }
            </ul>
        </div>
    </a>
</article>
