@(volume : Volume)(implicit request : SiteRequest[_])

<h3>Slots</h3>

<table>
    <thead>
        <tr>
            <th class="main">Slot</th>
            <th class="meta">Range</th>
            <th class="meta">Consent</th>
        </tr>
    </thead>

    <tbody>
    @defining(volume.containers) { containers =>
    @if(containers.nonEmpty) {
        @containers.map { container =>
                @container.slots.map { slot =>
                    <tr>
                        <td class="main">
                            <a href='@slot.pageURL'>@slot.pageName</a>
			    @defining(slot.records) { records =>
                            @if(records.nonEmpty) {
                                <div class="records">
                                    @records.map { record =>
                                        <div class="ident">
                                            @record.ident.getOrElse(record.id.unId.toString)
                                        </div>
                                            <dl class="inline-measures">
                                            @record.measures.filter(m => record.dataPermission(m.metric).checkPermission(Permission.DOWNLOAD)).map { measure =>
                                                @if(measure.metric.name != "ident") {
                                                    <dt>@measure.metric.name</dt>
                                                    <dd>@measure.value</dd>
                                                }

                                            }
                                            </dl>
                                    }
                                </div>
                            }
			    }
                        </td>
                        <td class="meta">@display(slot.segment)</td>
                        <td class="meta">@slot.consent</td>
                    </tr>
            }
        }
    } else {
        <tr>
            <td class="empty" colspan="3">This container has no child slots.</td>
        </tr>
    }
    }
    </tbody>
</table>
