@(volume : Volume)(implicit request : SiteRequest[_])

<h3>Records</h3>

<table class="records">
    <thead>
        <tr>
            <th class="main">Record</th>
            <th class="meta">Category</th>
            <th class="meta">Age</th>
        </tr>
    </thead>

    <tbody>
        @if(volume.allRecords(Some(RecordCategory.Participant)).nonEmpty) {
            @volume.allRecords(Some(RecordCategory.Participant)).map { record =>
                <tr>
                    <td class="main">
                        @display(record)
                    <dl class="inline-measures">
                    @record.measures.filter(m => record.dataPermission(m.metric).checkPermission(Permission.DOWNLOAD)).map { measure =>
                        @if(measure.metric.name != "ident") {
                            <dt>@measure.metric.name</dt>
                            <dd>@measure.value</dd>
                        }

                    }
                    </dl>
                    </td>
                    <td class="meta">@record.category.fold("")(_.name)</td>
            		<td>@record.agerange(request.db).map(display.agerange _)</td>
                </tr>
            }
        } else {
            <tr>
                <td class="empty" colspan="2">This slot has no records.</td>
            </tr>
        }
    </tbody>
</table>

<h3>Containers</h3>

<table>
    <thead>
        <tr>
            <th class="main">Slot</th>
            <th class="meta">Range</th>
            <th class="meta">Consent</th>
        </tr>
    </thead>

    <tbody>
    @if(volume.containers.nonEmpty) {
        @volume.containers.map { container =>
            @if(!container.top) {
                @container.slots.map { slot =>
                    <tr>
                        <td class="main"><a href='@slot.pageURL'>@slot.pageName</a></td>
                        <td class="meta">@display(slot.segment)</td>
                        <td class="meta">@slot.consent</td>
                    </tr>
                }
            }
        }
    } else {
        <tr>
            <td class="empty" colspan="3">This container has no child slots.</td>
        </tr>
    }
    </tbody>
</table>
