@(volume: Volume)(implicit request: SiteRequest[_])

<table class="assets">
    <colgroup>
        <col class="main">
        <col class="meta">
        <col class="meta">
    </colgroup>

    <thead>
        <tr>
            <th class="main">Ident</th>
            <th class="meta">Gender</th>
            <th class="meta">Age</th>
        </tr>
    </thead>

    <tbody>
    @volume.slotRecords(Some(RecordCategory.Participant)).map { r =>
        <tr>
	    <td class="main"><a href='@routes.Record.view(r.id)'>@r.ident(request.db)</a></td>
            <td>@r.measure(Metric.Gender)(request.db)</td>
            <td>@r.agerange(request.db).map(display.agerange _)</td>
        </tr>
    }
    </tbody>
</table>

<h3>All Slots</h3>
    @* Not all slots may be associated with participants. Show all here for now: *@
    <ul>
    @volume.slots(request.db).map { slot =>
        <li><a href='@slot.pageURL'>@display.date(slot)</a>: @slot.idents</li>
    }
    </ul>

@if(volume.permission >= Permission.CONTRIBUTE) {
    <div class="arealinks">
        <a class="button mhead" href="@routes.Slot.create(volume.id)" title="Add new slot">Add</a>
    </div>
}
