<section id="static_links" class="sidebar_widget">
    <h1>Our Mission</h1>

    <nav class="sidebar_nav">
        <ul>
            <li><a href="@routes.Static.about" title="About the Project">About the Project</a></li>
            <li><a href="@routes.Static.board" title="The Board">The Board</a></li>
            <li><a href="@routes.Static.team" title="Our Team">Our Team</a></li>
            <li><a href="@routes.Static.contributors" title="Contributors">Contributors</a></li>
            <li><a href="@routes.Static.faq" title="FAQ">FAQ</a></li>
            <li><a href="@routes.Static.jobs" title="Join Our Team">Join Our Team</a></li>
            <li><a href="@routes.Static.contact" title="Contact Us">Contact Us</a></li>
        </ul>
    </nav>
</section>