<section id="static_links" class="sidebar_menu widget">
    <h1>Our Mission</h1>

    <nav class="sidebar_nav">
        <ul>
            <li><a href="@routes.Static.about" title="About the Project">About</a></li>
            <li><a href="@routes.Static.policies" title="Policies">Policies</a></li>
            <li class="foot"><a href="@routes.Static.faq" title="FAQ">F.A.Q.</a></li>

            <li><a href="@routes.Static.board" title="The Board">Board</a></li>
            <li><a href="@routes.Static.team" title="Our Team">Team</a></li>
            <li class="foot"><a href="@routes.Static.contributors" title="Contributors">Contributors</a></li>

            <li><a href="@routes.Static.jobs" title="Join Our Team">Jobs</a></li>
            <li><a href="@routes.Static.contact" title="Contact Us">Contact</a></li>
        </ul>
    </nav>
</section>