@(study: Study)(implicit request: SiteRequest[_])

@display(permission: Permission.Value) = {
	@defining(study.partyAccess(permission)(request.db).filter(_.access == permission)) { studyAccesses =>
		@if(studyAccesses.nonEmpty) {
			<h3>@studyAccesses.head.access</h3>

			<div class="row foot">
				@studyAccesses.map { studyAccess => @widget.userinfo(studyAccess.party, None, true)}
			</div>
		}
	}
}

@display(Permission.ADMIN)
@display(Permission.EDIT)
@display(Permission.DOWNLOAD)
@display(Permission.VIEW)
