@(study : Study)(implicit request : SiteRequest[_])

<article id="study_@study.id.unId" class="study study_roll cf">
    <div class="row">
        <a href="@routes.Study.view(study.id)" class="block cf" title="@study.title">
            <header class="column_full">
                <h1>@study.title</h1>
            </header>

            <aside class="thumb cf">
            @widget.studyThumb(study)
            </aside>

            <div class="body">
                <footer class="meta cf">
                    <div class="date">
                    @study.creationAudit(request.db).map { creation =>
                        <time datetime="@creation.when" pubdate>@display.date(creation.when, "yyyy")</time>
                    }
                    </div>

                    <div class="people">
                    @study.partyAccess(Permission.CONTRIBUTE)(request.db).map { a => <img src="@display.gravatarUrlByParty(a.party, 16)"> @display.citeName(a.party.name)<span class="sep">,</span> }
                    </div>
                </footer>

                <div class="description">
                @display.plainTextSummary(study.description.getOrElse(""), 2)
                </div>
            </div>
        </a>
    </div>
</article>
