@(party : Party, time : Option[java.sql.Timestamp] = None, float : Boolean = false)(implicit request : SiteRequest[_])

<@if(time.isDefined){header}else{section} class="userinfo cf @if(float == true){col_3}">
    <div class="avatar">
        <a href="@party.pageURL" title="@party.name">
            <img src="@display.gravatarUrlByParty(party, 36)" alt="@party.name">
        </a>
    </div>

    <div class="info">
        <div class="name">
            <a href="@party.pageURL" title="@party.name">@party.name</a>
        </div>

        @if(time.isDefined) {
            <div class="date">
            @display(time.get)
            </div>
        } else {
            <div class="institution">
                <ul class="inline">
                @party.authorizeParents().map { t =>
                    <li>@display(t.parent)</li>
                }
                </ul>

            </div>
        }
    </div>
</@if(time.isDefined){header}else{section}>
