@(party : Party, time : Option[dbrary.Timestamp] = None, float : Boolean = false, grant : Option[String] = None, slots : Tuple2[Option[Slot], Option[Slot]] = Tuple2(None, None))(implicit request : SiteRequest[_])

@defining(if(time.isDefined) "header" else "section") { wrap =>
<@wrap class="userinfo cf @if(float == true){col-3}">
    <div class="avatar">
        <a href="@party.pageURL" title="@party.name">
            <img src="@display.avatar(party, 36)" alt="@party.name" class="s36">
        </a>
    </div>

    <div class="info">
        <div class="overflow name">
            <a href="@party.pageURL" title="@party.name">@party.name</a>
        </div>

	@time.fold {
            @if(grant.nonEmpty) {
                <div class="overflow more grant">
                    @grant.get
                </div>
            } else {
                @if(!party.id.equals(models.Party.ROOT)) {
                <div class="overflow more institution">
                    <ul class="inline">
                    @Async.get(party.authorizeParents()).map { t =>
                        <li>@display(t.parent)</li>
                    }
                    </ul>

                </div>
                }
            }
	} { time =>
            <div class="overflow more date">
                @display.time(time)

                @defining(slots) { case (thisSlot, commentSlot) =>
                    @if(thisSlot.isEmpty || (thisSlot.nonEmpty && thisSlot.get.id.unId.toString != commentSlot.get.id.unId.toString)) {
                        @if(commentSlot.get.container.top) {
                            on <a class="location" href="@routes.Volume.view(commentSlot.get.volumeId)">@commentSlot.get.volume.pageName</a>
                        } else {
                            on <a class="location" href="@routes.Slot.view(commentSlot.get.volumeId, commentSlot.get.id)">@commentSlot.get.pageName</a>
                        }
                    }
                }
            </div>
        }
    </div>
</@wrap>
}
