@(volume : Volume)(implicit request : SiteRequest[_])

<article id="volume_@volume.id" class="volume volume_roll cf">
    <div class="row">
        <a href="@routes.Volume.view(volume.id)" class="block cf" title="@volume.name">
            <header class="col-desktop-9 col-laptop-9 col-tablet-6">
                <h1>@volume.name</h1>
            </header>

            <aside class="thumb cf col-desktop-2 col-laptop-2 col-tablet-2">
            @widget.volumeThumb(volume)
            </aside>

            <div class="body col-desktop-7 col-laptop-7 col-tablet-4">
                <footer class="meta cf">
                    <div class="date">
                        <time datetime="@volume.creation" pubdate>@display.dateFmtY.format(volume.creation)</time>
                    </div>

                    <div class="people">
		    @volume.partyAccess.takeWhile(_.access >= Permission.CONTRIBUTE).map { a => <img src="@display.gravatarUrlByParty(a.party, 16)"> @display.citeName(a.party.name)<span class="sep">,</span> }
                    </div>

                    @if(volume.funding.nonEmpty) {
                        <div class="funding">
                        @volume.funding.map { f => <img src="@display.gravatarUrlByParty(f.funder, 16)"> @f.funder.name<span class="sep">,</span> }
                        </div>
                    }
                </footer>

                <div class="description">
                @display.plainTextSummary(volume.body.getOrElse(""), 2)
                </div>
            </div>
        </a>
    </div>
</article>
