@(volume: Volume)(implicit request: SiteRequest[_])

<div class="citation">
    @volume.partyAccess(Permission.CONTRIBUTE)(request.db).map(a => display.citeName(a.party.name) + ", " )
    @volume.creationAudit(request.db).map(creation => display.dateFmtY.format(creation.when)).
    @volume.name.
    <em>Databrary</em>.
    Retrieved @display.dateFmtCite.format(new java.util.Date()) from <a href="@routes.Volume.view(volume.id).absoluteURL()" title="@volume.name on Databrary.org">@routes.Volume.view(volume.id).absoluteURL()</a>.
</div>
