@(volume: Volume)(implicit request: SiteRequest[_])

<div class="citation">
    @volume.partyAccess.takeWhile(_.access >= Permission.CONTRIBUTE).map(a => display.citeName(a.party.name) + ", ")
    @display.dateFmtY.format(volume.creation).
    @volume.name.
    <em>Databrary</em>.
    Retrieved @display.dateFmtCite.format(new java.util.Date()) from <a href="@routes.Volume.view(volume.id).absoluteURL()" title="@volume.name on Databrary.org">@routes.Volume.view(volume.id).absoluteURL()</a>.
</div>
