@(volume : Volume)(implicit request : SiteRequest[_])

<article id="volume_@volume.id.unId" class="volume volume_roll cf">
    <div class="row">
        <a href="@routes.Volume.view(volume.id)" class="block cf" title="@volume.name">
            <header class="column_full">
                <h1>@volume.name</h1>
            </header>

            <aside class="thumb col_4 cf">
            @widget.volumeThumb(volume)
            </aside>

            <div class="body col_8">
                <footer class="meta cf">
                    <div class="date">
                    @volume.creationAudit(request.db).map { creation =>
                        <time datetime="@creation.when" pubdate>@display.dateFmtY.format(creation.when)</time>
                    }
                    </div>

                    <div class="people">
                    @volume.partyAccess(Permission.CONTRIBUTE)(request.db).map { a => <img src="@display.gravatarUrlByParty(a.party, 16)"> @display.citeName(a.party.name)<span class="sep">,</span> }
                    </div>
                </footer>

                <div class="description">
                @display.plainTextSummary(volume.body.getOrElse(""), 2)
                </div>
            </div>
        </a>
    </div>
</article>
