@(volume : Volume)(implicit request : SiteRequest[_])

<article id="volume_@volume.id" class="volume volume_list cf">
    <header class="">
        <a href="@routes.Volume.view(volume.id)" title="@volume.name">
            <h1>@volume.name</h1>
        </a>
    </header>

    <div class="body">
        <footer class="meta cf">
            <div class="date">
                <time datetime="@volume.creation" pubdate>@display.dateFmtY.format(volume.creation)</time>
            </div>

            <div class="people">
            @volume.partyAccess.takeWhile(_.access >= Permission.ADMIN).map { a => <img src="@display.avatar(a.party, 16)"> @display.citeName(a.party.name) <span class="sep">
                ,</span>
            }
            </div>
        </footer>
    </div>
</article>
