@(target : Either[Slot, Asset], form : controllers.Asset.AssetForm)(implicit request : RequestObject[SiteObject]#Site[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@widget.template.crud(target.fold(_ => "Upload Asset", "Edit Asset: " + _.name)) {
    @widget.panel.form(target.fold(_ => "New Asset", _.name), target.fold(_ => "Upload Asset", _ => "Edit Asset")) {
        <div class="col-full">
            @widget.formErrors(form)

            @widget.tag.form(target.fold(
            container => routes.Asset.upload(container.volumeId, container.id),
            asset => routes.Asset.change(asset.volumeId, asset.id)), 'enctype -> "multipart/form-data") {

                @widget.tag.inputText(form("name"), 'placeholder -> "Title")
                @widget.tag.textarea(form("body"), 'placeholder -> "Description")
		@widget.enumSelect(form("classification"), Classification)

                @if(controllers.Asset.formForFile(form, target)) {
                    @widget.tag.inputFile(form("file"))

                    @if(request.access >= Permission.ADMIN) {
                        <fieldset>
                            <legend>Admin Options</legend>
                            @widget.tag.select(form("format"), Seq(("", "")) ++: AssetFormat.getAll.map(f => (f.id.toString, f.extension.fold("")("." + _ + "  ||  ") + f.name)))
			    @widget.tag.checkbox(form("timeseries"))
                            @widget.tag.inputText(form("localfile"), 'placeholder -> "Local location (overridden by file upload)")
                        </fieldset>
                    }
                }

                <button type='submit' class="button">@target.fold(_ => "Upload", _ => "Change")</button>
            }
        </div>
    }
}
