@(target : Either[Container,AssetLink], form : controllers.Asset.AssetForm)(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud(target.fold(_ => "Upload Asset", "Edit Asset: " + _.title)) {
    <article>
	<h1>@target.fold(_ => "Upload Asset", "Edit: "+_.title)</h1>

	@helper.form(target.fold(
		container => routes.Asset.upload(container.id),
		link => routes.Asset.change(link.containerId, link.assetId)),
		'enctype -> "multipart/form-data") {
            @helper.inputText(form("title"), 'placeholder -> "Title", '_class -> "big")
            @helper.textarea(form("description"), 'placeholder -> "Description")

            @if(controllers.Asset.formForFile(form)) {
	        @widget.enumSelect(form("classification"), Classification)
	        @helper.inputFile(form("file"))
            }

	    <button type='submit' class="big button first">@target.fold(_ => "Upload", _ => "Change")</button>
        }
        @widget.formErrors(form)

    </article>
}
