@(link : AssetLink, form : controllers.Asset.EditForm)(implicit request : SiteRequest[_])

@template.crud("Edit Asset: " + link.toString()) {
    <article>
        <h1>@link.toString()</h1>

        @helper.form(routes.Asset.change(link.containerId, link.assetId)) {
            @helper.inputText(form("title"))
            @helper.textarea(form("description"), 'cols -> 80, 'rows -> 4)

            @if(controllers.Asset.formForFile(form)) {
            }

            <button type='submit'>Change</button>
        }

        @widget.formErrors(form)
    </article>
}