@(formats : Map[String, Iterable[AssetFormat]])(implicit request: SiteRequest[_])

@template.crud(Messages("page.title.help.formats"), angular = Some(play.api.libs.json.JsNull)) {
	<div class="col-full">
	<h3>@Messages("help.formats.title")</h3>
        <p>@Messages("help.formats.body")</p>
	@formats.map { case(k,v) =>
		<div class="metadata">
			<h3 class="col-full">@Messages("format.list."+k)</h2>

			<dl class="flat">
			@v.map{af =>
					<dt>@af.extension:</dt>
					<dd>@af.description</dd>
			}
			</dl>

		</div>
	}
	</div>
}
