@(formats : Map[String, Iterable[AssetFormat]])(implicit request: SiteRequest[_])

@html(Messages("help.formats.title"), Some(routes.AssetHtml.formats(None))) {
<article class="wrap">
  <div class="row">
    <h1 class="view-title">@Messages("help.formats.title")</h3>
    <p>@display.rawFormat(Messages("help.formats.body"))</p>
    <div class="col">
      <table>
        @formats.map { case (key, group) =>
          <tbody>
            <tr class="hr hr-big">
              <th colspan="2">@Messages("format.list."+key)</th>
            </tr>
            <tr class="hr">
              <th class="th-right">@Messages("format.list.extension")</th>
              <th>@Messages("format.list.description")</th>
            </tr>
            @group.map { fmt =>
              <tr>
                <td class="th-right">@fmt.extension</td>
                <td>@fmt.description</td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  </div>
</article>
}
