@(link : SlotAsset)(implicit request : RequestObject[SlotAsset]#Site[_])

@fileData(asset : FileAsset) = {
}

@template.crud("Asset: " + link.link.name) {
    <article>
        <header>
            <h1>@link.link.name</h1>

            @crud.assetMenu(link.link, Some(link))
        </header>

        <p>@link.link.body</p>

	@if(link.permission >= Permission.DOWNLOAD) {
		@link.link.asset.format.mimeSubTypes match {
            case ("image", _) => {
                <img src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case ("video", _) => {
                <video controls>
                    <source src="@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)" type="video/mp4">
                </video>
            }
            case ("text", "html") => {
                <iframe src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case ("text", "plain") => {
                <iframe src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case _ => {
            }
		}

		<a href='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, false)'>download</a>
	}

        <div class="row">
        @region.comments(Some((routes.Slot.comment(link.volumeId, link.slotId), controllers.Slot.commentForm)), link.slot.comments())
        </div>
    </article>
}
