@(link : SlotAsset)(implicit request : RequestObject[SlotAsset]#Site[_])

@fileData(asset : FileAsset) = {
}

@template.crud("Asset: " + link.link.name) {
        <p>@link.link.body</p>

	@if(link.checkPermission(Permission.DOWNLOAD)) {
		@link.format.mimeSubTypes match {
            case ("image", _) => {
                <img src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case ("video", _) => {
                <video controls>
                    <source src="@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)" type="@link.link.asset.format.mimetype">
                </video>
		@if(!link.link.asset.format.equals(TimeseriesFormat.Video)) {
			Warning: This video has not (yet) been converted to Databrary's standand format, so some features may not work.
		}
            }
            case ("text", "html") => {
                <iframe src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case ("text", "plain") => {
                <iframe src='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, true)'/>
            }
            case _ => {
            }
		}

		<a href='@routes.Asset.download(link.volumeId, link.slotId, link.link.assetId, false)'>download</a>
	}

        <div class="row">
        @region.comments(Some((routes.Slot.comment(link.volumeId, link.slotId), controllers.Slot.commentForm)), link.slot.comments())
        </div>
}
