<form name="userPasswordForm" novalidate>
  <messages form="userPasswordForm"></messages>

  <div ng-if="!userPasswordForm.data.token">
    <validator form="userPasswordForm" name="email" label="'email' | message">
      <input id="fieldEmail" name="email" type="email" ng-model="userPasswordForm.data.email" placeholder="{{'email' | message}}">
    </validator>

    <button type="submit" class="button" ng-click="userPasswordForm.reset()" ng-disabled="!userPasswordForm.ready()">{{"reset.request" | message}}</button>
  </div>

  <div ng-if="userPasswordForm.data.token">
    <validator form="userPasswordForm" name="password.once" label="'password.once' | message">
      <input id="fieldPassword" name="password.once" type="password" ng-model="userPasswordForm.data.password.once">
    </validator>

    <validator form="userPasswordForm" name="password.again" label="'password.again' | message">
      <input id="fieldPasswordAgain" name="password.again" type="password" ng-model="userPasswordForm.data.password.again">
    </validator>

    <button class="green" type="submit" ng-disabled="!userPasswordForm.ready()" ng-click="userPasswordForm.save()">{{'register.continue' | message}}</button>
  </div>
</form>
