/*
VARIABLES
*/
//colors
@pitch: #000;

@black: #333;
@gray_25: #666;
@gray_50: #999;
@gray_75: #ccc;
@white: #fff;

@primary: #68CB63;
@secondary: #C8619D;
@tertiary: #FBB47A;

@gray_50_primary: mix(@gray_50, @primary, 90%);
@gray_50_tertiary: mix(@gray_50, @tertiary, 90%);

@gray_75_primary: mix(@gray_75, @primary, 90%);
@gray_75_tertiary: mix(@gray_75, @tertiary, 90%);

@white_75_primary: mix(@white, @primary, 75%);

@text: @black;

// standards
@site_padding: 28px;
@site_transition: all .2s linear;

// regions
@header_height: 40px;
@header_shadow: 0 0 3px @black;

// grid
@grid_columns: 12;
@grid_width: 64px;
@grid_margin: 16px;

/*
FONTS
*/

@font-face {
  font-family: 'SofiaProLight';
  src: url('/assets/fonts/SofiaProLight-webfont.eot'); /* IE9 */
  src: url('/assets/fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/SofiaProLight-webfont.woff') format('woff'), /* Modern */
  url('/assets/fonts/SofiaProLight-webfont.ttf')  format('truetype'), /* Webkit */
  url('/assets/fonts/SofiaProLight-webfont.svg#svgFontName') format('svg'); /* Legacy */
}

.sofia_light() {
  font-family: 'SofiaProLight', Helvetica, Verdana, sans-serif;
}

@font-face {
  font-family: 'SofiaProMedium';
  src: url('/assets/fonts/SofiaProMedium-webfont.eot'); /* IE9 */
  src: url('/assets/fonts/SofiaProMedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/SofiaProMedium-webfont.woff') format('woff'), /* Modern */
  url('/assets/fonts/SofiaProMedium-webfont.ttf')  format('truetype'), /* Webkit */
  url('/assets/fonts/SofiaProMedium-webfont.svg#svgFontName') format('svg'); /* Legacy */
}

.sofia_medium() {
  font-family: 'SofiaProMedium', Helvetica, Verdana, sans-serif;
}

/*
BODY
*/
body {
  background: @white;
  font-family: 'SofiaProLight', Helvetica, Verdana, sans-serif;
  color: @text;
  text-align: justify;
  line-height: 1.333;
}
