/*
PAGE BODY
*/
#site_body {
  margin: @header_height 0 @site_padding;

  a {
    color: @secondary;

    &:hover {
      color: darken(@secondary, 25%);
    }
  }
}

/*
MAIN CONTENT
*/
#body_main {
  h1 {
    margin: 0 0 .5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid @gray_50_tertiary;
  }

  h2 {
    margin-bottom: 0;
  }
}