/*
#site_footer
*/
#site_footer {
  background: lighten(@tertiary, 25%);
  border-top: 1px solid @gray_75_tertiary;
  padding: @site_padding 0;
  margin-top: @site_padding;
  overflow: hidden;

  &.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
  }

  ul.inline {
    margin-bottom: @site_padding;

    li {
      margin: 0 10px 0 0;
    }
  }

  a {
    color: darken(@tertiary, 25%);

    &:hover {
      color: darken(@tertiary, 50%);
    }
  }

  .watermark {
    background: url("/assets/images/design/watermark.png") no-repeat;
    .user-select(none);
    position: absolute;
    float: right;
    bottom: -@site_padding;
    width: 200px;
    height: 190px;
    right: -50px;
  }

  .grants {
    position: relative;
    top: -8px;

    img {
      position: relative;
    }

    .nsf {
      top: 12px;
    }

    .nih {
      top: 8px;
    }
  }
}

/*
#footer_nav
*/
#footer_nav {
  float: left;
  width: 50%;

  text-align: left;
  font-size: 0.9em;

}

/*
#footer_social
*/
#footer_social {
  float: right;
  width: 50%;
  margin-bottom: @site_padding;
  height: 18px;
  position: relative;
  top: -1px;

  text-align: right;
  font-size: 0.9em;

  p {
    margin: 0;
  }

  /* TEMP! */
  img {
    height: 16px;
    position: relative;
    top: 1px;
  }

  a:hover img {
    .box-shadow(0 0 5px darken(@tertiary, 25%));
  }
}