button,
input,
select,
textarea {
  font-family: 'SofiaProLight', Helvetica, Verdana, sans-serif;
  border: 1px solid @gray_50_tertiary;
  .box-sizing(border-box);
}

input,
select,
textarea {
	.transition(all .2s ease-in-out);

	&:focus {
		outline: none;
		border-color: @primary;
		.transition(all .2s ease-in-out);
	}
}

input[type="search"] {
  .border-radius(50px);
  .box-sizing(border-box);
}