/*
MOBILE
*/
@media (max-width: 491px) {
  // grid
  @grid_columns: 0;
  .wrapper { .grid_wrapper() }
}

/*
NARROW TABLET
*/
@media (min-width: 492px) and (max-width: 743px) {
  // grid
  @grid_columns: 6;
  @grid_width: 64px;
  @grid_margin: 20px;

  .wrapper { .grid_wrapper() }
}

/*
WIDE TABLET
*/
@media (min-width: 744px) and (max-width: 995px) {
  // grid
  @grid_columns: 9;
  @grid_width: 64px;
  @grid_margin: 20px;

  .wrapper { .grid_wrapper() }
}

/*
NORMAL SCREEN
*/
@media (min-width: 996px) and (max-width: 1247px) {
  // grid
  @grid_columns: 12;
  @grid_width: 64px;
  @grid_margin: 20px;

  .wrapper { .grid_wrapper() }
}

/*
LARGE SCREEN
*/
@media (min-width: 1248px) {
  // grid
  @grid_columns: 15;
  @grid_width: 64px;
  @grid_margin: 20px;

  .wrapper { .grid_wrapper() }
}