/*
MOBILE
*/
@media (max-width: 491px) {
  // grid
  @grid_columns: 0;
  .wrapper { .grid_wrapper() }
  .row { .grid_row() }
}

/*
NARROW TABLET
*/
@media (min-width: 492px) and (max-width: 743px) {
  // grid
  @grid_columns: 6;
  .wrapper { .grid_wrapper() }
  .row { .grid_row() }
}

/*
WIDE TABLET
*/
@media (min-width: 744px) and (max-width: 995px) {
  // grid
  @grid_columns: 9;
  .wrapper { .grid_wrapper() }
  .row { .grid_row() }
}

/*
NORMAL SCREEN
*/
@media (min-width: 996px) and (max-width: 1247px) {
  // grid
  @grid_columns: 12;
  .wrapper { .grid_wrapper() }
  .row { .grid_row() }
}

/*
LARGE SCREEN
*/
@media (min-width: 1248px) {
  // grid
  @grid_columns: 15;
  .wrapper { .grid_wrapper() }
  .row { .grid_row() }
}