@(form : Login.LoginForm)(implicit request: SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.minimalFieldConstructor.f)
    }

<h1>Enter Databrary</h1>

<div class="modal_content">
	@widget.tag.form(routes.Login.post) {
		@widget.formErrors(form)

		<div id="login_databrary" class="login_method">
			@widget.tag.inputText(form("email"), 'placeholder -> "Email", '_class -> "big")
			@widget.tag.inputPassword(form("password"), 'placeholder -> "Password", '_class -> "big")
		</div>

		<div id="login_openid" class="login_method">
			@widget.tag.inputText(form("openid"), 'placeholder -> "OpenID", '_class -> "big")
		</div>

		<button type="submit" class="big button first">Login</button>

		<a href="#login_openid" class="login_toggle" title="Login with OpenID">or login with OpenID.</a>
		<a href="#login_databrary" class="login_toggle active" title="Login with OpenID">or login with Databrary.</a>
	}

	<script>
	$(document).ready(function () {
		dbjs.simpleToggle('.login_toggle', '.login_method');
	});
	</script>
</div>
