// BUGS

// stupid, stupid IE10
@-ms-viewport {
  width: device-width;
}

// firefox bug
// https://github.com/twbs/bootstrap/issues/7611
select optgroup {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
}

// chrome bug
// https://github.com/twbs/bootstrap/issues/8350
input[type="number"] {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		height: auto;
	}
}

// DRAFT

@media screen {
	body.dev {
//		.rules(show);
	}
}

.modal {
	display: none;
}

.panel_overview_actions {
	.font-size(0.8);

	ul {
		.padding(0);
		.margin-bottom(1);

		&.breadcrumbs {
			.margin-bottom(0);

			a {
				&:link, &.link,
				&:visited, &.visited {
					color: @c0;
				}
				&:hover, &.hover {
					color: @c0g4m1;
				}
				&:active, &.active {
					color: @c0g5m1;
				}
			}
		}
	}

	li {
		display: inline-block;
		.margin-right(@f2);

		&:before {
			display: none;
		}
	}
}

.temp_browser_participants {
	.figure {
		.margin-bottom(0);
	}

	.bgwhite {
		background-color: @g5 !important;
		text-align: center;
	}

	.mini, .meta {
		text-align: center;
	}

	.mini {
		width: 48px;
	}
}