// BUGS

// stupid, stupid IE10

@-ms-viewport {
  width: device-width;
}

// DRAFT

.xc1 { background: @c1; }
.xc2 { background: @c2; }
.xc3 { background: @c3; }
.xc4 { background: @c4; }
.xc5 { background: @c5; }
