@(form : controllers.Slot.html.CreateForm)(implicit request : RequestObject[Slot]#Site[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.labeledFieldConstructor.f)
    }

@defining(request.obj.container) { container =>
@widget.template.crud("Create Session in Container: " + container.name.getOrElse(container.toString)) {
    @widget.panel.form(container.name.getOrElse(container.toString), "Create Session in Container") {
        <div class="col-full">
            @widget.formErrors(form)

            @widget.tag.form(controllers.Slot.routes.html.add(container.volumeId, request.obj.id)) {
                @widget.tag.inputText(form("start"), 'placeholder -> "Start offset")
                @widget.tag.inputText(form("end"), 'placeholder -> "End offset")

                <button type='submit' class="button">Create</button>
            }
        </div>
    }
}
}
