@(form : controllers.Slot.CreateForm)(implicit request : RequestObject[Slot]#Site[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(widget.tag.minimalFieldConstructor.f)
    }

@defining(request.obj.container) { container =>
@widget.template.crud("Create Slot in Container: " + container.toString) {
	@widget.tag.form(routes.Slot.add(container.volumeId, request.obj.id)) {
		@widget.tag.inputText(form("start"), 'placeholder -> "Start offset")
		@widget.tag.inputText(form("end"), 'placeholder -> "End offset")
		<button type='submit' class="big button first">Add</button>
	}
	@widget.formErrors(form)
}
}
