@(slot : Slot, form : controllers.Slot.EditForm, recordForm : controllers.Record.SelectForm)(implicit request : SiteRequest[_])

@import helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.crud("Edit Slot: " + slot.toString) {
    <article>
        <h1>@slot.toString</h1>

	@helper.form(routes.Slot.change(slot.id)) {
		@widget.enumSelect(form("consent"), Consent)
		<button type='submit' class="big button first">Change</button>
	}
	@widget.formErrors(form)

	<h2>Records</h2>
	<ul>
	@slot.records(false).map { record =>
		<li>@display(record):
		@helper.form(routes.Record.slotRemove(slot.id, record.id)) {
			<button type='submit'>remove</button>
		}
		</li>
	}
		<li>
		@helper.form(routes.Record.slotAdd(slot.id)) {
			@helper.select(recordForm("record"), controllers.Record.selectList(slot) :+ ("" -> "Create new record..."))
			<button type='submit'>add</button>
		}
		</li>
	</ul>

    </article>
}
