@(slot : models.Slot, commentForm : controllers.Slot.CommentForm = controllers.Slot.commentForm)(implicit request : SiteRequest[_])

@template.crud("Slot: " + slot.container.name + "-" + slot.id.unId) {
    <article>
        @crud.slotHeader(slot)

	<dl>
	@slot.container.date.map { _ =>
		<dt>Date</dt>
		<dd>@display.date(slot)</dd>
	}
	</dl>

        <h2>Assets</h2>
	@widget.assetList(slot.assets)

        <h2>Records</h2>
        @widget.recordList(slot)

	<ul>
	@slot.tags.map { case TagWeight(tag, weight, up) =>
		<li>@tag.name @weight @up</li>
	}
	</ul>

        <div class="row">
        @region.comments(Some((routes.Slot.comment(slot.volumeId, slot.id), commentForm)), slot.comments(true))
        </div>
    </article>
}
