div.classification 
  margin-left 21px
  text-indent -21px
  width 100%
  input[type="checkbox"]
    margin-bottom 0
  .reminder
    font-style italic
  &.class-RESTRICTED
    padding-left 1
  &.class-SHARED
    padding-left 2
  &.class-PUBLIC
    padding-left 3
