label.classification 
  display block
  margin-left 21px
  text-indent -21px
  width 100%
  input[type="checkbox"]
    margin-bottom 0
  .reminder
    font-style italic
  &.level-1
    padding-left 1
  &.level-2
    padding-left 2
  &.level-3
    padding-left 3
