<div class="asset-display" ng-switch="::asset.pending ? 'pending' : (readable ? asset.format.type : 'noperm')">
  <div class="no-preview" ng-switch-when="pending">
    <span message="asset.display.pending"></span>
  </div>

  <div class="no-preview" ng-switch-when="noperm">
    <span message="asset.display.nopermission"></span>
  </div>

  <div ng-switch-when="image">
    <img ng-src="{{::asset.downloadRoute(true)}}">
  </div>

  <div ng-switch-when="application">
    <object ng-if="::asset.format.mimetype == 'application/pdf'" width="80%" type="application/pdf" ng-attr-data="{{::asset.downloadRoute(true)}}">
      You do not appear to you have a PDF viewer for this browser. Click <a ng-href="{{::asset.downloadRoute(false)}}" target="_self">here</a> to download the file directly
    </object>
    <span ng-if="::asset.format.mimetype != 'application/pdf'" message="asset.display.unavailable">
  </div>

  <div ng-switch-when="video" ng-class="{'no-preview':!asset.duration}">
    <span ng-if="::!asset.duration" message="asset.untranscoded"></span>
    <video controls preload="metadata" seek="clip">
      <source ng-src="{{::asset.downloadRoute(true)}}" type="{{::asset.format.mimetype}}">
    </video>
  </div>

  <div class="no-preview" ng-switch-default>
    <span message="asset.display.unavailable"></span>
  </div>
</div>
