<article class="view help-formats-view">
  <div class="wrap">
    <div class="row">
      <hgroup class="col">
        <h1 class="view-context smaller" message="help.title"></h1>

        <h2 class="view-title smaller" message="help.formats.title"></h2>

        <p message="help.formats.body" message-html></p>
      </hgroup>

      <div class="col">
        <table>
          <col/>
          <col width='32px'/>
          <col/>
          <tbody ng-repeat="(key, group) in groups">
            <tr class="hr hr-big">
              <th colspan="3" message="format.list.{{::key}}"></th>
            </tr>

            <tr class="hr">
              <th message="format.list.extension" class="th-right"></th>
              <th></th>
              <th message="format.list.description"></th>
            </tr>

            <tr ng-repeat="format in group track by format.id">
              <td ng-bind="::format.extension" class="th-right"></td>
              <td><img class="icon" ng-src="/public/images/filetype/16px/{{::format.extension}}.svg"></img></td>
              <td ng-bind="::format.description || format.name"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>

