.download-popup
  position relative
  min-height 100%
  left 0
  right 0
  margin 0 auto
  padding-bottom b1*2
  background-color white
  border b1*1.5 solid green52
  text-align center
  .icon.close
    position absolute   
    right 0
    size b1*2
    margin 0
  .popup-thumb,a.button
    margin b1
    margin-bottom b2
    
.popup-thumb 
  box-shadow box-shadow-def
  
.popup-classification-title
  font-weight bold
  color red
  
.popup-file-info
  ul
    padding 0
  li
    display inline-block
  li:before
    content none
  li:not(:last-of-type)
    margin-right b2
    
.popup-format-icon
  height b1*1.25
  width auto
  margin-right b3
  
.popup-classification
  border-top 1px solid green51
  padding-top b1
  margin-top b2
  
.popup-cite
  p
    text-align center
    font-size b2