@(link : AssetLink)(implicit request : SiteRequest[_])

@fileData(asset : FileAsset) = {
}

@common(link) {

	<p>@link.description</p>

	<dl>
		<dt>Format</dt>
		<dd>@link.asset(request.db).format.name</dd>
	@link.asset(request.db) match {
	case ts : Timeseries => {
		@fileData(ts)
		<dt>Duration</dt>
		<dd>@ts.duration</dd>
	}
	case f : FileAsset => {
		@fileData(f)
	}
	case e : Clip => {
		<dt>Offset</dt>
		<dd>@e.segment.lowerBound.get</dd>
		<dt>Duration</dt>
		<dd>@e.duration</dd>
	}
	}
		<dt>Consent</dt>
		<dd>@link.asset(request.db).consent</dd>
	</dl>

	@if(link.permission >= Permission.EDIT) {
		<a href='@routes.Asset.edit(link.containerId, link.assetId)'>edit</a>
	}

	@if(link.permission >= Permission.DOWNLOAD) {

		@link.asset(request.db).format.mimeSubTypes match {
		case ("image", _) => {
			<img src='@routes.Asset.download(link.containerId, link.assetId, true)'/>
		}
		case ("video", _) => {
			<img src='@routes.Asset.head(link.containerId, link.assetId)' alt='preview'/>
		}
		case ("text", _) => {
			<iframe src='@routes.Asset.download(link.containerId, link.assetId, true)'/>
		}
		case _ => {
		}
		}

		<a href='@routes.Asset.download(link.containerId, link.assetId, false)'>download</a>
	}

	@comments(Some(routes.Comment.postAssetLink(link.containerId, link.assetId)), link.comments()(request.db)) { c => 
		@display(c.who) }
}
