@(container : Container)(implicit request : SiteRequest[_])

<h2>Files</h2>

<table>
	<tr>
		<th>Title</th>
		<th>Format</th>
		<th>Consent</th>
		<th>Date</th>
	</tr>
	@container.assets(request.db).map { link =>
	<tr>
		<td>@display(link)</td>
		@link.asset(request.db) match {
		case asset : FileAsset => {
		<td>@asset.format.name</td>
		<td>@asset.consent</td>
		<td>@asset.date</td>
		}
		case e : Excerpt => {
		}
		}
	</tr>
	}
	@if(container.permission >= Permission.CONTRIBUTE) {
	<tr>
		<td colspan="4"><a href='@routes.Asset.create(container.id)'>Add new file</a></td>
	</tr>
	}
</table>
