@(link : AssetLink)(implicit request : SiteRequest[_])

@fileData(asset : FileAsset) = {
}

@template.crud("Edit Asset: " + link.toString()) {
    <article>
        <h1>@link.toString()</h1>

        <p>@link.description</p>

	@if(link.permission >= Permission.DOWNLOAD) {

		@link.asset(request.db).format.mimeSubTypes match {
		case ("image", _) => {
			<img src='@routes.Asset.download(link.containerId, link.assetId, true)'/>
		}
		case ("video", _) => {
			<img src='@routes.Asset.head(link.containerId, link.assetId)' alt='preview'/>
		}
		case ("text", _) => {
			<iframe src='@routes.Asset.download(link.containerId, link.assetId, true)'/>
		}
		case _ => {
		}
		}

		<a href='@routes.Asset.download(link.containerId, link.assetId, false)'>download</a>
	}

        @region.comments(Some(routes.Comment.postAssetLink(link.containerId, link.assetId)), link.comments()(request.db)) { c =>
            @display(c.who) }
    </article>
}