@(party : Party, authorizeForms : Seq[(Party,Form[Authorize])], authorizeWhich : Option[Boolean], authorizeSearch : Form[String], authorizeResults : Seq[(Party,Form[Authorize])])(implicit request : SiteRequest[_])

@authorizeFields(party : Party, form : Form[Authorize])(implicit fieldConstructor : helper.FieldConstructor) = {
	<td>@display(party)</td>
	@widget.enumSelect(form("access"), Permission)
	@widget.enumSelect(form("delegate"), Permission)
	@helper.inputDate(form("expires"))
}

@authorizeSearchWhich(which : Boolean)(implicit fieldConstructor : helper.FieldConstructor) = {
@if(authorizeWhich.fold(true)(_ == which)) {
	@helper.form(routes.Party.authorizeSearch(party.id, which)) {
	<tr>
		@helper.inputText(authorizeSearch("name"))
		<td/>
		<td/>
		<td/>
		<td>
			<button type='submit'>Search</button>
			@widget.formErrors(authorizeSearch)
		</td>
	</tr>
	}

	@authorizeResults.map { case (other,form) =>
	@helper.form(routes.Party.authorizeAdd(party.id, which, other.id)) {
	<tr>
		@authorizeFields(other, form)
		<td>
			<input type='hidden' name='pending' value='@which'/>
			<button type='submit'>@{if (which) "Request" else "Authorize"}</button>
			@widget.formErrors(form)
		</td>
	</tr>
	}
	}
}
}

<table>
@defining(helper.FieldConstructor(widget.tableFieldConstructor.f)) { implicit fieldConstructor =>

	<tr>
		<th>Name</th>
		<th>Site Access</th>
		<th>Delegated Permissions</th>
		<th>Expiration</th>
		<th>Action</th>
	</tr>

	<tr><th colspan="5"><h3>Memberships</h3></th></tr>

	@party.authorizeParents(true)(request.db).map { t =>
	<tr>
		<td>@display(t.parent)</td>
		<td>@t.access</td>
		<td>@t.delegate</td>
		<td>@t.expires.getOrElse("never")</td>
		<td>@{if(t.authorized.isEmpty) "pending"}</td>
	</tr>
	}

	@authorizeSearchWhich(true)


	<tr><th colspan="5"><h3>Authorizations</h3></th></tr>

	@authorizeForms.map { case (child,form) =>
	@helper.form(routes.Party.authorizeChange(party.id, child.id)) {
	<tr>
		@authorizeFields(child, form)
		<td>
			@defining(form("pending").value == Some("true")) { pending =>
			<button type='submit'>@{if(pending) "Authorize" else "Change"}</button>
			<a href='@routes.Party.authorizeDelete(party.id, child.id)'>@{if(pending) "Deny" else "Revoke"}</a>
			@widget.formErrors(form)
			}
		</td>
	</tr>
	}
	}

	@authorizeSearchWhich(false)

}
</table>
