@(entity : Entity, authorizeForms : Seq[(Entity,Form[Authorize])], authorizeWhich : Option[Boolean], authorizeSearch : Form[String], authorizeResults : Seq[(Entity,Form[Authorize])])

@authorizeFields(entity : Entity, form : Form[Authorize])(implicit fieldConstructor : helper.FieldConstructor) = {
	<td>@displayEntity(entity)</td>
	@helper.select(form("access"), Permission.values.toSeq.map(v => (v.id.toString, v.toString)))
	@helper.select(form("delegate"), Permission.values.toSeq.map(v => (v.id.toString, v.toString)))
	@helper.inputDate(form("expires"))
}

@authorizeSearchWhich(which : Boolean)(implicit fieldConstructor : helper.FieldConstructor) = {
@if(authorizeWhich.fold(true)(_ == which)) {
	@helper.form(routes.Entity.authorizeSearch(entity.id, which)) {
	<tr>
		@helper.inputText(authorizeSearch("name"))
		<td/>
		<td/>
		<td/>
		<td>
			<button type='submit'>Search</button>
			@formErrors(authorizeSearch)
		</td>
	</tr>
	}

	@authorizeResults.map { case (other,form) =>
	@helper.form(routes.Entity.authorizeAdd(entity.id, which, other.id)) {
	<tr>
		@authorizeFields(other, form)
		<td>
			<input type='hidden' name='pending' value='@which'/>
			<button type='submit'>@{if (which) "Request" else "Authorize"}</button>
			@formErrors(form)
		</td>
	</tr>
	}
	}
}
}

<table>
@defining(helper.FieldConstructor(tableFieldConstructor.f)) { implicit fieldConstructor =>

	<tr>
		<th>Name</th>
		<th>Site Access</th>
		<th>Delegated Permissions</th>
		<th>Expiration</th>
		<th>Action</th>
	</tr>

	<tr><th colspan="5"><h3>Memberships</h3></th></tr>

	@entity.authorizeParents(true).map { t =>
	<tr>
		<td>@displayEntity(t.parentEntity)</td>
		<td>@t.access</td>
		<td>@t.delegate</td>
		<td>@t.expires.getOrElse("never")</td>
		<td>@{if(t.authorized.isEmpty) "pending"}</td>
	</tr>
	}

	@authorizeSearchWhich(true)


	<tr><th colspan="5"><h3>Authorizations</h3></th></tr>

	@authorizeForms.map { case (child,form) =>
	@helper.form(routes.Entity.authorizeChange(entity.id, child.id)) {
	<tr>
		@authorizeFields(child, form)
		<td>
			@defining(form("pending").value == Some("true")) { pending =>
			<button type='submit'>@{if(pending) "Authorize" else "Change"}</button>
			<a href='@routes.Entity.authorizeDelete(entity.id, child.id)'>@{if(pending) "Deny" else "Revoke"}</a>
			@formErrors(form)
			}
		</td>
	</tr>
	}
	}

	@authorizeSearchWhich(false)

}
</table>
