@(entity : Entity, delegated : Permission.Value)(implicit request : SiteRequest[_])

@common(entity) {

	@if(delegated >= Permission.ADMIN) {
		<a href='@routes.Entity.admin(entity.id)'>admin</a>
	}

	<dl>

	@* This information is limited to VIEW(?) *@
	@if(request.identity.access(request.db) >= Permission.VIEW) {

	@dbrary.cast[Account](entity).map { a =>
		<dt>username</dt>
		<dd>@a.username</dd>
		<dt>email</dt>
		<dd>@a.email</dd>
		@a.orcid.map { o =>
		<dt>ORCID iD</dt>
		<dd><a href="@o.uri">@o.toString</a></dd>
		}
	}

		<dt>Memberships</dt>
		@entity.authorizeParents()(request.db).map { t => 
			<dd>@display(t.parent)</dd>
		}
		<dt>Members</dt>
		@entity.authorizeChildren()(request.db).map { t => 
			<dd>@display(t.child)</dd>
		}

	}

		<dt>Studies</dt>
		@if(delegated >= Permission.CONTRIBUTE) {
			<dd>@helper.form(routes.Study.create(Some(entity.id))) {
				<button type='submit'>Create new study</button>
			}</dd>
		}
		@entity.studyAccess(Permission.CONTRIBUTE).map { a =>
			<dd>@display(a.study)</dd>
		}


	</dl>

	@comments(None, entity.getComments) { c =>
		@display.path(c.target)
	}
}
