@(acct : Option[Account], entity : Entity)

@common(acct, entity.name) {
	<h1>@entity.name</h1>

	@* This information is limited to BROWSE(?) *@
	@acct.filter(a => Trust.check(a.id) >= SitePermission.BROWSE).map { acct =>

	@if(Trust.check(acct.id, entity.id) >= UserPermission.ADMIN) {
		<a href='@routes.Entity.admin(entity.id)'>admin</a>
	}

	<dl>
	@entity.account.map { a =>
		<dt>username</dt>
		<dd>@a.username</dd>
		<dt>email</dt>
		<dd>@a.email</dd>
	}

		<dt>Memberships</dt>
		@entity.trustParents.map { t => 
			<dd>@displayEntity(t.parentEntity)</dd>
		}
		<dt>Members</dt>
		@entity.trustChildren.map { t => 
			<dd>@displayEntity(t.childEntity)</dd>
		}
	</dl>

	}
}
