@(acct : Account, entity : Entity, accountForm : Option[Form[(String, String)]], trustForms : Seq[(Entity,Form[Trust])], trustSearch : Form[String], trustResults : Seq[(Entity,Form[Trust])])

@tableField(elements : helper.FieldElements) = {
	<td class="@elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
		@elements.input
		@elements.errors(elements.lang).map { error =>
			<p class="error">@error</p>
		}
	</td>
}

@trustFields(entity : Entity, form : Form[Trust]) = {
@defining(helper.FieldConstructor(tableField)) { implicit fieldConstructor =>
	<td>@displayEntity(entity)</td>
	@helper.select(form("access"), SitePermission.values.toSeq.map(v => (v.id.toString, v.toString)))
	@helper.select(form("delegate"), UserPermission.values.toSeq.map(v => (v.id.toString, v.toString)))
	@helper.inputDate(form("expires"))
}
}

@common(Some(acct), "admin: " + entity.name) {
	<h1>@displayEntity(entity)</h1>

	@accountForm.map { form =>
	<h2>Account</h2>
	@helper.form(routes.Entity.change(entity.id)) {
		@helper.inputText(form("email"))
		@helper.inputText(form("openid"))
		<button type='submit'>Change</button>
	}
	@formErrors(form)
	}

	<h2>Authorizations</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Site Access</th>
			<th>Delegated Permissions</th>
			<th>Expiration</th>
			<th>Action</th>
		</tr>

		@defining(helper.FieldConstructor(tableField)) { implicit fieldConstructor =>

		<tr><th colspan="5"><h3>Memberships</h3></th></tr>
		@entity.trustParents.map { t =>
		<tr>
			<td>@displayEntity(t.parentEntity)</td>
			<td>@t.access</td>
			<td>@t.delegate</td>
			<td>@t.expires.getOrElse("never")</td>
		</tr>
		}

		<tr><th colspan="5"><h3>Authorizations</h3></th></tr>

		@trustForms.map { case (child,form) =>
		@helper.form(routes.Entity.trustChange(entity.id, child.id)) {
		<tr>
			@trustFields(child, form)
			<td>
				<button type='submit'>Change</button>
				<a href='@routes.Entity.trustDelete(entity.id, child.id)'>Remove</a>
				@formErrors(form)
			</td>
		</tr>
		}
		}

		@helper.form(routes.Entity.trustSearch(entity.id)) {
		<tr>
			@helper.inputText(trustSearch("name"))
			<td/>
			<td/>
			<td/>
			<td>
				<button type='submit'>Search</button>
				@formErrors(trustSearch)
			</td>
		</tr>
		}

		@trustResults.map { case (child,form) =>
		@helper.form(routes.Entity.trustAdd(entity.id, child.id)) {
		<tr>
			@trustFields(child, form)
			<td>
				<button type='submit'>Authorize</button>
				@formErrors(form)
			</td>
		</tr>
		}
		}

		}
	</table>
}
