@(entity : Identity, entityForm : controllers.Entity.EntityForm, accountForm : Option[controllers.Entity.AccountForm], authorizeForms : Seq[(Identity,Form[Authorize])], authorizeWhich : Option[Boolean], authorizeSearch : Form[String], authorizeResults : Seq[(Identity,Form[Authorize])])(implicit request : UserRequest[_])


@common(entity, "admin") {

	@helper.form(routes.Entity.change(entity.id)) {
		@helper.inputText(entityForm("name"))
		@helper.inputText(entityForm("orcid"))
		<button type='submit'>Change</button>
	}
	@formErrors(entityForm)

	@accountForm.map { form =>
	<h2>Account</h2>
	@helper.form(routes.Entity.changeAccount(entity.id)) {
		@helper.inputText(form("email"))
		@helper.inputText(form("openid"))
		<button type='submit'>Change</button>
	}
	@formErrors(form)
	}

	<h2>Authorizations</h2>
	@authorizeAdmin(entity, authorizeForms, authorizeWhich, authorizeSearch, authorizeResults)
}
