@(entity : Entity, form : controllers.Entity.EditForm, authorizeForms : Seq[(Entity,Form[Authorize])], authorizeWhich : Option[Boolean], authorizeSearch : Form[String], authorizeResults : Seq[(Entity,Form[Authorize])])(implicit request : UserRequest[_])


@common(entity, "admin") {

	@helper.form(routes.Entity.change(entity.id)) {
		@helper.inputText(form("name"))
		@helper.inputText(form("orcid"))
		@if(controllers.Entity.formForAccount(form)) {
			@helper.inputText(form("email"))
			@helper.inputText(form("openid"))
			@helper.select(form("timezone"), ("", "default") +: java.util.TimeZone.getAvailableIDs.sorted.map(tz => (tz, tz.replaceAllLiterally("/", ": ").replaceAllLiterally("_", " "))))
		}
		<button type='submit'>Change</button>
	}
	@formErrors(form)

	<h2>Authorizations</h2>
	@authorizeAdmin(entity, authorizeForms, authorizeWhich, authorizeSearch, authorizeResults)
}
