@()
<footer id="site-footer" class="site-footer">
  <div class="wrap">
    <div class="row">
      <div class="site-footer-links col-desktop-8 col-tablet-5 col-mobile-6">
        <p>Stay informed with <a href="http://databrary.org/contact/newsletter.html">our newsletter</a>!</p>
      </div>

      <div class="site-footer-social col-desktop-7 col-tablet-4 col-mobile-6">
        <p>Find us on <a href="https://www.linkedin.com/company/databrary-project" target="_blank" class="img"><img id="linkedin" src="/public/images/social/16px/linkedin.png"></a>, <a href="https://www.facebook.com/databrary" target="_blank" class="img"><img id="facebook" src="/public/images/social/16px/facebook.png" alt="Facebook"></a>, <a href="https://plus.google.com/u/1/111083162045777800330/posts" target="_blank" class="img"><img id="google-plus" src="/public/images/social/16px/google-plus.png" alt="Google+"></a>, <a href="https://twitter.com/databrary" target="_blank" class="img"><img id="twitter" src="/public/images/social/16px/twitter.png" alt="Twitter"></a>, and <a href="https://github.com/databrary/" target="_blank" class="img"><img id="github" src="/public/images/social/16px/github.png" alt="GitHub"></a>.</p>
      </div>

      <div class="site-footer-legal col">
        <p>This service is based on work supported by the National Science Foundation under Grant No. BCS-1238599 and the Eunice Kennedy Shriver National Institute of Child Health and Human Development under Cooperative Agreement U01-HD-076595. Any opinions, findings, and conclusions or recommendations expressed in the material contributed here are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or the Eunice Kennedy Shriver National Institute of Child Health and Human Development.</p>
        <p>Each dataset on Databrary represents an individual work owned by the party who contributed it. Data on Databrary is provided for non-commercial use and is subject to the terms of use outlined in the <a href="http://databrary.org/access/policies/agreement.html" target="_blank">Databrary Access Agreement</a>.</p>
        <p><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Databrary.org documentation</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
        <p>[@site.Site.version]</p>
        <ul class="site-footer-grants">
          <li><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&HistoricalAwards=false"> <img src="/public/images/grants/nsf.png" class="nsf"> BCS-1238599</a></li>
          <li><a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&icde=15908155&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC"> <img src="/public/images/grants/nih.png" class="nih"> U01-HD-076595</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
