@(acct : Account, accountForm : Form[(String, String)], authorizeForms : Seq[Form[Trust]])

@tableField(elements: helper.FieldElements) = {
	<td class="@elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
		@elements.input
		@elements.errors(elements.lang).map { error =>
			<p class="error">@error</p>
		}
	</td>
}

<!DOCTYPE html>
<html>
	<body>
		<h1>Welcome, @acct.username</h1>
		<a href="@routes.Application.logout">logout</a>

		<h2>Account</h2>
		@helper.form(routes.Application.postAccount) {
			@helper.inputText(accountForm("email"))
			@helper.inputText(accountForm("openid"))
			<button type='submit'>Change</button>
		}
		@accountForm.globalErrors.map { error =>
		<p class="error">
			@error.message
		</p>
		}

		<h2>My memberships</h2>
		<div>
			<table>
				<tr>
					<th>Name</th>
					<th>Site Access</th>
					<th>Delegated Permissions</th>
					<th>Expiration</th>
				</tr>
				@Trust.getParents(acct.id).map { t =>
				<tr>
					<td>@t.parentEntity.name</td>
					<td>@t.access</td>
					<td>@t.delegate</td>
					<td>@t.expires.getOrElse("never")</td>
				</tr>
				}
			</table>
		</div>

		<h2>My authorizations</h2>
		<div>
			<table>
				<tr>
					<th>Name</th>
					<th>Site Access</th>
					<th>Delegated Permissions</th>
					<th>Expiration</th>
					<th>Action</th>
				</tr>
				@defining(helper.FieldConstructor(tableField)) { implicit fieldConstructor =>
				@authorizeForms.map { form =>
				@helper.form(routes.Application.postAuthorize) {
				<tr>
					<td>@form("name").value</td>
					@helper.select(form("access"), SitePermission.values.toSeq.map(v => (v.id.toString, v.toString)))
					@helper.select(form("delegate"), UserPermission.values.toSeq.map(v => (v.id.toString, v.toString)))
					@helper.inputDate(form("expires"))
					<td>
					<input type='hidden' name='child' value='@form("child").value'/>
					<button type='submit'>Change</button>
					@form.errors.map { error =>
					<p class="error">
						@error.message
					</p>
					}
					</td>
				</tr>
				}
				}
				}
			</table>
		</div>
	</body>
</html>
