@(form : Login.LoginForm)

@import helper.FieldConstructor
    @implicitField = @{
        FieldConstructor(tag.minimalFieldConstructor.f)
    }

@template.raw("Login") {
    <article class="form row">
        <div class="column_center">
            <h1>Enter Databrary</h1>

            @helper.form(routes.Login.post) {
                @widget.formErrors(form)

                @helper.inputText(form("email"), 'placeholder -> "Email", '_class -> "big")
				@helper.inputPassword(form("password"), 'placeholder -> "Password", '_class -> "big")
                @helper.inputText(form("openid"), 'placeholder -> "OpenID", '_class -> "big")

                <button type="submit" class="big button first">Login</button>

            }
        </div>
    </article>
}