@(link : ObjectLink)(implicit request : SiteRequest[_])

@fileData(obj : FileObject) = {
	<dt>Format</dt>
	<dd>@obj.format.name</dd>
	<dt>Consent</dt>
	<dd>@obj.consent</dd>
	@obj.date.map { date =>
	<dt>Date</dt>
	<dd>@date</dd>
	}
}

@common(link) {

	<p>@link.description</p>

	<dl>
	@link.obj(request.db) match {
	case obj : TimeseriesObject => {
		@fileData(obj)
		<dt>Duration</dt>
		<dd>@obj.duration</dd>
	}
	case obj : FileObject => {
		@fileData(obj)
	}
	case e : Excerpt => {
		<dt>Source</dt>
		<dd>??? need study reference!!!</dd>
		<dt>Offset</dt>
		<dd>@e.offset</dd>
	@e.duration.map { duration =>
		<dt>Duration</dt>
		<dd>@duration</dd>
	}
	}
	}
	</dl>

	@if(link.permission >= Permission.EDIT) {
		<a href='@routes.Object.edit(link.containerId, link.objId)'>edit</a>
	}

	@if(link.permission >= Permission.DOWNLOAD) {

		@link.obj(request.db).format.mimeSubTypes match {
		case ("image", _) => {
			<img src='@routes.Object.download(link.containerId, link.objId, true)'/>
		}
		case ("video", _) => {
			<img src='@routes.Object.head(link.containerId, link.objId)' alt='preview'/>
		}
		case ("text", _) => {
			<iframe src='@routes.Object.download(link.containerId, link.objId, true)'/>
		}
		case _ => {
		}
		}

		<a href='@routes.Object.download(link.containerId, link.objId, false)'>download</a>
	}

	@comments(Some(routes.Comment.postObjectLink(link.containerId, link.objId)), link.comments()(request.db)) { c => 
		@display(c.who)) }
}
