@(link : ObjectLink, linkForm : controllers.Object.LinkForm, fileForm : Option[controllers.Object.FileForm])(implicit request : SiteRequest[_])

@common(link, "edit") {

	@helper.form(routes.Object.change(link.containerId, link.objId)) {
		@helper.inputText(linkForm("title"))
		@helper.textarea(linkForm("description"))
		@fileForm.map { fileForm =>
		@enumSelect(fileForm("consent"), Consent)
		@helper.inputDate(fileForm("date"))
		}
		<button type='submit'>Change</button>
	}
	@formErrors(linkForm)
	@fileForm.map(formErrors(_))
}
