@(link : ObjectLink, form : controllers.Object.EditForm)(implicit request : SiteRequest[_])

@common(link, "edit") {

	@helper.form(routes.Object.change(link.containerId, link.objId)) {
		@helper.inputText(form("title"))
		@helper.textarea(form("description"), 'cols -> 80, 'rows -> 4)

		@link.obj(request.db) match {
		case obj : FileObject => {
		@if(obj.ownerId.fold(false)(_ == link.container.studyId)) {
			@enumSelect(form("consent"), Consent)
			@helper.inputDate(form("date"))
		}
		}
		case e : Excerpt => {
		}
		}
		<button type='submit'>Change</button>
	}
	@formErrors(form)
}
