@(slot : Slot)(implicit request : SiteRequest[_])

@common(slot) {

	@if(slot.permission >= Permission.EDIT) {
		<a href='@routes.Slot.edit(slot.id)'>edit</a>
	}

	@objectList(slot)

	<h2>Comments</h2>
	@if(request.access >= Permission.COMMENT) {
	@helper.form(routes.Comment.postSlot(slot.id)) {
		@helper.inputText(controllers.Comment.form("text"))
		<button type='submit'>Post</button>
	}
	}
	<dl>
	@slot.comments(false)(request.db).map { c =>
		<dt>@displayPage(c.who(request.db))
		@c.obj.map { o =>
			&gt; @displayPage(o)
		} @c.when</dt>
		<dd>@c.text</dd>
	}
	</dl>
}
