@(study : Study, accessForms : Seq[(Party,controllers.Study.AccessForm)], accessSearch : Form[String], accessResults : Seq[(Party,controllers.Study.AccessForm)])(implicit request : SiteRequest[_])

@accessFields(party : Party, form : Form[StudyAccess])(implicit fieldConstructor : helper.FieldConstructor) = {
	<td>@display(party)</td>
	@widget.enumSelect(form("access"), Permission)
	@helper.select(form("inherit"), Permission.values.to(if (party.id.unId > 0) Permission.EDIT else Permission.DOWNLOAD).toSeq.map(v => (v.id.toString, v.toString)))
}

@template.crud("Edit Study Permissions: " + study.title) {
    <article>
        <h1>@Path(study).toHtml</h1>

	<table>
	@defining(helper.FieldConstructor(widget.tableFieldConstructor.f)) { implicit fieldConstructor =>
		<tr>
			<th>Name</th>
			<th>Individual</th>
			<th>Group</th>
			<th>Action</th>
		</tr>

		@accessForms.map { case (party,form) =>
		@helper.form(routes.Study.accessChange(study.id, party.id)) {
		<tr>
			@accessFields(party, form)
			<td>
				<button type='submit'>Change</button>
				@if(party.id != request.identity.id) {
				<a href='@routes.Study.accessDelete(study.id, party.id)'>Revoke</a>
				}
				@widget.formErrors(form)
			</td>
		</tr>
		}
		}

		@helper.form(routes.Study.accessSearch(study.id)) {
		<tr>
			@helper.inputText(accessSearch("name"))
			<td/>
			<td/>
			<td>
				<button type='submit'>Search</button>
				@widget.formErrors(accessSearch)
			</td>
		</tr>
		}

		@accessResults.map { case (party,form) =>
		@helper.form(routes.Study.accessAdd(study.id, party.id)) {
		<tr>
			@accessFields(party, form)
			<td>
				<button type='submit'>Add</button>
				@widget.formErrors(form)
			</td>
		</tr>
		}
		}
	}
	</table>
	</article>
}
