@(study : Study)(implicit request : SiteRequest[_])

@common(study) {

	<ul>
	@study.entityAccess(Permission.CONTRIBUTE)(request.db).map { a => 
		<li>@displayPage(a.entity(request.db))</li>
	}
	</ul>

	<p>@study.description</p>

	@if(study.permission >= Permission.EDIT) {
		<a href='@routes.Study.edit(study.id)'>edit</a>
	}

	@objectList(study)

	<h2>Slots</h2>

	<ul>
	@study.slots(request.db).map { slot => 
		<li>@displayPage(slot)</li>
	}
	@if(study.permission >= Permission.CONTRIBUTE) {
		<li>@helper.form(routes.Slot.create(study.id)) {
			<button type='submit'>Add new slot</button>
		}</li>
	}
	</ul>

	<h2>Comments</h2>
	@if(request.access >= Permission.COMMENT) {
	@helper.form(routes.Comment.postStudy(study.id)) {
		@helper.inputText(controllers.Comment.form("text"))
		<button type='submit'>Post</button>
	}
	}
	<dl>
	@study.comments(false)(request.db).map { c =>
		<dt>@displayPage(c.who(request.db))
			@if(c.containerId != study.id) {
				&gt; @displayPage(c.container)
			}
			@c.obj.map { o =>
				&gt; @displayPage(o)
			}
			@c.when</dt>
		<dd>@c.text</dd>
	}
	</dl>
}
