@(study : Study)(implicit request : SiteRequest[_])

@common(study.title) {
	<h1>@study.title</h1>

	<ul>
	@study.entityAccess(Permission.CONTRIBUTE)(request.db).map { a => 
		<li>@displayEntity(a.entity(request.db))</li>
	}
	</ul>

	<p>@study.description</p>

	@if(study.permission >= Permission.EDIT) {
		<a href='@routes.Study.edit(study.id)'>edit</a>
	}

	@objectList(study.objects(request.db))

	<h2>Comments</h2>
	@if(request.access >= Permission.VIEW) {
	@helper.form(routes.Comment.postStudy(study.id)) {
		@helper.inputText(controllers.Comment.form("text"))
		<button type='submit'>Post</button>
	}
	}
	<dl>
	@study.comments(false)(request.db).map { c =>
		<dt>@displayEntity(c.who(request.db))@c.obj.map { o =>
			&gt; @displayObject(o)
		} @c.when</dt>
		<dd>@c.text</dd>
	}
	</dl>
}
