@(obj : ObjectLink)(implicit request : SiteRequest[_])

@common(obj.study.title + ": " + obj.title) {
	<h1><a href='@routes.Study.view(obj.studyId)'>@obj.study.title</a> &gt; @obj.title</h1>

	<p>@obj.description</p>

	<dl>
		<dt>Format</dt>
		<dd>@obj.obj.format.name</dd>
		<dt>Consent</dt>
		<dd>@obj.obj.consent</dd>
		@obj.obj.date.map { date =>
		<dt>Date</dt>
		<dd>@date</dd>
		}
	</dl>

	@if(obj.permission >= Permission.EDIT) {
		<a href='@routes.Object.edit(obj.studyId, obj.obj.id)'>edit</a>
	}

	<h2>Comments</h2>
	@if(request.access >= Permission.VIEW) {
	@helper.form(routes.Comment.postStudyObject(obj.studyId, obj.objId)) {
		@helper.inputText(controllers.Comment.form("text"))
		<button type='submit'>Post</button>
	}
	}
	<dl>
	@obj.comments(request.db).map { c =>
		<dt>@displayEntity(c.who(request.db)) @c.when</dt>
		<dd>@c.text</dd>
	}
	</dl>
}
