@(asset: SlotAsset)(implicit request : SiteRequest[_])

@widget.frame.raw("asset", "")("Metadata", foldable = true) {
    <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
        <div class="metadata">
            <dl class="flat">
                <dt>Format</dt>
                <dd>@asset.format.name</dd>

                @if(asset.position.nonEmpty) {
                    <dt>Position</dt>
                    <dd>@asset.position</dd>
                }

		@cast[SlotTimeseries](asset).map { ts =>
                    <dt>Duration</dt>
                    <dd>@ts.duration</dd>
                }
            </dl>
        </div>
    </div>
}
