@(volume: Volume, access : Seq[VolumeAccess])(implicit request : SiteRequest[_])

@widget.frame.raw("citation", "")("Citation") {
    <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
        <p>
        @access.takeWhile(_.access >= Permission.ADMIN).map(a => display.citeName(a.party.name) + ", ")
        @display.dateFmtY.print(volume.creation).
        @volume.name.
        <em>Databrary</em>.
        Retrieved @display.dateFmtCite.print(new dbrary.Date) from <a href="@volume.pageURL.absoluteURL(true)" title="@volume.name on Databrary.org">http://databrary.org/volume/@volume.id</a>.
        </p>
    </div>
}
