@(party: Party)(implicit request : SiteRequest[_])

@if(party.account.nonEmpty) {
    @defining(party.account.get) { account =>
    @widget.frame.raw("contact", "")("Contact", foldable = true) {
        <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
            <div class="metadata">
                <dl class="flat">
                    @if(request.access >= Permission.VIEW) {
                        @if(account.email != "") {
                            <dt>Email</dt>
                            <dd><a href="mailto:@account.email" title="Email @party.name">@account.email</a></dd>
                        }
                    }

                    @party.orcid.map { o =>
                        <dt>ORCiD</dt>
                        <dd><a href="@o.uri" title="@party.name on ORCID">@o.toString</a></dd>
                    }
                </dl>
            </div>
        </div>
    }
    }
}
