@(slot: AbstractSlot)(implicit request : SiteRequest[_])

@widget.frame.raw("slot", "")("Metadata", foldable = true) {
    <div class="col-desktop-8 col-laptop-8 col-tablet-6 col-mobile-6">
        <div class="metadata">
            <dl class="flat">
                @slot.container.date.map { _ =>
                    <dt>Data collected</dt>
                    <dd><time>@display.date(slot)</time></dd>
                }

                @if(slot.getConsent != Consent.NONE) {
                    <dt>Release level</dt>
                    <dd>@Consent.description(slot.getConsent)</dd>
                }
            </dl>
        </div>
    </div>
}
