<form name="accessSearchForm" novalidate>
  <validator class="auth-search" form="accessSearchForm" name="name">
  <input type="search" name="name" placeholder="{{accessSearchForm.placeholderText}}" ng-model="accessSearchForm.nameVal" ng-change="accessSearchForm.search()">
  </validator>

  <ul ng-if="accessSearchForm.found" class="flat auth-found-list">
    <li ng-repeat="found in accessSearchForm.found">
      <a href="" class="auth-found" ng-click="accessSearchForm.select(found)">{{found.name}}</a>
    </li>

    <li>
      <a href="" class="auth-found" ng-click="accessSearchForm.notFound()">{{"access.notfound" | message}}</a>
    </li>
  </ul>
</form>
