// styles

.auth-search-form
	.validator-input
		margin-top f3

.auth-search-founds
	margin-left f2
	margin-right 1.5
	padding 0

.auth-search-found
	margin-bottom f8

	&:last-child
		margin-bottom 0

	a
		border-left 1px solid gray
		border-right 1px solid gray
		border-bottom 1px solid gray
		border-top 1px solid pale
		display block
		padding f4 f2

		&:hover
			background-color yellow51
			color blue21