<ng-form name="authGrantForm" class="auth-grant-form" bindonce>
  <fieldset class="radio-set">
    <legend ng-bind="'auth.site' | possessive:party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="canGrantSite(val)">
      <input type="radio" ng-model="authGrantForm.data.site" name="auth-{{auth.party.id}}-site" ng-value="val" ng-selected="val == authGrantForm.data.site">
      <label class="option">
	<strong bo-text="'auth.site.'+name+'.title' | message"></strong>: 
	{{'auth.site.'+name | possessive:party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="radio-set">
    <legend ng-bind="'auth.member' | possessive:party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="canGrantMember(val)">
      <input type="radio" ng-model="authGrantForm.data.member" name="auth-{{auth.party.id}}-member" ng-value="val" ng-selected="val == authGrantForm.data.member">
      <label class="option">
	<strong bo-text="'auth.member.'+name+'.title' | message"></strong>: 
	{{'auth.member.'+name | possessive:party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="clean">
    <validator form="authGrantForm" name="expires" label="'auth.expiration' | message">
      <input type="date" ng-model="authGrantForm.data.expires" name="expires" class="half" date-model date-min="now" date-max="2 years">
    </validator>
    <button ng-click="authGrantForm.deny()" class="red" bo-text="'remove' | message"></button>
  </fieldset>

</form>
