<form name="authGrantForm" class="auth-grant-form" novalidate bindonce>
  <messages form="authGrantForm"></messages>

  <fieldset class="radio-set">
    <legend ng-bind="'auth.site' | possessive:authGrantForm.party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="canGrantSite(val)">
      <input type="radio" ng-model="authGrantForm.other.site" name="site" ng-value="val" ng-selected="val == authGrantForm.other.site">
      <label class="option">
	<strong bo-text="'auth.site.'+name+'.title' | message"></strong>: 
	{{'auth.site.'+name | possessive:authGrantForm.party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="radio-set">
    <legend ng-bind="'auth.member' | possessive:authGrantForm.party"></legend>

    <div ng-repeat="(val, name) in page.constants.permission" ng-if="canGrantMember(val)">
      <input type="radio" ng-model="authGrantForm.other.member" name="member" ng-value="val" ng-selected="val == authGrantForm.other.member">
      <label class="option">
	<strong bo-text="'auth.member.'+name+'.title' | message"></strong>: 
	{{'auth.member.'+name | possessive:authGrantForm.party}}
      </label>
    </div>
  </fieldset>

  <fieldset class="clean">
    <validator form="authGrantForm" name="expires" label="'auth.expiration' | message">
      <input type="date" ng-model="authGrantForm.other.expires" name="expires" class="half" ng-blur="authGrantForm.transformExpiration()" date-model date-min="now" date-max="2 years">
    </validator>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="authGrantForm.save()" class="green" bo-text="'save' | message" ng-disabled="authGrantForm.$pristine || authGrantForm.$invalid"></button>
    <button ng-click="authGrantForm.reset()" class="yellow" bo-text="'revert' | message" ng-disabled="authGrantForm.$pristine"></button>
    <button ng-click="authGrantForm.deny()" class="red" bo-text="'remove' | message"></button>
  </fieldset>
</form>
