<ng-form name="authApplyForm" class="auth-apply-form" bindonce>
  <fieldset class="clean" ng-if="!authApplyForm.notFound.query">
    <legend ng-bind="'auth.request.title' | message:auth.party.name"></legend>

    <div ng-if="auth.party.institution">
      <div bo-text="'auth.info.prompt' | message"></div>

      <validator name="info" label="'auth.request.info.title' | message">
        <textarea id="field-guess" name="info" ng-model="authApplyForm.notFound.info"></textarea>
      </validator>
    </div>
  </fieldset>

  <fieldset class="clean" ng-if="authApplyForm.notFound.query">
    <legend bo-text="'auth.request.notfound.title' | message"></legend>

    <div bo-html="'auth.request.notfound.instructions' | message"></div>

    <validator name="info" label="'auth.request.info.title' | message">
      <textarea id="field-info" name="info" ng-model="authApplyForm.notFound.info"></textarea>
    </validator>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="authApplyForm.save()" class="green" bo-text="'auth.request' | message"></button>
    <button ng-click="authApplyForm.cancel()" class="yellow" bo-text="'cancel' | message"></button>
  </fieldset>
</form>

