<form name="commentReplyForm" class="comment-reply-form" novalidate novalidate>
  <div class="row" ng-if="page.models.Login.isAuthorized()">
    <div class="col-desktop-6 col-laptop-6 col-tablet-6 col-mobile-6">
      <footer class="panel-comments-meta" ng-init="party = page.models.Login.user">
        <portrait extra="'comments.prompt' | message"></portrait>
      </footer>

      <div class="panel-comments-body">
        <messages form="commentReplyForm"></messages>

        <validator form="commentReplyForm" name="text" label="'comments.text.title' | message">
          <textarea name="text" ng-model="commentReplyForm.data.text" ng-minlength="3"></textarea>
        </validator>

        <button type="submit" class="green" ng-click="commentReplyForm.save()" ng-disabled="!commentReplyForm.ready()">
          {{'comments.post' | message}}
        </button>
        <button class="yellow" ng-click="commentReplyForm.cancel()" ng-if="commentReplyForm.target">
          {{'comments.cancel' | message}}
        </button>
      </div>
    </div>
  </div>
</form>
