<ng-form name="fundingSearchForm" bindonce>
  <validator class="auth-search" form="fundingSearchForm" name="name">
    <input type="search" name="name" ng-model="fundingSearchForm.nameVal" ng-change="fundingSearchForm.search()" placeholder="{{'funding.search.placeholder' | message}}">
  </validator>

  <ul ng-if="fundingSearchForm.nameVal" class="flat auth-found-list">
    <li ng-repeat="found in fundingSearchForm.found">
      <a href="" class="auth-found" ng-click="fundingSearchForm.select(found)" bo-text="found.name"></a>
    </li>

    <li ng-if="!all">
      <a href="" class="auth-found" ng-click="fundingSearchForm.notFound()" bo-text="'funding.search.more' | message"></a>
    </li>
  </ul>
</form>
