<form name="fundingGrantForm" bindonce novalidate>
  <messages form="fundingGrantForm"></messages>

  <fieldset class="clean">
    <label bo-text="'funding.awards' | message"></label>

    <div ng-repeat="award in fundingGrantForm.awards">
      <validator form="fundingGrantForm" name="funding.awards[{{$index}}]">
        <input type="text" name="funding.awards[{{$index}}]" ng-model="award.val" placeholder="{{'funding.awards.placeholder' | message}}">
        <button ng-click="fundingGrantForm.removeAward(award)" bo-text="'remove' | message" class="red mini pull"></button>
      </validator>
    </div>
    <button ng-click="fundingGrantForm.addAward()" bo-text="'funding.awards.add' | message" class="orange mini add_f2"></button>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="fundingGrantForm.remove()" class="red" bo-text="'access.remove' | message"></button>
  </fieldset>
</form>
