<form name="fundingGrantForm" bindonce novalidate>
  <fieldset class="clean">
    <fieldset class="clean">
      <div class="agency-heading-no-hover">
	<span bo-text="funder.funder.name"></span>
      </div>
    </fieldset>
    <label bo-text="'funding.awards' | message"></label>

    <div ng-repeat="award in fundingGrantForm.awards">
      <validator form="fundingGrantForm" name="funding.awards[{{$index}}]">
        <input type="text" name="funding.awards[{{$index}}]" ng-model="award.val" placeholder="{{'funding.awards.placeholder' | message}}">
        <button ng-click="fundingGrantForm.removeAward(award)" bo-text="'remove' | message" class="red mini pull"></button>
      </validator>
    </div>
    <button ng-click="fundingGrantForm.addAward()" ng-disabled="!fundingGrantForm.awards[fundingGrantForm.awards.length-1].val"  bo-text="'funding.awards.add' | message" class="neutral mini add_f2"></button>
  </fieldset>

</form>
