<ng-form name="fundingGrantForm" bindonce>
  <fieldset class="clean">
    <fieldset class="clean">
      <div class="agency-heading-no-hover">
	<span bo-text="funding.funder.name"></span>
      </div>
    </fieldset>
    <label bo-text="'funding.awards' | message"></label>

    <div ng-repeat="award in fundingGrantForm.data.awards track by $index">
      <validator name="funding.awards[{{$index}}]">
        <input type="text" name="funding.awards[{{$index}}]" ng-model="fundingGrantForm.data.awards[$index]" placeholder="{{'funding.awards.placeholder' | message}}">
        <button ng-click="fundingGrantForm.removeAward($index)" bo-text="'remove' | message" class="red mini pull"></button>
      </validator>
    </div>
    <button ng-click="fundingGrantForm.addAward()" ng-disabled="!fundingGrantForm.addAwardEnabled()"  bo-text="'funding.awards.add' | message" class="neutral mini add_f2"></button>
  </fieldset>

</form>
