<ng-form name="partyEditProfileForm" bindonce>
  <fieldset class="clean pep-float">
    <div class="pep-float-floater">
      <button ng-click="partyEditProfileForm.save()" bo-text="'save' | message" class="green" ng-disabled="!(partyEditProfileForm.$dirty && partyEditProfileForm.$valid)"></button>
      <button ng-click="partyEditProfileForm.resetAll()" bo-text="'revert' | message" class="red" ng-disabled="!partyEditProfileForm.$dirty"></button>
    </div>
  </fieldset>
  <fieldset>
    <legend bo-text="'party.edit.personal' | message"></legend>
    <validator name="name" label="'party.edit.name.title' | message">
      <input type="text" name="name" ng-model="partyEditProfileForm.data.name">
    </validator>

    <validator name="affiliation" label="'party.edit.affiliation.title' | message">
      <input type="text" name="affiliation" ng-model="partyEditProfileForm.data.affiliation">
    </validator>

    <validator name="orcid" label="'party.edit.orcid.title' | message">
      <input type="text" name="orcid" ng-model="partyEditProfileForm.data.orcid">
    </validator>

    <validator name="url" label="'party.edit.url.title' | message">
      <input type="url" name="url" ng-model="partyEditProfileForm.data.url">
    </validator>

    <div class="row">
      <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
        <figure class="party-edit-profile-avatar">
          <img ng-src="{{partyEditProfileForm.avatarUrl}}">
        </figure>
      </div>

      <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-3">
        <validator name="avatar" label="'party.edit.avatar.title' | message">
          <input type="file" name="avatar" file-model="partyEditProfileForm.data.avatar">
        </validator>
      </div>
    </div>

  </fieldset>
</form>

