<form name="partyEditApplyForm" bindonce novalidate>
  <messages form="partyEditApplyForm"></messages>

  <fieldset ng-if="partyEditApplyForm.data.length > 0">
    <legend bo-html="'auth.apply.legend' | message"></legend>

    <article ng-repeat="other in partyEditApplyForm.data" class="permission-auth cf foot">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure class="figure-avatar">
            <figmedia><img bo-src="other.party.avatar"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
          <div class="permission-heading">
            <a bo-href="page.router.party(other.party)" class="permission-auth-username" bo-text="other.party.name"></a>
            <span class="permission-auth-email" bo-if="other.party.email" bo-text="other.party.email"></span>
          </div>

          <div ng-if="!other.new">
            <div>
              <div class="permission-auth-heading" bo-html="'auth.site' | message:'Their'"></div>
              <div class="permission-auth-site" ng-bind-html="partyEditApplyForm.presetName('site', page.constants.data.permission[other.site], 'their')"></div>
            </div>

            <div bo-if="other.institution || other.member !== 0">
              <div class="permission-auth-heading" bo-html="'auth.member' | message:'their'"></div>
              <div class="permission-auth-member" ng-bind-html="partyEditApplyForm.presetName('member', page.constants.data.permission[other.member], 'their')"></div>
            </div>

            <div>
              <div class="permission-auth-heading" bo-html="'auth.expiration' | message"></div>
              <div bo-html="other.expires | date:'longDate'"></div>
              <div bo-if="(other.member || other.site) && !other.expires" ng-bind-html="'auth.expiration.none' | message"></div>
              <div bo-if="!other.member && !other.site" ng-bind-html="'auth.pending' | message"></div>
            </div>
          </div>

          <div ng-if="other.new">
            <auth-apply-form party="partyEditApplyForm.party" other="other"></auth-apply-form>
          </div>
        </div>
      </div>
    </article>
  </fieldset>

  <fieldset scope>
    <legend bo-html="'auth.search.apply.legend' | message"></legend>
    <auth-search-form party="{{party.id}}"></auth-search-form>
  </fieldset>

  <fieldset class="clean">
    <button ng-click="partyEditApplyForm.saveAll()" class="green" bo-html="'save.all' | message" ng-disabled="!partyEditApplyForm.$dirty"></button>
    <button ng-click="partyEditApplyForm.resetAll()" class="yellow" bo-html="'revert.all' | message" ng-disabled="!partyEditApplyForm.$dirty"></button>
  </fieldset>
</form>

