<form name="partyEditApplyForm" bindonce novalidate>
   <fieldset class="clean peap-float">
    <div class="peap-float-floater">
      <button ng-click="partyEditApplyForm.saveAll()" class="green" bo-text="'save' | message" ng-disabled="!partyEditApplyForm.$dirty"></button>
      <button ng-click="partyEditApplyForm.resetAll()" class="yellow" bo-text="'revert' | message" ng-disabled="!partyEditApplyForm.$dirty"></button>
    </div>
  </fieldset>
 <fieldset ng-if="partyEditApplyForm.data.length > 0">
    <legend bo-text="'auth.apply.legend' | message"></legend>
    <article ng-repeat="other in partyEditApplyForm.data" class="permission-auth cf foot">
      <div class="row">
        <div class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
          <figure class="figure-avatar" bo-class="{inst: other.party.institution}">
            <figmedia><img bo-src="other.party.avatarRoute()"></figmedia>
          </figure>
        </div>

        <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-4">
          <div class="permission-heading">
            <a bo-href="other.party.route" class="permission-auth-username" bo-text="other.party.name"></a>
            <span class="permission-auth-email" bo-if="other.party.email" bo-text="other.party.email"></span>
          </div>

          <div ng-if="!other.new">
            <div bo-if="other.site">
              <div class="permission-auth-heading" bo-text="'auth.site' | message:'their'"></div>
              <div class="permission-auth-site">
		<strong ng-bind="'auth.site.'+page.constants.permission[other.site]+'.title' | message"></strong>:
		{{'auth.site.'+page.constants.permission[other.site] | possessive:party}}
	      </div>
            </div>

            <div bo-if="other.member">
              <div class="permission-auth-heading" bo-text="'auth.member' | message:'their'"></div>
              <div class="permission-auth-member">
		<strong ng-bind="'auth.member.'+page.constants.permission[other.member]+'.title' | message"></strong>:
		{{'auth.member.'+page.constants.permission[other.member] | possessive:party}}
	      </div>
            </div>

            <div bo-if="other.member || other.site">
              <div class="permission-auth-heading" bo-text="'auth.expiration' | message"></div>
              <div bo-text="other.expires | date:'longDate'"></div>
              <div bo-if="!other.expires" bo-text="'auth.expiration.none' | message"></div>
            </div>
            <div bo-if="!(other.member || other.site)">
              <div class="permission-auth-heading" bo-text="'auth.pending' | message"></div>
	    </div>
          </div>

          <div ng-if="other.new">
            <auth-apply-form party="partyEditApplyForm.party" other="other"></auth-apply-form>
          </div>
        </div>
      </div>
    </article>
  </fieldset>

  <fieldset scope>
    <legend bo-text="'auth.search.apply.legend' | message"></legend>
    <auth-search-form party="{{party.id}}"></auth-search-form>
  </fieldset>
</form>

