<form name="volumeEditMaterialsForm" bindonce novalidate flow-init="flowOptions" flow-file-added="volumeEditMaterialsForm.addedCall($file,$event)" flow-file-success="volumeEditMaterialsForm.assetCall($file)" flow-file-progress="volumeEditMaterialsForm.perFileProgress($file)" flow-progress="totalProgress()">
  <section class="vem-float" flow-drag-enter="dropClasses['over-form'] = true" flow-drag-leave="dropClasses['over-form'] = false" ng-init="dropClasses={'drop-zone': true}">
    <div class="vem-float-floater">
      <div class="vem-float-dropzone" flow-drop flow-btn flow-drag-enter="dropClasses['over-zone'] = true" flow-drag-leave="dropClasses['over-zone'] = false" ng-class="dropClasses">
        <span class="icon line add"></span>
        <span class="vem-float-dropzone-message" bo-text="'material.add-drop' | message"></span>
      </div>

      <button class="green" ng-click="volumeEditMaterialsForm.saveAll()" bo-text="'save' | message" ng-disabled="volumeEditMaterialsForm.disableSaveButton()"></button>
      <button class="yellow" ng-click="volumeEditMaterialsForm.resetAll()" bo-text="'revert' | message" ng-disabled="!volumeEditMaterialsForm.$dirty"></button>
      <div class="vem-float-progress">
	<upload-progress progress-value="volumeEditMaterialsForm.totalProgress"></upload-progress>
      </div>
    </div>
  </section>

  <fieldset ng-repeat="asset in volumeEditMaterialsForm.data.assets" ng-form="volumeEditMaterialsForm.asset-{{$index}}" flow-drag-enter="dropClasses['over-form'] = true" flow-drag-leave="dropClasses['over-form'] = false" ng-init="dropClasses={'drop-zone': true};" novalidate expose style="position: relative;" class="vem-repeat">

    <div class="vem-repeat-content" ng-init="form = volumeEditMaterialsForm['asset-'+$index]; form.subform = this;">

      <validator form="form" name="file" label="'material.file' | message">
        <div ng-if="!asset.asset.creation">
          <div ng-if="asset.file">
	    <span ng-bind="asset.file.name"></span>
	    <upload-progress progress-value="asset.fileUploadProgress"></upload-progress>
          </div>

	  <div ng-if="!asset.file" class="vem-file-dropzone" ng-class="dropClasses" flow-drag-enter="dropClasses['over-zone'] = true" flow-drag-leave="dropClasses['over-zone'] = false" flow-drop flow-btn>{{'material.add-drop.replace' | message}}</div> <!--DO NOT USE ng-bind or bo-text: problem with flow-btn/assignBrowse's child input-->
        </div>

	<div ng-if="asset.asset.creation" class="row">
	  <div class="col-desktop-11 col-laptop-8 col-tablet-5 col-mobile-3">
	    <input type="text" name="filename" bo-value="asset.asset.creation.name + ', ' + page.$filter('date')(asset.asset.creation.date, 'medium')" disabled outside="volumeEditMaterialsForm">
	    <button ng-click="volumeEditMaterialsForm.replace(this)" bo-text="'replace' | message" class="blue mini pull"></button>
	  </div>
	  <button class="red mini" ng-click="volumeEditMaterialsForm.remove(this)" class="col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1">
	    <span class="icon line vem-trash trash"></span>
	  </button>
	</div>

      </validator>

      <validator form="form" name="classification" label="'material.classification' | message">
        <select name="classification" ng-model="asset.classification" ng-options="c as 'classification.'+c | message for c in page.constants.classification" ng-init="asset.classification = page.constants.classification[asset.asset && asset.asset.classification || 0]" ng-required></select>
      </validator>

      <input type="checkbox" name="excerptsOn" ng-model="excerptOn" ng-init="excerptOn = !!asset.excerpt; volumeEditMaterialsForm.updateExcerptChoice(this, true)" ng-change="volumeEditMaterialsForm.updateExcerptChoice(this)">&nbsp;
      <span bo-text="'material.excerpt.checkbox-label' | message"></span>

      <validator form="form" name="excerpt" ng-show="excerptOn" label="'material.excerpt' | message">
        <select name="excerpt" ng-model="asset.excerpt" ng-options="c as 'classification.excerpt.'+c | message for c in volumeEditMaterialsForm.excerptOptions(asset.classification)" ng-required></select>
      </validator>

      <validator form="form" name="name" label="'material.name' | message">
        <input type="text" name="name" ng-model="asset.name" placeholder="{{'material.name.placeholder' | message}}">
      </validator>
    </div>
  </fieldset>

</form>
