// styles

form fieldset
  .drop-zone
     border 2px solid black
     &.over-form
     	border 4px solid black
     &.over-zone
     	border 4px solid green
  .file-thumb
     height 50px
     width 50px
  .trash
     border 2px solid black
