<form name="volumeEditFundingForm" bindonce novalidate>
  <fieldset class="clean vef-float">
    <div class="vef-float-floater row">
      <funding-search-form class="col-desktop-9 col-laptop-6 col-tablet-3 col-mobile-2"></funding-search-form>
      <button ng-click="volumeEditFundingForm.saveAll()" class="green col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1" bo-text="'save' | message" ng-disabled="!volumeEditFundingForm.$dirty"></button>
      <button ng-click="volumeEditFundingForm.resetAll()" class="neutral col-desktop-1 col-laptop-1 col-tablet-1 col-mobile-1" bo-text="'revert' | message" ng-disabled="!volumeEditFundingForm.$dirty"></button>
  </div>
  </fieldset>

  <fieldset class="clean skinny permission-auth" ng-repeat="funder in volumeEditFundingForm.data">
    <div class="permission-auth-username" bo-text="funder.funder.name"></div>

    <funding-grant-form funder="funder"></funding-grant-form>
  </fieldset>

</form>
