// styles

form fieldset
  border-bottom-width 0
  padding-bottom 5px
  padding-top 5px
  .drop-zone
     border 2px solid black
     &.over-form
     	border 4px solid black
     &.over-zone
     	border 4px solid green
  .file-thumb
     height 50px
     width 50px
  .trash
     border 2px solid black
  .trashable
     border 2px solid black

.fixable-parent
  height 2 

.fixable
  &.row
    height 2
    &.stick
      position fixed
      top 50px
      z-index 10
    div
      background-color white
