@(study : Study, accessForms : Seq[(Party,controllers.Study.AccessForm)], accessSearch : Form[String], accessResults : Seq[(Party,controllers.Study.AccessForm)])(implicit request : SiteRequest[_])

@accessFields(party : Party, form : Form[StudyAccess])(implicit fieldConstructor : helper.FieldConstructor) = {
	<td>@display(party)</td>
	@widget.enumSelect(form("access"), Permission)
	@helper.select(form("inherit"), Permission.values.to(if (party.id.unId > 0) Permission.EDIT else Permission.DOWNLOAD).toSeq.map(v => (v.id.toString, v.toString)))
}

@template.crud("Edit Study Permissions: " + study.title) {
    <article>
		@crud.studyHeader(study)

	<table class="permission">
	@defining(helper.FieldConstructor(widget.tableFieldConstructor.f)) { implicit fieldConstructor =>
			<thead>
				<tr>
			<th>Name</th>
			<th>Individual</th>
			<th>Group</th>
			<th>Action</th>
		</tr>
			</thead>

<tbody>
		@accessForms.map { case (party,form) =>
		@helper.form(routes.Study.accessChange(study.id, party.id)) {
		<tr>
			@accessFields(party, form)
			<td>
				<button type='submit' class="button first">Update</button>
				@if(party.id != request.identity.id) {
				<a href='@routes.Study.accessDelete(study.id, party.id)' class="button second">Revoke</a>
				}
				@widget.formErrors(form)
			</td>
		</tr>
		}
		}
</tbody>
			<tfoot>
		@helper.form(routes.Study.accessSearch(study.id)) {
		<tr class="null">
			@helper.inputText(accessSearch("name"), 'placeholder -> "Search users and institutions...")
			<td/>
			<td/>
			<td>
				<button type='submit' class="button third">Search</button>
				@widget.formErrors(accessSearch)
			</td>
		</tr>
		}

		@accessResults.map { case (party,form) =>
		@helper.form(routes.Study.accessAdd(study.id, party.id)) {
		<tr>
			@accessFields(party, form)
			<td>
				<button type='submit' class="button first">Add</button>
				@widget.formErrors(form)
			</td>
		</tr>
		}
		}
	}</tfoot>
	</table>
	</article>
}
