@(a : Either[Party,Study], editForm : controllers.Study.StudyForm)(implicit request : SiteRequest[_])

@template.crud(a.fold(_.toString + ": Create Study", "Edit Study: " + _.title)) {
    <article>
	@a.fold(crud.partyHeader(_), crud.studyHeader(_))

	@helper.form(a.fold(p => routes.Study.add(p.id), s => routes.Study.change(s.id))) {
            @helper.inputText(editForm("title"))
            @helper.textarea(editForm("description"), 'cols -> 80, 'rows -> 8)
	    <button type='submit'>@a.fold(_ => "Create", _ => "Change")</button>
        }
        @widget.formErrors(editForm)

    </article>
}
