@(study: Study)(implicit request: SiteRequest[_])

@template.crud("Study: " + study.title) {
    <article id="study_@study.id.unId" class="study">
        @region.crudHeaderStudy(study)

        <div class="row">
            <div class="description col_6">
                @display.plainText(study.description.get)
            </div>

            <footer class="extended col_6">
                <div class="row">
                    <aside class="sample col_6">
                        <img src="@routes.Assets.at("images/draft.png")" alt="">
                    </aside>

                    <aside class="dbinfo foot col_6">
                        <dl>
                        @study.creationAudit(request.db).map { creation =>
                            <dt>Created</dt>
                            <dd>@creation.when</dd>
                        }
                        </dl>
                    </aside>

                    <aside class="investigators foot col_3">
                        <h2>Investigators</h2>

                        @study.partyAccess(Permission.CONTRIBUTE)(request.db).map { a =>
                            <section class="userinfo cf">
                                @dbrary.cast[Account](a.party).map { account =>
                                    <div class="avatar">
                                        <a href="@a.party.pageURL" title="@a.party.name"><img src="@display.gravatarUrl(account.email, 44)" alt="@a.party.name"></a>
                                    </div>
                                }

                            <div class="info">
                                <div class="name">
                                    <a href="@a.party.pageURL" title="@a.party.name">@a.party.name</a>
                                </div>

                                <div class="institution">
                                @a.party.authorizeParents()(request.db).map { t =>
                                    @display(t.parent)
                                }
                            </div>
                            </div>
                            </section>
                        }
                    </aside>

                    <aside class="funding foot col_3">
                        <h2>Funding</h2>

                        <p>___FUNDING___</p>
                    </aside>
                </div>
            </footer>
        </div>

        <section id="metadata" class="tabset">
            <div id="assets" class="view">
                <h2 class='tab'>Files</h2>
                @widget.assetList(study)
            </div>

            <div id="team" class="view">
                <h2 class='tab'>Team</h2>

                <p>___TEAM___</p>
            </div>

            <div id="participants" class="view">
                <h2 class='tab'>Participants</h2>

                <ul>
                    @study.slots(request.db).map { slot =>
                        <li>@display(slot)</li>
                    }
                    @if(study.permission >= Permission.CONTRIBUTE) {
		        <a href='@routes.Slot.create(study.id)'>Add new slot</a>
                    }
                </ul>
            </div>
        </section>

        <div class="row">
            @region.comments(Some(routes.Comment.postStudy(study.id)), study.comments(true)(request.db))
        </div>
    </article>
}
