@(study: Study, assetMap: scala.collection.mutable.Map[String, List[AssetLink]])(implicit request: SiteRequest[_])

@template.crud("Study: " + study.title) {
    <article id="study_@study.id.unId" class="study">
        @region.crudHeaderStudy(study)

        <div class="row">
            <div class="description col_6">
                @display.plainText(study.description.get)
            </div>

            <footer class="extended col_6">
                <div class="row">
                    <div class="wide_col_6">
                        <aside class="thumb foot col_6">
                            @widget.studyThumb(study)
                        </aside>

                        <aside class="access foot col_6">
                            <h2>Access</h2>

                            @widget.studyAccess(study)
                        </aside>

                        <aside class="citing foot col_6">
                            <h2>Citation</h2>

                            @widget.studyCitation(study)
                        </aside>
                    </div>

                    <div class="wide_col_3">
                        <aside class="investigators foot col_3">
                            <h2>Investigators</h2>

                            @study.partyAccess(Permission.CONTRIBUTE)(request.db).map { a =>
                                @widget.userinfo(a.party)
                            }
                        </aside>

                        <div class="col_3">
                            <aside class="funding foot">
                                <h2>Funding</h2>

                                @widget.userinfo(models.Party.Root)
                            </aside>

                            <aside class="dates foot">
                                <h2>Metadata</h2>
                                <dl class="metalist cf">
                                @study.creationAudit(request.db).map { creation =>
                                    <dt class="date created">Created</dt>
                                    <dd><time datetime="@creation.when" pubdate>@display.date(creation.when)</time></dd>
                                }
                                </dl>
                            </aside>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <section id="metadata" class="tabset">
            <div id="media" class="view">
                <h2 class='tab'>Media</h2>

                @if(assetMap.isDefinedAt("Video")) {
                    @widget.thumbList(study, assetMap("Video"))
                }
                @if(assetMap.isDefinedAt("Image")) {
                    @widget.thumbList(study, assetMap("Image"))
                }
                @if(assetMap.isDefinedAt("Audio")) {
                    @widget.thumbList(study, assetMap("Audio"))
                }
            </div>

            <div id="highlights" class="view">
                <h2 class='tab'>Highlights</h2>

                @if(assetMap.isDefinedAt("Video")) {
                    @widget.thumbList(study, assetMap("Video"), true)
                }
                @if(assetMap.isDefinedAt("Image")) {
                    @widget.thumbList(study, assetMap("Image"), true)
                }
                @if(assetMap.isDefinedAt("Audio")) {
                    @widget.thumbList(study, assetMap("Audio"), true)
                }
            </div>

            <div id="documents" class="view">
                <h2 class='tab'>Documents</h2>
                @widget.assetList(study)
            </div>

            <div id="participants" class="view">
                <h2 class='tab'>Participants</h2>
                @widget.slotList(study)
            </div>

            <div id="history" class="view demo">
                <h2 class='tab'>History</h2>
                <p>___HISTORY___</p>
            </div>
        </section>

        <div class="row">
            @region.comments(Some(routes.Comment.postStudy(study.id)), study.comments(true)(request.db))
        </div>
    </article>
}
