@(requestOption: Option[SiteRequest[_]] = None)

<section id="toolbars">
    <nav id="toolbar_databrary" class="toolbar toolbar_databrary">
        <div class="wrap">
            <div class="row">
                <div class="title cf col-desktop-13 col-laptop-10 col-tablet-7 col-mobile-4">
                    <h1 class="toolbar_h1">
                        <a href="@routes.VolumeHtml.search" title="Databrary: An Open Data Library"><span>Databrary</span></a>
                    </h1>

                    <nav class="toolbar_nav cf hide-mobile hide-cell">
                        <ul class="toolbar_nav_ul inline-block flat cf">
                            <li><a href="@routes.VolumeHtml.search">Explore</a></li>
                            <li><a href="@routes.VolumeHtml.search">Share</a></li>
                            <li><a href="@routes.VolumeHtml.search">Discover</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="toolbar_user col-desktop-2 col-laptop-2 col-tablet-2 col-mobile-2">
                    @requestOption.filter(_.user.isDefined).fold {
                        <a href="@routes.LoginHtml.view">login</a>
                    } { request =>
                        <a href="@routes.LoginHtml.logout">logout</a>

                        @if(request.access == Permission.ADMIN) {
                            <span class="sep">|</span>
                            @if(request.superuser) {
                                <a class="superuser on" href="@routes.LoginHtml.superuserOff">SU</a>
                            }else{
                                <a class="superuser off" href="@routes.LoginHtml.superuserOn">SU</a>
                            }
                        }

                        <a href="@requestOption.get.identity.pageURL" id="modal_profile_link" class="img modal_link" data-target="modal_profile"><img src="@display.avatar(requestOption.get.identity, 16)" alt="@requestOption.get.identity.name" class="s16"></a>
                    }
                </div>
            </div>
        </div>
    </nav>
</section>
