<section class="browser_filters">
  <div class="browser_widget browser_sort cf"
       ng-if="page.browser.getSorts(group)">
        <span class="browser_widget_title">
	    {{"browser.sort.by" | message}}
        </span>

        <span class="browser_widget_wrap"
              ng-repeat="sort in page.browser.getSorts(group)|filter:{active: true}"
              ng-class="sortClasses(sort)">
            <a class="browser_widget_pill left"
               ng-click="page.browser.setSortToggle(sort)">{{sort.name}}</a>

            <ul class="record_pill_options">
              <li ng-repeat="maybe in page.browser.getSorts(group)">
                <a ng-click="page.browser.switchSort(group, sort, maybe)">{{maybe.name}}</a>
              </li>
            </ul>

            <a class="browser_widget_pill middle reverse"
               ng-click="page.browser.reverseSort(group, sort)"
               ng-if="page.browser.canReverseSort()">{{sort.order ? 'ASC' : 'DESC'}}</a>

            <a class="browser_widget_pill right remove"
               ng-click="page.browser.removeSort(group, sort)"
               ng-if="page.browser.canRemoveSort()">x</a>
        </span>

        <span class="browser_widget_wrap"
              ng-if="page.browser.canAddSort(group)">
            <a class="browser_widget_pill add"
               ng-click="page.browser.addSort(group)">+ {{"browser.sort" | message}}</a>
        </span>
  </div>

  <div class="browser_widget browser_sort cf">
        <span class="browser_widget_title">
	    {{"browser.filter.by" | message}}
        </span>
  </div>
</section>

